Repository facebook/docusaurus, pull requests merged in 2018-07, with the labels that each got.

#817 Fix edit button
  lib/static/css/main.css
Labels: CLA Signed

#821 Fix missing fblike button in blog
  lib/core/BlogPostLayout.js
  lib/static/css/main.css
Labels: CLA Signed

#819 Open browser with correct baseurl
  lib/start-server.js
Labels: CLA Signed

#825 Adds single-spa to users
  website/data/users.js
Labels: CLA Signed

#829 Publish-gh-pages should display the correct commit that triggers it
  lib/publish-gh-pages.js
Labels: CLA Signed

#828 Fix wrong sitemap for alternate url
  lib/core/__tests__/utils.test.js
  lib/core/utils.js
  lib/server/generate.js
  lib/server/server.js
  lib/server/sitemap.js
Labels: CLA Signed

#833 Better issue template
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
  .github/ISSUE_TEMPLATE/question.md
  CONTRIBUTING.md
Labels: :white_check_mark: test plan, CLA Signed

#835 Publish v1.3.2
  CHANGELOG.md
  website/versions.json
Labels: CLA Signed

#837 ESLintify Part 1
  .eslintrc.js
  examples/basics/core/Footer.js
  examples/basics/pages/en/index.js
  examples/basics/pages/en/users.js
  lib/__tests__/build-files.test.js
  lib/core/BlogPageLayout.js
  lib/core/BlogPost.js
  lib/core/BlogPostLayout.js
  lib/core/BlogSidebar.js
  lib/core/Doc.js
  lib/core/DocsLayout.js
  lib/core/GridBlock.js
  lib/core/Head.js
  lib/core/Header.js
  lib/core/Redirect.js
  lib/core/Remarkable.js
  lib/core/Site.js
  lib/core/__tests__/anchors.test.js
  lib/core/__tests__/getTOC.test.js
  lib/core/__tests__/utils.test.js
  lib/core/getTOC.js
  lib/core/nav/HeaderNav.js
  lib/core/nav/OnPageNav.js
  lib/core/nav/SideNav.js
  lib/core/renderMarkdown.js
  lib/core/utils.js
  lib/publish-gh-pages.js
  lib/rename-version.js
  lib/server/env.js
  lib/server/generate.js
  lib/server/metadataUtils.js
  lib/server/readCategories.js
  lib/server/readMetadata.js
  lib/server/server.js
  lib/server/sitemap.js
  lib/server/translate-plugin.js
  lib/server/versionFallback.js
  lib/start-server.js
  lib/version.js
  lib/write-translations.js
  website/pages/en/about-slash.js
  website/pages/en/index.js
  website/pages/en/users.js
  website/static/js/code-blocks-buttons.js
Labels: CLA Signed

#842 Fix wrong CSS language prefix for fenced blocks
  lib/core/renderMarkdown.js
Labels: CLA Signed

#839 Fix CSS tests
  .babelrc
  lib/__tests__/build-files.test.js
  lib/server/__tests__/__fixtures__/test.css
  lib/server/__tests__/__fixtures__/test.md
  lib/server/__tests__/__snapshots__/utils.test.js.snap
  lib/server/__tests__/utils.test.js
  lib/server/generate.js
  lib/server/utils.js
  package.json
Labels: CLA Signed

#841 ESLintify Part 2
  .eslintrc.js
  examples/basics/pages/en/help.js
  examples/basics/pages/en/index.js
  examples/basics/pages/en/users.js
  examples/basics/siteConfig.js
  examples/translations/pages/en/help-with-translations.js
  examples/versions/pages/en/versions.js
  lib/__tests__/build-files.test.js
  lib/build-files.js
  lib/copy-examples.js
  lib/core/BlogPageLayout.js
  lib/core/BlogPostLayout.js
  lib/core/BlogSidebar.js
  lib/core/CompLibrary.js
  lib/core/DocsLayout.js
  lib/core/DocsSidebar.js
  lib/core/Head.js
  lib/core/Site.js
  lib/core/nav/HeaderNav.js
  lib/core/nav/SideNav.js
  lib/core/renderMarkdown.js
  lib/core/toSlug.js
  lib/generate-feed.js
  lib/rename-version.js
  lib/server/env.js
  lib/server/feed.js
  lib/server/generate.js
  lib/server/readMetadata.js
  lib/server/server.js
  lib/server/sitemap.js
  lib/server/translate.js
  lib/server/utils.js
  lib/server/versionFallback.js
  lib/version.js
  lib/write-translations.js
  package.json
  website/pages/en/about-slash.js
  website/pages/en/help.js
  website/pages/en/index.js
  website/pages/en/users.js
  website/pages/en/versions.js
  website/static/js/code-blocks-buttons.js
Labels: CLA Signed

#846 ESLintify Part 3
  .eslintrc.js
  examples/basics/core/Footer.js
  examples/basics/pages/en/help.js
  examples/basics/pages/en/index.js
  examples/basics/pages/en/users.js
  examples/basics/siteConfig.js
  examples/versions/pages/en/versions.js
  lib/__tests__/build-files.test.js
  lib/build-files.js
  lib/copy-examples.js
  lib/core/BlogPageLayout.js
  lib/core/BlogPost.js
  lib/core/BlogPostLayout.js
  lib/core/BlogSidebar.js
  lib/core/Doc.js
  lib/core/Head.js
  lib/core/Redirect.js
  lib/core/Site.js
  lib/core/anchors.js
  lib/core/nav/HeaderNav.js
  lib/core/nav/OnPageNav.js
  lib/core/nav/SideNav.js
  lib/core/renderMarkdown.js
  lib/core/toSlug.js
  lib/core/unindent.js
  lib/generate-feed.js
  lib/publish-gh-pages.js
  lib/rename-version.js
  lib/server/env.js
  lib/server/feed.js
  lib/server/generate.js
  lib/server/readCategories.js
  lib/server/readMetadata.js
  lib/server/renderUtils.js
  lib/server/server.js
  lib/server/sitemap.js
  lib/server/translate-plugin.js
  lib/server/translate.js
  lib/server/translation.js
  lib/server/utils.js
  lib/server/versionFallback.js
  lib/start-server.js
  lib/version.js
  lib/write-translations.js
  package.json
  website/data/users.js
  website/languages.js
  website/pages/en/about-slash.js
  website/pages/en/help.js
  website/pages/en/index.js
  website/pages/en/users.js
  website/pages/en/versions.js
  website/siteConfig.js
  website/static/js/code-blocks-buttons.js
Labels: CLA Signed

#847 Refactor + add more tests (Part 1)
  lib/core/__tests__/__fixtures__/insertTOC.md
  lib/core/__tests__/__snapshots__/toc.test.js.snap
  lib/core/__tests__/getTOC.test.js
  lib/core/__tests__/toc.test.js
  lib/core/nav/OnPageNav.js
  lib/core/toc.js
  lib/core/utils.js
  lib/server/__tests__/routing.test.js
  lib/server/__tests__/utils.test.js
  lib/server/generate.js
  lib/server/metadataUtils.js
  lib/server/routing.js
  lib/server/server.js
  lib/server/utils.js
Labels: :white_check_mark: test plan, CLA Signed

#850 Fix phrase emphasis not italicized
  lib/static/css/main.css
Labels: CLA Signed

#854 Refactor + add more tests (Part 2)
  .babelrc
  lib/server/__tests__/__fixtures__/doc1.md
  lib/server/__tests__/__fixtures__/doc2.md
  lib/server/__tests__/__fixtures__/metadata.js
  lib/server/__tests__/__snapshots__/docs.test.js.snap
  lib/server/__tests__/docs.test.js
  lib/server/__tests__/routing.test.js
  lib/server/docs.js
  lib/server/generate.js
  lib/server/server.js
  lib/version.js
  lib/write-translations.js
  package.json
Labels: :white_check_mark: test plan, CLA Signed, better engineering

#859 Search correct language and version for Docusaurus
  docs/guides-search.md
  website/siteConfig.js
Labels: CLA Signed

#860 add documentation regarding usage of nested docs + git ignore .idea
  .gitignore
  docs/guides-navigation.md
  website/versioned_docs/version-1.2.0/guides-navigation.md
Labels: CLA Signed

#866 Better readme :)
  README.md
Labels: CLA Signed

#864 Don't replace static assets linking in fenced code blocks
  lib/server/__tests__/__fixtures__/doc1.md
  lib/server/__tests__/__fixtures__/doc2.md
  lib/server/__tests__/__snapshots__/docs.test.js.snap
  lib/server/__tests__/docs.test.js
  lib/server/docs.js
Labels: :white_check_mark: test plan, CLA Signed

#867 Add autoprefixing to CSS pipeline
  lib/server/__tests__/__fixtures__/test.css
  lib/server/__tests__/__snapshots__/utils.test.js.snap
  lib/server/__tests__/utils.test.js
  lib/server/generate.js
  lib/server/utils.js
  package.json
  yarn.lock
Labels: :white_check_mark: test plan, CLA Signed

#869 Add Reaction Commerce to users
  website/data/users.js
  website/static/img/users/reaction-commerce.svg
Labels: CLA Signed

#856 Refactor(server): share logic between server.js & generate.js
  lib/server/__tests__/__fixtures__/2018-08-17-docusaurus.md
  lib/server/__tests__/__snapshots__/blog.test.js.snap
  lib/server/__tests__/blog.test.js
  lib/server/blog.js
  lib/server/docs.js
  lib/server/generate.js
  lib/server/readMetadata.js
  lib/server/server.js
Labels: CLA Signed

#870 Correct Prism CSS class for code blocks
  lib/core/renderMarkdown.js
  lib/static/css/prism.css
Labels: CLA Signed

#873 Fix table of contents documentation typo
  docs/api-doc-markdown.md
Labels: CLA Signed

#875 feat(markdown): support `text` language for code block style without any highlighting
  lib/core/renderMarkdown.js
Labels: CLA Signed

#878 Add atalaya.io to users list
  website/data/users.js
  website/static/img/users/atalaya.png
Labels: CLA Signed
