Repository facebook/docusaurus, pull requests merged in 2019-03, with the labels that each got.

#1265 fix: wrong sidebar_label and title on versioned_docs
  v1/lib/write-translations.js
Labels: CLA Signed

#1264 refactor(v2): determine all available routes/url
  v2/lib/core/sitemap.js
  v2/lib/load/index.js
  v2/lib/load/routes.js
  v2/lib/webpack/server.js
  v2/test/load/routes.test.js
Labels: CLA Signed

#1266 docs: update api-pages.md to document about overriding default styles
  docs/api-pages.md
Labels: CLA Signed

#1267 fix: upgrade jest to remove security vulnerability
  v1/package.json
  v1/website/core/Showcase.js
  v1/yarn.lock
  v2/package.json
  v2/yarn.lock
Labels: CLA Signed

#1263 feat(v2): enable JSX in markdown using MDX
  docs/getting-started-publishing.md
  docs/guides-blog.md
  v2/lib/core/App.js
  v2/lib/theme/Loading/styles.module.css
  v2/lib/webpack/base.js
  v2/lib/webpack/loaders/markdown/anchors.js
  v2/lib/webpack/loaders/markdown/index.js
  v2/lib/webpack/loaders/markdown/toSlug.js
  v2/package.json
  v2/yarn.lock
Labels: CLA Signed

#1272 feat(v2): allow plugins to specify paths to watch
  v2-website/docusaurus.config.js
  v2/.eslintrc.js
  v2/lib/commands/start.js
  v2/lib/core/App.js
  v2/lib/load/index.js
  v2/plugins/docusaurus-plugin-content-blog.js
Labels: CLA Signed

#1273 feat(v2): generate metadata via plugins
  v2/lib/commands/start.js
  v2/lib/core/App.js
  v2/lib/core/index.html.template.ejs
  v2/lib/core/metadata.template.ejs
  v2/lib/load/index.js
  v2/package.json
  v2/plugins/docusaurus-plugin-content-blog.js
  v2/yarn.lock
Labels: CLA Signed

#1274 docs:showcase Microkubes to users page
  v1/website/data/users.js
  v1/website/static/img/users/microkubes.png
Labels: CLA Signed

#1275 docs: showcase user Twirp
  v1/website/data/users.js
  v1/website/static/img/users/twirp.png
Labels: CLA Signed

#1276 docs: add Polymath to users
  v1/website/data/users.js
Labels: CLA Signed

#1278 feat(v2): pluginify pages
  .prettierignore
  v2-website/docusaurus.config.js
  v2/lib/load/index.js
  v2/lib/load/pages.js
  v2/lib/load/routes.js
  v2/lib/theme/Footer/index.js
  v2/lib/theme/Pages/index.js
  v2/lib/webpack/base.js
  v2/package.json
  v2/plugins/docusaurus-plugin-content-blog/index.js
  v2/plugins/docusaurus-plugin-content-pages/__tests__/index.test.js
  v2/plugins/docusaurus-plugin-content-pages/index.js
  v2/test/__fixtures__/custom-site/docusaurus.config.js
  v2/test/__fixtures__/simple-site/docusaurus.config.js
  v2/test/__fixtures__/translated-site/docusaurus.config.js
  v2/test/__fixtures__/transversioned-site/docusaurus.config.js
  v2/test/__fixtures__/versioned-site/docusaurus.config.js
  v2/test/jest.config.js
  v2/test/load/config.test.js
  v2/test/load/pages.test.js
  v2/test/load/routes.test.js
Labels: CLA Signed

#1280 feat(v2): embed Canny feedback widget
  v2-website/pages/feedback/index.js
  v2-website/pages/feedback/styles.module.css
  v2-website/scripts/canny.js
  v2/lib/webpack/base.js
  v2/plugins/docusaurus-plugin-content-pages/index.js
Labels: CLA Signed

#1281 fix: relative path markdown linking on versioned docs
  v1/lib/server/docs.js
  v1/lib/version.js
Labels: CLA Signed

#1284 fix(codetabs): fix key warning
  v1/lib/core/CodeTabsMarkdownBlock.js
Labels: CLA Signed

#1287 docs: add All Contributors to users page
  v1/website/data/users.js
  v1/website/static/img/users/allcontributors.png
Labels: CLA Signed

#1286 v1.7.3
  CHANGELOG.md
  v1/package.json
  v1/website/versions.json
Labels: CLA Signed

#1289 docs: add v2 roadmap to landing page
  v1/website/pages/en/index.js
  v1/website/static/css/custom.css
Labels: CLA Signed

#1290 feat: change landing page hero
  v1/lib/__tests__/build-files.test.js
  v1/website/pages/en/index.js
  v1/website/static/css/custom.css
Labels: CLA Signed

#1291 chore(v2): update header logic
  v2/lib/load/config.js
  v2/lib/theme/Navbar/index.js
  v2/lib/theme/Navbar/styles.module.css
Labels: CLA Signed

#1293 fix: empty white bar on landing page
  v1/website/static/css/custom.css
Labels: CLA Signed

#1294 feat(v2): local plugin path resolve
  v2/lib/load/config.js
  v2/lib/load/index.js
  v2/plugins/README.md
Labels: CLA Signed

#1298 refactor(v2): plugin, utils as separate package
  packages/docusaurus-plugin-content-blog/index.js
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-pages/__tests__/index.test.js
  packages/docusaurus-plugin-content-pages/index.js
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-utils/index.js
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/test/index.test.js
  packages/docusaurus/lib/load/docs/index.js
  packages/docusaurus/lib/load/docs/metadata.js
  packages/docusaurus/lib/load/docs/sidebars.js
  packages/docusaurus/lib/load/env.js
  packages/docusaurus/lib/load/index.js
  packages/docusaurus/lib/load/routes.js
  packages/docusaurus/package.json
  packages/docusaurus/test/__fixtures__/custom-site/docusaurus.config.js
  packages/docusaurus/test/__fixtures__/simple-site/docusaurus.config.js
  packages/docusaurus/test/__fixtures__/translated-site/docusaurus.config.js
  packages/docusaurus/test/__fixtures__/transversioned-site/docusaurus.config.js
  packages/docusaurus/test/__fixtures__/versioned-site/docusaurus.config.js
  packages/docusaurus/test/load/config.test.js
  website/docusaurus.config.js
  website/package.json
  yarn.lock
Labels: CLA Signed

#1299 refactor(v2): plugins lifecycle
  packages/docusaurus-plugin-content-blog/index.js
  packages/docusaurus-plugin-content-pages/__tests__/index.test.js
  packages/docusaurus-plugin-content-pages/index.js
  packages/docusaurus/lib/commands/build.js
  packages/docusaurus/lib/commands/start.js
  packages/docusaurus/lib/load/index.js
  packages/docusaurus/lib/load/plugins.js
  packages/docusaurus/lib/theme/BlogPage/index.js
  packages/docusaurus/lib/theme/Footer/index.js
  packages/docusaurus/plugins/README.md
Labels: CLA Signed

#1300 fix: update non-coding files affected by monorepo change
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
  CONTRIBUTING.md
  packages/docusaurus-1.x/lib/build-files.js
  packages/docusaurus-1.x/lib/copy-examples.js
  packages/docusaurus-1.x/lib/publish-gh-pages.js
  packages/docusaurus-1.x/lib/rename-version.js
  packages/docusaurus-1.x/lib/start-server.js
  packages/docusaurus-1.x/lib/version.js
  packages/docusaurus-1.x/lib/write-translations.js
  packages/docusaurus-init-1.x/initialize.js
  packages/docusaurus/bin/docusaurus.js
  scripts/prerelease.sh
Labels: CLA Signed

#1301 misc: add ESLint rule to check for Facebook copyright headers in JS files
  .eslintignore
  .eslintrc.js
  package.json
  packages/docusaurus-1.x/.eslintignore
  packages/docusaurus/lib/load/docs/metadata.js
  yarn.lock
Labels: CLA Signed

#1303 chore(v2): webpack-serve -> webpack-dev-server
  packages/docusaurus/lib/commands/start.js
  packages/docusaurus/lib/webpack/base.js
  packages/docusaurus/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed

#1302 feat(v2): postBuild() - plugin lifecycle
  packages/docusaurus-plugin-sitemap/__tests__/index.test.js
  packages/docusaurus-plugin-sitemap/index.js
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus/lib/commands/build.js
  packages/docusaurus/lib/core/sitemap.js
  packages/docusaurus/package.json
  packages/docusaurus/plugins/README.md
  packages/docusaurus/test/core/sitemap.test.js
  website/docusaurus.config.js
Labels: CLA Signed

#1305 fix(v2): enable plugin not having pathsToWatch
  packages/docusaurus/lib/commands/start.js
Labels: CLA Signed

#1306 feat(v2): faster production server build
  packages/docusaurus/lib/webpack/base.js
  packages/docusaurus/lib/webpack/server.js
Labels: CLA Signed

#1308 chore: optimize continuous integration
  .circleci/config.yml
Labels: CLA Signed, do not merge

#1309 fix: anchors links for underscore character
  packages/docusaurus-1.x/lib/core/__tests__/anchors.test.js
  packages/docusaurus-1.x/lib/core/__tests__/toSlug.test.js
  packages/docusaurus-1.x/lib/core/toSlug.js
Labels: CLA Signed

#1310 refactor(v2): better mdx-loader
  packages/docusaurus/lib/core/App.js
  packages/docusaurus/lib/load/config.js
  packages/docusaurus/lib/webpack/base.js
  packages/docusaurus/lib/webpack/loaders/markdown/index.js
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed

#1304 feat: change landing images to illustrations
  website-1.x/core/Footer.js
  website-1.x/pages/en/index.js
  website-1.x/static/css/custom.css
  website-1.x/static/img/undraw_algolia.svg
  website-1.x/static/img/undraw_around_the_world.svg
  website-1.x/static/img/undraw_features_overview.svg
  website-1.x/static/img/undraw_react.svg
  website-1.x/static/img/undraw_setup_wizard.svg
  website-1.x/static/img/undraw_typewriter.svg
  website-1.x/static/img/undraw_version_control.svg
Labels: CLA Signed

#1311 feat(v2): improve @docusaurus/plugin-content-blog
  packages/docusaurus-plugin-content-blog/components/BlogPage/index.js
  packages/docusaurus-plugin-content-blog/components/BlogPost/index.js
  packages/docusaurus-plugin-content-blog/components/BlogPost/styles.module.css
  packages/docusaurus-plugin-content-blog/components/Post/index.js
  packages/docusaurus-plugin-content-blog/components/Post/styles.module.css
  packages/docusaurus-plugin-content-blog/index.js
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-utils/index.js
  packages/docusaurus/lib/load/index.js
  packages/docusaurus/lib/load/theme.js
  yarn.lock
Labels: CLA Signed

#1314 fix: autogenerated versions.js should not be confusing
  packages/docusaurus-1.x/examples/versions/pages/en/versions.js
Labels: CLA Signed

#1316 chore(v2): update dependency
  package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/lib/commands/build.js
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed

#1315 chore(v2): modify docusaurus-2 homepage
  website/pages/index.js
  website/pages/styles.module.css
Labels: CLA Signed

#1292 Add --skip-next-release option to yarn build
  docs/api-commands.md
  packages/docusaurus-1.x/lib/__tests__/build-files.test.js
  packages/docusaurus-1.x/lib/server/__tests__/start.test.js
  packages/docusaurus-1.x/lib/server/readMetadata.js
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/lib/commands/build.js
  packages/docusaurus/lib/load/docs/index.js
  packages/docusaurus/lib/load/index.js
  packages/docusaurus/test/load/docs/index.test.js
Labels: CLA Signed, do not merge yet

#1317 refactor(v2): cli and loads
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/lib/commands/build.js
  packages/docusaurus/lib/load/docs/index.js
  packages/docusaurus/lib/load/index.js
  packages/docusaurus/test/load/docs/index.test.js
Labels: CLA Signed

#1318 misc: make v1 versioned docs MDX-compatible
  CONTRIBUTING.md
  website-1.x/versioned_docs/version-1.0.x/guides-blog.md
  website-1.x/versioned_docs/version-1.2.x/guides-blog.md
  website-1.x/versioned_docs/version-1.3.x/guides-blog.md
  website-1.x/versioned_docs/version-1.5.x/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.6.x/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.7.3/getting-started-publishing.md
Labels: CLA Signed

#1319 fix(v2): use Docusaurus 2 as peer dependency for plugins
  packages/docusaurus-plugin-content-blog/index.js
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus/lib/theme/BlogPage/index.js
  packages/docusaurus/lib/theme/BlogPost/index.js
  packages/docusaurus/lib/theme/BlogPost/styles.module.css
  packages/docusaurus/lib/theme/Post/index.js
  packages/docusaurus/lib/theme/Post/styles.module.css
  packages/docusaurus/package.json
  website/package.json
Labels: CLA Signed

#1320 feat(v2): use __docusaurus as app root id
  packages/docusaurus/lib/core/clientEntry.js
  packages/docusaurus/lib/core/index.html.template.ejs
Labels: CLA Signed

#1321 feat(v2): docusaurus-link prefetch chunk within perimeter
  packages/docusaurus/lib/core/App.js
  packages/docusaurus/lib/core/serverEntry.js
  packages/docusaurus/lib/docusaurus/Link.js
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed

#1322 refactor(v2): use ejs for SSR HTML template
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus/lib/commands/start.js
  packages/docusaurus/lib/core/serverEntry.js
  packages/docusaurus/lib/core/templates/index.html.template.ejs
  packages/docusaurus/lib/core/templates/metadata.template.ejs
  packages/docusaurus/lib/core/templates/ssr.html.template.js
  packages/docusaurus/lib/load/index.js
Labels: CLA Signed

#1324 v1.8.0
  CHANGELOG.md
  packages/docusaurus-1.x/package.json
  scripts/prerelease.sh
  website-1.x/versioned_docs/version-1.8.0/api-commands.md
  website-1.x/versioned_docs/version-1.8.0/api-pages.md
  website-1.x/versioned_docs/version-1.8.0/getting-started-installation.md
  website-1.x/versioned_docs/version-1.8.0/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.8.0/guides-blog.md
  website-1.x/versions.json
Labels: CLA Signed

#1323 feat(v2): webpack chunk naming & splitting
  packages/docusaurus-utils/index.js
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/test/index.test.js
  packages/docusaurus/lib/load/routes.js
  packages/docusaurus/lib/webpack/base.js
  yarn.lock
Labels: CLA Signed

#1325 fix(v2): webpack ejs warning during build
  packages/docusaurus/lib/webpack/server.js
Labels: CLA Signed

#1326 fix(v2): don't run terser in parallel for WSL
  packages/docusaurus/lib/webpack/base.js
  packages/docusaurus/package.json
Labels: CLA Signed
