Repository facebook/docusaurus, pull requests merged in 2019-12, with the labels that each got.

#2011 refactor(v2): convert `@docusaurus/plugin-ideal-image` to TypeScript
  .eslintignore
  .gitignore
  .prettierignore
  packages/docusaurus-plugin-ideal-image/@types/react-ideal-image.d.ts
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage.tsx
  packages/docusaurus-plugin-ideal-image/src/types.ts
  packages/docusaurus-plugin-ideal-image/tsconfig.json
Labels: CLA Signed

#2070 perf(v2): more performant gtag and analytics plugin
  packages/docusaurus-plugin-google-analytics/src/analytics.js
  packages/docusaurus-plugin-google-analytics/src/index.js
  packages/docusaurus-plugin-google-gtag/src/gtag.js
  packages/docusaurus-plugin-google-gtag/src/index.js
Labels: CLA Signed, tag: performance

#2069 feat(v2): support prefers-color-scheme & fix dark mode FOUC on refresh
  packages/docusaurus-theme-classic/src/index.js
  packages/docusaurus-theme-classic/src/theme/Toggle/index.js
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css
  packages/docusaurus/src/client/App.js
  packages/docusaurus/src/server/html-tags/index.ts
Labels: CLA Signed, tag: bug fix, tag: new feature

#2073 chore: prepare 1.14.3 release
  CHANGELOG.md
  packages/docusaurus-1.x/package.json
  website-1.x/package.json
  website-1.x/versioned_docs/version-1.14.3/api-doc-markdown.md
  website-1.x/versioned_docs/version-1.14.3/api-site-config.md
  website-1.x/versioned_docs/version-1.14.3/getting-started-installation.md
  website-1.x/versioned_docs/version-1.14.3/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.14.3/guides-translation.md
  website-1.x/versions.json
Labels: CLA Signed

#2074 fix(v2): fix plugin-ideal-image breaking website (exports not defined)
  .eslintignore
  packages/docusaurus-plugin-ideal-image/.npmignore
  packages/docusaurus-plugin-ideal-image/@types/react-ideal-image.d.ts
  packages/docusaurus-plugin-ideal-image/copyUntypedFiles.js
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage.js
  packages/docusaurus-plugin-ideal-image/src/types.ts
  packages/docusaurus-plugin-ideal-image/tsconfig.json
Labels: CLA Signed, tag: bug fix

#2076 perf(v2): load algolia JS only when user interacts with search
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
Labels: CLA Signed, tag: performance

#2080 refactor(v2): minor code refactoring on component creator
  packages/docusaurus/src/client/exports/ComponentCreator.js
Labels: CLA Signed, tag: internal

#2081 refactor(v2): move scripts/stylesheets injection to server side
  packages/docusaurus/src/client/App.js
  packages/docusaurus/src/server/index.ts
Labels: CLA Signed, tag: internal

#2079 perf(v2): algolia search result no longer cause full page refresh
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
Labels: CLA Signed, tag: performance

#2083 refactor(v1): fix props for ProjectTitle
  packages/docusaurus-1.x/examples/basics/pages/en/index.js
Labels: CLA Signed, tag: internal

#2086 fix(v2): windows compatibility regression
  packages/docusaurus/src/server/index.ts
Labels: CLA Signed, tag: bug fix

#2087 fix(v1): add key to versions.map in versions.js
  packages/docusaurus-1.x/examples/versions/pages/en/versions.js
Labels: CLA Signed, tag: internal

#2092 docs(v1): showcase user Bottender
  website-1.x/data/users.js
  website-1.x/static/img/users/bottender.png
Labels: CLA Signed

#2089 perf(v2): improve dev build time by not overwriting file if possible
  packages/docusaurus-utils/src/index.ts
  website/docs/markdown-features.mdx
Labels: CLA Signed, tag: performance

#2088 perf(v2): smaller bundlesize by embedding metadata to content
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/markdown/index.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  yarn.lock
Labels: CLA Signed, tag: breaking change, tag: performance

#2095 fix(v2): metadata error if markdown does not have ending line
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
  packages/docusaurus-plugin-content-docs/src/markdown/index.ts
Labels: CLA Signed, tag: bug fix

#2096 feat(v2): better & nice looking error overlay
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/webpack/client.ts
Labels: CLA Signed, tag: internal

#2099 fix(v2): escape import path on windows
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed, tag: bug fix

#2100 chore: docusaurus build on Windows with GitHub actions
  .github/workflows/nodejs-windows.yml
Labels: CLA Signed, tag: internal

#2103 docs: mention about moving docs directory into website
  docs/getting-started-publishing.md
  website/docs/migrating-from-v1-to-v2.md
Labels: CLA Signed, tag: documentation

#2104 feat(v2): add color generator for primary colors
  website/docs/migrating-from-v1-to-v2.md
  website/docs/styling-layout.md
  website/package.json
  website/src/components/ColorGenerator/index.js
  website/src/components/ColorGenerator/styles.module.css
  yarn.lock
Labels: CLA Signed

#2106 fix(v2): add missing hyphen in color generator
  website/src/components/ColorGenerator/index.js
Labels: CLA Signed

#2108 docs(v1): fix path to sidebars.json in generated readme
  packages/docusaurus-1.x/examples/basics/README.md
  packages/docusaurus-1.x/lib/server/__tests__/readMetadata.test.js
Labels: CLA Signed

#2113 fix(v2): set stored theme only if it exists
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.js
Labels: CLA Signed

#2110 docs(v2): fix pages routing inaccurate info
  package.json
  website/docs/creating-pages.md
Labels: CLA Signed, tag: documentation

#2111 feat(v2): explicit babel/runtime version
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: internal

#2114 fix(v2): add syntax highlight to generated colors
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
  website/src/components/ColorGenerator/index.js
Labels: CLA Signed, tag: internal

#2105 fix(v2): move metadata export after compiling MDX to avoid weird MDX parsing error.
  packages/docusaurus-mdx-loader/README.md
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/markdown/index.ts
Labels: CLA Signed, tag: bug fix

#2055 feat(v2): hide navbar on scroll
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.js
  website/docs/theme-classic.md
  website/docusaurus.config.js
Labels: CLA Signed

#2116 feat(v2): minify html
  packages/docusaurus/package.json
  packages/docusaurus/src/client/serverEntry.js
  yarn.lock
Labels: CLA Signed, tag: performance

#2117 feat(v2): auto switch theme depending on the system theme
  packages/docusaurus-theme-classic/src/index.js
Labels: CLA Signed

#2119 fix(v2): align GH button in vertical center
  website/src/pages/styles.module.css
Labels: CLA Signed, tag: internal

#2118 perf(v2): reduce HTML payload by eliminating chunk-map
  packages/docusaurus/src/client/docusaurus.js
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/client/templates/ssr.html.template.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/plugins/ChunkAssetPlugin.ts
  packages/docusaurus/src/webpack/plugins/ChunkManifestPlugin.js
Labels: CLA Signed, tag: performance

#2122 fix(v2): dont collapse whitespace in minified html
  packages/docusaurus/src/client/serverEntry.js
Labels: CLA Signed, tag: bug fix

#2125 feat(v2): lazy load algolia css so its not render blocking
  packages/docusaurus-theme-search-algolia/src/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/algolia.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed, do not merge yet, tag: polish

#2126 docs: promote Docusaurus 2 usage
  docs/getting-started-installation.md
  website-1.x/pages/en/index.js
  website/docs/installation.md
Labels: CLA Signed

#2128 docs(v1): showcase user Shrine
  website-1.x/data/users.js
  website-1.x/static/img/users/shrine.png
Labels: CLA Signed

#2127 refactor(v2): toggle data-theme with vanilla js instead of react helmet
  packages/docusaurus-theme-classic/src/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.js
  packages/docusaurus/src/client/exports/Link.js
Labels: CLA Signed, tag: polish

#2135 docs(v1): add space between "out" and "Docusaurus"
  website-1.x/pages/en/index.js
Labels: CLA Signed

#2129 fix(v2): disable scroll while mobile menu open
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
Labels: CLA Signed, tag: polish

#2130 fix(v2): add HTML lang attribute
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
Labels: CLA Signed

#2142 chore(v2): upgrade dependencies
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed

#2145 fix(v2): remove style-loader, use minicssextract in both dev & prod
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/utils.ts
  yarn.lock
Labels: CLA Signed, tag: bug fix

#2146 chore(v2): prepare alpha.40 release
  CHANGELOG-2.x.md
  website/docs/migrating-from-v1-to-v2.md
  website/docusaurus.config.js
  website/versioned_docs/version-2.0.0-alpha.36/advanced-plugins.md
  website/versioned_docs/version-2.0.0-alpha.36/advanced-themes.md
  website/versioned_docs/version-2.0.0-alpha.36/analytics.md
  website/versioned_docs/version-2.0.0-alpha.36/cli.md
  website/versioned_docs/version-2.0.0-alpha.36/contributing.md
  website/versioned_docs/version-2.0.0-alpha.36/deployment.md
  website/versioned_docs/version-2.0.0-alpha.36/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.36/introduction.md
  website/versioned_docs/version-2.0.0-alpha.36/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.36/presets.md
  website/versioned_docs/version-2.0.0-alpha.36/search.md
  website/versioned_docs/version-2.0.0-alpha.36/seo.md
  website/versioned_docs/version-2.0.0-alpha.36/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.36/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.36/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.36/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.36/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.37/blog.md
  website/versioned_docs/version-2.0.0-alpha.37/configuration.md
  website/versioned_docs/version-2.0.0-alpha.37/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.37/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.37/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.37/installation.md
  website/versioned_docs/version-2.0.0-alpha.37/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.37/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.37/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.40/blog.md
  website/versioned_docs/version-2.0.0-alpha.40/cli.md
  website/versioned_docs/version-2.0.0-alpha.40/configuration.md
  website/versioned_docs/version-2.0.0-alpha.40/contributing.md
  website/versioned_docs/version-2.0.0-alpha.40/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.40/deployment.md
  website/versioned_docs/version-2.0.0-alpha.40/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.40/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.40/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.40/installation.md
  website/versioned_docs/version-2.0.0-alpha.40/introduction.md
  website/versioned_docs/version-2.0.0-alpha.40/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.40/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.40/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.40/presets.md
  website/versioned_docs/version-2.0.0-alpha.40/search.md
  website/versioned_docs/version-2.0.0-alpha.40/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.40/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.40/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.40/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.40/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.40/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.40/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.36-sidebars.json
  website/versioned_sidebars/version-2.0.0-alpha.40-sidebars.json
  website/versions.json
Labels: CLA Signed

#2147 chore(v2): add netlify logo for open source plan
  packages/docusaurus-mdx-loader/README.md
  website/docusaurus.config.js
Labels: CLA Signed

#1984 feat(v2): add support another Prism theme for dark mode
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/ThemeContext.js
  packages/docusaurus-theme-classic/src/theme/ThemeProvider/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.js
  packages/docusaurus-theme-classic/src/theme/hooks/useThemeContext.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#2150 fix(v2): render correct syntax theme for current website theme
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
Labels: CLA Signed

#2154 docs(v2): showcase user neutronjs
  website/src/data/showcase/neutronjs.png
  website/src/data/users.js
Labels: CLA Signed

#2139 docs(v2): update custom webpack configuration snippet
  website/docs/lifecycle-apis.md
Labels: CLA Signed, tag: documentation

#2155 feat(v2): add ESLint to Facebook template
  packages/docusaurus-init/templates/facebook/.eslintrc.js
  packages/docusaurus-init/templates/facebook/README.md
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-init/templates/facebook/sidebars.js
  packages/docusaurus-init/templates/facebook/src/css/custom.css
  packages/docusaurus-init/templates/facebook/src/pages/index.js
  packages/docusaurus-init/templates/facebook/src/pages/styles.module.css
  yarn.lock
Labels: CLA Signed

#2153 docs(v2): dark mode syntax highlighting
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  website/docs/markdown-features.mdx
  website/docs/theme-classic.md
  website/src/css/custom.css
Labels: CLA Signed, tag: documentation

#2156 feat(v2): add Prettier to Facebook template
  packages/docusaurus-init/templates/facebook/.prettierignore
  packages/docusaurus-init/templates/facebook/.prettierrc
  packages/docusaurus-init/templates/facebook/package.json
Labels: CLA Signed

#2158 refactor(v2): move no-flash script to head tag
  packages/docusaurus-theme-classic/src/index.js
Labels: CLA Signed

#2163 blog: 2019 recap
  website-1.x/blog/2019-12-30-docusaurus-2019-recap.md
Labels: CLA Signed, tag: internal

#2161 feat(v2): add logo and title in doc sidebar
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
Labels: CLA Signed

#2165 fix(v2): fix reading front matter keywords and image fields
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  website/docs/search.md
Labels: CLA Signed
