Repository facebook/docusaurus, pull requests merged in 2019-11, with the labels that each got.

#1926 docs(v2): fix typo
  website/docs/advanced-plugins.md
Labels: CLA Signed

#1930 docs(v2): fix typos
  website/docs/installation.md
  website/docs/presets.md
Labels: CLA Signed

#1931 docs(v1): fix links in CHANGELOG
  CHANGELOG.md
Labels: CLA Signed

#1925 fix(v2): @theme/heading should not create anchor if id is not defined
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/Heading/index.js
Labels: CLA Signed

#1929 docs(v2): theme, plugin, and preset config
  website/docs/configuration.md
Labels: CLA Signed

#1923 misc: use /usr/bin/env bash to increase portability
  scripts/prerelease.sh
Labels: CLA Signed

#1920 misc(v1): use Node.js lts version
  packages/docusaurus-1.x/examples/basics/Dockerfile
Labels: CLA Signed

#1933 chore: downgrade imagemin
  packages/docusaurus-1.x/package.json
  yarn.lock
Labels: CLA Signed

#1935 fix(v2): add missing key prop in footer items with HTML
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
Labels: CLA Signed

#1936 fix(v2): fix browser window background
  website/src/components/BrowserWindow/styles.module.css
Labels: CLA Signed

#1934 fix(v2): allows to create tabs with only one item
  packages/docusaurus-theme-classic/src/theme/Tabs/index.js
Labels: CLA Signed

#1937 fix(v2): remove redundant npm script in classic template
  packages/docusaurus-init/templates/classic/package.json
Labels: CLA Signed

#1938 fix(v2): fix build caused when one tab item
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/Tabs/index.js
Labels: CLA Signed

#1910 feat(v2): add ability default lang for code blocks
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  website/docs/markdown-features.mdx
  website/docs/theme-classic.md
Labels: CLA Signed

#1916 feat(v2): Implement plugin creating feed for blog posts
  CHANGELOG-2.x.md
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/generateBlogFeed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/generateBlogFeed.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  website/docs/advanced-plugins.md
  website/docs/blog.md
  website/docusaurus.config.js
  yarn.lock
Labels: CLA Signed

#1943 fix(v2): fix chokidar/watcher does not trigger reload on windows
  CHANGELOG-2.x.md
  package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus/src/commands/start.ts
  yarn.lock
Labels: CLA Signed

#1942 fix(v2): hash-link should not be cut-off in doc container
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
Labels: CLA Signed

#1944 test(v2): add tests for docs markdown link replacement
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/__fixtures__/docs/doc1.md
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/__fixtures__/docs/doc2.md
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/__fixtures__/docs/doc4.md
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/__fixtures__/docs/subdir/doc3.md
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/__snapshots__/linkify.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-docs/src/markdown/index.ts
  packages/docusaurus-plugin-content-docs/src/markdown/linkify.ts
Labels: CLA Signed

#1945 chore(v2): upgrade deps
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed

#1946 fix(v2): more consistent route config generation
  CHANGELOG-2.x.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/__tests__/routes.test.ts
  packages/docusaurus/src/server/plugins/index.ts
Labels: CLA Signed

#1948 fix(v2): babel/env should pick correct browserslist config in dev
  CHANGELOG-2.x.md
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start.ts
Labels: CLA Signed

#1950 perf/fix(v2): more efficient hot reload & consistent filegen
  CHANGELOG-2.x.md
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed

#1951 perf(v2): skip runtime fileHash cache in prod & get timestamp asynchronously
  CHANGELOG-2.x.md
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/server/routes.ts
  yarn.lock
Labels: CLA Signed, tag: performance

#1952 chore(v2): add lerna-changelog
  .gitignore
  CHANGELOG-2.x.md
  lerna.json
  package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#1953 fix(v2): update Infima website URL
  website/docs/styling-layout.md
Labels: CLA Signed, tag: documentation

#1955 chore: bump dev dependencies
  .eslintrc.js
  babel.config.js
  package.json
  packages/docusaurus-1.x/.eslintrc.js
  packages/docusaurus-1.x/lib/server/readMetadata.js
  packages/docusaurus-1.x/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/order.test.ts
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/client/theme-fallback/Layout/index.js
  packages/docusaurus/src/server/presets/index.ts
  website/docs/styling-layout.md
  yarn.lock
Labels: CLA Signed, tag: internal

#1956 feat(v2): add ability hide dark mode toggle
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docs/theme-classic.md
Labels: CLA Signed, tag: new feature

#1959 fix(v2): useTOC hooks should not be called in each nested children
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
Labels: CLA Signed, tag: bug fix

#1957 refactor(v2): avoid synchronous/ blocking operation when possible
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/webpack/plugins/ChunkManifestPlugin.js
  packages/docusaurus/src/webpack/plugins/WaitPlugin.js
Labels: CLA Signed, tag: polish

#1958 breaking(v2): editUrl should point to website instead of docsDir
  packages/docusaurus-plugin-content-docs/src/__tests__/metadata.test.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  website/docs/advanced-plugins.md
  website/docs/migrating-from-v1-to-v2.md
  website/docusaurus.config.js
Labels: CLA Signed, do not merge yet, tag: breaking change

#1961 docs: remove exclusive language
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
  CHANGELOG-2.x.md
  CONTRIBUTING.md
  README.md
  admin/extending-remarkable.md
  docs/api-pages.md
  docs/api-site-config.md
  docs/getting-started-installation.md
  docs/getting-started-publishing.md
  docs/getting-started-site-creation.md
  docs/guides-blog.md
  docs/guides-custom-pages.md
  docs/guides-navigation.md
  docs/guides-translation.md
  packages/docusaurus-1.x/README.md
  website-1.x/versioned_docs/version-1.10.x/api-pages.md
  website-1.x/versioned_docs/version-1.10.x/api-site-config.md
  website-1.x/versioned_docs/version-1.10.x/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.10.x/getting-started-site-creation.md
  website-1.x/versioned_docs/version-1.10.x/guides-custom-pages.md
  website-1.x/versioned_docs/version-1.10.x/guides-navigation.md
  website-1.x/versioned_docs/version-1.11.x/api-site-config.md
  website-1.x/versioned_docs/version-1.11.x/guides-blog.md
  website-1.x/versioned_docs/version-1.11.x/guides-custom-pages.md
  website-1.x/versioned_docs/version-1.12.0/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.12.0/guides-blog.md
  website-1.x/versioned_docs/version-1.13.0/api-site-config.md
  website-1.x/versioned_docs/version-1.14.0/api-site-config.md
  website-1.x/versioned_docs/version-1.9.x/api-pages.md
  website-1.x/versioned_docs/version-1.9.x/api-site-config.md
  website-1.x/versioned_docs/version-1.9.x/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.9.x/getting-started-site-creation.md
  website-1.x/versioned_docs/version-1.9.x/guides-blog.md
  website-1.x/versioned_docs/version-1.9.x/guides-custom-pages.md
  website-1.x/versioned_docs/version-1.9.x/guides-navigation.md
  website/docs/configuration.md
  website/docs/contributing.md
  website/docs/introduction.md
  website/docs/markdown-features.mdx
  website/docs/search.md
  website/docs/using-themes.md
Labels: CLA Signed, tag: documentation

#1966 fix(v2): remove duplicate meta tags
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
Labels: CLA Signed

#1963 fix(v2): remove empty containers when no data in blog pages
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.js
Labels: CLA Signed

#1965 feat(v2): add ability specify link in footer logo
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
  packages/docusaurus-theme-classic/src/theme/Footer/styles.module.css
  website/docs/migrating-from-v1-to-v2.md
Labels: CLA Signed, tag: new feature

#1964 fix(v2): use tag time for showing post item date
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/styles.module.css
Labels: CLA Signed, tag: polish

#1968 refactor(v2): simplify blog truncate function
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
Labels: CLA Signed, tag: polish

#1970 docs(v2): update configureWebpack utility functions
  website/docs/lifecycle-apis.md
Labels: CLA Signed, tag: documentation

#1974 fix(v2): remove invalid attributes of nav links
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
Labels: CLA Signed, tag: bug fix

#1977 feat(v2): add aria-label to read more links for a11y
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
Labels: CLA Signed, tag: polish

#1976 docs(v2): Add section to blog document about feed location
  website/docs/blog.md
Labels: CLA Signed, tag: documentation

#1979 perf(v2): reduce main bundle size ~7kbs by using es5 if possible
  packages/docusaurus/src/client/PendingNavigation.js
  packages/docusaurus/src/client/docusaurus.js
Labels: CLA Signed, tag: performance

#1975 fix(v2): move header inside article tag in doc page
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
Labels: CLA Signed, tag: bug fix

#1978 fix(v2): use regular div instead of main tag for wrapper layout page
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/styles.css
Labels: CLA Signed, tag: bug fix

#1980 fix(v2): remove invalid label attribute of footer links
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
Labels: CLA Signed, tag: bug fix

#1985 chore(v2): update dependencies
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage.js
  packages/docusaurus-types/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/commands/swizzle.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#1982 feat(v2): add FB link to footer
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal, tag: polish

#1981 fix(v2): use tag time for showing last update of doc item
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
Labels: CLA Signed, tag: polish

#1986 fix(v2): remove obsolete iframe attributes
  website/src/pages/index.js
  website/src/pages/styles.module.css
Labels: CLA Signed, tag: internal, tag: polish

#1962 fix(v2): make not clickable post title on post item page
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.js
Labels: CLA Signed, tag: bug fix

#1987 refactor(v2): replace h1 tag with h2 in blog list pages
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
Labels: CLA Signed, tag: polish

#1988 docs(v2): fix syntax highlighting for YML code blocks
  website/docs/blog.md
  website/docs/markdown-features.mdx
  website/docs/sidebar.md
Labels: CLA Signed, tag: documentation

#1994 fix(v2): throw error if first level item of a sidebar is not category
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-first-level-not-category.js
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
Labels: CLA Signed, tag: bug fix, tag: polish

#1999 fix(v2): remove hashbang when click on category
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Labels: CLA Signed, tag: bug fix

#1992 fix(v2): static phrasing content should be rendered correctly in TOC
  packages/docusaurus-mdx-loader/src/remark/rightToc/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/rightToc/__tests__/fixtures/non-text-content.mdx
  packages/docusaurus-mdx-loader/src/remark/rightToc/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/rightToc/search.js
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
Labels: CLA Signed, tag: bug fix

#1991 fix(v2): remove accessible anchors via keyboard
  packages/docusaurus-theme-classic/src/theme/Heading/index.js
Labels: CLA Signed, tag: polish

#2001 fix(v2): improve UI of search
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
Labels: CLA Signed

#2002 fix(v2): fix browser window menu icon on smaller screen
  website/src/components/BrowserWindow/styles.module.css
Labels: CLA Signed, tag: internal

#2005 fix(v2): adjust first-level heading offset
  packages/docusaurus-theme-classic/src/theme/Layout/styles.css
Labels: CLA Signed

#2003 refactor(v2): improve semantic markup of blog
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.js
Labels: CLA Signed, tag: polish

#2007 feat(v2): only create one css file to avoid code-split css loading problem
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed, do not merge yet

#2009 misc(v2): branding update
  website/docusaurus.config.js
  website/src/pages/index.js
  website/src/pages/styles.module.css
Labels: CLA Signed

#2010 docs(v2): misc updates
  website/docs/cli.md
  website/docs/design-principles.md
  website/docs/introduction.md
  website/docs/lifecycle-apis.md
  website/docs/styling-layout.md
  website/docs/theme-classic.md
Labels: CLA Signed

#1869 fix(v1): fix page title render issue when referred by search result
  packages/docusaurus-1.x/lib/core/Doc.js
  packages/docusaurus-1.x/lib/static/css/main.css
Labels: CLA Signed

#2012 feat(v2): allow hiding docs table of contents
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  website/docs/markdown-features.mdx
Labels: tag: new feature

#1989 misc(v2): change blog front matter to snake_case
  packages/docusaurus-init/templates/classic/blog/2019-05-28-hola.md
  packages/docusaurus-init/templates/classic/blog/2019-05-29-hello-world.md
  packages/docusaurus-init/templates/classic/blog/2019-05-30-welcome.md
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
  website-1.x/blog/2017-12-14-introducing-docusaurus.md
  website-1.x/blog/2018-04-30-How-I-Converted-Profilo-To-Docusaurus.md
  website-1.x/blog/2018-12-14-Happy-First-Birthday-Slash.md
  website/docs/blog.md
  website/docs/migrating-from-v1-to-v2.md
Labels: CLA Signed, tag: breaking change

#2015 chore: bump & remove unused deps
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  website-1.x/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#2014 feat(v2): add meta generator docusaurus
  packages/docusaurus/src/client/templates/index.html.template.ejs
  packages/docusaurus/src/client/templates/ssr.html.template.js
Labels: CLA Signed, tag: internal

#2019 fix(v1): consistent slug & hash-link generation
  packages/docusaurus-1.x/lib/core/__tests__/toSlug.test.js
  packages/docusaurus-1.x/lib/core/__tests__/toc.test.js
  packages/docusaurus-1.x/lib/core/anchors.js
  packages/docusaurus-1.x/lib/core/toSlug.js
  packages/docusaurus-1.x/lib/core/toc.js
  packages/docusaurus-1.x/package.json
Labels: CLA Signed, tag: bug fix

#2020 fix(v1): docusaurus-start should work even if path contain 'pages' word
  packages/docusaurus-1.x/lib/server/server.js
Labels: CLA Signed, tag: bug fix

#2017 feat(v2): style right sidebar scrollbar when overflow
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
Labels: CLA Signed, tag: polish

#2022 fix(v1): markdown content and toc should render the same
  packages/docusaurus-1.x/lib/core/__tests__/toc.test.js
  packages/docusaurus-1.x/lib/core/toc.js
  packages/docusaurus-1.x/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#2023 chore: changelog & docs for 1.14.1
  CHANGELOG.md
  website-1.x/versioned_docs/version-1.14.1/api-doc-markdown.md
  website-1.x/versioned_docs/version-1.14.1/api-site-config.md
  website-1.x/versioned_docs/version-1.14.1/getting-started-installation.md
  website-1.x/versioned_docs/version-1.14.1/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.14.1/guides-translation.md
  website-1.x/versions.json
Labels: CLA Signed

#2024 test(v2): babel exclude transpilation logic to prevent regression
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed, tag: internal

#2026 docs(v1): showcase user Channelize.io
  website-1.x/data/users.js
  website-1.x/static/img/users/channelize.png
Labels: CLA Signed, tag: documentation

#2028 fix(v1): apply negative margin to docs heading only
  packages/docusaurus-1.x/lib/core/DocsLayout.js
  packages/docusaurus-1.x/lib/static/css/main.css
Labels: CLA Signed, tag: bug fix

#2013 refactor(v2): split out dark mode toggle so it is easily swizzle-able
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Toggle/index.js
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css
Labels: CLA Signed, tag: polish

#2029 chore(v2): bump deps and remove unused deps
  package.json
  packages/docusaurus-1.x/lib/server/feed.js
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#2034 feat(v2): style sidebar on overflow
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
Labels: CLA Signed, tag: polish

#2035 perf(v2): use @babel/runtime plugin to reduce codesize
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/utils.ts
  yarn.lock
Labels: CLA Signed, tag: performance

#2030 chore(v2): cut 2.0.0-alpha.36 docs & create versions page
  website/docusaurus.config.js
  website/src/pages/versions.js
  website/versioned_docs/version-2.0.0-alpha.36/advanced-plugins.md
  website/versioned_docs/version-2.0.0-alpha.36/advanced-themes.md
  website/versioned_docs/version-2.0.0-alpha.36/analytics.md
  website/versioned_docs/version-2.0.0-alpha.36/blog.md
  website/versioned_docs/version-2.0.0-alpha.36/cli.md
  website/versioned_docs/version-2.0.0-alpha.36/configuration.md
  website/versioned_docs/version-2.0.0-alpha.36/contributing.md
  website/versioned_docs/version-2.0.0-alpha.36/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.36/deployment.md
  website/versioned_docs/version-2.0.0-alpha.36/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.36/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.36/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.36/installation.md
  website/versioned_docs/version-2.0.0-alpha.36/introduction.md
  website/versioned_docs/version-2.0.0-alpha.36/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.36/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.36/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.36/presets.md
  website/versioned_docs/version-2.0.0-alpha.36/search.md
  website/versioned_docs/version-2.0.0-alpha.36/seo.md
  website/versioned_docs/version-2.0.0-alpha.36/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.36/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.36/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.36/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.36/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.36/using-themes.md
  website/versioned_sidebars/version-2.0.0-alpha.36-sidebars.json
  website/versions.json
Labels: CLA Signed, tag: internal

#2033 refactor(v2): move unused generated files out from build folder
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/plugins/ChunkManifestPlugin.js
  packages/docusaurus/src/webpack/server.ts
Labels: CLA Signed, tag: internal

#2039 perf(v2): replace unnecessary json stringify(string) with inline string
  packages/docusaurus/src/server/index.ts
Labels: CLA Signed, tag: performance

#1990 refactor(v2): make better a11y for tabs
  packages/docusaurus-theme-classic/src/theme/Tabs/index.js
  packages/docusaurus-theme-classic/src/theme/Tabs/styles.module.css
Labels: CLA Signed, tag: polish

#2037 docs(v2): display yarn and npm command on website
  website/docs/advanced-plugins.md
  website/docs/cli.md
  website/docs/deployment.md
  website/docs/installation.md
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/docs/presets.md
  website/docs/search.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/docusaurus.config.js
  website/src/plugins/remark-npm2yarn.js
Labels: CLA Signed, tag: documentation, tag: internal

#2032 feat(v2): allow non sidebar category to be first item of sidebar
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category-wrong-label.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-doc-id-not-string.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-invalid-item.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-link-wrong-href.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-link-wrong-label.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-link.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/sidebars.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/version.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus/package.json
  website/docs/sidebar.md
  yarn.lock
Labels: CLA Signed, tag: new feature

#2038 docs(v2): add documentation on versioning
  website/docs/versioning.md
  website/sidebars.js
Labels: CLA Signed, tag: documentation

#2044 chore(v2): bump deps
  package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/build.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#2040 docs(v2): showcase user vector.dev :)
  website/src/data/showcase/vector.png
  website/src/data/users.js
Labels: CLA Signed, do not merge yet

#2043 refactor(v2): stronger typing for route gen
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed, tag: internal

#2042 fix(v2): remove css order warning if css imports are not sorted
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed, tag: bug fix

#2045 breaking(v2): minimum required nodejs version 8.9->8.10 so we can use es2017
  packages/docusaurus-init/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  tsconfig.json
  website/docs/installation.md
Labels: CLA Signed, tag: breaking change, tag: internal

#2050 fix(v2): hide past versions if it does not exist
  website/src/pages/versions.js
Labels: CLA Signed, tag: internal

#2052 fix(v2): make proper spelling of Yarn in tabs
  website/src/plugins/remark-npm2yarn.js
Labels: CLA Signed, tag: documentation, tag: internal

#2036 docs(v2): Reorganize migration guide
  website/docs/migrating-from-v1-to-v2.md
Labels: CLA Signed, tag: documentation

#2053 docs(v2): make proper spelling of Stack Overflow
  website/docs/installation.md
  website/versioned_docs/version-2.0.0-alpha.36/installation.md
Labels: CLA Signed, tag: internal

#2048 fix(v2): remove auto wrap for code blocks
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed, tag: polish

#2049 fix(v2): make friendlier title on home page for SEO
  website/docusaurus.config.js
  website/src/pages/index.js
Labels: CLA Signed, tag: internal

#2051 docs(v2): more examples on lifecycle apis, cleanup
  packages/docusaurus-types/src/index.d.ts
  website/docs/advanced-plugins.md
  website/docs/advanced-themes.md
  website/docs/docusaurus-core.md
  website/docs/lifecycle-apis.md
  website/docs/theme-classic.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/docs/versioning.md
  website/sidebars.js
Labels: CLA Signed, tag: documentation

#2054 perf(v2): unblock metadata processing when possible
  packages/docusaurus-plugin-content-docs/src/metadata.ts
Labels: CLA Signed, tag: performance

#2046 perf(v2): use webpack future version of asset emitting logic to free memory
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed, tag: performance

#2060 fix(v2): clean generated manifest from previous build so we dont use the wrong one
  packages/docusaurus/src/commands/build.ts
Labels: CLA Signed

#2061 fix(v2): fix docs sidebar highlighting if link is partially matched
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Labels: CLA Signed, tag: bug fix

#2065 fix(v2): add h1 to versions page
  website/src/pages/versions.js
Labels: CLA Signed, tag: internal

#2063 fix: transpile static js to IE 10
  packages/docusaurus-1.x/lib/static/js/codetabs.js
  packages/docusaurus-1.x/lib/static/js/scrollSpy.js
Labels: CLA Signed, tag: bug fix

#2064 fix(v2): markdown reference to file should not be page not found
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.js
Labels: CLA Signed, tag: bug fix

#2047 docs(v2): add manual migration guide for versioning
  website/docs/introduction.md
  website/docs/migrating-from-v1-to-v2.md
  website/docs/versioning.md
Labels: CLA Signed, tag: documentation

#2067 fix(v2): toc should not be broken for heading with html inline code
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/remark/rightToc/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/rightToc/__tests__/fixtures/inline-code.md
  packages/docusaurus-mdx-loader/src/remark/rightToc/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/rightToc/search.js
  yarn.lock
Labels: CLA Signed, tag: bug fix

#2066 refactor(v2): add title attribute to anchor link
  packages/docusaurus-theme-classic/src/theme/Heading/index.js
Labels: CLA Signed, tag: polish

#2068 docs(v2): quick proofread docs
  website/docs/contributing.md
  website/docs/introduction.md
  website/docs/sidebar.md
  website/docs/static-assets.md
  website/docs/styling-layout.md
Labels: CLA Signed, tag: documentation

#2057 feat(v2): injectHtmlTags API to inject head and/or body html tags
  package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/client/templates/index.html.template.ejs
  packages/docusaurus/src/client/templates/ssr.html.template.js
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/html-tags/__tests__/__fixtures__/plugin-empty.js
  packages/docusaurus/src/server/html-tags/__tests__/__fixtures__/plugin-headTags.js
  packages/docusaurus/src/server/html-tags/__tests__/__fixtures__/plugin-postBodyTags.js
  packages/docusaurus/src/server/html-tags/__tests__/__fixtures__/plugin-preBodyTags.js
  packages/docusaurus/src/server/html-tags/__tests__/htmlTags.test.ts
  packages/docusaurus/src/server/html-tags/__tests__/index.test.ts
  packages/docusaurus/src/server/html-tags/htmlTags.ts
  packages/docusaurus/src/server/html-tags/index.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/webpack/server.ts
  website/docs/lifecycle-apis.md
  yarn.lock
Labels: CLA Signed, tag: new feature

#2062 perf(v2): add link rel preconnect for GA & google tag plugin
  packages/docusaurus-plugin-google-analytics/src/index.js
  packages/docusaurus-plugin-google-gtag/src/index.js
Labels: CLA Signed, tag: performance

#2072 refactor(v2): stronger typing for blog plugin
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
Labels: CLA Signed, tag: internal

#2000 feat(v2): add meta RSS/Atom feed links to head
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
Labels: CLA Signed, tag: new feature, tag: polish

#2071 Revert "fix(v2): remove auto wrap for code blocks (#2048)"
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed
