Repository facebook/docusaurus, pull requests merged in 2019-10, with the labels that each got.

#1806 docs: update TypeGraphQL showcase url
  website-1.x/data/users.js
Labels: CLA Signed

#1756 docs(v2): make double nested sidebar entry thinner and smaller
  website/src/css/custom.css
Labels: CLA Signed

#1786 docs(v2): blog initial draft
  website/docs/blog.md
Labels: CLA Signed

#1809 docs(v2): simple migration guide from v1-v2
  website/docs/migration-from-v1-to-v2.md
  website/sidebars.js
Labels: CLA Signed

#1811 refactor(v2): add typing for docs plugin
  .eslintignore
  .gitignore
  .prettierignore
  jest.config.js
  package.json
  packages/docusaurus-plugin-content-docs-legacy/package.json
  packages/docusaurus-plugin-content-docs-legacy/src/__tests__/__snapshots__/sidebars.test.ts.snap
  packages/docusaurus-plugin-content-docs-legacy/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs-legacy/src/__tests__/metadata.test.ts
  packages/docusaurus-plugin-content-docs-legacy/src/__tests__/order.test.ts
  packages/docusaurus-plugin-content-docs-legacy/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs-legacy/src/index.ts
  packages/docusaurus-plugin-content-docs-legacy/src/markdown/index.ts
  packages/docusaurus-plugin-content-docs-legacy/src/metadata.ts
  packages/docusaurus-plugin-content-docs-legacy/src/order.ts
  packages/docusaurus-plugin-content-docs-legacy/src/sidebars.ts
  packages/docusaurus-plugin-content-docs-legacy/src/types.ts
  packages/docusaurus-plugin-content-docs-legacy/tsconfig.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/swizzle.ts
  packages/docusaurus/src/server/config.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/presets/index.ts
  yarn.lock
Labels: CLA Signed

#1812 feat(v2): allow infinitely nested sidebar
  CHANGELOG-2.x.md
  packages/docusaurus-plugin-content-docs-legacy/src/__tests__/__fixtures__/website/sidebars-category.js
  packages/docusaurus-plugin-content-docs-legacy/src/__tests__/__snapshots__/sidebars.test.ts.snap
  packages/docusaurus-plugin-content-docs-legacy/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs-legacy/src/sidebars.ts
  website/docs/markdown-features.mdx
  website/docs/sidebar.md
Labels: CLA Signed

#1724 docs(v2): document plugins and lifecycle APIs
  website/docs/advanced-plugins.md
  website/docs/advanced-themes.md
  website/docs/lifecycle-apis.md
Labels: CLA Signed

#1814 docs(v1): showcase user Saleor
  website-1.x/data/users.js
  website-1.x/static/img/users/saleor.png
Labels: CLA Signed

#1815 refactor(v2): better docs metadata
  packages/docusaurus-plugin-content-docs-legacy/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs-legacy/src/__tests__/order.test.ts
  packages/docusaurus-plugin-content-docs-legacy/src/index.ts
  packages/docusaurus-plugin-content-docs-legacy/src/metadata.ts
  packages/docusaurus-plugin-content-docs-legacy/src/order.ts
  packages/docusaurus-plugin-content-docs-legacy/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocLegacyItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocLegacyPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocLegacyPaginator/index.js
  packages/docusaurus-theme-classic/src/theme/DocLegacySidebar/index.js
Labels: CLA Signed

#1817 feat(v2): make sidebar collapsible
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/DocLegacyPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocLegacySidebar/index.js
  website/src/css/custom.css
Labels: CLA Signed

#1821 misc(v2): change blog title size
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.js
Labels: CLA Signed

#1820 misc(v2): improve docs styles
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/DocLegacyItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocLegacyItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocLegacyPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocLegacyPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocLegacySidebar/index.js
  packages/docusaurus-theme-classic/src/theme/DocLegacySidebar/styles.module.css
Labels: CLA Signed

#1818 feat(v2): add editUrl option to docs plugin
  CHANGELOG-2.x.md
  package.json
  packages/docusaurus-plugin-content-docs-legacy/src/__tests__/metadata.test.ts
  packages/docusaurus-plugin-content-docs-legacy/src/index.ts
  packages/docusaurus-plugin-content-docs-legacy/src/metadata.ts
  packages/docusaurus-plugin-content-docs-legacy/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocLegacyItem/index.js
  website/docs/advanced-plugins.md
  website/docs/migration-from-v1-to-v2.md
  website/docusaurus.config.js
Labels: CLA Signed

#1819 misc(v2): make playground nicer
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.js
  packages/docusaurus-theme-classic/src/theme/MDXComponents/styles.module.css
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/styles.module.css
  website/docs/markdown-features.mdx
  yarn.lock
Labels: CLA Signed

#1822 docs(v2): improve static assets docs
  website/docs/static-assets.md
Labels: CLA Signed

#1829 feat(v2): docs last update timestamp and author
  CHANGELOG-2.x.md
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/metadata.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  website/docs/advanced-plugins.md
  website/docs/migration-from-v1-to-v2.md
  website/docusaurus.config.js
Labels: CLA Signed

#1830 fix(v2): only show the Git requirement message for the docs last update feature once
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
Labels: CLA Signed

#1833 styles(v2): improve 'Edit this page' UI
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
Labels: CLA Signed

#1823 docs: improve installation instructions in contribution guidelines
  CONTRIBUTING.md
Labels: CLA Signed

#1832 refactor(v2): simplify & faster last updated logic for docs
  package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  yarn.lock
Labels: CLA Signed

#1831 feat(v2): add scripts and stylesheets field to config
  CHANGELOG-2.x.md
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/App.js
  packages/docusaurus/src/server/config.ts
  website/docs/docusaurus.config.js.md
  website/docs/migration-from-v1-to-v2.md
Labels: CLA Signed

#1835 feat(v2): add help page
  website/docusaurus.config.js
  website/src/pages/help.js
Labels: CLA Signed

#1836 feat(v2): add tabs component for multi-language code
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/TabItem/index.js
  packages/docusaurus-theme-classic/src/theme/Tabs/index.js
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
Labels: CLA Signed

#1837 chore(v2): upgrade core dependency
  CHANGELOG-2.x.md
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed

#1838 feat(v2): add 'custom_edit_url' and 'hide_title' markdown header feature
  CHANGELOG-2.x.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/website/docs/lorem.md
  packages/docusaurus-plugin-content-docs/src/__tests__/metadata.test.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  website/docs/markdown-features.mdx
Labels: CLA Signed

#1839 perf(v2): fork clean-webpack-plugin to reduce memory
  CHANGELOG-2.x.md
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/webpack/plugins/CleanWebpackPlugin.ts
  yarn.lock
Labels: CLA Signed

#1840 fix(v2): keywords frontmatter should work properly
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/docs/seo.md
Labels: CLA Signed

#1842 refactor(v2): fix and improve typing
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/presets/index.ts
  packages/docusaurus/src/webpack/base.ts
  website/docs/advanced-plugins.md
Labels: CLA Signed

#1843 feat(v2): allow plugin to extendCli
  CHANGELOG-2.x.md
  packages/docusaurus-types/package.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/external.ts
  packages/docusaurus/src/index.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  website/docs/lifecycle-apis.md
Labels: CLA Signed

#1845 docs(v2): update sidebar migration from v1 to v2 guide
  website/docs/migrating-from-v1-to-v2.md
Labels: CLA Signed

#1844 fix(v2): swizzle should receive correct load context
  CHANGELOG-2.x.md
  package.json
  packages/docusaurus-1.x/examples/basics/core/Footer.js
  packages/docusaurus-1.x/examples/versions/pages/en/versions.js
  packages/docusaurus-1.x/lib/core/BlogPost.js
  packages/docusaurus-1.x/lib/core/Doc.js
  packages/docusaurus-1.x/lib/core/Head.js
  packages/docusaurus-1.x/lib/core/Site.js
  packages/docusaurus-1.x/lib/core/anchors.js
  packages/docusaurus-1.x/lib/core/nav/HeaderNav.js
  packages/docusaurus-1.x/lib/server/feed.js
  packages/docusaurus-1.x/lib/server/readMetadata.js
  packages/docusaurus-1.x/lib/server/versionFallback.js
  packages/docusaurus-init/bin/index.js
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/swizzle.ts
  website-1.x/core/Footer.js
  website-1.x/pages/en/index.js
  website-1.x/pages/en/versions.js
  website/docs/migrating-from-v1-to-v2.md
  yarn.lock
Labels: CLA Signed

#1846 fix(v2): swizzle should be able to handle single js file
  CHANGELOG-2.x.md
  packages/docusaurus/src/commands/swizzle.ts
Labels: CLA Signed

#1848 docs: document docker is optional
  docs/getting-started-installation.md
Labels: CLA Signed

#1847 docs: add more info on cleanUrl siteconfig
  docs/api-site-config.md
Labels: CLA Signed

#1854 fix(v2): fix link to logo in footer
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
Labels: CLA Signed

#1856 feat(v2): add ability disable to open page in browser when start command
  CHANGELOG-2.x.md
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/start.ts
  website/docs/cli.md
Labels: CLA Signed

#1858 docs(v2): describe adding additional Prism syntax highlighting languages
  website/docs/markdown-features.mdx
Labels: CLA Signed

#1862 docs(v2): clarify that front matter 'description' is used as a meta tag
  website/docs/markdown-features.mdx
Labels: CLA Signed

#1861 fix(v2): do not show plugin data path
  CHANGELOG-2.x.md
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/exports/ComponentCreator.js
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed

#1859 feat(v1): allow specifying meta desc in front matter
  docs/api-doc-markdown.md
  docs/getting-started-installation.md
  packages/docusaurus-1.x/lib/core/DocsLayout.js
  packages/docusaurus-1.x/lib/server/readMetadata.js
  website/docs/markdown-features.mdx
Labels: CLA Signed

#1852 docs(v1): document how to include Google Fonts
  docs/api-site-config.md
Labels: CLA Signed

#1864 v1.14.0
  CHANGELOG.md
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init-1.x/package.json
  website-1.x/package.json
  website-1.x/versioned_docs/version-1.14.0/api-doc-markdown.md
  website-1.x/versioned_docs/version-1.14.0/api-site-config.md
  website-1.x/versioned_docs/version-1.14.0/getting-started-installation.md
  website-1.x/versions.json
Labels: CLA Signed

#1863 fix(v2): fix incorrect keywords meta tag
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
Labels: CLA Signed

#1857 feat(v2): polyfill automatically depending on browserslist
  CHANGELOG-2.x.md
  packages/docusaurus-init/templates/classic/src/pages/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus/src/client/exports/Noop.js
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.ts
  packages/docusaurus/src/client/exports/__tests__/withBaseUrl.ts
  packages/docusaurus/src/client/exports/context.js
  packages/docusaurus/src/client/exports/useBaseUrl.js
  packages/docusaurus/src/client/exports/useDocusaurusContext.js
  packages/docusaurus/src/client/theme-fallback/Layout/index.js
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/static-assets.md
  website/src/pages/help.js
  website/src/pages/index.js
Labels: CLA Signed

#1865 chore(v2): upgrade dependencies
  CHANGELOG-2.x.md
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/build.ts
  yarn.lock
Labels: CLA Signed

#1866 feat(v2): new ui progress bar
  CHANGELOG-2.x.md
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/plugins/LogPlugin.js
  packages/docusaurus/src/webpack/server.ts
  yarn.lock
Labels: CLA Signed

#1867 fix(v2): fix missing deps and wrong babel config
  CHANGELOG-2.x.md
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/utils.ts
  website/docs/migrating-from-v1-to-v2.md
  yarn.lock
Labels: CLA Signed, do not merge yet

#1868 fix(v2): fix babel transpilation include/exclude logic
  CHANGELOG-2.x.md
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/plugins/LogPlugin.js
  packages/docusaurus/src/webpack/utils.ts
  website/docs/migrating-from-v1-to-v2.md
  yarn.lock
Labels: CLA Signed

#1855 feat(v2): add sticky footer
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/styles.css
Labels: CLA Signed

#1870 fix(v2): remove empty doc sidebar container
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/DocPage/index.js
Labels: CLA Signed

#1873 docs: showcase user Amphora
  website-1.x/data/users.js
  website-1.x/static/img/users/AmphoraData.png
Labels: CLA Signed

#1874 fix(v2): fix search input blur on desktop
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
Labels: CLA Signed

#1872 feat(v2): postcss should only use stage 3 features instead of stage 2
  CHANGELOG-2.x.md
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed

#1882 perf(v2): disable hash for css modules localident in dev
  CHANGELOG-2.x.md
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed

#1883 feat(v2): display footer in docs page for consistency
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/DocPage/index.js
Labels: CLA Signed

#1890 docs(v2): add docs on useful client api
  website/docs/docusaurus-core.md
Labels: CLA Signed

#1885 docs(v2): update config docs
  website/docs/configuration.md
  website/docs/docusaurus.config.js.md
  website/docs/installation.md
Labels: CLA Signed

#1891 fix(v2): do not show category with empty items
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Labels: CLA Signed

#1892 styles(v2): update infima and fix styles
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  yarn.lock
Labels: CLA Signed

#1889 docs(v2): update plugins, presets and themes docs
  packages/docusaurus-types/src/index.d.ts
  website/docs/advanced-plugins.md
  website/docs/advanced-presets.md
  website/docs/advanced-themes.md
  website/docs/api-themes.md
  website/docs/lifecycle-apis.md
  website/docs/migrating-from-v1-to-v2.md
  website/docs/motivation.md
  website/docs/presets.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/sidebars.js
Labels: CLA Signed

#1894 types(v2): Convert sitemap plugin to TypeScript
  .eslintignore
  .gitignore
  .prettierignore
  CHANGELOG-2.x.md
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.js
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/types.ts
  packages/docusaurus-plugin-sitemap/tsconfig.json
Labels: CLA Signed

#1898 perf(v2): significantly reduce bundle size & initial html payload
  CHANGELOG-2.x.md
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/client/exports/ComponentCreator.js
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/webpack/base.ts
Labels: 2.x, CLA Signed

#1893 fix(v2): align search icon on small width device
  CHANGELOG-2.x.md
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
Labels: CLA Signed

#1899 refactor(v2): refactor dark toggle into a hook
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/theme.js
Labels: CLA Signed

#1900 perf(v2): reduce memory usage consumption
  CHANGELOG-2.x.md
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/server.ts
  yarn.lock
Labels: CLA Signed

#1871 misc(v1): use primary color for hovered items in table of contents
  packages/docusaurus-1.x/lib/static/css/main.css
Labels: CLA Signed

#1895 fix(v1): mobile safari search input misalignment in header
  packages/docusaurus-1.x/lib/static/css/main.css
Labels: CLA Signed

#1880 misc(v2): v1 backward compatibility for USE_SSH env var
  CHANGELOG-2.x.md
  packages/docusaurus/src/commands/deploy.ts
Labels: CLA Signed

#1901 docs(v1): remove broken link for user Vasern
  website-1.x/data/users.js
Labels: CLA Signed

#1902 misc: update URLs to non-HTML versions
  README.md
Labels: CLA Signed

#1904 docs(v2): code block line highlighting
  CHANGELOG-2.x.md
  packages/docusaurus-init/templates/classic/docs/doc1.md
  packages/docusaurus-init/templates/classic/src/css/custom.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  website/docs/advanced-themes.md
  website/docs/blog.md
  website/docs/configuration.md
  website/docs/deployment.md
  website/docs/docusaurus-core.md
  website/docs/lifecycle-apis.md
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/docs/presets.md
  website/docs/search.md
  website/docs/sidebar.md
  website/docs/styling-layout.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/src/css/custom.css
Labels: CLA Signed

#1907 fix(v2): webpack modules resolve should prioritize @docusaurus/core own deps
  CHANGELOG-2.x.md
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed

#1908 feat(v2): simplify blog metadata to minimize number of request
  CHANGELOG-2.x.md
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.js
Labels: CLA Signed

#1905 feat(v2): add ability to set custom HTML in footer items
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
Labels: CLA Signed

#1911 docs: updating configcat user link
  website-1.x/data/users.js
Labels: CLA Signed

#1912 fix(v2): docs plugin stability improvement (100% test coverage)
  CHANGELOG-2.x.md
  jest.config.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/bad-site/docs/invalid-id.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/empty-site/docusaurus.config.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category-wrong-items.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-unknown-type.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-wrong-field.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/foo/bar.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/foo/baz.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/hello.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/lorem.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/permalink.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docusaurus.config.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/sidebars.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/wrong-sidebars.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/metadata.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/order.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
Labels: CLA Signed

#1909 fix(v2): custom searchbar should appear even if themeconfig.algolia is undefined
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  website/docs/search.md
  website/docs/theme-classic.md
  website/sidebars.js
Labels: CLA Signed

#1915 fix(v2): missing/hidden algolia search suggestion result
  CHANGELOG-2.x.md
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
Labels: CLA Signed

#1913 docs(v2): Redirect component for easy redirect
  CHANGELOG-2.x.md
  website/docs/docusaurus-core.md
Labels: CLA Signed

#1917 fix(v2): regression from prioritizing core node_modules logic
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed

#1918 docs: showcase user Reactive Interaction Gateway
  website-1.x/data/users.js
  website-1.x/static/img/users/reactive-interaction-gateway.svg
Labels: CLA Signed
