Repository facebook/docusaurus, pull requests merged in 2020-09, with the labels that each got.

#3344 Update Deploy to Vercel guide
  website/docs/deployment.md
  website/versioned_docs/version-2.0.0-alpha.54/deployment.md
  website/versioned_docs/version-2.0.0-alpha.55/deployment.md
  website/versioned_docs/version-2.0.0-alpha.56/deployment.md
  website/versioned_docs/version-2.0.0-alpha.58/deployment.md
  website/versioned_docs/version-2.0.0-alpha.60/deployment.md
  website/versioned_docs/version-2.0.0-alpha.61/deployment.md
Labels: CLA Signed

#3385 fix(v2): scripts should allow unknown values
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: tag: bug fix

#3388 feat(v2): add isCloseable property for theme-classic announcement bar
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  website/docs/theme-classic.md
Labels: CLA Signed, tag: new feature

#3386 chore(v2): pin exact dependency versions
  admin/publish.md
  packages/docusaurus-init/templates/bootstrap/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/versions/index.ts
  website-1.x/package.json
  website/package.json
Labels: tag: internal

#3390 docs(v1, v2): Update Deploy to Vercel guide
  docs/getting-started-publishing.md
  website/versioned_docs/version-2.0.0-alpha.62/deployment.md
Labels: CLA Signed, tag: documentation

#3387 feat(v2): allow users to specify a custom ssr HTML template
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/webpack/server.ts
  website/docs/api/docusaurus.config.js.md
Labels: CLA Signed, tag: new feature

#3393 fix(v2): DocSearch should keep working after a new release
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  website/docusaurus.config.js
Labels: CLA Signed, tag: bug fix

#3397 fix(v2): DocSearch should keep working after a new release (part 2/2)
  website/docusaurus.config.js
Labels: CLA Signed, tag: bug fix

#3405 fix(v2): fix debug plugin unscoped inline code global css
  packages/docusaurus-plugin-debug/src/theme/DebugLayout/styles.module.css
Labels: CLA Signed, tag: bug fix

#3406 feat(v2): ability to add/override theme html metadatas
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  website/docs/theme-classic.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#3418 fix(v2): reset sidebar state on sidebar changes
  packages/docusaurus-theme-bootstrap/src/theme/DocPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
Labels: CLA Signed, tag: bug fix

#3423 docs(v2): minor typo fix
  website/src/pages/examples/markdownPageExample.md
Labels: CLA Signed, tag: documentation

#3426 feat(v2): add option to add trailing slash to urls in sitemap
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-sitemap/src/types.ts
  website/docs/using-plugins.md
Labels: CLA Signed, tag: new feature

#3425 docs(v2): mention Eta in ssrTemplate section
  website/docs/api/docusaurus.config.js.md
Labels: CLA Signed, tag: documentation

#3428 fix grammar
  website/versioned_docs/version-2.0.0-alpha.63/markdown-features.mdx
Labels: CLA Signed, tag: documentation

#3429 fix(v1): versioned_docs and skip-next-release relative path issue
  packages/docusaurus-1.x/lib/server/__tests__/__fixtures__/metadata.js
  packages/docusaurus-1.x/lib/server/__tests__/__snapshots__/readCategories.test.js.snap
  packages/docusaurus-1.x/lib/server/__tests__/docs.test.js
  packages/docusaurus-1.x/lib/server/docs.js
  packages/docusaurus-1.x/lib/server/metadataUtils.js
  packages/docusaurus-1.x/lib/server/readMetadata.js
  packages/docusaurus-1.x/lib/server/versionFallback.js
Labels: CLA Signed, tag: bug fix

#3433 fix(v2): fix theme-classic announcement bar closeable style
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
Labels: CLA Signed, tag: bug fix

#3436 fix(v2): Correctly resolve sw.js path on windows
  packages/docusaurus-plugin-pwa/src/index.js
  website/docusaurus.config.js
Labels: CLA Signed, tag: bug fix

#3435 fix(v2): fix empty link error message
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.js
Labels: CLA Signed, tag: bug fix

#3438 fix(v2): docusaurus 2 PWA should work under baseurl (deploy previews)
  website/static/manifest.json
Labels: CLA Signed, tag: bug fix

#3439 fix(v2): fix serialize-javascript security issue by upgrading webpack/workbox
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed

#3455 misc: default Docusaurus Website UX
  website-1.x/pages/en/index.js
  website-1.x/static/css/custom.css
  website/src/pages/index.js
Labels: CLA Signed

#3448 chore(v2): fix theme classic navbar style docs
  website/docs/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.63/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.64/theme-classic.md
Labels: CLA Signed

#3459 docs(v2): adding and specifying powershell and cmd for deployment in windows section
  website/docs/deployment.md
  website/versioned_docs/version-2.0.0-alpha.63/deployment.md
  website/versioned_docs/version-2.0.0-alpha.64/deployment.md
Labels: CLA Signed

#3472 fix(v2): Show dropdown instead of a single button when there are two versions
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: CLA Signed

#3457 feat(v2): add optional custom wrapper class name for pages based on theme classic Layout
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  website/src/pages/examples/markdownPageExample.md
Labels: CLA Signed

#3477 chore(v2): remove alpha 58 doc
  website/versioned_docs/version-2.0.0-alpha.58/blog.md
  website/versioned_docs/version-2.0.0-alpha.58/cli.md
  website/versioned_docs/version-2.0.0-alpha.58/configuration.md
  website/versioned_docs/version-2.0.0-alpha.58/contributing.md
  website/versioned_docs/version-2.0.0-alpha.58/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.58/deployment.md
  website/versioned_docs/version-2.0.0-alpha.58/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.58/docs.md
  website/versioned_docs/version-2.0.0-alpha.58/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.58/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.58/installation.md
  website/versioned_docs/version-2.0.0-alpha.58/introduction.md
  website/versioned_docs/version-2.0.0-alpha.58/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.58/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.58/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.58/presets.md
  website/versioned_docs/version-2.0.0-alpha.58/search.md
  website/versioned_docs/version-2.0.0-alpha.58/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.58/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.58/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.58/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.58/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.58/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.58-sidebars.json
  website/versions.json
Labels: CLA Signed, tag: internal

#3451 fix: add serve to internalCommand
  packages/docusaurus/bin/docusaurus.js
Labels: CLA Signed

#3480 docs: Fix simple typo, localy -> locally
  website/docs/cli.md
  website/docs/deployment.md
  website/versioned_docs/version-2.0.0-alpha.60/cli.md
  website/versioned_docs/version-2.0.0-alpha.60/deployment.md
  website/versioned_docs/version-2.0.0-alpha.61/cli.md
  website/versioned_docs/version-2.0.0-alpha.61/deployment.md
  website/versioned_docs/version-2.0.0-alpha.62/cli.md
  website/versioned_docs/version-2.0.0-alpha.62/deployment.md
  website/versioned_docs/version-2.0.0-alpha.63/cli.md
  website/versioned_docs/version-2.0.0-alpha.63/deployment.md
  website/versioned_docs/version-2.0.0-alpha.64/cli.md
  website/versioned_docs/version-2.0.0-alpha.64/deployment.md
Labels: CLA Signed

#3460 feat(v2): add ability to set custom title delimiter in config
  packages/docusaurus-theme-bootstrap/src/theme/DebugLayout/index.js
  packages/docusaurus-theme-bootstrap/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/theme-classic.md
Labels: CLA Signed

#3485 feat(v2): Add @theme-init components to user theme
  packages/docusaurus/src/server/themes/index.ts
Labels: CLA Signed, tag: new feature

#3446 feat(v2): new docusaurus clear command
  package.json
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/clear.ts
  packages/docusaurus/src/index.ts
  website/docs/cli.md
  website/package.json
Labels: CLA Signed, tag: new feature

#3474 feat(v2): allow to use array of files in customCss field
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/index.js
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  website/docs/configuration.md
  website/docs/guides/migrating-from-v1-to-v2.md
  website/docs/presets.md
  website/docs/styling-layout.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#3492 docs(v2): Added drone.io publish docs #3491
  website/docs/deployment.md
Labels: CLA Signed, tag: documentation

#3493 docs(v2): grammar fix
  website/docs/markdown-features.mdx
Labels: CLA Signed, documentation

#3473 misc: add License to the documentation
  README.md
Labels: CLA Signed

#3465 fix(v2): Fix markdownlint rules on template init/README
  packages/docusaurus-init/templates/classic/README.md
Labels: CLA Signed, tag: bug fix

#3467 feat(v2): add beforeDefaultRemarkPlugins/beforeDefaultRehypePlugins options to all md content plugins
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-pages/src/types.ts
  website/docs/using-plugins.md
Labels: CLA Signed, tag: new feature

#3497 feat(v2): env variable TERSER_PARALLEL to customize TerserPlugin.parallel
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed, tag: new feature

#3427 fix(v2): normalizeUrl edge cases
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: bug fix

#3456 fix(v2): use valid value for crossorigin attribute
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
Labels: CLA Signed, tag: bug fix

#3449 fix(v2): allow relative URLs in URISchema
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
Labels: CLA Signed, tag: bug fix

#3453 test(v2): add protocol relative uri validation test
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
Labels: CLA Signed, tag: internal

#3499 chore(v2): upgrade Infima to 0.2.0-alpha.13
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, tag: polish

#3500 fix(v2): fix Docusaurus 2 website PWA manifest
  website/static/manifest.json
Labels: CLA Signed, tag: bug fix

#3502 docs(v2): add doc for wrapping theme components with @theme-original and @theme-init
  docs/api-pages.md
  packages/docusaurus/src/server/themes/__tests__/alias.test.ts
  packages/docusaurus/src/server/themes/alias.ts
  packages/docusaurus/src/server/themes/index.ts
  website/docs/using-themes.md
Labels: CLA Signed, tag: documentation

#3503 fix(v2): DX deploy error messages should print effective env variables names
  packages/docusaurus/src/commands/deploy.ts
Labels: tag: polish
