Repository facebook/docusaurus, pull requests merged in 2020-03, with the labels that each got.

#2357 docs(v2): fix getPathsToWatch() example syntax in lifecycle APIs
  website/docs/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.39/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.40/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.43/lifecycle-apis.md
Labels: CLA Signed

#2361 chore(v2): add stylelint
  .stylelintrc.json
  package.json
  packages/docusaurus-init/templates/classic/src/css/custom.css
  packages/docusaurus-init/templates/classic/src/pages/styles.module.css
  packages/docusaurus-init/templates/facebook/.stylelintrc.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/stylelint-copyright/README.md
  packages/stylelint-copyright/_tests_/index.js
  packages/stylelint-copyright/index.js
  packages/stylelint-copyright/package.json
  yarn.lock
Labels: CLA Signed

#2368 misc: add note about edits in versioned docs
  CONTRIBUTING.md
Labels: CLA Signed

#2363 fix(v2): improve stylelint copyright header rule
  .stylelintrc.js
  .stylelintrc.json
  package.json
  packages/docusaurus-init/templates/classic/src/css/custom.css
  packages/docusaurus-init/templates/classic/src/pages/styles.module.css
  packages/docusaurus-init/templates/facebook/.stylelintrc.js
  packages/docusaurus-init/templates/facebook/.stylelintrc.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/stylelint-copyright/README.md
  packages/stylelint-copyright/_tests_/index.js
  packages/stylelint-copyright/index.js
  packages/stylelint-copyright/package.json
  packages/stylelint-copyright/tests/index.js
Labels: CLA Signed

#2369 misc: mention about v2 in README file
  README.md
Labels: CLA Signed

#2367 refactor(v2): increase CSS specificity on application container
  packages/docusaurus-theme-classic/src/theme/Layout/styles.css
Labels: CLA Signed, tag: polish

#2371 fix(v2): remove line break from end of code blocks
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
Labels: CLA Signed, tag: bug fix

#2372 chore(v2): upgrade Infima and remark-admonitions
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/Layout/styles.css
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/algolia.css
  yarn.lock
Labels: CLA Signed, tag: polish

#2378 docs(v2): add section for docs-only mode
  website/docs/configuration.md
Labels: CLA Signed, tag: documentation

#2376 refactor(v2): clean up and improve Algolia styles
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/algolia.css
Labels: CLA Signed, tag: polish

#2250 feat(v2): add support specify new languages for Prism
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/index.js
  packages/docusaurus-theme-classic/src/prism-include-languages.js
  website/docs/markdown-features.mdx
Labels: CLA Signed, tag: new feature

#2345 fix(v2): force terminate building if client bundle failed
  packages/docusaurus/src/webpack/client.ts
Labels: CLA Signed, tag: bug fix

#2382 fix(v2): add missing preset-typescript dependency
  packages/docusaurus/package.json
Labels: CLA Signed, tag: bug fix

#2383 fix(v2): specify proper version for stylelint-copyright
  package.json
Labels: CLA Signed, tag: bug fix

#2384 chore(v2): v2.0.0 alpha.47
  CHANGELOG-2.x.md
Labels: CLA Signed

#2386 fix(v2): fix missing dependency and Noop component
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/SearchBar.js
Labels: tag: bug fix

#2387 chore(v2): v2.0.0 alpha.48
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.48/blog.md
  website/versioned_docs/version-2.0.0-alpha.48/cli.md
  website/versioned_docs/version-2.0.0-alpha.48/configuration.md
  website/versioned_docs/version-2.0.0-alpha.48/contributing.md
  website/versioned_docs/version-2.0.0-alpha.48/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.48/deployment.md
  website/versioned_docs/version-2.0.0-alpha.48/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.48/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.48/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.48/installation.md
  website/versioned_docs/version-2.0.0-alpha.48/introduction.md
  website/versioned_docs/version-2.0.0-alpha.48/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.48/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.48/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.48/presets.md
  website/versioned_docs/version-2.0.0-alpha.48/search.md
  website/versioned_docs/version-2.0.0-alpha.48/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.48/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.48/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.48/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.48/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.48/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.48/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.48-sidebars.json
  website/versions.json
Labels: CLA Signed

#2388 docs(v1): showcase user Day.js
  website-1.x/data/users.js
  website-1.x/static/img/users/dayjs.png
Labels: CLA Signed

#2395 docs(v2): clarify instructions on docs-only mode
  website/docs/configuration.md
Labels: CLA Signed

#2401 docs(v2): add resources page
  website/docs/resources.md
  website/sidebars.js
Labels: CLA Signed

#2405 fix(v2): properly dedupe forward slashes in the entire URL path
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed

#2411 docs:(v2): add Netlify configuration warning
  website/docs/deployment.md
Labels: CLA Signed

#2366 feat(v2): support syncing tab choices
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/TabGroupChoiceContext.js
  packages/docusaurus-theme-classic/src/theme/TabGroupChoiceProvider/index.js
  packages/docusaurus-theme-classic/src/theme/Tabs/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useTabGroupChoice.js
  packages/docusaurus-theme-classic/src/theme/hooks/useTabGroupChoiceContext.js
  website/docs/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.43/markdown-features.mdx
Labels: CLA Signed, tag: new feature

#2416 docs(v2): Add Build Tracker to Showcase page
  website/src/data/showcase/build-tracker.png
  website/src/data/users.js
Labels: CLA Signed

#2413 docs(v2): include appId key for Algolia
  website/docs/search.md
  website/versioned_docs/version-2.0.0-alpha.40/search.md
  website/versioned_docs/version-2.0.0-alpha.43/search.md
  website/versioned_docs/version-2.0.0-alpha.48/search.md
Labels: CLA Signed

#2421 misc: update Gitpod description
  CONTRIBUTING.md
  README.md
Labels: CLA Signed

#2420 fix(v2): fix external URL for og:image tag
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
Labels: CLA Signed

#2396 feat(v2): can target deployment branch with environment variable
  packages/docusaurus/src/commands/deploy.ts
  website/docs/deployment.md
Labels: CLA Signed

#2424 fix(v2): make correct internal link check
  packages/docusaurus/src/client/exports/__tests__/isInternalUrl.ts
  packages/docusaurus/src/client/exports/isInternalUrl.js
Labels: CLA Signed, tag: bug fix

#2417 feat(v2): allow custom output directory for build
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/server/index.ts
  website/docs/cli.md
Labels: CLA Signed

#2415 misc: improve stylelint rule
  .eslintrc.js
  jest-setup.js
  jest.config.js
  packages/stylelint-copyright/__tests__/index.js
  packages/stylelint-copyright/package.json
  yarn.lock
Labels: CLA Signed

#2426 fix(v2): remove HTML from heading slug
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-mdx-loader/src/remark/rightToc/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/rightToc/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/rightToc/search.js
  packages/docusaurus-mdx-loader/src/remark/slug/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/slug/index.js
Labels: CLA Signed, tag: bug fix

#2433 chore(v2): ignore jetbrains editors .iml files
  .gitignore
Labels: CLA Signed

#2434 fix(v2): add support dark logo for sidebar logo
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Labels: CLA Signed, tag: bug fix

#2435 fix(v2): fix aspect ratio for Open Graph image
  website/docusaurus.config.js
  website/static/img/docusaurus-soc.png
Labels: CLA Signed, tag: internal

#2436 fix(v2): update twitter:card to summary_large_image
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
Labels: CLA Signed, tag: bug fix

#2437 fix(v2): do not force terminate building if client bundle failed in development mode
  packages/docusaurus/src/webpack/client.ts
Labels: CLA Signed, tag: bug fix

#2438 feat(v2): add version to meta generator
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/client/templates/ssr.html.template.js
Labels: CLA Signed, tag: new feature

#2439 polish(v2): add logo for dark mode
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal

#2440 feat(v2): make clickable sidebar logo
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useLogo.js
Labels: CLA Signed, tag: new feature

#2442 fix(v2): various improvements for accessibility
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  website/src/components/ColorGenerator/index.js
Labels: CLA Signed, tag: bug fix

#2443 fix(v2): always exit after successful build
  packages/docusaurus/src/commands/build.ts
Labels: CLA Signed

#2408 docs(v2): suggest Surge for quick deployment
  website/docs/deployment.md
Labels: CLA Signed, tag: documentation

#2446 docs(v2): add docusaurus-plugin-sass to community plugins
  website/docs/resources.md
Labels: CLA Signed, tag: documentation

#2423 docs(v2): add Sass/SCSS in docs under the styling section
  website/docs/styling-layout.md
Labels: CLA Signed, tag: documentation

#2393 fix(v2): normalize location for route matching
  packages/docusaurus/src/client/PendingNavigation.js
  packages/docusaurus/src/client/__tests__/normalizeLocation.test.js
  packages/docusaurus/src/client/normalizeLocation.js
Labels: CLA Signed, tag: bug fix

#2451 fix(v2): pass options to remark-admonitions
  packages/docusaurus-preset-classic/src/index.js
Labels: CLA Signed, tag: bug fix

#2428 polish(v2): use npm-to-yarn for the npm2yarn remark plugin
  website/package.json
  website/src/plugins/remark-npm2yarn.js
Labels: CLA Signed, tag: polish

#2461 chore(v2): upgrade react-dev-utils
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/start.ts
  yarn.lock
Labels: CLA Signed

#2462 fix(v2): do not force terminate building when bundle analyzer is on
  packages/docusaurus/src/commands/build.ts
Labels: CLA Signed

#2455 feat(v2): add @theme-original alias to give access to pre-swizzled components
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/themes/__tests__/alias.test.ts
  packages/docusaurus/src/server/themes/__tests__/index.ts
  packages/docusaurus/src/server/themes/alias.ts
  packages/docusaurus/src/server/themes/index.ts
Labels: CLA Signed, tag: new feature

#2460 refactor(v2): use single method package instead of whole Lodash package in blog plugin
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/index.ts
Labels: CLA Signed, tag: polish

#2444 feat(v2): allow nested sidebar category shorthand syntax
  jest.config.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category-shorthand.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-invalid-item.json
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/index.ts
  tsconfig.json
  website/docs/sidebar.md
  website/sidebars.js
  yarn.lock
Labels: CLA Signed, tag: new feature

#2346 feat(v2): add filename in CodeBlock
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
Labels: CLA Signed, tag: new feature

#2466 docs(v2): add setup of mdx plugins
  website/docs/markdown-features.mdx
Labels: CLA Signed

#2469 feat(v2): add TypeScript support for theme components
  packages/docusaurus/src/server/themes/alias.ts
Labels: CLA Signed, tag: new feature

#2453 fix(v1): fix broken links in example docs
  packages/docusaurus-1.x/examples/basics/core/Footer.js
Labels: CLA Signed

#2472 docs(v2): fix typo in deployment docs
  website/versioned_docs/version-2.0.0-alpha.48/deployment.md
Labels: CLA Signed

#2473 docs(v2): use codeblock title syntax instead of comments
  website/docs/blog.md
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/deployment.md
  website/docs/docusaurus.config.js.md
  website/docs/lifecycle-apis.md
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/docs/presets.md
  website/docs/search.md
  website/docs/sidebar.md
  website/docs/static-assets.md
  website/docs/styling-layout.md
  website/docs/theme-classic.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.40/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.43/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.48/lifecycle-apis.md
Labels: CLA Signed

#2477 chore(v2): upgrade remark-admonitions for a11y fixes
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#2478 docs(v2): mark that in dev server some features may not work
  website/docs/cli.md
Labels: CLA Signed, tag: documentation

#2475 fix(v2): make correct Open Graph title for doc page
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
Labels: CLA Signed, tag: bug fix

#2476 fix(v2): improve code block scroll accessibility
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
Labels: CLA Signed, tag: bug fix

#2474 feat(v2): add ability to create unminimized bundles
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/server.ts
  website/docs/cli.md
Labels: CLA Signed, tag: new feature

#2479 chore(v2): upgrade MDX to 1.5.8
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#2480 fix(v2): various improvements for accessibility
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
  website/src/components/BrowserWindow/index.js
  website/src/components/BrowserWindow/styles.module.css
  website/src/pages/index.js
  website/src/pages/styles.module.css
Labels: CLA Signed, tag: bug fix

#2482 misc: add special thanks section in README file
  README.md
  admin/img/browserstack-logo.png
  admin/img/rocketvalidator-logo.png
Labels: CLA Signed

#2483 fix(v2): do not render sidebar logo if used sticky navbar
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Labels: CLA Signed, tag: bug fix

#2323 feat(v2): add a way to exclude components from build-time prerendering
  packages/docusaurus/src/client/exports/BrowserOnly.js
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: new feature

#2485 refactor(v2): remove unnecessary X-UA-Compatible meta tag
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
Labels: CLA Signed, tag: polish

#2330 feat(v2): add announcement bar
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.js
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.js
  website/docs/theme-classic.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#2456 feat(v2): support comments for code highlighting
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  website/docs/markdown-features.mdx
Labels: CLA Signed, tag: new feature

#2487 feat(v2): nav dropdown
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docs/theme-classic.md
  website/docusaurus.config.js
  website/src/css/custom.css
  website/src/pages/index.js
Labels: CLA Signed
