Repository facebook/docusaurus, pull requests merged in 2020-04, with the labels that each got.

#2488 chore(v2): v2.0.0-alpha.49
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/package.json
  website/versioned_docs/version-2.0.0-alpha.49/blog.md
  website/versioned_docs/version-2.0.0-alpha.49/cli.md
  website/versioned_docs/version-2.0.0-alpha.49/configuration.md
  website/versioned_docs/version-2.0.0-alpha.49/contributing.md
  website/versioned_docs/version-2.0.0-alpha.49/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.49/deployment.md
  website/versioned_docs/version-2.0.0-alpha.49/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.49/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.49/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.49/installation.md
  website/versioned_docs/version-2.0.0-alpha.49/introduction.md
  website/versioned_docs/version-2.0.0-alpha.49/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.49/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.49/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.49/presets.md
  website/versioned_docs/version-2.0.0-alpha.49/resources.md
  website/versioned_docs/version-2.0.0-alpha.49/search.md
  website/versioned_docs/version-2.0.0-alpha.49/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.49/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.49/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.49/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.49/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.49/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.49/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.49-sidebars.json
  website/versions.json
  yarn.lock
Labels: CLA Signed

#2491 docs(v1): showcase user Hazelcast Jet
  website-1.x/data/users.js
  website-1.x/static/img/users/hazelcast-jet.svg
Labels: CLA Signed

#2489 fix(v2): fix HTML issues nav dropdown and highlight docs item
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: CLA Signed, tag: bug fix

#2490 fix(v2): use lodash instead of array-map-polyfill
  jest.config.js
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/index.ts
  yarn.lock
Labels: CLA Signed, tag: polish

#2495 refactor(v2): update HTML markup of pagination for better a11y
  packages/docusaurus-theme-classic/src/theme/BlogPostPaginator/index.js
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.js
Labels: CLA Signed, tag: polish

#2497 fix(v2): unbreak blog-only mode routing by deplicating starting forward slashes
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed

#2496 fix(v2): do not force terminate building when running deploy command
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/deploy.ts
Labels: CLA Signed, tag: bug fix

#2498 fix(v2): blog item styling
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
Labels: CLA Signed, tag: bug fix

#2500 docs(v2): misc docs updates
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  website/docs/configuration.md
  website/docs/creating-pages.md
  website/docs/deployment.md
  website/docs/docs.md
  website/docs/installation.md
  website/docs/introduction.md
  website/docs/styling-layout.md
  website/docs/versioning.md
  website/sidebars.js
Labels: CLA Signed

#2503 docs(v2): reorganize markdown features page
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/docs/versioning.md
Labels: CLA Signed

#2502 fix(v2): make code block nicer
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed, tag: polish

#2504 refactor(v2): improve announcement bar
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.js
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  website/docusaurus.config.js
Labels: CLA Signed, tag: polish

#2505 fix(v2): tweak colors for announcement bar
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  website/docusaurus.config.js
Labels: CLA Signed, tag: polish

#2506 docs(v2): add link to master docs
  website/docusaurus.config.js
Labels: CLA Signed

#2486 misc: add instructions about test release
  admin/publish.md
  admin/scripts/test-release.sh
  admin/verdaccio.yaml
  package.json
Labels: CLA Signed, tag: internal

#2508 chore(v2): upgrade dependencies
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/generateBlogFeed.test.ts.snap
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  yarn.lock
Labels: CLA Signed

#2509 fix(v2): synchronize code block components changes
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
Labels: CLA Signed, tag: bug fix

#2510 chore(v2): v2.0.0-alpha.50
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.50/blog.md
  website/versioned_docs/version-2.0.0-alpha.50/cli.md
  website/versioned_docs/version-2.0.0-alpha.50/configuration.md
  website/versioned_docs/version-2.0.0-alpha.50/contributing.md
  website/versioned_docs/version-2.0.0-alpha.50/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.50/deployment.md
  website/versioned_docs/version-2.0.0-alpha.50/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.50/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.50/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.50/installation.md
  website/versioned_docs/version-2.0.0-alpha.50/introduction.md
  website/versioned_docs/version-2.0.0-alpha.50/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.50/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.50/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.50/presets.md
  website/versioned_docs/version-2.0.0-alpha.50/resources.md
  website/versioned_docs/version-2.0.0-alpha.50/search.md
  website/versioned_docs/version-2.0.0-alpha.50/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.50/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.50/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.50/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.50/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.50/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.50/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.50-sidebars.json
  website/versions.json
Labels: CLA Signed

#2512 docs(v1): add LisanJS to users
  website-1.x/data/users.js
  website-1.x/static/img/users/lisan.svg
Labels: CLA Signed

#2518 misc: improve instructions about new release
  admin/publish.md
Labels: CLA Signed

#2519 chore(v2): use single method Lodash packages in docs plugin
  package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
Labels: CLA Signed, tag: polish

#2521 docs(v2): useThemeContext hook
  website/docs/theme-classic.md
Labels: CLA Signed, tag: documentation

#2526 fix(v2): make code block nicer again
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed

#2527 docs(v2): proofread docs
  website/docs/blog.md
  website/docs/configuration.md
  website/docs/creating-pages.md
  website/docs/deployment.md
  website/docs/docs.md
  website/docs/installation.md
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/docs/presets.md
  website/docs/search.md
  website/docs/styling-layout.md
  website/docs/theme-classic.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
Labels: CLA Signed

#2529 refactor(v2): replace few Lodash methods with native counterparts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/client-modules/index.ts
  packages/docusaurus/src/server/html-tags/index.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/presets/index.ts
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed, tag: polish

#2530 fix(v2): Use `writeFileSync` to write generated sitemap.xml to avoid early termination
  packages/docusaurus-plugin-sitemap/src/index.ts
Labels: CLA Signed

#2531 feat(v2): add blog post estimated reading time
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
  website/docs/using-plugins.md
  yarn.lock
Labels: CLA Signed, tag: new feature

#2533 fix(v2): add rounded corners in code blocks properly
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed, tag: bug fix

#2524 feat(v2): add edit url in post page
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.js
  packages/docusaurus-utils/src/index.ts
  website/docs/using-plugins.md
  website/docusaurus.config.js
Labels: CLA Signed

#2535 refactor(v2): replace Lodash with single methods packages in core
  packages/docusaurus/package.json
  packages/docusaurus/src/server/config.ts
  packages/docusaurus/src/server/html-tags/htmlTags.ts
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed, tag: internal

#2534 refactor(v2): make better code blocks
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed, tag: polish

#2536 refactor(v2): replace Lodash with single methods packages in utils
  package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: internal

#2540 fix(v2): use synchronous write for generate blog feeds
  packages/docusaurus-plugin-content-blog/src/index.ts
Labels: CLA Signed, tag: bug fix

#2541 feat(v2): add showReadingTime and editUrl to the templates
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#2542 chore(v2): update Prettier config
  .prettierrc
  packages/docusaurus-init/templates/facebook/.prettierrc
Labels: CLA Signed

#2545 docs(v2): add community pages
  website/docs/support.md
  website/docs/team.md
  website/docusaurus.config.js
  website/sidebars.js
  website/src/pages/help.js
Labels: CLA Signed

#2547 docs(v2): Fix typo in team page
  website/docs/team.md
Labels: CLA Signed

#2549 docs(v2): command for swizzling all components
  website/docs/using-themes.md
Labels: CLA Signed

#2544 refactor(v2): import lqip-loader to monorepo, fix build on Node 13, fix lint-staged
  package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/lqip-loader/README.md
  packages/lqip-loader/package.json
  packages/lqip-loader/src/index.js
  packages/lqip-loader/src/lqip.js
  packages/lqip-loader/src/utils.js
  yarn.lock
Labels: CLA Signed

#2550 chore(v2): fix lqip-loader README code highlight
  packages/lqip-loader/README.md
Labels: CLA Signed

#2553 misc(v2): remove deprecated/useless lerna field
  lerna.json
Labels: CLA Signed

#2555 doc(v2): Add team photos
  website/docs/team.md
Labels: CLA Signed

#2556 refactor(v2): enhance CLI experience
  admin/extending-remarkable.md
  docs/api-site-config.md
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/deploy.ts
  website-1.x/versioned_docs/version-1.10.x/api-site-config.md
  website-1.x/versioned_docs/version-1.11.x/api-site-config.md
  website-1.x/versioned_docs/version-1.13.0/api-site-config.md
  website-1.x/versioned_docs/version-1.14.4/api-site-config.md
  website-1.x/versioned_docs/version-1.9.x/api-site-config.md
  website/docs/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.40/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.43/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.48/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.50/lifecycle-apis.md
Labels: CLA Signed, tag: polish

#2559 doc(v2): remove legacy blog metadata
  website/docs/blog.md
Labels: CLA Signed

#2561 chore(v2): add lqip-loader tests, clarify loader code, improve README
  packages/lqip-loader/README.md
  packages/lqip-loader/src/__tests__/__fixtures__/docusaurus.svg
  packages/lqip-loader/src/__tests__/__fixtures__/endi.jpg
  packages/lqip-loader/src/__tests__/index.test.ts
  packages/lqip-loader/src/index.js
Labels: CLA Signed

#2563 chore(v2): fix lint, tweak lqip-loader utils comment
  packages/docusaurus-1.x/lib/core/DocsSidebar.js
  packages/lqip-loader/src/__tests__/index.test.ts
  packages/lqip-loader/src/utils.js
  website/docs/team.md
Labels: CLA Signed

#2557 feat(v2): initial bootstrap theme structure
  .eslintrc.js
  packages/docusaurus-init/templates/bootstrap/.gitignore
  packages/docusaurus-init/templates/bootstrap/README.md
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/bootstrap/package.json
  packages/docusaurus-init/templates/bootstrap/src/pages/index.js
  packages/docusaurus-init/templates/bootstrap/src/pages/styles.module.css
  packages/docusaurus-init/templates/bootstrap/static/img/favicon.ico
  packages/docusaurus-init/templates/bootstrap/static/img/logo.svg
  packages/docusaurus-init/templates/bootstrap/static/img/undraw_docusaurus_mountain.svg
  packages/docusaurus-init/templates/bootstrap/static/img/undraw_docusaurus_react.svg
  packages/docusaurus-init/templates/bootstrap/static/img/undraw_docusaurus_tree.svg
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-bootstrap/src/index.js
  packages/docusaurus-preset-classic/src/index.js
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-bootstrap/src/index.js
  packages/docusaurus-theme-bootstrap/src/theme/NotFound.js
  yarn.lock
Labels: CLA Signed, tag: new feature

#2566 docs(v2): be more polite
  website/docs/deployment.md
  website/docs/markdown-features.mdx
Labels: CLA Signed, tag: documentation

#2569 Add Tourmaline to the showcase
  website/src/data/showcase/tourmaline.png
  website/src/data/users.js
Labels: CLA Signed, tag: internal

#2570 docs(v2): fix syntax error for plugin config
  website/docs/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.50/using-plugins.md
Labels: CLA Signed

#2572 docs(v2): mention that `plugin-ideal-image` only perform compression on a production build
  website/docs/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.50/using-plugins.md
Labels: CLA Signed

#2582 fix(v2): remove horizontal scroll on docs page
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
Labels: CLA Signed, tag: bug fix

#2579 fix(v2): treat mailto and tel links properly
  packages/docusaurus/src/client/exports/__tests__/isInternalUrl.ts
  packages/docusaurus/src/client/exports/isInternalUrl.js
Labels: CLA Signed, tag: bug fix

#2580 fix(v2): do not process anchor links by router
  packages/docusaurus/src/client/exports/Link.js
Labels: CLA Signed, tag: bug fix

#2585 refactor(v2): use nav link component only where needed
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus/src/client/exports/Link.js
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: polish

#2584 feat(v2): bootstrap blog post page and card
  packages/docusaurus-init/templates/bootstrap/blog/2019-05-28-hola.md
  packages/docusaurus-init/templates/bootstrap/blog/2019-05-29-hello-world.md
  packages/docusaurus-init/templates/bootstrap/blog/2019-05-30-welcome.md
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-bootstrap/src/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsPostsPage/index.js
Labels: CLA Signed, tag: new feature

#2588 refactor(v2): remove redundant container on docs page
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
Labels: CLA Signed, tag: polish

#2558 fix(v2): properly link top-level github pages sites in deploy command
  packages/docusaurus/src/commands/deploy.ts
Labels: CLA Signed

#2587 feat(v2): add tags for bootstrap theme blog post
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
Labels: CLA Signed, tag: new feature

#2593 docs(v2): fix 1st custom admonition title example
  website/docs/markdown-features.mdx
Labels: CLA Signed

#2592 docs(v2): fix a grammatical issue
  website/docs/markdown-features.mdx
Labels: CLA Signed

#2590 feat(v2): bootstrap theme tags and specific tag page
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsPostsPage/index.js
  packages/docusaurus/src/client/exports/Link.tsx
Labels: CLA Signed, tag: new feature

#2595 refactor(v2): make margin top on blog pages as on other pages
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.js
Labels: CLA Signed, tag: polish

#2596 docs(v2): remove duplicated package.json in installation directory structure
  website/docs/installation.md
Labels: CLA Signed, tag: documentation

#2600 docs(v2): showcase GraphQL Inspector
  website/src/data/showcase/graphql-inspector.png
  website/src/data/users.js
Labels: CLA Signed

#2602 fix(v2): inherit color for announcement bar close icon
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
Labels: CLA Signed, tag: bug fix

#2606 docs(v2): improve grammar
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/markdown-features.mdx
  website/docs/versioning.md
Labels: CLA Signed

#2591 feat(v2): bootstrap theme blog post page
  packages/docusaurus-init/templates/bootstrap/blog/2020-04-14-blog-plugin.md
  packages/docusaurus-init/templates/bootstrap/blog/2020-04-14-large-blog-post.md
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostPage/index.js
Labels: CLA Signed, tag: new feature

#2597 feat(v2): add ability set dark mode by default
  packages/docusaurus-theme-classic/src/index.js
  website/docs/theme-classic.md
Labels: CLA Signed, tag: new feature

#2616 fix(v2): don't include 404 page in sitemaps
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
Labels: CLA Signed, tag: bug fix

#2624 fix(v2): hide mobile navbar hamburger when there are no links
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
Labels: CLA Signed

#2625 fix(v2): disable tab focus on collapsed doc sidebar items
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Labels: CLA Signed, tag: bug fix

#2626 fix(v2): make border right of doc sidebar equals doc page
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
Labels: CLA Signed, tag: bug fix

#2631 fix(v2): hide doc sidebar on mobiles
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
Labels: CLA Signed, tag: bug fix

#2630 feat(v2): add CLI option for polling
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/start.ts
  website/docs/cli.md
Labels: CLA Signed, tag: new feature

#2635 feat(v2): bootstrap layout footer
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/Footer/index.js
Labels: CLA Signed

#2638 chore(v2): add Privacy Policy and Terms of Use links to footer
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  website/docusaurus.config.js
Labels: CLA Signed

#2639 docs(v2): showcase GraphQL Code Generator and GraphQL Mesh
  website/src/data/showcase/graphql-codegen.png
  website/src/data/showcase/graphql-mesh.png
  website/src/data/users.js
Labels: CLA Signed

#2640 fix(v2): Fix copyright footer
  website/docusaurus.config.js
Labels: CLA Signed

#2627 refactor(v2): extract scroll position detection into separate hook
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.js
  packages/docusaurus-theme-classic/src/theme/hooks/useScrollPosition.js
Labels: CLA Signed, tag: polish

#2380 fix(v2): ignore import declarations in excerpt
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: bug fix

#2613 feat(v2): add option to toggle sidebar category open by default
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-collapsed-first-level.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-collapsed.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/sidebars.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/version.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  website/docs/docs.md
Labels: CLA Signed, tag: new feature

#2641 misc: simplify test release script
  admin/scripts/test-release.sh
Labels: CLA Signed

#2608 refactor(v2): Expose docusaurus module type aliases to end-users
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/client/types.d.ts
Labels: CLA Signed

#2644 Revert "feat(v2): add option to toggle sidebar category open by default"
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-collapsed-first-level.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-collapsed.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/sidebars.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/version.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  website/docs/docs.md
Labels: CLA Signed

#2649 fix(v2): hide sidebar after click on child item
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
Labels: CLA Signed, tag: bug fix

#2650 docs(v1): add new user Quicksi
  website-1.x/data/users.js
  website-1.x/static/img/users/quicksi.png
Labels: CLA Signed

#2642 fix(v2): use remark-admonitions separately in each plugin instead of in preset only
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-blog/types.d.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/types.d.ts
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.js
  packages/docusaurus-theme-classic/src/index.js
Labels: CLA Signed, tag: bug fix

#2656 refactor(v2): lose focus of active sidebar item after click on it
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Labels: CLA Signed, tag: polish

#2659 fix(docs): mention that appID is optional
  website/docs/search.md
  website/versioned_docs/version-2.0.0-alpha.48/search.md
  website/versioned_docs/version-2.0.0-alpha.50/search.md
Labels: CLA Signed

#2661 chore: upgrade shelljs to 0.8.4
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#2665 feat(v2): add fallback to BrowserOnly component
  packages/docusaurus/src/client/exports/BrowserOnly.tsx
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: new feature

#2666 chore(v2): upgrade prism-react-renderer to latest version
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#2660 feat(v2): add ability to specify CSS class for navbar item
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docs/theme-classic.md
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: CLA Signed, tag: new feature

#2669 chore(v2): upgrade Infima
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  yarn.lock
Labels: CLA Signed

#2672 fix(v2): add a11y support for dropdown
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docusaurus.config.js
Labels: CLA Signed, tag: bug fix

#2673 chore(v2): v2.0.0-alpha.51
  CHANGELOG-2.x.md
  website/src/css/custom.css
  website/versioned_docs/version-2.0.0-alpha.51/blog.md
  website/versioned_docs/version-2.0.0-alpha.51/cli.md
  website/versioned_docs/version-2.0.0-alpha.51/configuration.md
  website/versioned_docs/version-2.0.0-alpha.51/contributing.md
  website/versioned_docs/version-2.0.0-alpha.51/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.51/deployment.md
  website/versioned_docs/version-2.0.0-alpha.51/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.51/docs.md
  website/versioned_docs/version-2.0.0-alpha.51/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.51/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.51/installation.md
  website/versioned_docs/version-2.0.0-alpha.51/introduction.md
  website/versioned_docs/version-2.0.0-alpha.51/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.51/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.51/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.51/presets.md
  website/versioned_docs/version-2.0.0-alpha.51/resources.md
  website/versioned_docs/version-2.0.0-alpha.51/search.md
  website/versioned_docs/version-2.0.0-alpha.51/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.51/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.51/support.md
  website/versioned_docs/version-2.0.0-alpha.51/team.md
  website/versioned_docs/version-2.0.0-alpha.51/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.51/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.51/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.51/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.51-sidebars.json
  website/versions.json
Labels: CLA Signed

#2676 fix(v2): allow build website without custom css
  packages/docusaurus-theme-classic/src/index.js
Labels: CLA Signed

#2677 chore(v2): v2.0.0-alpha.52
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.52/blog.md
  website/versioned_docs/version-2.0.0-alpha.52/cli.md
  website/versioned_docs/version-2.0.0-alpha.52/configuration.md
  website/versioned_docs/version-2.0.0-alpha.52/contributing.md
  website/versioned_docs/version-2.0.0-alpha.52/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.52/deployment.md
  website/versioned_docs/version-2.0.0-alpha.52/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.52/docs.md
  website/versioned_docs/version-2.0.0-alpha.52/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.52/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.52/installation.md
  website/versioned_docs/version-2.0.0-alpha.52/introduction.md
  website/versioned_docs/version-2.0.0-alpha.52/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.52/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.52/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.52/presets.md
  website/versioned_docs/version-2.0.0-alpha.52/resources.md
  website/versioned_docs/version-2.0.0-alpha.52/search.md
  website/versioned_docs/version-2.0.0-alpha.52/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.52/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.52/support.md
  website/versioned_docs/version-2.0.0-alpha.52/team.md
  website/versioned_docs/version-2.0.0-alpha.52/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.52/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.52/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.52/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.52-sidebars.json
  website/versions.json
Labels: CLA Signed

#2679 docs: update test plan in contributing
  CONTRIBUTING.md
Labels: CLA Signed

#2680 docs: add swizzle example
  website/docs/cli.md
Labels: CLA Signed

#2687 fix(v2): Add all webpack module aliases to type declaration file
  packages/docusaurus-module-type-aliases/src/index.d.ts
Labels: CLA Signed, tag: bug fix

#2688 fix(v2): add default value for options in theme classic
  packages/docusaurus-theme-classic/src/index.js
Labels: CLA Signed, tag: bug fix

#2691 fix(v2): add routeBasePath to feed link
  packages/docusaurus-plugin-content-blog/src/index.ts
Labels: CLA Signed

#2696 refactor(v2): make semicolon optional in imports for excerpt
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: polish

#2695 feat(v2): bootstrap pagination
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPaginator/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostPaginator/index.js
Labels: CLA Signed
