Repository facebook/docusaurus, pull requests merged in 2020-05, with the labels that each got.

#2707 docs(v2): replace word append with prepend to describe useBaseUrl hook
  website/docs/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.43/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.48/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.50/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.54/docusaurus-core.md
Labels: CLA Signed

#2684 refactor(v2): replace EJS with Eta for SSR generation
  packages/docusaurus/package.json
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/client/templates/ssr.html.template.js
  packages/docusaurus/src/webpack/base.ts
  yarn.lock
Labels: CLA Signed

#2728 chore(v2): bump webpack-dev-server to 3.11.0 to address yargs vulnerability
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed

#2730 docs(v2): add new community plugin for dotenv support
  website/docs/resources.md
Labels: CLA Signed

#2729 chore(v2): upgrade Infima to 0.2.0-alpha.10
  CHANGELOG-2.x.md
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPaginator/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostPaginator/index.js
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/BlogListPaginator/index.js
  packages/docusaurus-theme-classic/src/theme/BlogPostPaginator/index.js
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.js
  packages/docusaurus-theme-classic/src/theme/Tabs/index.js
  yarn.lock
Labels: CLA Signed, tag: polish

#2668 feat(v2): bootstrap layout navbar
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/bootstrap/src/pages/index.js
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/Navbar/index.js
  packages/docusaurus-theme-bootstrap/src/theme/ThemeContext.js
  packages/docusaurus-theme-bootstrap/src/theme/hooks/useLogo.js
  packages/docusaurus-theme-bootstrap/src/theme/hooks/useThemeContext.js
  packages/docusaurus/src/client/exports/BrowserOnly.tsx
  yarn.lock
Labels: CLA Signed, tag: new feature

#2694 feat(v2): add canonical URL to <head>
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
Labels: CLA Signed, tag: new feature

#2739 chore(v2): Add missing copyright headers
  packages/docusaurus-init/templates/bootstrap/src/pages/styles.module.css
  packages/docusaurus-init/templates/classic/src/pages/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Heading/styles.module.css
Labels: CLA Signed

#2746 feat(v2): allow prepending of baseUrl to href in navbar and footer
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus/src/client/exports/useBaseUrl.ts
  website/docs/theme-classic.md
Labels: CLA Signed

#2747 docs: fixed getting-started-publishing.md
  docs/getting-started-publishing.md
Labels: CLA Signed

#2751 fix(v2): fix index page features.length when 0
  packages/docusaurus-init/templates/bootstrap/src/pages/index.js
  packages/docusaurus-init/templates/classic/src/pages/index.js
  packages/docusaurus-init/templates/facebook/src/pages/index.js
Labels: CLA Signed, tag: bug fix

#2753 docs(v2): typo in creating page
  website/docs/creating-pages.md
Labels: CLA Signed

#2755 docs(v2): fix typo in deployment
  website/docs/deployment.md
Labels: CLA Signed

#2757 docs(v2): change fanny's description
  website/docs/team.md
Labels: CLA Signed

#2759 fix(v2): restore hiding of docs toc
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
Labels: CLA Signed, tag: bug fix

#2756 feat(v2): add search page 🔎
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/theme/hooks/useVersioning.ts
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/index.js
  packages/docusaurus-theme-search-algolia/src/pages/search/index.js
  packages/docusaurus-theme-search-algolia/src/pages/search/styles.module.css
  packages/docusaurus-theme-search-algolia/src/templates/opensearch.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/hooks/useSearchQuery.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start.ts
  yarn.lock
Labels: CLA Signed, tag: new feature

#2758 fix(v2): remove extra top margin of tab item
  packages/docusaurus-theme-classic/src/theme/Tabs/styles.module.css
Labels: CLA Signed, tag: bug fix

#2760 fix(v2): move anchor link to right of heading
  packages/docusaurus-theme-classic/src/theme/Heading/index.js
  packages/docusaurus-theme-classic/src/theme/Heading/styles.css
Labels: CLA Signed, tag: bug fix

#2652 feat(v2): allow home page for docs
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/plugins/index.ts
  website/docs/docs.md
  website/docs/lifecycle-apis.md
  website/docs/using-plugins.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#2709 feat(v2): bootstrap MDX Components
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-bootstrap/src/theme/MDXComponents/index.js
Labels: CLA Signed

#2710 feat(v2): bootstrap layout
  packages/docusaurus-init/templates/bootstrap/src/pages/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsPostsPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/Footer/index.js
  packages/docusaurus-theme-bootstrap/src/theme/Layout/index.js
  packages/docusaurus-theme-bootstrap/src/theme/Navbar/index.js
Labels: CLA Signed, tag: new feature

#2690 feat(v2): allow activeBaseTest in NavLink
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docs/theme-classic.md
Labels: CLA Signed, tag: new feature

#2711 feat(v2): bootstrap docs components
  packages/docusaurus-init/templates/bootstrap/docs/doc1.md
  packages/docusaurus-init/templates/bootstrap/docs/doc2.md
  packages/docusaurus-init/templates/bootstrap/docs/doc3.md
  packages/docusaurus-init/templates/bootstrap/docs/mdx.md
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-bootstrap/src/index.js
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-bootstrap/src/theme/DocItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/DocPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/MDXComponents/index.js
Labels: CLA Signed

#2693 fix(v2): add support esModule to lqip-loader
  packages/lqip-loader/src/index.js
Labels: CLA Signed, tag: new feature

#2716 refactor(v2): change the label for docs introduction
  website/docs/docs.md
  website/sidebars.js
Labels: CLA Signed

#2464 feat(v2): add @theme-init alias to give access to initial components
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/usePrismTheme.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.js
  packages/docusaurus/src/server/themes/__tests__/index.ts
  packages/docusaurus/src/server/themes/index.ts
Labels: CLA Signed, tag: new feature

#2734 feat(v2): bootstrap doc paginator
  packages/docusaurus-init/templates/bootstrap/docs/doc1.md
  packages/docusaurus-init/templates/bootstrap/docs/doc2.md
  packages/docusaurus-init/templates/bootstrap/docs/doc3.md
  packages/docusaurus-init/templates/bootstrap/docs/mdx.md
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/bootstrap/sidebars.js
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-bootstrap/src/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostPaginator/index.js
  packages/docusaurus-theme-bootstrap/src/theme/DocItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/DocPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/DocPaginator/index.js
Labels: CLA Signed, tag: new feature

#2761 refactor(v2): improve UX of search page
  packages/docusaurus-theme-search-algolia/src/pages/search/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
Labels: CLA Signed, tag: polish

#2762 fix(v2): avoid duplication search input in navbar
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
Labels: CLA Signed, tag: bug fix

#2735 feat(v2): bootstrap doc sidebar
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-bootstrap/src/theme/DocItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/DocPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-bootstrap/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-bootstrap/src/theme/Footer/index.js
  packages/docusaurus-theme-bootstrap/src/theme/Layout/index.js
  packages/docusaurus-theme-bootstrap/src/theme/Navbar/index.js
  packages/docusaurus-theme-bootstrap/src/theme/hooks/useLockBodyScroll.js
Labels: CLA Signed, tag: new feature

#2670 docs(v2): add deployment workflow manual for GitHub Actions
  website/docs/deployment.md
Labels: CLA Signed, tag: documentation

#2764 feat(v2): allow import SVG images
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/base.ts
  website/docs/static-assets.md
  yarn.lock
Labels: CLA Signed, tag: breaking change, tag: new feature

#2765 fix(v2): remove invalid attr from mobile nav links
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
Labels: CLA Signed, tag: bug fix

#2766 refactor(v2): remove extra active CSS class for menu item links
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Labels: CLA Signed, tag: polish

#2767 refactor(v2): add support for dark mode to live code blocks
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/styles.module.css
Labels: CLA Signed, tag: polish

#2768 docs(v2): various improvements
  website/docs/blog.md
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/creating-pages.md
  website/docs/deployment.md
  website/docs/docs.md
  website/docs/docusaurus-core.md
  website/docs/docusaurus.config.js.md
  website/docs/installation.md
  website/docs/introduction.md
  website/docs/lifecycle-apis.md
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/docs/presets.md
  website/docs/static-assets.md
  website/docs/styling-layout.md
  website/docs/theme-classic.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.54/blog.md
Labels: CLA Signed, tag: documentation

#2763 chore(v2): mention about docs home page in init templates
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/bootstrap/src/pages/index.js
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/classic/src/pages/index.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/src/pages/index.js
  website/docusaurus.config.js
Labels: CLA Signed

#2701 fix(v2): remove Markdown syntax from excerpt
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/metadata.test.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: bug fix

#2773 chore(v2): upgrade Infima to 0.2.0-alpha.11
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  yarn.lock
Labels: CLA Signed, tag: polish

#2774 chore(v2): v2.0.0-alpha.55
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.55/blog.md
  website/versioned_docs/version-2.0.0-alpha.55/cli.md
  website/versioned_docs/version-2.0.0-alpha.55/configuration.md
  website/versioned_docs/version-2.0.0-alpha.55/contributing.md
  website/versioned_docs/version-2.0.0-alpha.55/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.55/deployment.md
  website/versioned_docs/version-2.0.0-alpha.55/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.55/docs.md
  website/versioned_docs/version-2.0.0-alpha.55/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.55/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.55/installation.md
  website/versioned_docs/version-2.0.0-alpha.55/introduction.md
  website/versioned_docs/version-2.0.0-alpha.55/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.55/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.55/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.55/presets.md
  website/versioned_docs/version-2.0.0-alpha.55/resources.md
  website/versioned_docs/version-2.0.0-alpha.55/search.md
  website/versioned_docs/version-2.0.0-alpha.55/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.55/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.55/support.md
  website/versioned_docs/version-2.0.0-alpha.55/team.md
  website/versioned_docs/version-2.0.0-alpha.55/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.55/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.55/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.55/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.55-sidebars.json
  website/versions.json
Labels: CLA Signed

#2777 fix(v2): check for docs homepage correctly
  packages/docusaurus-plugin-content-docs/src/index.ts
Labels: CLA Signed, tag: bug fix

#2778 fix(v2): do not highlight root docs path in navbar
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal

#2780 feat(v2): open external links in new tab by default
  packages/docusaurus/src/client/exports/Link.tsx
Labels: CLA Signed, tag: breaking change

#2783 refactor(v2): make external links more secure
  packages/docusaurus/src/client/exports/Link.tsx
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: polish

#2775 misc: update debug config for Docusaurus v2 in VS Code
  admin/testing-changes-on-Docusaurus-itself.md
Labels: CLA Signed

#2785 fix(v2): do not show sidebar on reserved docs home page
  packages/docusaurus-plugin-content-docs/src/index.ts
Labels: CLA Signed, tag: bug fix

#2788 fix(v2): use `require.resolve` for all webpack presets and plugins
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed

#2789 fix(v2): Resolve plugins relative to siteDir
  packages/docusaurus/src/server/plugins/init.ts
Labels: CLA Signed

#2786 fix(v2): change docs for markdown features
  packages/docusaurus-init/templates/bootstrap/docs/doc1.md
  packages/docusaurus-init/templates/classic/docs/doc1.md
  packages/docusaurus-init/templates/facebook/docs/doc1.md
Labels: CLA Signed

#2794 fix(v2): Use require.resolve to resolve plugin path in presets
  packages/docusaurus-preset-bootstrap/src/index.js
  packages/docusaurus-preset-classic/src/index.js
  website/docs/presets.md
Labels: CLA Signed

#2795 fix(v2): Ensure that theme classic require webpack provided by `@docusaurus/core`
  packages/docusaurus-theme-classic/src/index.js
Labels: CLA Signed

#2791 refactor(v2): show search icon only on mobiles
  packages/docusaurus-theme-classic/src/theme/Navbar/styles.module.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.module.css
Labels: CLA Signed, tag: breaking change, tag: polish

#2792 style(v2): disable Prettier checks for Markdown files of init templates
  .prettierignore
  packages/docusaurus-init/templates/bootstrap/docs/doc1.md
  packages/docusaurus-init/templates/classic/docs/doc1.md
  packages/docusaurus-init/templates/facebook/docs/doc1.md
Labels: CLA Signed

#2689 feat(v2): allow specifying of remark and rehype plugins before default plugins
  packages/docusaurus-mdx-loader/src/index.js
Labels: CLA Signed

#2796 feat(v2): Use pnp-webpack-plugin to support pnp module resolution
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/base.ts
  yarn.lock
Labels: CLA Signed

#2797 fix(v2): Consistently use require.resolve in official plugins to resolve modules
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-theme-bootstrap/src/index.js
  packages/docusaurus-theme-classic/src/index.js
Labels: CLA Signed

#2799 refactor(v2): increase search input on medium screens
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.module.css
Labels: CLA Signed, tag: polish

#2803 misc: use branded favicon in init templates
  packages/docusaurus-init/templates/bootstrap/static/img/favicon.ico
  packages/docusaurus-init/templates/classic/static/img/favicon.ico
  packages/docusaurus-init/templates/facebook/static/img/favicon.ico
Labels: CLA Signed

#2806 fix(v2): Properly declare peerDependencies
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-classic/package.json
  website/package.json
Labels: CLA Signed

#2801 docs(v2): add trailing slash to external links
  website/docs/contributing.md
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
Labels: CLA Signed

#2802 misc: minor improvements for init templates
  packages/docusaurus-init/templates/bootstrap/docs/doc1.md
  packages/docusaurus-init/templates/bootstrap/docs/doc2.md
  packages/docusaurus-init/templates/bootstrap/docs/mdx.md
  packages/docusaurus-init/templates/classic/docs/doc1.md
  packages/docusaurus-init/templates/classic/docs/doc2.md
  packages/docusaurus-init/templates/classic/docs/mdx.md
  packages/docusaurus-init/templates/facebook/docs/doc1.md
  packages/docusaurus-init/templates/facebook/docs/doc2.md
  packages/docusaurus-init/templates/facebook/docs/mdx.md
Labels: CLA Signed, tag: polish

#2800 fix(v2): make proper h1 font size on mobiles
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
Labels: CLA Signed, tag: bug fix

#2809 docs(v2): add mention on DocSearch when you run the crawler on your own
  docs/guides-search.md
Labels: CLA Signed, tag: documentation

#2645 fix(v2): enable scrolling for sidebar menu only
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.js
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/AnnouncementBarContext.js
  packages/docusaurus-theme-classic/src/theme/AnnouncementBarProvider/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useAnnouncementBar.js
  packages/docusaurus-theme-classic/src/theme/hooks/useAnnouncementBarContext.js
Labels: CLA Signed, tag: bug fix

#2814 refactor(v2): align search icon to center on mobiles
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.module.css
Labels: CLA Signed, tag: polish

#2816 refactor(v2): various tweaks to website
  website/docs/team.md
  website/docusaurus.config.js
  website/src/pages/styles.module.css
  website/src/pages/versions.js
  website/versioned_docs/version-2.0.0-alpha.55/team.md
Labels: CLA Signed, tag: internal

#2818 feat(v2): automatically add base url to logo link
  packages/docusaurus-theme-classic/src/theme/hooks/useLogo.js
Labels: CLA Signed, tag: breaking change, tag: new feature

#2770 feat(v2): allow deploy without building website
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/deploy.ts
  website/docs/cli.md
Labels: CLA Signed, tag: new feature

#2819 fix(v2): Consistently use 10.15.1 as the minimum required node version
  package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/lqip-loader/package.json
  website/docs/installation.md
Labels: CLA Signed

#2820 chore(v2): upgrade Infima to 0.2.0-alpha.12
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, tag: polish

#2821 chore: ignore /coverage folder
  .eslintignore
  .gitignore
  .prettierignore
Labels: CLA Signed

#2822 chore(v2): v2.0.0-alpha.56
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.56/blog.md
  website/versioned_docs/version-2.0.0-alpha.56/cli.md
  website/versioned_docs/version-2.0.0-alpha.56/configuration.md
  website/versioned_docs/version-2.0.0-alpha.56/contributing.md
  website/versioned_docs/version-2.0.0-alpha.56/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.56/deployment.md
  website/versioned_docs/version-2.0.0-alpha.56/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.56/docs.md
  website/versioned_docs/version-2.0.0-alpha.56/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.56/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.56/installation.md
  website/versioned_docs/version-2.0.0-alpha.56/introduction.md
  website/versioned_docs/version-2.0.0-alpha.56/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.56/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.56/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.56/presets.md
  website/versioned_docs/version-2.0.0-alpha.56/resources.md
  website/versioned_docs/version-2.0.0-alpha.56/search.md
  website/versioned_docs/version-2.0.0-alpha.56/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.56/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.56/support.md
  website/versioned_docs/version-2.0.0-alpha.56/team.md
  website/versioned_docs/version-2.0.0-alpha.56/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.56/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.56/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.56/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.56-sidebars.json
  website/versions.json
Labels: CLA Signed

#2682 feat(v2): expanded sidebar categories by default
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-collapsed-first-level.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-collapsed.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/sidebars.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/version.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  website/docs/docs.md
  website/sidebars.js
Labels: CLA Signed, tag: breaking change, tag: new feature

#2829 fix(v2): Fix plugin path resolution
  packages/docusaurus/src/server/plugins/init.ts
Labels: CLA Signed

#2835 fix(v2): set proper font for live editor
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/styles.module.css
Labels: CLA Signed, tag: bug fix

#2842 docs(v2): Update ZEIT to Vercel
  website/docs/deployment.md
Labels: CLA Signed

#2811 misc: add v2 runme demo to README
  .runme/Dockerfile.runme
  .runme/config.yaml
  README.md
Labels: CLA Signed

#2841 feat(v2): Allow swizzling prism-include-languages in theme-classic
  packages/docusaurus-theme-classic/src/prism-include-languages.js
  packages/docusaurus-theme-classic/src/theme/prism-include-languages.js
  website/docs/markdown-features.mdx
Labels: CLA Signed
