Repository facebook/docusaurus, pull requests merged in 2020-10, with the labels that each got.

#3511 misc: update CODEOWNERS
  .github/CODEOWNERS
Labels: CLA Signed, tag: internal

#3506 chore(v2): v2 website should make it easy to contribute to upstream docs
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal

#3504 chore(v1): move v1 docs inside website-1.x
  crowdin.yaml
  packages/docusaurus-1.x/lib/server/__tests__/docs.test.js
  packages/docusaurus-migrate/package-lock.json
  packages/docusaurus-migrate/src/__tests__/migrationConfig.test.ts
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-migrate/src/types.ts
  website-1.x/docs/api-commands.md
  website-1.x/docs/api-doc-markdown.md
  website-1.x/docs/api-pages.md
  website-1.x/docs/api-site-config.md
  website-1.x/docs/getting-started-docker.md
  website-1.x/docs/getting-started-installation.md
  website-1.x/docs/getting-started-preparation.md
  website-1.x/docs/getting-started-publishing.md
  website-1.x/docs/getting-started-site-creation.md
  website-1.x/docs/guides-blog.md
  website-1.x/docs/guides-custom-pages.md
  website-1.x/docs/guides-navigation.md
  website-1.x/docs/guides-search.md
  website-1.x/docs/guides-translation.md
  website-1.x/docs/guides-versioning.md
  website-1.x/docs/tutorial-create-new-site.md
  website-1.x/docs/tutorial-create-pages.md
  website-1.x/docs/tutorial-publish-site.md
  website-1.x/docs/tutorial-setup.md
  website-1.x/docs/tutorial-version.md
  website-1.x/siteConfig.js
Labels: CLA Signed, tag: internal

#3498 fix(v2): fixed props being passed to @svgr/webpack loader
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed, tag: bug fix

#3517 fix(v1): v1 deploy preview should be available
  .gitignore
  package.json
  website-1.x/languages.js
  website-1.x/netlifyUtils.js
  website-1.x/siteConfig.js
  website/netlifyDeployPreview/_redirects
  website/netlifyDeployPreview/index.html
  website/package.json
Labels: CLA Signed, tag: bug fix

#3394 refactor(v2): add useThemeConfig hook + cleanup useless theme default values
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useAnnouncementBar.ts
  packages/docusaurus-theme-classic/src/theme/hooks/useLogo.ts
  packages/docusaurus-theme-classic/src/theme/hooks/usePrismTheme.ts
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.ts
  packages/docusaurus-theme-classic/src/utils/useThemeConfig.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  website/versioned_docs/version-2.0.0-alpha.64/theme-bootstrap.md
Labels: CLA Signed, tag: internal

#3529 feat(v2): add TOC to markdown pages
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
  website/docs/guides/creating-pages.md
Labels: CLA Signed, tag: new feature

#3534 docs(v2): Fix url bugs in v2 docs
  website-1.x/docs/guides-search.md
  website/docs/api/docusaurus.config.js.md
  website/docs/deployment.md
Labels: CLA Signed, tag: documentation

#3538 docs(v1): added drone for 1.0 #3491
  website-1.x/docs/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.14.5/getting-started-publishing.md
Labels: CLA Signed

#3532 docs(v2): change package name in example script
  website/versioned_docs/version-2.0.0-alpha.64/guides/migrating-from-v1-to-v2.md
Labels: CLA Signed, tag: documentation

#3531 fix(v2): Fixes serve cli --port option
  package.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/commandUtils.ts
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/commands/start.ts
  website/package.json
Labels: CLA Signed, tag: bug fix

#3541 feat(v2): Add console output with complete URL including the baseUrl
  packages/docusaurus/src/commands/start.ts
Labels: CLA Signed

#3546 misc: various fixes and improvements
  README.md
  admin/publish.md
  packages/docusaurus-theme-classic/src/theme/hooks/useAnnouncementBar.ts
  packages/docusaurus-theme-classic/src/types.d.ts
  website/docs/cli.md
  website/docs/deployment.md
  website/docs/docusaurus-core.md
  website/docs/guides/creating-pages.md
  website/docs/guides/migrating-from-v1-to-v2.md
  website/docs/introduction.md
  website/docs/lifecycle-apis.md
  website/docs/markdown-features.mdx
  website/docs/using-themes.md
  website/src/pages/examples/markdownPageExample.md
  website/versioned_docs/version-2.0.0-alpha.60/deployment.md
  website/versioned_docs/version-2.0.0-alpha.60/guides/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.60/introduction.md
  website/versioned_docs/version-2.0.0-alpha.60/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.60/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.60/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.61/deployment.md
  website/versioned_docs/version-2.0.0-alpha.61/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.61/guides/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.61/introduction.md
  website/versioned_docs/version-2.0.0-alpha.61/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.61/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.61/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.62/cli.md
  website/versioned_docs/version-2.0.0-alpha.62/deployment.md
  website/versioned_docs/version-2.0.0-alpha.62/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.62/guides/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.62/introduction.md
  website/versioned_docs/version-2.0.0-alpha.62/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.62/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.62/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.63/cli.md
  website/versioned_docs/version-2.0.0-alpha.63/deployment.md
  website/versioned_docs/version-2.0.0-alpha.63/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.63/guides/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.63/introduction.md
  website/versioned_docs/version-2.0.0-alpha.63/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.63/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.63/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.64/cli.md
  website/versioned_docs/version-2.0.0-alpha.64/deployment.md
  website/versioned_docs/version-2.0.0-alpha.64/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.64/guides/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.64/introduction.md
  website/versioned_docs/version-2.0.0-alpha.64/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.64/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.64/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.65/cli.md
  website/versioned_docs/version-2.0.0-alpha.65/deployment.md
  website/versioned_docs/version-2.0.0-alpha.65/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.65/guides/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.65/introduction.md
  website/versioned_docs/version-2.0.0-alpha.65/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.65/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.65/using-themes.md
Labels: CLA Signed, tag: documentation, tag: polish

#3539 feat(v2): doc navbar item type
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/globalData.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  website/docs/theme-classic.md
  website/docusaurus.config.js
  website/sidebars.js
  website/versioned_sidebars/version-2.0.0-alpha.65-sidebars.json
Labels: CLA Signed, tag: new feature

#3545 feat(v2): site client modules
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/client-lifecycles-dispatcher.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/index.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/lifecycle-apis.md
  website/docusaurus.config.js
  website/dogfooding/clientModuleExample.ts
Labels: CLA Signed, tag: new feature

#3548 feat(v2): version dropdown before/after items + move site "All Versions" link
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  packages/docusaurus/src/client/exports/Link.tsx
  website/docs/theme-classic.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#3555 docs(v2): add "Wisdom" dev docs website to showcase.
  website/src/data/showcase/wisdom.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#3554 fix(v2): use absolute path to manifest file
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal

#3558 docs(v2): embedding real source code in MDX as a code block
  website/package.json
  website/src/pages/examples/_myComponent.js
  website/src/pages/examples/markdownPageExample.md
  yarn.lock
Labels: CLA Signed, tag: documentation

#3560 feat(v2): prevent using remote image urls in showcase
  website-1.x/core/Showcase.js
  website-1.x/data/users.js
  website/src/data/users.js
Labels: CLA Signed, tag: new feature

#3553 feat(v2): make dropdown menu collapsible on mobiles
  packages/docusaurus-theme-classic/src/__tests__/utils.test.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/utils/index.ts
Labels: CLA Signed, tag: new feature

#3556 Added Axioms to users
  website/src/data/showcase/axioms.png
  website/src/data/users.js
Labels: CLA Signed

#3574 docs(v2): adding vue-nodegui to users
  website/src/data/showcase/vue-nodegui.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#3569 refactor(v2): improve broken links error message
  packages/docusaurus/src/server/__tests__/__snapshots__/brokenLinks.test.ts.snap
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
Labels: CLA Signed, tag: polish

#3565 docs(v2): deployment, add required Github token scope infos
  website/docs/deployment.md
Labels: CLA Signed, tag: documentation

#3571 feat(v2): add option for blog meta title
  packages/docusaurus-plugin-content-blog/index.d.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.tsx
  website/docs/blog.md
  website/docs/using-plugins.md
Labels: CLA Signed

#3543 feat(v2): persist docs preferred version
  packages/docusaurus-plugin-content-docs/src/theme/hooks/useDocs.ts
  packages/docusaurus-theme-classic/src/theme/DocVersionSuggestions/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionNavbarItem.tsx
  packages/docusaurus-theme-classic/src/utils/docsPreferredVersion/DocsPreferredVersionProvider.tsx
  packages/docusaurus-theme-classic/src/utils/docsPreferredVersion/DocsPreferredVersionStorage.ts
  packages/docusaurus-theme-classic/src/utils/docsPreferredVersion/useDocsPreferredVersion.ts
  packages/docusaurus-theme-classic/src/utils/docsUtils.ts
  packages/docusaurus-theme-classic/src/utils/useThemeConfig.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  packages/docusaurus/src/client/exports/constants.ts
  website/docs/docusaurus-core.md
  yarn.lock
Labels: CLA Signed, tag: new feature

#3577 refactor(v2): clarify versions page
  website/src/pages/versions.js
Labels: CLA Signed, tag: internal

#3573 feat(v2): Add themeConfig.noIndex option #3528
  packages/docusaurus-migrate/src/__tests__/__fixtures__/expectedSiteConfig.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/sourceSiteConfig.js
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-migrate/src/types.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/client/templates/ssr.html.template.js
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/webpack/server.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/guides/migrating-from-v1-to-v2.md
Labels: CLA Signed

#3580 feat(v2): allow to define custom CSS class for Tabs component
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  website/docs/markdown-features.mdx
  website/src/css/custom.css
Labels: CLA Signed, tag: new feature

#3578 refactor(v2): apply common behavior to dropdowns
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
Labels: CLA Signed, tag: breaking change

#3586 chore(v2): fix/upgrade react types
  package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#3589 docs(v2): add taro to users
  website/src/data/showcase/docs-taro-zone.png
  website/src/data/users.js
Labels: CLA Signed

#3550 feat(v2): contextual search, dynamic Algolia facetFilters
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/theme/hooks/useDocs.ts
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-theme-classic/src/theme/LayoutProviders/index.tsx
  packages/docusaurus-theme-classic/src/theme/SearchMetadatas/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useContextualSearchFilters.ts
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-classic/src/utils/docsPreferredVersion/useDocsPreferredVersion.ts
  packages/docusaurus-theme-classic/src/utils/searchUtils.ts
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchMetadatas/index.js
  packages/docusaurus-theme-search-algolia/src/utils/algoliaSearchUtils.js
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.js
  website/docs/search.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: breaking change, tag: new feature

#3591 chore(v2): enable new contextual search feature
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal

#3588 refactor(v2): make accessible copy code button from keyboard
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed, tag: polish

#3469 feat(v2): Extract npm2yarn plugin
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-remark-plugin-npm2yarn/README.md
  packages/docusaurus-remark-plugin-npm2yarn/example.png
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/fixtures/installation.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/fixtures/plugin.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/fixtures/syntax-not-properly-set.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.js
  packages/docusaurus-remark-plugin-npm2yarn/src/index.js
  website/docusaurus.config.js
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: new feature

#3595 chore(v2): Remove unused deps from docusaurus-mdx-loader
  packages/docusaurus-mdx-loader/package.json
Labels: CLA Signed

#3587 refactor(v2): various fixes
  packages/docusaurus-theme-classic/src/__tests__/utils.test.js
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus/src/client/templates/ssr.html.template.js
  website-1.x/data/users.js
  website/docs/api/docusaurus.config.js.md
  website/docs/lifecycle-apis.md
  website/docs/theme-classic.md
  website/src/data/users.js
  website/static/manifest.json
Labels: CLA Signed, tag: polish

#3585 refactor(v2): various dropdown improvements
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  yarn.lock
Labels: CLA Signed, tag: polish

#3599 fix(v2): remove event listeners on Tabs component unmount
  packages/docusaurus-theme-bootstrap/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
Labels: CLA Signed, tag: bug fix

#3593 feat(v2): blog sidebar
  packages/docusaurus-plugin-content-blog/index.d.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
  website/docs/using-plugins.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#3601 fix(v2): fix table-of-content scroll highlighting issues
  packages/docusaurus-theme-classic/src/theme/hooks/useTOCHighlight.ts
Labels: CLA Signed, tag: bug fix

#3576 docs(v2): removed obsolete "you" identifier
  website/docs/using-plugins.md
Labels: CLA Signed, tag: documentation

#3602 fix(v2): make dropdown button clickable with mouse
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
Labels: CLA Signed, tag: bug fix

#3607 fix(v2): fix error with required href attr of link in mobiles
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus/src/client/exports/Link.tsx
Labels: CLA Signed, tag: bug fix

#3609 refactor(v2): Improve SSR error message: log page path
  packages/docusaurus/src/client/serverEntry.js
Labels: CLA Signed, tag: polish

#3616 docs(v2): add a community plugin
  website/community/resources.md
Labels: CLA Signed

#3613 fix: add repository metadata to all packages
  __tests__/validate-package-json.test.ts
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
Labels: CLA Signed, tag: internal

#3611 fix(v2): Added back support for optional logo field in theme-classic navbarConfig
  packages/docusaurus-theme-classic/src/theme/hooks/useLogo.ts
Labels: CLA Signed, tag: bug fix

#3619 refactor(v2): add better error message for yarn workspace/monorepo/terser issue
  packages/docusaurus/src/client/serverEntry.js
Labels: CLA Signed, tag: internal

#3603 fix(v2): animate dropdown properly
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
Labels: CLA Signed, tag: bug fix

#3622 fix(v2): docusaurus start --poll 500 should work + better config load failure error
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/config.ts
  website/docs/cli.md
Labels: CLA Signed, tag: bug fix

#3604 refactor(v2): use new way to get versions for search page
  packages/docusaurus-plugin-content-docs/src/theme/hooks/useVersioning.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/styles.module.css
Labels: CLA Signed, tag: polish

#3615 feat(v2): add ability to hide doc sidebar
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/icons/arrow.svg
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-classic/src/utils/useThemeConfig.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  website/docs/docs.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#3624 Fix typo in remark-plugin-npm2yarn documentation
  packages/docusaurus-remark-plugin-npm2yarn/README.md
Labels: CLA Signed

#3630 docs: remove runme
  .runme/Dockerfile.runme
  .runme/config.yaml
  README.md
Labels: CLA Signed, tag: documentation

#3636 docs(v2): fix some misspellings
  website/docs/using-plugins.md
  website/docs/versioning.md
  website/versioned_docs/version-2.0.0-alpha.66/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.66/versioning.md
Labels: CLA Signed, documentation

#3637 fix(v2): wrap code blocks on print
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed

#3641 misc: fix unbound env variable in test release script
  admin/scripts/test-release.sh
Labels: CLA Signed, tag: internal

#3640 feat(v2): add skip to content link
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/styles.module.css
Labels: CLA Signed, tag: new feature

#3638 chore(v2): migrate hapi/joi to joi
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/normalizePluginOptions.ts
  packages/docusaurus-plugin-client-redirects/src/redirectValidation.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/pluginOptionSchema.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/pluginOptionSchema.js
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/pluginOptionSchema.ts
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.js
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/server/configValidation.ts
  yarn.lock
Labels: CLA Signed, tag: polish

#3627 fix(v2): disable tabbing on hidden doc sidebar
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
Labels: CLA Signed, tag: bug fix

#3594 feat(v2): add support for key,cert in https
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/cli.md
Labels: CLA Signed, tag: new feature

#3639 fix(v2): restore infinite scroll pagination on search page
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.js
Labels: CLA Signed, tag: bug fix

#3644 docs(v2): update the link of joi
  website/docs/lifecycle-apis.md
Labels: CLA Signed

#3626 refactor(v2): remove focus outline from mouse users
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/styles.css
  packages/docusaurus-theme-classic/src/theme/hooks/useKeyboardNavigation.ts
  packages/docusaurus-theme-classic/src/types.d.ts
Labels: CLA Signed, tag: polish

#3645 Update Docusaurus v2 Showcase
  website/src/data/showcase/nextauthjs.png
  website/src/data/users.js
Labels: CLA Signed

#3650 fix(v2): add landmark for skip to content link
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
Labels: CLA Signed, tag: bug fix

#3651 docs(v1): fix typo on Add Versions doc page
  website-1.x/docs/tutorial-version.md
Labels: CLA Signed

#3647 fix(v2): do not set height for mobile dropdown during build
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
Labels: CLA Signed, tag: bug fix

#3654 refactor(v2): clean up code blocks
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
Labels: CLA Signed, tag: polish

#3653 fix(v2): handle multiple asset links in one line properly
  packages/docusaurus-mdx-loader/src/remark/rightToc/search.js
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.js
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/fixtures/asset.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/fixtures/static/staticAssetImage.png
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.js
  packages/docusaurus-mdx-loader/src/remark/utils/index.js
Labels: CLA Signed, tag: bug fix

#3666 fix(v2): make optional title for footer links column
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
Labels: CLA Signed, tag: bug fix

#3658 feat(v2): onBrokenMarkdownLinks config
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/expectedSiteConfig.js
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-migrate/src/types.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/duplicateRoutes.ts
  packages/docusaurus/src/server/utils.ts
  website/docs/api/docusaurus.config.js.md
  website/docusaurus.config-blog-only.js
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature
