Repository facebook/docusaurus, pull requests merged in 2020-06, with the labels that each got.

#2854 fix(v2): fix broken build when swizzled NotFound component exist
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#2852 misc: move runme demo in block quote about v2
  README.md
Labels: CLA Signed

#2855 fix(v2): strip images and footnotes for excerpt correctly
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: bug fix

#2839 docs(v2): _index docs page does not show a sidebar
  website/docs/docs.md
Labels: CLA Signed

#2858 refactor(v2): add missing main landmark for needed pages
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.js
  website/src/pages/feedback/index.js
  website/src/pages/showcase/index.js
  website/src/pages/versions.js
Labels: CLA Signed, tag: internal, tag: polish

#2859 refactor(v2): add aria label to paginators
  packages/docusaurus-theme-classic/src/theme/BlogListPaginator/index.js
  packages/docusaurus-theme-classic/src/theme/BlogPostPaginator/index.js
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.js
Labels: CLA Signed, tag: polish

#2862 Updated banner in solidarity
  website-1.x/pages/en/index.js
  website/src/pages/index.js
Labels: CLA Signed

#2856 feat(v2): allow specifying meta image for blog posts
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.ts
  packages/docusaurus/src/client/exports/useBaseUrl.ts
  website/docs/blog.md
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: new feature

#2838 fix(v2): use base url to navigate to search page
  packages/docusaurus-theme-search-algolia/src/theme/hooks/useSearchQuery.js
Labels: CLA Signed, tag: bug fix

#2865 docs(v2): description field in frontmatter of blog post
  website/docs/blog.md
Labels: CLA Signed, tag: documentation

#2864 refactor(v2): add aria role for doc sidebar
  packages/docusaurus-theme-classic/src/theme/DocPage/index.js
Labels: CLA Signed, tag: polish

#2771 feat(v2): feature/docs slug frontmatter (v2)
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/bad-id-site/docs/invalid-id.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/bad-slug-site/docs/invalid-slug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/foo/baz.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/docs/foo/bar.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versioned_docs/version-1.0.0/foo/bar.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/metadata.test.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  website/docs/docs.md
Labels: CLA Signed

#2867 fix(v2): fix FOUC in doc sidebar and various improvements
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/sidebars.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/version.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Labels: CLA Signed

#2861 fix(v2): do not create route for document that serve as docs home page
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/index.ts
  website/docs/docs.md
Labels: CLA Signed, tag: breaking change, tag: bug fix

#2857 fix(v2): treat inline code in raw HTML as native element
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.js
Labels: CLA Signed, tag: bug fix

#2874 fix(v2): Getting Started URL
  website/src/pages/index.js
Labels: CLA Signed

#2826 feat(v2): allow adding components to react-live scope
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/ReactLiveScope/index.js
  website/docs/markdown-features.mdx
  website/src/theme/ReactLiveScope/components.js
  website/src/theme/ReactLiveScope/index.js
Labels: CLA Signed

#2880 fix(v2): render as regular text uncollapsible categories
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
Labels: CLA Signed, tag: polish

#2887 docs(v2): make .nojekyll warning more obvious
  website/docs/deployment.md
  website/docs/static-assets.md
Labels: tag: documentation

#2870 refactor(v2): combine nested theme providers into one
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.js
  packages/docusaurus-theme-classic/src/theme/AnnouncementBarProvider/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/TabGroupChoiceContext.js
  packages/docusaurus-theme-classic/src/theme/TabGroupChoiceProvider/index.js
  packages/docusaurus-theme-classic/src/theme/Tabs/index.js
  packages/docusaurus-theme-classic/src/theme/UserPreferencesContext.js
  packages/docusaurus-theme-classic/src/theme/UserPreferencesProvider/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useAnnouncementBarContext.js
  packages/docusaurus-theme-classic/src/theme/hooks/useUserPreferencesContext.js
Labels: CLA Signed, tag: polish

#2860 fix(v2): bootstrap doc sidebar
  packages/docusaurus-theme-bootstrap/README.md
  packages/docusaurus-theme-bootstrap/src/theme/DocPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/Navbar/index.js
Labels: CLA Signed

#2888 fix(v2): restore styles for menu scrollbar
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
Labels: CLA Signed, tag: bug fix

#2886 docs(v2): fix typo in command on installation page
  website/docs/installation.md
  website/versioned_docs/version-2.0.0-alpha.56/installation.md
Labels: CLA Signed

#2893 fix(v2): Do not automatically change tab when a non-existing option is selected
  packages/docusaurus-theme-classic/src/theme/Tabs/index.js
  website/docs/markdown-features.mdx
Labels: CLA Signed

#2897 refactor(v2): synchronize yarn/npm command on site
  website/src/plugins/remark-npm2yarn.js
Labels: CLA Signed, tag: internal

#2896 fix(v2): set correct canonical url for docs home page
  packages/docusaurus-theme-classic/src/theme/DocPage/index.js
Labels: CLA Signed, tag: bug fix

#2895 chore(v2): replace classnames with clsx
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/classic/src/pages/index.js
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-init/templates/facebook/src/pages/index.js
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
  packages/docusaurus-theme-classic/src/theme/Heading/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/Tabs/index.js
  packages/docusaurus-theme-classic/src/theme/Toggle/index.js
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.js
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/pages/search/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus/package.json
  website/docs/migrating-from-v1-to-v2.md
  website/package.json
  website/src/pages/feedback/index.js
  website/src/pages/index.js
  website/src/pages/showcase/index.js
  yarn.lock
Labels: CLA Signed, tag: performance

#2900 chore(v2): replace Clipboard with copy-text-to-clipboard
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/package.json
  yarn.lock
Labels: CLA Signed, tag: performance

#2902 feat(v2): add nojekyll file to static folder for all templates
  packages/docusaurus-init/templates/bootstrap/static/.nojekyll
  packages/docusaurus-init/templates/classic/static/.nojekyll
  packages/docusaurus-init/templates/facebook/static/.nojekyll
Labels: CLA Signed

#2906 chore(v2): fix async tests
  packages/docusaurus-1.x/lib/server/__tests__/utils.test.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/metadata.test.ts
Labels: CLA Signed

#2910 docs(v2):Fixed Github action workflow in Documentation
  website/docs/deployment.md
Labels: CLA Signed

#2903 feat(v2): Allow configuring babel via babel.config.js
  packages/docusaurus-init/templates/bootstrap/babel.config.js
  packages/docusaurus-init/templates/classic/babel.config.js
  packages/docusaurus-init/templates/facebook/babel.config.js
  packages/docusaurus/src/babel/preset.ts
  packages/docusaurus/src/constants.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/utils.ts
  website/babel.config.js
  website/docs/configuration.md
Labels: CLA Signed

#2928 feat(v2): Implement proof-of-concept Docusaurus Debug Dashboard
  .eslintignore
  .gitignore
  .prettierignore
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-debug/src/index.ts
  packages/docusaurus-plugin-debug/src/theme/Debug/index.js
  packages/docusaurus-plugin-debug/src/theme/Debug/styles.module.css
  packages/docusaurus-plugin-debug/tsconfig.json
  packages/docusaurus-preset-classic/src/index.js
Labels: CLA Signed

#2931 chore(v2): remove unused hooks from bootstrap theme
  packages/docusaurus-theme-bootstrap/src/theme/DocPaginator/index.js
  packages/docusaurus-theme-bootstrap/src/theme/ThemeContext.js
  packages/docusaurus-theme-bootstrap/src/theme/hooks/useLogo.js
  packages/docusaurus-theme-bootstrap/src/theme/hooks/useThemeContext.js
Labels: CLA Signed

#2933 docs(v2): add documentation for multiple blogs
  website/docs/blog.md
  website/docs/deployment.md
  website/docs/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.48/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.50/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.54/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.55/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.56/blog.md
  website/versioned_docs/version-2.0.0-alpha.56/using-plugins.md
Labels: CLA Signed, tag: documentation

#2929 chore(v2): Run E2E tests in CI
  .github/workflows/e2e-test.yml
Labels: CLA Signed

#2935 docs(v2): Add router implementation note
  website/docs/docusaurus-core.md
Labels: CLA Signed

#2934 docs(v2): add useThemeContext note
  website/docs/theme-classic.md
Labels: CLA Signed

#2916 feat(v2): add a banner that links to latest version of documentation
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/metadata.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
Labels: CLA Signed

#2936 perf(v2): convert synchronous filewrite to asynchronous
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
Labels: CLA Signed

#2940 Update change log
  CHANGELOG-2.x.md
Labels: CLA Signed

#2921 bug(v2): upgrade react-loadable-ssr-addon
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed

#2922 misc(v2): better dx: yarn clear, yarn watch, yarn serve
  package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed

#2909 fix(v2): adjust anchor offset when routes switched
  packages/docusaurus-theme-classic/src/theme/Heading/styles.module.css
Labels: CLA Signed, tag: bug fix

#2941 docs(v2): wrap all plugin imports in require.resolve()
  website/versioned_docs/version-2.0.0-alpha.56/using-plugins.md
Labels: CLA Signed, tag: documentation

#2946 docs(v2): add require.resolve to plugin imports on remaining pages
  website/versioned_docs/version-2.0.0-alpha.56/blog.md
  website/versioned_docs/version-2.0.0-alpha.56/configuration.md
  website/versioned_docs/version-2.0.0-alpha.56/presets.md
  website/versioned_docs/version-2.0.0-alpha.56/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.56/using-themes.md
Labels: CLA Signed

#2948 refactor(v2): legacy export = syntax
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
  packages/docusaurus-plugin-content-docs/src/markdown/index.ts
Labels: CLA Signed

#2944 fix(v2): Declare @docusaurus-plugin-debug as dependency of preset classic
  packages/docusaurus-preset-classic/package.json
Labels: CLA Signed

#2951 fix(v2): Add optional-chaining and nullish-coalescing babel plugin
  packages/docusaurus/src/babel/preset.ts
  yarn.lock
Labels: CLA Signed

#2932 fix(v2): Add hooks to detect window resize, toggle off sidebar and navbar in desktop
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useWindowSize.js
Labels: CLA Signed, bug, difficulty: starter, tag: bug fix

#2905 fix(v2): fix docs homepage permalink issues
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/bad-slug-on-doc-home-site/docs/docWithSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/metadata.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-bootstrap/src/theme/DocPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Labels: CLA Signed, tag: bug fix

#2954 chore(v2): prepare v2.0.0.alpha-57 release
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.57/blog.md
  website/versioned_docs/version-2.0.0-alpha.57/cli.md
  website/versioned_docs/version-2.0.0-alpha.57/configuration.md
  website/versioned_docs/version-2.0.0-alpha.57/contributing.md
  website/versioned_docs/version-2.0.0-alpha.57/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.57/deployment.md
  website/versioned_docs/version-2.0.0-alpha.57/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.57/docs.md
  website/versioned_docs/version-2.0.0-alpha.57/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.57/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.57/installation.md
  website/versioned_docs/version-2.0.0-alpha.57/introduction.md
  website/versioned_docs/version-2.0.0-alpha.57/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.57/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.57/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.57/presets.md
  website/versioned_docs/version-2.0.0-alpha.57/resources.md
  website/versioned_docs/version-2.0.0-alpha.57/search.md
  website/versioned_docs/version-2.0.0-alpha.57/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.57/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.57/support.md
  website/versioned_docs/version-2.0.0-alpha.57/team.md
  website/versioned_docs/version-2.0.0-alpha.57/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.57/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.57/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.57/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.57-sidebars.json
  website/versions.json
Labels: CLA Signed

#2949 chore(v2): fix eslint TS setup
  .eslintignore
  .eslintrc.js
  package.json
  packages/docusaurus-1.x/.eslintrc.js
  packages/docusaurus-init/templates/facebook/.eslintrc.js
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/createRedirectPageContent.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/extensionRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/normalizePluginOptions.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/redirectValidation.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/writeRedirectFiles.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/linkify.test.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus/src/babel/preset.ts
  packages/docusaurus/src/client/types.d.ts
  packages/docusaurus/src/server/client-modules/__tests__/index.test.ts
  packages/docusaurus/src/server/html-tags/__tests__/index.test.ts
  packages/docusaurus/src/server/presets/__tests__/index.test.ts
  packages/docusaurus/src/webpack/plugins/ChunkAssetPlugin.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#2957 docs: mention posthog-docusaurus plugin
  website/docs/resources.md
Labels: CLA Signed

#2958 docs(v2): rename 2.0.0-alpha.57 to 2.0.0-alpha.58
  website/versioned_docs/version-2.0.0-alpha.58/blog.md
  website/versioned_docs/version-2.0.0-alpha.58/cli.md
  website/versioned_docs/version-2.0.0-alpha.58/configuration.md
  website/versioned_docs/version-2.0.0-alpha.58/contributing.md
  website/versioned_docs/version-2.0.0-alpha.58/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.58/deployment.md
  website/versioned_docs/version-2.0.0-alpha.58/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.58/docs.md
  website/versioned_docs/version-2.0.0-alpha.58/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.58/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.58/installation.md
  website/versioned_docs/version-2.0.0-alpha.58/introduction.md
  website/versioned_docs/version-2.0.0-alpha.58/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.58/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.58/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.58/presets.md
  website/versioned_docs/version-2.0.0-alpha.58/resources.md
  website/versioned_docs/version-2.0.0-alpha.58/search.md
  website/versioned_docs/version-2.0.0-alpha.58/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.58/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.58/support.md
  website/versioned_docs/version-2.0.0-alpha.58/team.md
  website/versioned_docs/version-2.0.0-alpha.58/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.58/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.58/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.58/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.58-sidebars.json
  website/versions.json
Labels: CLA Signed

#2966 docs(v2): update grammar in plugin-content-pages example
  website/versioned_docs/version-2.0.0-alpha.58/using-plugins.md
Labels: CLA Signed

#2960 doc(v2): publish doc update after alpha.58 release
  .gitignore
  admin/publish.md
Labels: CLA Signed, tag: documentation

#2967 docs(v2): fix typos in plugin-content examples
  website/docs/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.58/using-plugins.md
Labels: CLA Signed

#2963 docs(v2): update docs about creating a new plugin
  website/docs/using-plugins.md
Labels: CLA Signed, tag: documentation

#2972 chore(v2): Fix a lot of eslint warnings
  .eslintrc.js
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/redirectValidation.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/writeRedirectFiles.test.ts
  packages/docusaurus-plugin-client-redirects/src/extensionRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/normalizePluginOptions.ts
  packages/docusaurus-plugin-client-redirects/src/redirectValidation.ts
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/markdown/linkify.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/version.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/babel/preset.ts
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/exports/Head.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/Noop.ts
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.ts
  packages/docusaurus/src/client/exports/useDocusaurusContext.ts
  packages/docusaurus/src/client/prefetch.ts
  packages/docusaurus/src/client/preload.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/client-modules/__tests__/index.test.ts
  packages/docusaurus/src/server/client-modules/index.ts
  packages/docusaurus/src/server/config.ts
  packages/docusaurus/src/server/html-tags/__tests__/index.test.ts
  packages/docusaurus/src/server/html-tags/htmlTags.ts
  packages/docusaurus/src/server/html-tags/index.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/presets/index.ts
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/plugins/ChunkAssetPlugin.ts
  packages/docusaurus/src/webpack/plugins/CleanWebpackPlugin.ts
  packages/docusaurus/src/webpack/utils.ts
  packages/lqip-loader/src/__tests__/index.test.ts
Labels: CLA Signed

#2977 chore(v2): Remove extraneous package-lock.json
  packages/docusaurus-theme-classic/package-lock.json
Labels: CLA Signed

#2950 chore(v2): Implement a simple E2E testing mechanism for `docusausus start`
  .github/workflows/e2e-test.yml
  packages/docusaurus/src/commands/start.ts
Labels: CLA Signed

#2969 fix: fromExtensions and toExtensions translation when used with baseUrl
  packages/docusaurus-plugin-client-redirects/src/__tests__/extensionRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/extensionRedirects.ts
Labels: CLA Signed

#2962 Feat: replace yup with joi for cleaner validation
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/collectRedirects.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/normalizePluginOptions.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/redirectValidation.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/normalizePluginOptions.ts
  packages/docusaurus-plugin-client-redirects/src/redirectValidation.ts
  yarn.lock
Labels: CLA Signed

#2974 feat(v2): Error when hooks depends on context is used outside of Layout
  packages/docusaurus-theme-classic/src/theme/ThemeContext.js
  packages/docusaurus-theme-classic/src/theme/UserPreferencesContext.js
  packages/docusaurus-theme-classic/src/theme/hooks/useThemeContext.js
  packages/docusaurus-theme-classic/src/theme/hooks/useUserPreferencesContext.js
Labels: CLA Signed

#2943 feat(v2): option and config validation life cycle method for official plugins
  packages/docusaurus-plugin-client-redirects/src/redirectValidation.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/validation.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/validation.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-blog/src/validation.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/index.js
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-live-codeblock/src/index.js
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/plugins/init.ts
  website/docs/lifecycle-apis.md
  website/docs/using-themes.md
  yarn.lock
Labels: CLA Signed

#2983 docs(v2): add plugin redirects production build note
  website/docs/using-plugins.md
Labels: CLA Signed, tag: documentation

#2991 Showcase Amphora Data
  website/src/data/showcase/amphora.png
  website/src/data/users.js
Labels: CLA Signed

#2973 Fix typo in markdown-features
  website/docs/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.58/markdown-features.mdx
Labels: CLA Signed, tag: documentation

#2877 feat(v2): allow skipping build docs for next version
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/docs/using-plugins.md
Labels: CLA Signed, tag: new feature

#2955 Add deletedDocs config to fix unwanted versioning fallback
  docs/api-site-config.md
  docs/guides-versioning.md
  packages/docusaurus-1.x/lib/server/readMetadata.js
  packages/docusaurus-1.x/lib/server/versionFallback.js
Labels: CLA Signed

#2996 chore(v2): Merge devDependencies in theme-classic
  packages/docusaurus-theme-classic/package.json
Labels: CLA Signed

#2997 docs(v2): Document TypeScript support
  website/docs/lifecycle-apis.md
  website/docs/typescript-support.md
  website/sidebars.js
  website/tsconfig.json
Labels: CLA Signed

#2987 chore(v2): use joi for config validation
  packages/docusaurus/package.json
  packages/docusaurus/src/server/__tests__/__fixtures__/simple-site/docusaurus.config.js
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/config.test.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/config.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed

#2970 feat(v2): add option validation for remaining official plugins
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/pluginOptionSchema.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/pluginOptionSchema.ts
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-types/src/index.d.ts
  yarn.lock
Labels: CLA Signed

#3007 fix(v2): Add two missing docusaurus core babel dependency
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed

#3010 fix(v2): make client-redirect-plugin not baseUrl sensitive
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/extensionRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/extensionRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/types.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docusaurus.config.js
Labels: CLA Signed, tag: bug fix, v2

#3011 docs(v1): external links
  docs/api-site-config.md
  website-1.x/siteConfig.js
Labels: CLA Signed, tag: documentation

#3001 fix(v2): refactor routes.ts + add route hash for chunkNames key
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed, tag: bug fix, tag: internal

#3012 fix(v2): refactor color mode system
  .prettierignore
  packages/docusaurus-theme-classic/src/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.ts
  packages/docusaurus/src/server/plugins/init.ts
  website/docs/lifecycle-apis.md
  website/docs/theme-classic.md
  website/docusaurus.config.js
Labels: tag: breaking change, tag: bug fix

#3006 feat(v2): prompt user when default port is in use
  packages/docusaurus/package.json
  packages/docusaurus/src/choosePort.ts
  packages/docusaurus/src/commands/start.ts
  yarn.lock
Labels: CLA Signed
