Repository facebook/docusaurus, pull requests merged in 2020-02, with the labels that each got.

#2262 fix(v2): remove focus on search input when hovering over it
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
Labels: CLA Signed, tag: bug fix

#2257 docs(v2): require using JSX flavored style objects in mdx
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.38/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.38/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.39/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.39/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.40/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.40/migrating-from-v1-to-v2.md
Labels: CLA Signed, tag: documentation

#2261 feat(v2): allow to specify different logo for dark mode
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docs/theme-classic.md
Labels: CLA Signed, tag: new feature

#2263 feat(v2): pluralize posts on tag's page
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus/src/client/exports/utils.js
Labels: CLA Signed, tag: new feature

#2224 feat(v2): add remark-admonitions to @docusaurus/preset-classic
  packages/docusaurus-init/templates/classic/docs/doc1.md
  packages/docusaurus-init/templates/facebook/docs/doc1.md
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.js
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/index.js
  website/docs/markdown-features.mdx
  website/docs/presets.md
Labels: CLA Signed, tag: new feature

#2241 fix(v2): make code blocks scrollable
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.js
  packages/docusaurus-theme-classic/src/theme/MDXComponents/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed, tag: bug fix

#2259 fix(v2): use site title if enabled blog-only mode
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.js
Labels: CLA Signed, tag: bug fix

#2281 docs: update windows deploy command
  docs/getting-started-publishing.md
  website/docs/deployment.md
  website/versioned_docs/version-2.0.0-alpha.38/deployment.md
  website/versioned_docs/version-2.0.0-alpha.39/deployment.md
  website/versioned_docs/version-2.0.0-alpha.40/deployment.md
Labels: CLA Signed, tag: documentation

#2285 fix(v2): fix codeblock copy button not including blank lines
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
Labels: CLA Signed, tag: bug fix

#2287 chore(v2): prepare v2.0.0.alpha-41 release
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.41/blog.md
  website/versioned_docs/version-2.0.0-alpha.41/cli.md
  website/versioned_docs/version-2.0.0-alpha.41/configuration.md
  website/versioned_docs/version-2.0.0-alpha.41/contributing.md
  website/versioned_docs/version-2.0.0-alpha.41/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.41/deployment.md
  website/versioned_docs/version-2.0.0-alpha.41/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.41/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.41/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.41/installation.md
  website/versioned_docs/version-2.0.0-alpha.41/introduction.md
  website/versioned_docs/version-2.0.0-alpha.41/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.41/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.41/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.41/presets.md
  website/versioned_docs/version-2.0.0-alpha.41/search.md
  website/versioned_docs/version-2.0.0-alpha.41/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.41/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.41/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.41/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.41/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.41/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.41/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.41-sidebars.json
  website/versions.json
Labels: CLA Signed

#2288 chore(v2): add npm publishing instructions
  CHANGELOG-2.x.md
  admin/prerelease.md
  admin/publish.md
  scripts/prerelease.sh
Labels: CLA Signed

#2291 fix(v2): fix build and deps install
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/DocPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Labels: CLA Signed, tag: bug fix

#2292 chore(v2): update Infima to 0.2.0-alpha.4
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed

#2293 chore(v2): prepare v2.0.0.alpha-42 release
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.42/blog.md
  website/versioned_docs/version-2.0.0-alpha.42/cli.md
  website/versioned_docs/version-2.0.0-alpha.42/configuration.md
  website/versioned_docs/version-2.0.0-alpha.42/contributing.md
  website/versioned_docs/version-2.0.0-alpha.42/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.42/deployment.md
  website/versioned_docs/version-2.0.0-alpha.42/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.42/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.42/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.42/installation.md
  website/versioned_docs/version-2.0.0-alpha.42/introduction.md
  website/versioned_docs/version-2.0.0-alpha.42/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.42/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.42/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.42/presets.md
  website/versioned_docs/version-2.0.0-alpha.42/search.md
  website/versioned_docs/version-2.0.0-alpha.42/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.42/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.42/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.42/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.42/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.42/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.42/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.42-sidebars.json
  website/versions.json
Labels: CLA Signed

#2294 misc(v2): clean up comments in code
  packages/docusaurus-init/src/index.ts
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-mdx-loader/src/remark/rightToc/search.js
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-plugin-content-docs/src/markdown/linkify.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/version.ts
  packages/docusaurus-plugin-google-analytics/src/analytics.js
  packages/docusaurus-plugin-google-analytics/src/index.js
  packages/docusaurus-plugin-google-gtag/src/index.js
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-preset-classic/src/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/SearchBar.js
  packages/docusaurus-theme-live-codeblock/src/index.js
  packages/docusaurus-theme-search-algolia/src/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/client/docusaurus.js
  packages/docusaurus/src/client/exports/ComponentCreator.js
  packages/docusaurus/src/client/exports/Link.js
  packages/docusaurus/src/client/exports/isInternalUrl.js
  packages/docusaurus/src/client/exports/useBaseUrl.js
  packages/docusaurus/src/client/flat.js
  packages/docusaurus/src/client/prefetch.js
  packages/docusaurus/src/client/preload.js
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/external.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/commands/swizzle.ts
  packages/docusaurus/src/server/config.ts
  packages/docusaurus/src/server/html-tags/index.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/loadSetup.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed

#2289 docs(v2): add instructions on Travis CI deployment
  website/docs/deployment.md
Labels: tag: documentation

#2296 feat(v2): add ExecutionEnvironment API
  packages/docusaurus-plugin-google-analytics/src/analytics.js
  packages/docusaurus-plugin-google-gtag/src/gtag.js
  packages/docusaurus/src/client/clientEntry.js
  packages/docusaurus/src/client/exports/ExecutionEnvironment.js
  packages/docusaurus/src/client/exports/Link.js
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: new feature

#2300 Make blog plugin config example valid
  website/docs/using-plugins.md
Labels: CLA Signed

#2299 feat(v2): allow navbar links to show active style by specifiying a base path
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docusaurus.config.js
Labels: CLA Signed

#2303 docs(v2): Nav links activeBasePath
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website-1.x/blog/2019-12-30-docusaurus-2019-recap.md
  website/docs/docusaurus.config.js.md
  website/docs/theme-classic.md
  website/docusaurus.config.js
Labels: CLA Signed

#2307 docs(v1): fix Windows instructions for GitHub Pages publishing
  docs/getting-started-publishing.md
Labels: tag: documentation

#2313 docs(v2): move the quotes to remark admonitions
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/design-principles.md
  website/docs/lifecycle-apis.md
  website/docs/migrating-from-v1-to-v2.md
  website/docs/styling-layout.md
  website/docs/theme-classic.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/docs/versioning.md
Labels: CLA Signed

#2310 chore(v2): Add @babel/preset-typescript to babel-loader
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: bug fix

#2315 chore: add section about env to bug issue template
  .github/ISSUE_TEMPLATE/bug.md
Labels: CLA Signed

#2319 docs(v2): showcase user Algolia
  website/src/data/showcase/algolia.png
  website/src/data/users.js
Labels: CLA Signed

#2316 fix(v2): properly scale logo on IE 11
  website/static/img/docusaurus.svg
Labels: CLA Signed, tag: bug fix

#2328 docs(v2): remove unwanted black line from DocSearch showcase image
  website/src/data/showcase/algolia.png
Labels: CLA Signed, tag: internal

#2327 feat(v2): add ability to use HTML in footer copyright
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
  website/docs/docusaurus.config.js.md
  website/docs/migrating-from-v1-to-v2.md
Labels: CLA Signed, tag: new feature

#2329 docs(v2): fix broken 'more syntax' url
  website/docs/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.39/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.40/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.43/markdown-features.mdx
Labels: CLA Signed

#2333 docs: update use of npm/yarn in contributing.md
  CONTRIBUTING.md
Labels: CLA Signed

#2331 fix(v1): check repoUrl before using on users.js
  packages/docusaurus-1.x/examples/basics/pages/en/users.js
  packages/docusaurus-1.x/examples/basics/siteConfig.js
Labels: CLA Signed

#2334 fix(v2): make proper path to pages in TS
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/typescript.tsx
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  website/docs/creating-pages.md
Labels: CLA Signed, tag: bug fix

#2325 fix(v2): switch a toggle when system theme changed
  packages/docusaurus-theme-classic/src/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.js
Labels: CLA Signed, tag: bug fix

#2324 fix(v2): properly set dark mode logo on build-time prerendering
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
Labels: CLA Signed, tag: bug fix

#2338 docs(v2): guide on upgrading Docusaurus within a project
  website/docs/installation.md
Labels: CLA Signed, tag: documentation

#2340 docs(v2): mention about disabling Jekyll when using GitHub pages
  website/docs/deployment.md
Labels: CLA Signed, tag: documentation

#2343 docs(v2): fix typo in remark-admonitions example
  website/docs/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.43/markdown-features.mdx
Labels: CLA Signed

#2342 chore(v2): mark tagline field as optional
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/theme-fallback/Layout/index.js
  packages/docusaurus/src/server/__tests__/config.test.ts
  packages/docusaurus/src/server/config.ts
  website/docs/docusaurus.config.js.md
Labels: CLA Signed, tag: polish

#2335 feat(v2): add draft feature to blog posts
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/draft.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/generateBlogFeed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  website/docs/blog.md
Labels: CLA Signed, tag: new feature

#2326 fix(v2): linkify blog posts
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog-with-ref/2018-12-14-Happy-First-Birthday-Slash.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog-with-ref/post.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/generateBlogFeed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/linkify.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
Labels: CLA Signed, tag: bug fix

#2344 feat(v2): allow specifying custom target for logo link
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docs/theme-classic.md
Labels: CLA Signed, tag: new feature
