Repository facebook/docusaurus, pull requests merged in 2020-07, with the labels that each got.

#3017 fix(v2): fix broken links on versions page
  website/docs/markdown-features.mdx
  website/src/pages/versions.js
  website/versioned_docs/version-2.0.0-alpha.50/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.54/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.55/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.56/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.58/markdown-features.mdx
Labels: CLA Signed

#3008 chore(v2): Add E2E test for yarn v2
  .github/workflows/e2e-test.yml
  admin/scripts/test-release.sh
  packages/docusaurus-init/templates/bootstrap/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
Labels: CLA Signed

#2998 chore(v2): refactor yarn tsc to yarn build + add theme-classic watch mode
  package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
Labels: CLA Signed, tag: internal

#2989 feat(v2): add disableVersioning config to docs plugin
  packages/docusaurus-plugin-content-docs/src/__tests__/env.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-docs/src/env.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/docs/using-plugins.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#2994 feat(v2): configureWebpack merge strategy + use file-loader for common asset types
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-types/package.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/assets/docusaurus-asset-example-banner.png
  website/docs/assets/docusaurus-asset-example-pdf.pdf
  website/docs/assets/docusaurus-asset-example.xyz
  website/docs/lifecycle-apis.md
  website/docs/markdown-features.mdx
  yarn.lock
Labels: CLA Signed, tag: new feature

#3022 docs(v2): showcase Eta
  website/src/data/showcase/eta.png
  website/src/data/users.js
Labels: CLA Signed

#2205 feat(v2): Plugin for Offline/PWA support
  package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/index.js
  packages/docusaurus-plugin-pwa/src/pluginOptionSchema.js
  packages/docusaurus-plugin-pwa/src/registerSw.js
  packages/docusaurus-plugin-pwa/src/renderReloadPopup.js
  packages/docusaurus-plugin-pwa/src/sw.js
  packages/docusaurus-plugin-pwa/src/theme/PwaReloadPopup/index.js
  packages/docusaurus-plugin-pwa/src/theme/PwaReloadPopup/styles.module.css
  packages/docusaurus/package.json
  packages/docusaurus/src/choosePort.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/using-plugins.md
  website/docusaurus.config.js
  website/package.json
  website/src/sw.js
  website/static/img/icons/icon-128x128.png
  website/static/img/icons/icon-144x144.png
  website/static/img/icons/icon-152x152.png
  website/static/img/icons/icon-192x192.png
  website/static/img/icons/icon-384x384.png
  website/static/img/icons/icon-512x512.png
  website/static/img/icons/icon-72x72.png
  website/static/img/icons/icon-96x96.png
  website/static/img/pwa_install.gif
  website/static/img/pwa_reload.gif
  website/static/manifest.json
  yarn.lock
Labels: CLA Signed, tag: new feature

#3029 fix(v2): change description for blog post paginator
  packages/docusaurus-theme-classic/src/theme/BlogPostPaginator/index.tsx
Labels: CLA Signed

#3033 feat(v2): add useBaseUrlUtils() hook
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.ts
  packages/docusaurus/src/client/exports/useBaseUrl.ts
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: new feature

#3034 docs(v2): showcase user Tasit
  website/src/data/showcase/tasit.png
  website/src/data/users.js
Labels: CLA Signed

#3038 feat(v2): Support keywords meta in blog posts
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  website-1.x/blog/2017-12-14-introducing-docusaurus.md
Labels: CLA Signed, tag: new feature

#3040 docs(v2): correct the documentation for docs-only mode
  website/docs/blog.md
  website/docs/docs.md
  website/versioned_docs/version-2.0.0-alpha.58/docs.md
Labels: CLA Signed

#3025 fix(v2):pass siteConfig as prop to pages
  packages/docusaurus-plugin-content-pages/src/index.ts
  website/src/pages/index.js
Labels: CLA Signed, tag: bug fix

#3050 feat(v2): Collect plugin versions to allow them to be inspected in debug plugin
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-debug/src/theme/Debug/index.js
  packages/docusaurus-plugin-debug/src/theme/Debug/styles.module.css
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/types.d.ts
  packages/docusaurus/src/server/versions/__fixtures__/dummy-plugin.js
  packages/docusaurus/src/server/versions/__fixtures__/package.json
  packages/docusaurus/src/server/versions/__tests/index.test.ts
  packages/docusaurus/src/server/versions/index.ts
Labels: CLA Signed

#3032 feat(v2): notify users when docusaurus version is outdated
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: new feature

#3055 chore(v2): Adopt corejs 3 and only import at entry point
  packages/docusaurus-plugin-pwa/src/index.js
  packages/docusaurus/package.json
  packages/docusaurus/src/babel/preset.ts
  yarn.lock
Labels: CLA Signed

#3063 fix(v2): classify link hrefs with protocol identifier as internal
  packages/docusaurus/src/client/exports/isInternalUrl.ts
Labels: CLA Signed, tag: bug fix

#3058 feat(v2): useDocusaurusContext().siteMetadata
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-debug/src/theme/Debug/index.js
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/exports/context.ts
  packages/docusaurus/src/client/exports/useDocusaurusContext.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/versions/index.ts
  website/docs/configuration.md
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: new feature

#3076 docs(v2): showcase Runlet
  website/src/data/showcase/runlet.png
  website/src/data/users.js
Labels: CLA Signed

#3078 Updated link for #docusaurus-2-dev discord
  CONTRIBUTING.md
Labels: CLA Signed, tag: documentation

#3082 fixing few typos and enhancing few sentences clarity
  docs/api-doc-markdown.md
  docs/guides-blog.md
  docs/guides-navigation.md
  docs/guides-translation.md
  docs/guides-versioning.md
Labels: CLA Signed

#3080 feat(v2): add support for serve command
  packages/docusaurus-init/templates/bootstrap/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/index.ts
  website/docs/cli.md
  website/docs/deployment.md
  yarn.lock
Labels: CLA Signed

#2971 feat(v2): global data + useGlobalData + docs versions dropdown
  .eslintrc.js
  jest.config.js
  package.json
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/client/docsClientUtils.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/metadata.test.ts
  packages/docusaurus-plugin-content-docs/src/client/docsClientUtils.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  packages/docusaurus-plugin-content-docs/src/theme/hooks/useDocs.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-theme-classic/src/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocVersionSuggestions/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/themeConfigSchema.js
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/useGlobalData.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/pluginIds/__snapshots__/pluginIds.test.ts.snap
  packages/docusaurus/src/server/__tests__/pluginIds/pluginIds.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/plugins/pluginIds.ts
  website/docs/blog.md
  website/docs/docusaurus-core.md
  website/docs/docusaurus.config.js.md
  website/docs/lifecycle-apis.md
  website/docs/migrating-from-v1-to-v2.md
  website/docs/theme-classic.md
  website/docs/using-plugins.md
  website/docusaurus.config.js
  yarn.lock
Labels: CLA Signed, tag: breaking change, tag: new feature

#3069 feat(v2): support for adding relative images and handling broken image links
  packages/docusaurus-init/templates/bootstrap/docs/doc1.md
  packages/docusaurus-init/templates/classic/docs/doc1.md
  packages/docusaurus-init/templates/facebook/docs/doc1.md
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/fixtures/fail.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/fixtures/img.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/fixtures/img.png
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.js
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/index.ts
  website/docs/markdown-features.mdx
Labels: CLA Signed

#3087 refactor(v2): async md image transformer + pathname protocol as an escape hatch
  .eslintrc.js
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/fixtures/fail.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/fixtures/noUrl.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/fixtures/pathname.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.js
  website/docs/assets/docusaurus-asset-example-banner.png
  website/docs/markdown-features.mdx
Labels: CLA Signed, tag: internal, tag: polish

#3084 feat(v2): absolute slugs and slug resolution system
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/bad-slug-site/docs/invalid-slug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/rootAbsoluteSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/rootRelativeSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/rootResolvedSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/rootTryToEscapeSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/slugs/absoluteSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/slugs/relativeSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/slugs/resolvedSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/slugs/tryToEscapeSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/docs/slugs/absoluteSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/docs/slugs/relativeSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/docs/slugs/resolvedSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/docs/slugs/tryToEscapeSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versioned_docs/version-withSlugs/rootAbsoluteSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versioned_docs/version-withSlugs/rootRelativeSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versioned_docs/version-withSlugs/rootResolvedSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versioned_docs/version-withSlugs/rootTryToEscapeSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versioned_docs/version-withSlugs/slugs/absoluteSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versioned_docs/version-withSlugs/slugs/relativeSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versioned_docs/version-withSlugs/slugs/resolvedSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versioned_docs/version-withSlugs/slugs/tryToEscapeSlug.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versions.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/env.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/metadata.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/slug.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/version.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  packages/docusaurus-plugin-content-docs/src/slug.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  website/docs/community/resources.md
  website/docs/community/support.md
  website/docs/community/team.md
  website/sidebars.js
Labels: CLA Signed, tag: new feature

#3059 feat(v2): broken links detection
  packages/docusaurus-init/templates/bootstrap/docs/doc1.md
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/classic/docs/doc1.md
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docs/doc1.md
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/client/LinksCollector.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/brokenLinks.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/webpack/__tests__/server.test.ts
  packages/docusaurus/src/webpack/server.ts
  website/docs/docusaurus.config.js.md
  website/docusaurus.config.js
  yarn.lock
Labels: CLA Signed, tag: new feature

#3088 improve navbar menu
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionNavbarItem.tsx
  packages/docusaurus-theme-classic/src/themeConfigSchema.js
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/__tests__/isInternalUrl.ts
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.ts
  packages/docusaurus/src/client/exports/isInternalUrl.ts
  packages/docusaurus/src/client/exports/useBaseUrl.ts
  packages/docusaurus/src/server/index.ts
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: CLA Signed, tag: polish

#3093 fix(v2): fix recent baseurl issues
  .gitignore
  netlify.toml
  package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/client/docsClientUtils.test.ts
  packages/docusaurus-plugin-content-docs/src/client/docsClientUtils.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.ts
  packages/docusaurus/src/client/exports/useBaseUrl.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/constants.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/brokenLinks.test.ts.snap
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/markdown-features.mdx
  website/docs/typescript-support.md
  website/docs/versioning.md
  website/docusaurus.config.js
  website/versioned_docs/version-2.0.0-alpha.48/versioning.md
  website/versioned_docs/version-2.0.0-alpha.50/versioning.md
  website/versioned_docs/version-2.0.0-alpha.54/versioning.md
  website/versioned_docs/version-2.0.0-alpha.55/versioning.md
  website/versioned_docs/version-2.0.0-alpha.56/versioning.md
  website/versioned_docs/version-2.0.0-alpha.58/versioning.md
  yarn.lock
Labels: CLA Signed, tag: internal

#3098 docs: Add azure-pipelines CI guide
  docs/getting-started-publishing.md
Labels: CLA Signed, tag: documentation

#3099 fix(v2): netlify.toml shouldn't affect v1 site deployment config
  package.json
  website/netlify.toml
  website/package.json
Labels: CLA Signed

#2815 feat(v2): introduce DocSearch v3 search
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/index.js
  packages/docusaurus-theme-search-algolia/src/pages/search/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/algolia.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.module.css
  packages/docusaurus-theme-search-algolia/src/theme/hooks/useSearchQuery.js
  website/docs/search.md
  website/docusaurus.config.js
  website/src/css/custom.css
  yarn.lock
Labels: CLA Signed, tag: new feature

#3101 docs(v2):Add azure-pipelines CI guide
  website/docs/deployment.md
Labels: CLA Signed, tag: documentation

#3105 feat(v2): add docusaurus script for npm users
  packages/docusaurus-init/templates/bootstrap/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  website/package.json
Labels: CLA Signed, tag: new feature

#3108 fix(v2): fix docs instance path typo
  packages/docusaurus-plugin-content-docs/src/index.ts
Labels: CLA Signed, tag: bug fix

#3094 docs(v2): showcase user Clutch
  website/src/data/showcase/clutch.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#3112 fix(v2): baseUrl is wrongly appended to anchor links
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.ts
  packages/docusaurus/src/client/exports/useBaseUrl.ts
Labels: CLA Signed

#3106 fix(v2): dropdown navbar item: validation too strict
  packages/docusaurus-theme-classic/src/themeConfigSchema.js
Labels: CLA Signed, tag: bug fix

#3015 feat: automate migration from v1 to v2
  .eslintignore
  .github/workflows/migration-cli-e2e-test.yml
  .gitignore
  .prettierignore
  docs/getting-started-publishing.md
  jest.config.js
  packages/docusaurus-migrate/bin/index.js
  packages/docusaurus-migrate/external_types/index.d.ts
  packages/docusaurus-migrate/package-lock.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/blog/2017-12-14-introducing-docusaurus.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/package.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/pages/en/index.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/sidebars.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/siteConfig.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/static/.gitkeep
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/versioned_docs/version-1.10.x/api-commands.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/versioned_docs/version-1.9.x/api-commands.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/versioned_docs/version-1.9.x/api-doc-markdown.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/versioned_sidebars/version-1.9.x-sidebars.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/versions.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/blog/2017-12-14-introducing-docusaurus.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/package.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/pages/en/index.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/sidebars.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/siteConfig.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/static/.gitkeep
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/versioned_docs/version-1.10.x/api-commands.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/versioned_docs/version-1.9.x/api-commands.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/versioned_docs/version-1.9.x/api-doc-markdown.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/versioned_sidebars/version-1.9.x-sidebars.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/versions.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/docs/api-commands.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/docs/api-doc-markdown.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/website/package.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/website/pages/en/index.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/website/sidebars.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/website/siteConfig.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/website/static/.gitkeep
  packages/docusaurus-migrate/src/__tests__/migration.test.ts
  packages/docusaurus-migrate/src/frontMatter.ts
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-migrate/src/sanitizeMD.ts
  packages/docusaurus-migrate/src/transform.ts
  packages/docusaurus-migrate/src/types.ts
  packages/docusaurus-migrate/tsconfig.json
  packages/docusaurus-plugin-client-redirects/tsconfig.json
  website-1.x/blog/2017-12-14-introducing-docusaurus.md
  website-1.x/versioned_docs/version-1.14.4/api-site-config.md
  website-1.x/versioned_docs/version-1.14.4/guides-translation.md
  website/docs/deployment.md
  yarn.lock
Labels: CLA Signed, tag: new feature

#3107 fix(v2): broken links detector: ignore existing folders
  packages/docusaurus/src/server/brokenLinks.ts
Labels: CLA Signed, tag: bug fix

#3113 chore(v2): ability to test the migration cli easily
  .github/workflows/migration-cli-e2e-test.yml
  .gitignore
  package.json
  packages/docusaurus-migrate/src/__tests__/frontMatter.test.ts
  packages/docusaurus-migrate/src/frontMatter.ts
  packages/docusaurus-migrate/src/index.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#3026 docs(v2): add documentation for migration command
  website/docs/guides/migrating-from-v1-to-v2.md
  website/docs/markdown-features.mdx
  website/sidebars.js
Labels: CLA Signed

#3116 chore(v2): docs updates after release
  admin/publish.md
  admin/scripts/test-release.sh
  package.json
  yarn.lock
Labels: CLA Signed, tag: documentation

#3130 chore(v2): remove old versions
  website/versioned_docs/version-2.0.0-alpha.48/blog.md
  website/versioned_docs/version-2.0.0-alpha.48/cli.md
  website/versioned_docs/version-2.0.0-alpha.48/configuration.md
  website/versioned_docs/version-2.0.0-alpha.48/contributing.md
  website/versioned_docs/version-2.0.0-alpha.48/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.48/deployment.md
  website/versioned_docs/version-2.0.0-alpha.48/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.48/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.48/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.48/installation.md
  website/versioned_docs/version-2.0.0-alpha.48/introduction.md
  website/versioned_docs/version-2.0.0-alpha.48/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.48/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.48/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.48/presets.md
  website/versioned_docs/version-2.0.0-alpha.48/search.md
  website/versioned_docs/version-2.0.0-alpha.48/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.48/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.48/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.48/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.48/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.48/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.48/versioning.md
  website/versioned_docs/version-2.0.0-alpha.50/blog.md
  website/versioned_docs/version-2.0.0-alpha.50/cli.md
  website/versioned_docs/version-2.0.0-alpha.50/configuration.md
  website/versioned_docs/version-2.0.0-alpha.50/contributing.md
  website/versioned_docs/version-2.0.0-alpha.50/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.50/deployment.md
  website/versioned_docs/version-2.0.0-alpha.50/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.50/docs.md
  website/versioned_docs/version-2.0.0-alpha.50/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.50/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.50/installation.md
  website/versioned_docs/version-2.0.0-alpha.50/introduction.md
  website/versioned_docs/version-2.0.0-alpha.50/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.50/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.50/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.50/presets.md
  website/versioned_docs/version-2.0.0-alpha.50/resources.md
  website/versioned_docs/version-2.0.0-alpha.50/search.md
  website/versioned_docs/version-2.0.0-alpha.50/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.50/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.50/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.50/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.50/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.50/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.48-sidebars.json
  website/versioned_sidebars/version-2.0.0-alpha.50-sidebars.json
  website/versions.json
Labels: CLA Signed, tag: internal

#3133 feat(v2): add themeConfig validation to algolia theme
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-search-algolia/src/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.js
Labels: CLA Signed, tag: new feature

#3138 feat(v2): add accessible label for Algolia search button
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
Labels: CLA Signed

#3140 fix(v2): navbar item links should allow unknown attributes
  packages/docusaurus-theme-classic/src/themeConfigSchema.js
Labels: CLA Signed, tag: bug fix

#3124 feat(v1): add 'slugPreprocessor' config option to allow users customize the hash links
  docs/api-site-config.md
  packages/docusaurus-1.x/lib/core/__tests__/toc.test.js
  packages/docusaurus-1.x/lib/core/anchors.js
  packages/docusaurus-1.x/lib/core/nav/OnPageNav.js
  packages/docusaurus-1.x/lib/core/renderMarkdown.js
  packages/docusaurus-1.x/lib/core/toc.js
  packages/docusaurus-1.x/lib/server/docs.js
Labels: CLA Signed, v1

#3134 feat(v2): add validation escape hatch
  .eslintrc.js
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/validationUtils.ts
Labels: CLA Signed, tag: new feature

#3141 fix(v2): remove buggy routesLoaded + deprecate routesLoaded lifecycle
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/plugins/index.ts
  website/docs/lifecycle-apis.md
Labels: CLA Signed, tag: bug fix

#3143 fix(v2): absolute Links should be automatically prefixed by baseurl
  packages/docusaurus/src/client/exports/Link.tsx
  website/docs/search.md
  website/versioned_docs/version-2.0.0-alpha.59/search.md
Labels: CLA Signed, tag: bug fix

#3146 docs(v2): prettier docs
  CHANGELOG-2.x.md
  admin/publish.md
Labels: CLA Signed, tag: documentation

#3149 fix(v2): BrowserOnly should not return undefined
  packages/docusaurus/src/client/exports/BrowserOnly.tsx
Labels: CLA Signed, tag: bug fix

#3145 docs(v2): add myself to /team page + add TeamProfileCard component
  website/docs/community/team.md
  website/src/components/TeamProfileCard/index.js
Labels: CLA Signed, tag: documentation

#3142 test(v2): add tests for config validation
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/pluginOptionSchema.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed

#3157 chore(v2): remove alpha 59 doc
  website/versioned_docs/version-2.0.0-alpha.59/assets/docusaurus-asset-example-banner.png
  website/versioned_docs/version-2.0.0-alpha.59/assets/docusaurus-asset-example-pdf.pdf
  website/versioned_docs/version-2.0.0-alpha.59/assets/docusaurus-asset-example.xyz
  website/versioned_docs/version-2.0.0-alpha.59/blog.md
  website/versioned_docs/version-2.0.0-alpha.59/cli.md
  website/versioned_docs/version-2.0.0-alpha.59/community/resources.md
  website/versioned_docs/version-2.0.0-alpha.59/community/support.md
  website/versioned_docs/version-2.0.0-alpha.59/community/team.md
  website/versioned_docs/version-2.0.0-alpha.59/configuration.md
  website/versioned_docs/version-2.0.0-alpha.59/contributing.md
  website/versioned_docs/version-2.0.0-alpha.59/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.59/deployment.md
  website/versioned_docs/version-2.0.0-alpha.59/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.59/docs.md
  website/versioned_docs/version-2.0.0-alpha.59/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.59/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.59/guides/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.59/installation.md
  website/versioned_docs/version-2.0.0-alpha.59/introduction.md
  website/versioned_docs/version-2.0.0-alpha.59/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.59/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.59/presets.md
  website/versioned_docs/version-2.0.0-alpha.59/search.md
  website/versioned_docs/version-2.0.0-alpha.59/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.59/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.59/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.59/typescript-support.md
  website/versioned_docs/version-2.0.0-alpha.59/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.59/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.59/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.59-sidebars.json
  website/versions.json
Labels: CLA Signed, tag: internal

#3163 docs(v2): showcase user questdb
  website/src/data/showcase/questdb.png
  website/src/data/users.js
Labels: CLA Signed

#3162 fix(v2): inability for users to pin their docusaurus version
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus/package.json
Labels: CLA Signed, tag: bug fix

#2359 feat(v2): support custom description for blog-only mode
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.tsx
  website/docs/blog.md
  website/docs/using-plugins.md
Labels: CLA Signed, tag: new feature

#3168 fix(v2): fix link items refusing attributes like target, rel etc...
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  packages/docusaurus-theme-classic/src/themeConfigSchema.js
Labels: CLA Signed, tag: bug fix

#3171 fix(v2): tab label showing outline & background when clicked
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/styles.module.css
Labels: CLA Signed, tag: bug fix

#3166 feat(v2): improve Algolia search accessibility
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  yarn.lock
Labels: CLA Signed, tag: new feature

#3127 feat(v2): dark mode toggle customization
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/index.js
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  website/docs/docusaurus.config.js.md
Labels: CLA Signed, tag: new feature

#3158 feat(v2): markdown pages
  .eslintignore
  .gitignore
  .prettierignore
  jest.config.js
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/docusaurus.config.js
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/hello/index.md
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/hello/mdxPage.mdx
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/markdownLoader.ts
  packages/docusaurus-plugin-content-pages/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-pages/src/types.ts
  packages/docusaurus-plugin-content-pages/types.d.ts
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.js
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-utils-validation/src/__tests__/index.test.ts
  packages/docusaurus-utils-validation/src/index.ts
  packages/docusaurus-utils-validation/tsconfig.json
  packages/docusaurus-utils/src/index.ts
  website/docs/creating-pages.md
  website/docs/using-plugins.md
  website/docusaurus.config.js
  website/src/pages/examples/markdownPageExample.md
Labels: CLA Signed, tag: new feature

#3180 fix(v2): fix markdown images always using webpack url-loader
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.js
  packages/docusaurus/src/constants.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: bug fix

#3083 feat(v2): warn user when there are conflicting routes
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/duplicateRoutes.test.ts.snap
  packages/docusaurus/src/server/__tests__/duplicateRoutes.test.ts
  packages/docusaurus/src/server/__tests__/utils.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/duplicateRoutes.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/utils.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/configuration.md
  website/docs/docusaurus-core.md
  website/docs/guides/creating-pages.md
  website/docs/guides/migrating-from-v1-to-v2.md
  website/docs/installation.md
  website/docs/using-plugins.md
  website/sidebars.js
Labels: CLA Signed, tag: new feature
