Repository facebook/docusaurus, pull requests merged in 2021-08, with the labels that each got.

#5261 fix: fix various TS errors
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-types/src/index.d.ts
Labels: CLA Signed, tag: bug fix

#5262 fix: show secondary menu if even there is no main one
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
Labels: CLA Signed, tag: bug fix

#5268 fix: fix wrong regex that removes extra letters from swizzled component names
  packages/docusaurus/src/commands/swizzle.ts
Labels: CLA Signed, tag: bug fix

#5270 fix: ability to link md files with relative paths when paths contain space
  packages/docusaurus-utils/src/markdownLinks.ts
  website/_dogfooding/README.md
  website/_dogfooding/_blog tests/2020-08-03-second-blog-intro.md
  website/_dogfooding/_blog tests/_partial.mdx
  website/_dogfooding/_docs tests/folder with space/doc 1.md
  website/_dogfooding/_docs tests/folder with space/doc 2.md
  website/_dogfooding/_docs tests/index.md
  website/_dogfooding/_docs tests/more-test.md
  website/_dogfooding/_docs tests/standalone.md
  website/_dogfooding/_docs-tests/more-test.md
  website/_dogfooding/_pages tests/_pagePartial.md
  website/_dogfooding/_pages tests/index.md
  website/_dogfooding/docs-tests-symlink
  website/_dogfooding/dogfooding.config.js
Labels: CLA Signed, tag: bug fix

#5275 fix: improve spanish translation
  packages/docusaurus-theme-classic/codeTranslations/es.json
Labels: CLA Signed

#5280 refactor(v2): improved Farsi default translations
  packages/docusaurus-theme-classic/codeTranslations/fa.json
Labels: CLA Signed

#5283 docs: fix broken link to syncing tab choices section
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/versioned_docs/version-2.0.0-beta.3/guides/markdown-features/markdown-features-code-blocks.mdx
  website/versioned_docs/version-2.0.0-beta.4/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: documentation

#5271 Add Plausible Analytics docs to showcase page
  website/src/data/showcase/plausible.png
  website/src/data/users.js
Labels: CLA Signed

#5264 fix: apply proper class for active doc item on mobiles + avoid duplicated classes
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  website/docs/api/themes/theme-configuration.md
Labels: CLA Signed, tag: breaking change, tag: bug fix

#5219 docs: refactor API documentation
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-content-pages.md
  website/docs/api/themes/theme-configuration.md
  website/docs/blog.md
  website/docs/guides/docs/sidebar.md
Labels: CLA Signed

#5285 fix: fix canary version names
  package.json
  website/community/4-canary.md
Labels: CLA Signed, tag: internal

#5290 fix: make successful build if missing favicon
  packages/docusaurus-theme-search-algolia/src/index.js
  packages/docusaurus-theme-search-algolia/src/templates/opensearch.js
Labels: CLA Signed, tag: bug fix

#5284 refactor: properly type docs version
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocVersionBanner/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useContextualSearchFilters.ts
  packages/docusaurus-theme-common/src/types.d.ts
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/DocsPreferredVersionProvider.tsx
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/useDocsPreferredVersion.ts
Labels: CLA Signed, tag: internal

#5295 fix: fix canary release versions
  .github/workflows/canary-release.yml
  package.json
Labels: CLA Signed, tag: internal

#5296 docs: update canary doc
  website/community/4-canary.md
Labels: CLA Signed, tag: documentation

#5297 fix: fix constant value import
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/useDocsPreferredVersion.ts
Labels: CLA Signed, tag: bug fix

#5299 feat: mdx loader fallback, allow importing mdx docs from anywhere
  CHANGELOG.md
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus/src/server/index.ts
  website/_dogfooding/README.md
  website/_dogfooding/_pages tests/deep-file-path-test/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/test-file.md
  website/_dogfooding/_pages tests/index.md
  website/_dogfooding/_pages tests/markdown-tests.md
  website/_dogfooding/_pages tests/markdownPageTests.md
  website/community/5-changelog.md
  website/src/pages/examples/_chapter1.md
  website/src/pages/examples/_chapter2.mdx
  website/src/pages/examples/markdownPageExample.md
Labels: CLA Signed, tag: new feature

#5308 fix: remove unexpected whitespaces in CSS bundle
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/utils.ts
  yarn.lock
Labels: CLA Signed, tag: bug fix

#5311 fix: docusaurus serve logs wrong port if 3000 is taken
  packages/docusaurus/src/commands/serve.ts
Labels: CLA Signed, tag: bug fix

#5309 feat: blog posts support /YYYY/MM/DD/blog-post/index.md pattern + blog frontmatter can reference relative images
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-plugin-content-blog/index.d.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/blogUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/blogFrontMatter.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  website/blog/2021-05-12-announcing-docusaurus-two-beta/img/author.jpeg
  website/blog/2021-05-12-announcing-docusaurus-two-beta/img/favorites.png
  website/blog/2021-05-12-announcing-docusaurus-two-beta/img/image.png
  website/blog/2021-05-12-announcing-docusaurus-two-beta/img/image_cropped.png
  website/blog/2021-05-12-announcing-docusaurus-two-beta/img/social-card.png
  website/blog/2021-05-12-announcing-docusaurus-two-beta/img/trend.png
  website/blog/2021-05-12-announcing-docusaurus-two-beta/index.md
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/blog.md
  website/docs/guides/creating-pages.md
  website/docs/guides/docs/docs-introduction.md
Labels: CLA Signed, tag: new feature

#5312 fix: fix changelog page mdx import for i18n
  website/community/5-changelog.md
Labels: CLA Signed, tag: internal

#5233 feat: new init template classic-typescript
  .eslintignore
  .eslintrc.js
  .stylelintignore
  generateExamples.js
  packages/docusaurus-init/bin/index.js
  packages/docusaurus-init/src/index.ts
  packages/docusaurus-init/templates/classic-typescript/README.md
  packages/docusaurus-init/templates/classic-typescript/babel.config.js
  packages/docusaurus-init/templates/classic-typescript/blog/2019-05-28-hola.md
  packages/docusaurus-init/templates/classic-typescript/blog/2019-05-29-hello-world.md
  packages/docusaurus-init/templates/classic-typescript/blog/2019-05-30-welcome.md
  packages/docusaurus-init/templates/classic-typescript/docs/intro.md
  packages/docusaurus-init/templates/classic-typescript/docs/tutorial-basics/_category_.json
  packages/docusaurus-init/templates/classic-typescript/docs/tutorial-basics/congratulations.md
  packages/docusaurus-init/templates/classic-typescript/docs/tutorial-basics/create-a-blog-post.md
  packages/docusaurus-init/templates/classic-typescript/docs/tutorial-basics/create-a-document.md
  packages/docusaurus-init/templates/classic-typescript/docs/tutorial-basics/create-a-page.md
  packages/docusaurus-init/templates/classic-typescript/docs/tutorial-basics/deploy-your-site.md
  packages/docusaurus-init/templates/classic-typescript/docs/tutorial-basics/markdown-features.mdx
  packages/docusaurus-init/templates/classic-typescript/docs/tutorial-extras/_category_.json
  packages/docusaurus-init/templates/classic-typescript/docs/tutorial-extras/manage-docs-versions.md
  packages/docusaurus-init/templates/classic-typescript/docs/tutorial-extras/translate-your-site.md
  packages/docusaurus-init/templates/classic-typescript/docusaurus.config.js
  packages/docusaurus-init/templates/classic-typescript/gitignore
  packages/docusaurus-init/templates/classic-typescript/package.json
  packages/docusaurus-init/templates/classic-typescript/sidebars.js
  packages/docusaurus-init/templates/classic-typescript/src/components/HomepageFeatures.module.css
  packages/docusaurus-init/templates/classic-typescript/src/components/HomepageFeatures.tsx
  packages/docusaurus-init/templates/classic-typescript/src/css/custom.css
  packages/docusaurus-init/templates/classic-typescript/src/pages/index.module.css
  packages/docusaurus-init/templates/classic-typescript/src/pages/index.tsx
  packages/docusaurus-init/templates/classic-typescript/src/pages/markdown-page.md
  packages/docusaurus-init/templates/classic-typescript/static/.nojekyll
  packages/docusaurus-init/templates/classic-typescript/static/img/docusaurus.png
  packages/docusaurus-init/templates/classic-typescript/static/img/favicon.ico
  packages/docusaurus-init/templates/classic-typescript/static/img/logo.svg
  packages/docusaurus-init/templates/classic-typescript/static/img/tutorial/docsVersionDropdown.png
  packages/docusaurus-init/templates/classic-typescript/static/img/tutorial/localeDropdown.png
  packages/docusaurus-init/templates/classic-typescript/static/img/undraw_docusaurus_mountain.svg
  packages/docusaurus-init/templates/classic-typescript/static/img/undraw_docusaurus_react.svg
  packages/docusaurus-init/templates/classic-typescript/static/img/undraw_docusaurus_tree.svg
  packages/docusaurus-init/templates/classic-typescript/tsconfig.json
  packages/docusaurus-init/templates/classic/src/components/HomepageFeatures.module.css
  packages/docusaurus-init/templates/classic/src/css/custom.css
  packages/docusaurus-init/tsconfig.json
  website/docs/installation.md
  website/docs/typescript-support.md
  yarn.lock
Labels: CLA Signed, tag: new feature

#5314 feat(v2): add cs (Czech) translations for docusaurus-theme-classic
  packages/docusaurus-theme-classic/codeTranslations/cs.json
Labels: CLA Signed, tag: new feature

#5319 fix: unbreak highlighting regular navbar links
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
Labels: CLA Signed, tag: bug fix

#5313 docs: try to make plugin/preset config less confusing
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-content-pages.md
Labels: CLA Signed, tag: documentation

#5316 fix: avoid extra default active class on doc sidebar item
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
Labels: CLA Signed, tag: bug fix

#5317 fix: make proper highlighting doc link if no sidebar
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
Labels: CLA Signed, tag: bug fix

#5329 docs: add Haochen to showcase page
  website/src/data/showcase/haochen.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#5331 docs: Changelog page should display TOC with releases
  CHANGELOG.md
  website/community/5-changelog.md
Labels: CLA Signed, tag: documentation

#5332 docs(v2): add mdx-mermaid to resources
  website/community/2-resources.md
Labels: CLA Signed

#5240 fix: remove top margin only from directly first element
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
Labels: CLA Signed, tag: bug fix

#5256 chore: upgrade Infima to alpha.30
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem.tsx
  website/src/pages/styles.module.css
  yarn.lock
Labels: CLA Signed, tag: internal

#5334 fix: plugin ideal-image should generate filename with a hash even in development
  packages/docusaurus-plugin-ideal-image/src/index.ts
Labels: CLA Signed, tag: bug fix

#5322 feat: structured data for blog posts
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostStructuredData/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
Labels: CLA Signed, tag: new feature

#5328 refactor(website): convert website to TypeScript
  website/package.json
  website/src/components/BrowserWindow/index.tsx
  website/src/components/ColorGenerator/index.tsx
  website/src/components/Playground/index.tsx
  website/src/components/TeamProfileCards/index.tsx
  website/src/components/showcase/ShowcaseCard/index.tsx
  website/src/components/showcase/ShowcaseCheckbox/index.js
  website/src/components/showcase/ShowcaseCheckbox/index.tsx
  website/src/components/showcase/ShowcaseSelect/index.tsx
  website/src/data/users.tsx
  website/src/pages/examples/_myComponent.tsx
  website/src/pages/feedback/index.tsx
  website/src/pages/index.tsx
  website/src/pages/showcase/index.tsx
  website/src/pages/versions.tsx
  website/src/theme/ReactLiveScope/components.tsx
  website/src/theme/ReactLiveScope/index.ts
  website/src/types.d.ts
  website/src/utils/jsUtils.ts
  website/tsconfig.json
Labels: CLA Signed, tag: internal

#5330 feat: Markdown page-specific head metadatas
  .eslintrc.js
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  website/docs/guides/markdown-features/markdown-features-head-metadatas.mdx
  website/sidebars.js
Labels: CLA Signed, tag: new feature

#5335 refactor: better typing + remove unnecessary eslint-disable
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-blog/index.d.ts
  packages/docusaurus-plugin-content-blog/src/blogFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-bootstrap/src/theme/DebugLayout/index.tsx
  packages/docusaurus-theme-bootstrap/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-bootstrap/src/theme/Footer/index.tsx
  packages/docusaurus-theme-bootstrap/src/theme/Layout/index.tsx
  packages/docusaurus-theme-bootstrap/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-bootstrap/src/theme/hooks/useLogo.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-theme-classic/src/theme/Logo/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/prism-include-languages.ts
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  packages/docusaurus-theme-common/src/utils/generalUtils.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/prefetch.ts
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/plugins/CleanWebpackPlugin.ts
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: internal

#5342 chore: fix e2e yarn berry tests
  .github/workflows/v2-tests-e2e.yml
  admin/scripts/test-release.sh
Labels: CLA Signed, tag: internal

#5347 chore(mdx-loader): migrate package to TypeScript
  .eslintrc.js
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/index.d.ts
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/remark/headings/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/headings/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/search.js
  packages/docusaurus-mdx-loader/src/remark/toc/search.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/index.ts
  packages/docusaurus-mdx-loader/src/remark/utils/index.js
  packages/docusaurus-mdx-loader/src/remark/utils/index.ts
  packages/docusaurus-mdx-loader/src/types.d.ts
  packages/docusaurus-mdx-loader/tsconfig.json
  packages/docusaurus-migrate/src/sanitizeMD.ts
  packages/docusaurus/src/server/html-tags/htmlTags.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#5346 fix: author/image adjustments in BlogPosting schema
  packages/docusaurus-theme-classic/src/theme/BlogPostStructuredData/index.tsx
Labels: CLA Signed, tag: bug fix

#5349 refactor(core): replace useDocusaurusContext().isClient by useIsBrowser()
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-bootstrap/src/theme/ThemedImage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Logo/index.tsx
  packages/docusaurus-theme-classic/src/theme/ThemedImage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useWindowSize.ts
  packages/docusaurus-theme-common/src/components/Details/index.tsx
  packages/docusaurus-theme-common/src/components/Details/styles.module.css
  packages/docusaurus-theme-common/src/utils/announcementBarUtils.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.js
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/exports/BrowserOnly.tsx
  packages/docusaurus/src/client/exports/browserContext.tsx
  packages/docusaurus/src/client/exports/docusaurusContext.tsx
  packages/docusaurus/src/client/exports/useDocusaurusContext.ts
  packages/docusaurus/src/client/exports/useIsBrowser.ts
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: breaking change, tag: performance

#5352 docs: update `docusaurus-plugin-sass` instructions
  website/docs/styling-layout.md
Labels: CLA Signed

#5351 docs(website): bump announcement bar + include Twitter link + refactor site colors
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: CLA Signed, tag: documentation

#5357 fix: code blocks should scroll in RTL direction
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed, tag: bug fix

#5361 fix: refactor TOC highlighting + handle edge cases
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOC/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useTOCHighlight.ts
  packages/docusaurus-theme-classic/src/types.d.ts
Labels: CLA Signed, tag: bug fix

#5365 refactor(v2): improved Farsi default translations
  packages/docusaurus-theme-classic/codeTranslations/fa.json
Labels: CLA Signed

#5364 fix: unbreak Details component
  packages/docusaurus-theme-common/src/components/Details/index.tsx
Labels: CLA Signed, tag: bug fix

#5369 docs(v2): Add Nocalhost website to showcase page
  website/src/data/showcase/nocalhost.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5355 refactor: add blog microdata in markup instead of use JSON-LD
  packages/docusaurus-theme-classic/src/theme/BlogLayout/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostStructuredData/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
Labels: CLA Signed, tag: polish

#5354 feat(plugin-blog): allow `'ALL'` as `postsPerPage` option value
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/blog.md
Labels: CLA Signed, tag: new feature

#5366 docs: Add drayman to showcase
  website/src/data/showcase/drayman.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5370 fix(init): fix links to feature images in classic-typescript
  packages/docusaurus-init/templates/classic-typescript/src/components/HomepageFeatures.tsx
Labels: CLA Signed, tag: bug fix

#5372 docs: remove docusaurus-preset-name from preset doc
  website/docs/presets.md
  website/versioned_docs/version-2.0.0-beta.3/presets.md
  website/versioned_docs/version-2.0.0-beta.4/presets.md
Labels: CLA Signed, tag: documentation

#5376 docs(v2): Update Datagit site to showcase page
  website/src/data/showcase/datagit.png
Labels: CLA Signed, tag: documentation

#5381 fix: canary releases should ignore notifier updates
  packages/docusaurus/bin/beforeCli.js
Labels: CLA Signed, tag: bug fix

#5383 fix: fix Locale Dropdown RTL icon + Webpack aliases ordering
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/styles.module.css
  packages/docusaurus/src/server/themes/__tests__/__fixtures__/theme-2/NavbarItem/NestedNavbarItem/index.js
  packages/docusaurus/src/server/themes/__tests__/__fixtures__/theme-2/NavbarItem/SiblingNavbarItem.js
  packages/docusaurus/src/server/themes/__tests__/__fixtures__/theme-2/NavbarItem/index.js
  packages/docusaurus/src/server/themes/__tests__/__fixtures__/theme-2/NavbarItem/zzz.js
  packages/docusaurus/src/server/themes/__tests__/alias.test.ts
  packages/docusaurus/src/server/themes/__tests__/index.test.ts
  packages/docusaurus/src/server/themes/__tests__/index.ts
  packages/docusaurus/src/server/themes/alias.ts
  packages/docusaurus/src/server/themes/index.ts
Labels: CLA Signed, tag: bug fix

#5377 refactor: make main heading font size changeable via CSS var
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/styles.module.css
  yarn.lock
Labels: CLA Signed, tag: polish

#5389 refactor: clean Canny integration + rename 'Feedback' to 'Feature Requests' + improve TS doc page
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
  website/community/0-support.md
  website/docs/introduction.md
  website/docs/typescript-support.md
  website/docusaurus.config.js
  website/sidebarsCommunity.js
  website/src/featureRequests/FeatureRequestsPage.tsx
  website/src/featureRequests/FeatureRequestsPlugin.js
  website/src/featureRequests/cannyScript.js
  website/src/featureRequests/styles.module.css
  website/src/theme/NotFound.tsx
  website/static/_redirects
  website/versioned_docs/version-2.0.0-beta.3/introduction.md
  website/versioned_docs/version-2.0.0-beta.4/introduction.md
Labels: CLA Signed, tag: polish

#5386 refactor: various tags improvements
  packages/docusaurus-theme-classic/src/theme/DocTagDocListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tag/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tag/styles.module.css
  packages/docusaurus-theme-classic/src/theme/TagsListByLetter/index.tsx
  packages/docusaurus-theme-classic/src/theme/TagsListByLetter/styles.module.css
  packages/docusaurus-theme-classic/src/theme/TagsListInline/index.tsx
  packages/docusaurus-theme-classic/src/theme/TagsListInline/styles.module.css
  packages/docusaurus-theme-classic/src/types.d.ts
Labels: CLA Signed, tag: polish

#5390 docs(v2): showcase BoxyHQ
  website/src/data/showcase/boxyhq.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5375 feat: add metatags support for seo / blogposts #5373
  packages/docusaurus-plugin-content-blog/index.d.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-bootstrap/src/theme/DebugLayout/index.tsx
  packages/docusaurus-theme-bootstrap/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-theme-classic/src/theme/Seo/index.tsx
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Labels: CLA Signed, tag: new feature

#5371 feat: make blog config options and navbar versions dropdown label translatable
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/translations.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-classic/codeTranslations/ar.json
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/bn.json
  packages/docusaurus-theme-classic/codeTranslations/cs.json
  packages/docusaurus-theme-classic/codeTranslations/da.json
  packages/docusaurus-theme-classic/codeTranslations/de.json
  packages/docusaurus-theme-classic/codeTranslations/es.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
  packages/docusaurus-theme-classic/codeTranslations/fil.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/codeTranslations/he.json
  packages/docusaurus-theme-classic/codeTranslations/hi.json
  packages/docusaurus-theme-classic/codeTranslations/ja.json
  packages/docusaurus-theme-classic/codeTranslations/ko.json
  packages/docusaurus-theme-classic/codeTranslations/pl.json
  packages/docusaurus-theme-classic/codeTranslations/pt-BR.json
  packages/docusaurus-theme-classic/codeTranslations/pt-PT.json
  packages/docusaurus-theme-classic/codeTranslations/ru.json
  packages/docusaurus-theme-classic/codeTranslations/tr.json
  packages/docusaurus-theme-classic/codeTranslations/vi.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hans.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hant.json
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  website/docs/api/plugins/plugin-content-blog.md
Labels: CLA Signed, tag: new feature

#5397 chore: rename docusaurus-2-website package + refactor scripts
  .github/workflows/v2-build-blog-only.yml
  .github/workflows/v2-build-size-report.yml
  .github/workflows/v2-build-time-perf.yml
  .github/workflows/v2-tests-e2e.yml
  .github/workflows/v2-tests-windows.yml
  admin/publish.md
  package.json
  website/package.json
Labels: CLA Signed, tag: internal

#5398 fix: fix write-translations warning for theme-common translations
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
Labels: CLA Signed, tag: bug fix

#5399 fix: fix site unlocalized 404 pages + aggressive Netlify /assets caching
  website/static/_headers
  website/static/_redirects
Labels: CLA Signed, tag: bug fix

#5406 docs: specify proper min Node.js version for Travis CI example
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#5405 docs: add Gotenberg to showcase
  website/src/data/showcase/gotenberg.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5436 docs: add Redocusaurus in community plugin list
  website/community/2-resources.md
Labels: CLA Signed, tag: documentation

#5435 docs: Add netboot.xyz to site showcase
  website/src/data/showcase/netbootxyz.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5433 docs: document doc tags + refinements
  website/docs/blog.mdx
  website/docs/guides/docs/docs-create-doc.mdx
Labels: CLA Signed, tag: documentation

#5410 refactor: add missing translations in fa.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
Labels: CLA Signed, tag: polish

#5437 fix: fix a few TS errors
  .github/workflows/v2-tests.yml
  packages/docusaurus-init/templates/classic-typescript/package.json
  packages/docusaurus-init/templates/classic-typescript/tsconfig.json
  packages/docusaurus-mdx-loader/src/types.d.ts
  packages/docusaurus-plugin-content-blog/index.d.ts
  packages/docusaurus-plugin-content-docs/src/client/docsClientUtils.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/types.d.ts
  website/package.json
  website/tsconfig.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#5430 refactor: switch to Flexbox in announcement bar
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
Labels: CLA Signed, tag: polish

#5444 fix: fix some theme UI issues (blockquotes, navbar-sidebar font) with Infima alpha.32
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#5445 feat: Add docs-related stable classnames
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItemFooter/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocTagDocListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocTagsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocVersionBanner/index.tsx
  packages/docusaurus-theme-classic/src/theme/EditThisPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/LastUpdated/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
Labels: CLA Signed, tag: new feature

#5453 refactor: use SVG for closable button in announcement bar
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
Labels: CLA Signed, tag: polish

#5454 feat: new docs options: versions.{badge,className}
  .eslintrc.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  website/docs/api/plugins/plugin-content-docs.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#5455 fix: website bad version name in docusaurus.config.js
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal
