Repository facebook/docusaurus, pull requests merged in 2021-04, with the labels that each got.

#4543 docs(v2): fix run-on sentence
  website/docs/cli.md
Labels: CLA Signed, tag: documentation

#4551 docs(v2): Updates showcase: Channel.js renamed to Repeater.js
  website/src/data/showcase/channeljs.png
  website/src/data/showcase/repeaterjs.png
  website/src/data/users.js
Labels: CLA Signed

#4546 docs(v2): add a missing "export" from the initial template
  packages/docusaurus-init/templates/classic/docs/create-a-page.md
Labels: CLA Signed, tag: documentation

#4554 fix: DocNavbarItem error message
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
Labels: CLA Signed, tag: bug fix

#4570 docs(v2): Add Redis Labs Developer Site to docusaurus showcase page
  website/src/data/showcase/redis-developer.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4568 docs(v2): add social-embed to showcase
  website/src/data/showcase/social-embed.png
  website/src/data/users.js
Labels: CLA Signed

#4560 docs(v2): fixed typos
  examples/bootstrap/README.md
  examples/facebook/README.md
  packages/docusaurus-init/templates/bootstrap/README.md
  packages/docusaurus-init/templates/classic/README.md
  packages/docusaurus-init/templates/facebook/README.md
  website-1.x/docs/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.14.5/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.14.7/getting-started-publishing.md
  website/versioned_docs/version-2.0.0-alpha.71/deployment.mdx
  website/versioned_docs/version-2.0.0-alpha.72/deployment.mdx
Labels: CLA Signed, tag: documentation

#4561 docs(v2): add a missing slug from the initial template
  packages/docusaurus-init/templates/classic/docs/create-a-blog-post.md
Labels: CLA Signed, tag: documentation

#4559 docs(v2): fixed the directory of index.js
  website/docs/docusaurus-core.md
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-git.md
  website/docs/i18n/i18n-tutorial.md
  website/versioned_docs/version-2.0.0-alpha.71/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.71/i18n/i18n-crowdin.mdx
  website/versioned_docs/version-2.0.0-alpha.71/i18n/i18n-git.md
  website/versioned_docs/version-2.0.0-alpha.71/i18n/i18n-tutorial.md
  website/versioned_docs/version-2.0.0-alpha.72/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.72/i18n/i18n-crowdin.mdx
  website/versioned_docs/version-2.0.0-alpha.72/i18n/i18n-git.md
  website/versioned_docs/version-2.0.0-alpha.72/i18n/i18n-tutorial.md
Labels: CLA Signed, tag: documentation

#4573 docs: update README badges
  README.md
Labels: CLA Signed, tag: documentation

#4558 docs(v2): fixed broken link in i18n-tutorial.md
  website/docs/i18n/i18n-tutorial.md
Labels: CLA Signed, tag: documentation

#4575 fix(v2): fix i18n isLastLocale bug preventing docusaurus from building some locales
  packages/docusaurus/src/commands/build.ts
Labels: CLA Signed, tag: bug fix

#4547 feat(v2) : use symbols to denote swizzle safety
  packages/docusaurus/src/commands/swizzle.ts
Labels: CLA Signed

#4574 fix(v2): examples should use Node 14 by default on CodeSandbox + regen with alpha72
  .prettierignore
  examples/bootstrap/README.md
  examples/bootstrap/package.json
  examples/bootstrap/sandbox.config.json
  examples/bootstrap/yarn.lock
  examples/classic/README.md
  examples/classic/docs/create-a-blog-post.md
  examples/classic/docs/create-a-document.md
  examples/classic/docs/create-a-page.md
  examples/classic/docs/doc1.md
  examples/classic/docs/doc2.md
  examples/classic/docs/doc3.md
  examples/classic/docs/getting-started.md
  examples/classic/docs/interactiveDoc.mdx
  examples/classic/docs/markdown-features.mdx
  examples/classic/docs/thank-you.md
  examples/classic/docusaurus.config.js
  examples/classic/package.json
  examples/classic/sandbox.config.json
  examples/classic/sidebars.js
  examples/classic/static/img/docusaurus.png
  examples/classic/yarn.lock
  examples/facebook/.eslintrc.js
  examples/facebook/README.md
  examples/facebook/package.json
  examples/facebook/sandbox.config.json
  examples/facebook/yarn.lock
  generateExamples.js
Labels: CLA Signed, tag: bug fix

#4581 feat(v2): default theme translations: locale "pt" should load "pt-BR" translations
  packages/docusaurus-utils/src/__tests__/__fixtures__/defaultCodeTranslations/fr-FR.json
  packages/docusaurus-utils/src/__tests__/codeTranslationsUtils.test.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/codeTranslationsUtils.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: new feature

#4590 feat(v2): various markdown string parsing improvements/fixes
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogFrontMatter.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/markdown/linkify.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-utils/src/__tests__/__snapshots__/parseMarkdown.test.ts.snap
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/__tests__/parseMarkdown.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownParser.ts
Labels: CLA Signed, tag: new feature

#4545 feat(v2): docusaurus deploy: ability to configure port in git url
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/__tests__/buildRemoteBranchUrl.test.ts
  packages/docusaurus/src/commands/buildRemoteBranchUrl.ts
  packages/docusaurus/src/commands/deploy.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/deployment.mdx
Labels: CLA Signed, tag: new feature

#4593 fix(v2): i18n perf issue: getTranslationFile() should not load content again
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/plugins/index.ts
  website/docs/lifecycle-apis.md
Labels: CLA Signed, tag: bug fix

#4594 docs(v2): Include docusaurus-protobuffet to community plugins
  website/community/resources.md
Labels: CLA Signed, tag: documentation

#4595 docs(v2): fix typo theme-configuration.md
  website/docs/api/themes/theme-configuration.md
Labels: CLA Signed, tag: documentation

#4599 docs(v2): i18n site: enable ko + zh-CN locales
  website/docusaurus.config.js
Labels: CLA Signed, tag: documentation

#4596 feat(v2): theme default translations hindi
  packages/docusaurus-theme-classic/codeTranslations/hi.json
Labels: CLA Signed, tag: new feature

#4603 perf(v2): avoid rerender of sidebar items while scrolling
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
Labels: CLA Signed, tag: performance

#4598 fix(v2): render escaped HTML entities inside code properly
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  website/src/pages/examples/markdownPageExample.md
Labels: CLA Signed, tag: bug fix

#4600 fix(v2): use page title from config if not set
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-theme-classic/src/theme/Seo/index.tsx
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Labels: CLA Signed, tag: bug fix

#4601 refactor(v2): increase heading anchor offset
  packages/docusaurus-theme-classic/src/theme/Heading/styles.module.css
Labels: CLA Signed, tag: polish

#4602 docs(v2): Add "PptxGenJS" to showcase
  website/src/data/showcase/pptxgenjs.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4604 docs(v2): add clarity to tip in using-themes page
  website/docs/using-themes.md
Labels: CLA Signed, tag: documentation

#4606 docs(v2): heading typo
  website/docs/using-themes.md
Labels: CLA Signed, tag: documentation

#4501 fix(v2): fail-safe usage of browser storage (localStorage/sessionStorage) when access is denied
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/registerSw.js
  packages/docusaurus-theme-classic/src/theme/hooks/useAnnouncementBar.ts
  packages/docusaurus-theme-classic/src/theme/hooks/useTabGroupChoice.ts
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/DocsPreferredVersionStorage.ts
  packages/docusaurus-theme-common/src/utils/storageUtils.ts
Labels: CLA Signed, tag: bug fix

#4609 docs(v2): add clarity to tip in versioned using-themes page
  website/versioned_docs/version-2.0.0-alpha.71/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.72/using-themes.md
Labels: CLA Signed, tag: documentation

#4612 docs(v2): Added IntelAGENT website to showcase.
  website/src/data/showcase/intelagent.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4611 chore(v2): CI: do not build all locales when monitoring build time perf
  .github/workflows/v2-build-time-perf.yml
Labels: CLA Signed, tag: internal

#4541 fix(v2): fix code block title parsing, support multiple metastring attributes
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
Labels: CLA Signed, tag: bug fix

#4613 chore(v2): fix yarn2 end2end test by using lerna publish --exact
  admin/scripts/test-release.sh
Labels: CLA Signed, tag: internal

#4616 docs(v2): add showcase: kubevela
  website/src/data/showcase/kubevela.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4608 refactor(v2): replace react-toggle with own implementation
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  yarn.lock
Labels: CLA Signed, tag: polish

#4511 feat(v2): add unique page/wrapper className to each theme pages
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  website/docs/styling-layout.md
Labels: CLA Signed

#4617 refactor(v2): simplify and optimize sidebar
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
Labels: CLA Signed, tag: polish

#4619 refactor(v2): rename class main-docs-wrapper to docs-wrapper
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  website/docs/styling-layout.md
Labels: CLA Signed, tag: breaking change, tag: polish

#4620 fix(v2): restore toggle responsive sidebar button
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
Labels: CLA Signed, tag: bug fix

#4624 feat(v2): Add Filipino default translations to theme
  packages/docusaurus-theme-classic/codeTranslations/fil.json
Labels: CLA Signed, tag: new feature

#4622 docs(v2): Adding new community plugins
  website/community/2-resources.md
Labels: CLA Signed

#4621 fix(v2): center align content if no sidebar exists
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
Labels: CLA Signed, tag: bug fix

#4626 refactor(v2): toggleResponsiveSidebar => more stable callback
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
Labels: CLA Signed, tag: performance, tag: polish

#4627 chore(v2): update Infima to alpha.22
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix, tag: internal

#4641 fix(v2): parse headings directly after h1 properly
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/markdownParser.ts
Labels: CLA Signed, tag: bug fix

#4629 fix(v2): fix validation rejecting admonitions false
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
Labels: CLA Signed, tag: bug fix

#4646 fix(v2): ignore imports when h1 heading parsing
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/markdownParser.ts
Labels: CLA Signed, tag: bug fix

#4649 docs(v2): Add new showcase user
  website/src/data/showcase/reactnativeboilerplate.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4643 docs(v2): Fix typo in installation.md
  website/docs/installation.md
Labels: CLA Signed, tag: documentation

#4651 fix(v2): sidebar autogen from subfolder should read category metadata correctly
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-autogenerated-sidebar/partialAutogeneratedSidebars2.js
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebarItemsGenerator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebarItemsGenerator.ts
Labels: CLA Signed, tag: bug fix

#4655 feat(v2): docs, make numberPrefixParser configurable, better defaults, minor breaking-changes
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/numberPrefix.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebarItemsGenerator.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/numberPrefix.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/sidebarItemsGenerator.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/slug.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, tag: new feature

#4654 fix(v2): fix too strict markdown frontmatter validation
  .devcontainer/devcontainer.json
  packages/docusaurus-plugin-content-blog/src/__tests__/blogFrontMatter.test.ts
  packages/docusaurus-plugin-content-blog/src/blogFrontMatter.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-utils-validation/src/__tests__/validationUtils.test.ts
  packages/docusaurus-utils-validation/src/validationUtils.ts
Labels: CLA Signed, tag: bug fix

#4658 feat(v2): allow user to customize/enhance the default sidebar items generator
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/guides/docs/sidebar.md
Labels: CLA Signed, tag: new feature

#4667 fix(v2): Unbreak blog post title by handling title fallback in `LayoutHead`
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-theme-classic/src/theme/Seo/index.tsx
Labels: CLA Signed

#4670 chore: add some redirects to v1.docusaurus.io
  website/static/_redirects
Labels: CLA Signed, tag: internal

#4676 docs(v2): Add Daily Digest - COVID-19 IN FRANCE to showcase
  website/src/data/showcase/daily-digest-covid-19-in-france.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4682 refactor(v2): align external icon on right
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
Labels: CLA Signed, tag: polish

#4668 docs(v2): Add Hostman to deployment doc
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#4680 docs(v2): Fix urls in deployment.md
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#4496 docs(v2): Add Qovery to deployment doc
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#4687 fix(v2): accept empty/null custom_edit_url docs frontmatter for retrocompat
  packages/docusaurus-plugin-content-docs/src/__tests__/docFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
Labels: CLA Signed, tag: bug fix

#4689 chore(v2): update infima to alpha 23
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#4688 fix(v2): fix title logic (meta vs heading) + ignore fixed anchor id syntax
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/markdownParser.ts
  packages/docusaurus/src/commands/__tests__/writeHeadingIds.test.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
Labels: CLA Signed, tag: bug fix

#4699 docs(v2): Add Kosko to showcase
  website/src/data/showcase/kosko.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4704 feat: showcase meli
  website/src/data/showcase/meli.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation
