Repository facebook/docusaurus, pull requests merged in 2021-02, with the labels that each got.

#4135 docs(v2): Fix file path in "Wrapper your site with `<Root>`" (website/docs/using-themes.md)
  website/docs/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.70/using-themes.md
Labels: CLA Signed, tag: documentation

#4128 docs(v2): remove duplicate link from docs about Docusaurus1
  website/docs/introduction.md
Labels: CLA Signed, tag: documentation

#4139 docs(v2): Add Rematch site to showcase page
  website/src/data/showcase/rematch.png
  website/src/data/users.js
Labels: CLA Signed

#4137 fix(v2): escape apostrophes in route paths
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed, tag: bug fix

#4141 docs(v2): plugins docs typo fix
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, tag: documentation

#4143 docs(v2): guide docs typo fix
  website/docs/guides/docs/sidebar.md
Labels: CLA Signed, tag: documentation

#4144 docs(v2): community docs typo fix
  website/community/resources.md
Labels: CLA Signed, tag: documentation

#4146 fix(v2): use current color for language icon
  packages/docusaurus-theme-classic/src/theme/IconLanguage/index.tsx
Labels: CLA Signed, tag: bug fix

#4147 fix(v2): avoid misuse section tag in blog posts
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
Labels: CLA Signed, tag: bug fix

#4148 chore(v2): upgrade dependencies
  package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/lqip-loader/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4155 fix(v2): BaseUrl issue banner insertion should be prevented if JS can load
  packages/docusaurus/src/client/baseUrlIssueBanner/BaseUrlIssueBanner.tsx
  website/dogfooding/clientModuleExample.ts
Labels: CLA Signed, tag: bug fix

#4156 fix(v2): fix build size bot monitoring of js/css assets
  .github/workflows/build-size.yml
Labels: CLA Signed, tag: internal

#4154 fix(v2): add base url to opensearch.xml
  packages/docusaurus-theme-search-algolia/src/index.js
  packages/docusaurus-theme-search-algolia/src/templates/opensearch.js
Labels: CLA Signed, tag: bug fix

#4158 docs(v2): improve bad static assets doc + remove some useless useBaseUrl usage
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/introduction.md
  website/docs/static-assets.md
  website/src/pages/index.js
Labels: CLA Signed, tag: documentation

#4159 chore(v2): fix build size bot again
  .github/workflows/build-size.yml
Labels: CLA Signed, tag: internal

#4160 fix(v2): fix hreflang headers
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
Labels: CLA Signed, tag: bug fix

#4162 fix(v2): make more accessible skip link
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
Labels: CLA Signed, tag: bug fix

#4163 fix(v2): fix warning and improve styling inline TOC
  packages/docusaurus-theme-classic/src/theme/TOCInline/styles.module.css
  website/docs/configuration.md
Labels: CLA Signed, tag: bug fix

#4161 docs(v2): Add docusaurus-theme-github-codeblock
  website/community/resources.md
Labels: CLA Signed

#4164 docs(v2): add a note for images not rendered on dev server
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/plugin-ideal-image.md
Labels: CLA Signed

#4166 fix(v2): ideal image assets should be served under ./assets
  packages/docusaurus-plugin-ideal-image/src/index.ts
Labels: CLA Signed, tag: bug fix

#4168 feat(v2): Extract/translate hardcoded labels from classic theme
  packages/docusaurus-theme-classic/src/theme/BlogListPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/EditThisPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/NotFound.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.js
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  website/package.json
Labels: CLA Signed, tag: new feature

#4170 Update command to check yarn installation
  website/docs/installation.md
Labels: CLA Signed

#4169 refactor(v2): remove delay after skip link pressed
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
Labels: CLA Signed, tag: polish

#4167 refactor(v2): minor styling improvements
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css
  website/src/pages/index.js
  website/src/pages/styles.module.css
Labels: CLA Signed, tag: polish

#4173 docs(v2): typo fixing double colon
  website/docs/installation.md
Labels: CLA Signed, tag: documentation

#4172 docs(v2): Add react-hooks.org to showcase
  website/src/data/showcase/rooks.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4177 docs(v2): Add docusaurus-plugin-remote-content to resources list
  website/community/resources.md
Labels: CLA Signed

#4178 docs(v2): localize 404 page with Netlify + docs
  website/docs/i18n/i18n-tutorial.md
  website/static/_redirects
Labels: CLA Signed, tag: documentation

#4176 fix(v2): make locale dropdown accessible from keyboard
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem.tsx
Labels: CLA Signed, tag: bug fix

#4183 fix: broken link in useThemeContext.ts
  packages/docusaurus-theme-classic/src/theme/hooks/useThemeContext.ts
Labels: CLA Signed

#4171 Added Hashnode support site to showcase
  website/src/data/showcase/hashnode.png
  website/src/data/users.js
Labels: CLA Signed

#4188 fix(v2): prepend docsearch modal to body element
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
Labels: CLA Signed, tag: bug fix

#4194 refactor(v2): use transform instead of top position for hideable navbar
  packages/docusaurus-theme-classic/src/theme/Navbar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.ts
Labels: CLA Signed, tag: polish

#4189 fix(v2): prevent click on item menu with children on mobiles
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
Labels: CLA Signed, tag: bug fix

#4195 fix(v2): restore hamburger menu
  packages/docusaurus-theme-classic/src/theme/Navbar/styles.module.css
Labels: CLA Signed

#4193 refactor(v2): update tabs to follow WAI-ARIA spec
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
Labels: CLA Signed, tag: polish

#4204 docs(v1): fixing a broken link in blog posts
  website-1.x/blog/2019-12-30-docusaurus-2019-recap.md
Labels: CLA Signed, tag: documentation

#4200 fix(v2): various minor bugs with location hash
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.ts
Labels: CLA Signed, tag: bug fix

#4198 feat(v2): add fonts loaders + webpack resolve.roots
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: new feature

#4199 feat(v2): allow to change location of search bar
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/NavbarItem/SearchNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/SearchBar.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  website/docs/api/themes/theme-configuration.md
Labels: CLA Signed, tag: new feature

#4185 feat(v2): allow extend PostCSS config
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/lifecycle-apis.md
Labels: CLA Signed, tag: new feature

#4140 feat(v2): add support for RTL direction
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/i18n/i18n-introduction.md
  yarn.lock
Labels: CLA Signed, tag: new feature

#4212 fix(v2): typo in resolve.roots
  packages/docusaurus/src/constants.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: bug fix

#4207 docs(v2): Added Console Table Documentation Site to showcase
  website/src/data/showcase/console-table.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4210 misc: add requirements for sites being added to showcase
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4214 chore(v2): setup for i18n staging deployment
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal

#4215 feat(v2): Add i18n default code translation bundles
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/__tests__/__fixtures__/defaultCodeTranslations/en.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/defaultCodeTranslations/fr.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/defaultCodeTranslations/fr_FR.json
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/server/translations/translations.ts
Labels: CLA Signed, tag: new feature

#4218 feat(v2): support/use React v17 by default
  examples/classic/package.json
  examples/facebook/package.json
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init/templates/bootstrap/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/sharedModuleAliases.ts
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: new feature

#4220 Add WebdriverIO docs page as showcase
  website/src/data/showcase/webdriverio.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4224 docs(v2): Add MikroORM site to showcase page
  website/src/data/showcase/mikro-orm.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4225 docs: added Apache APISIX
  website/src/data/showcase/apache-apisix.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4226 docs(v2): Removing wrong parenthesis on image variable
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/versioned_docs/version-2.0.0-alpha.70/markdown-features.mdx
Labels: CLA Signed, tag: documentation

#4232 feat(v2): editUrl functions should receive md doc permalink
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, tag: new feature

#4229 docs(v2): Fix link to slash introduction svg
  website/versioned_docs/version-2.0.0-alpha.68/introduction.md
  website/versioned_docs/version-2.0.0-alpha.69/introduction.md
  website/versioned_docs/version-2.0.0-alpha.70/introduction.md
Labels: CLA Signed, tag: documentation

#4230 docs(v2): fix npm/yarn command example for swizzling TypeScript theme components
  website/versioned_docs/version-2.0.0-alpha.70/typescript-support.md
Labels: CLA Signed, tag: documentation

#4233 fix(v2): website editUrl should target upstream docs
  website/docusaurus.config.js
Labels: CLA Signed, tag: bug fix

#4234 fix(v2): fix website versions page
  website/src/pages/versions.js
Labels: CLA Signed, tag: bug fix

#4236 docs(v2): v2 migration should mention RSS feed url change
  website/docs/migration/migration-manual.md
  website/static/_redirects
Labels: CLA Signed, tag: documentation

#4237 docs(v2): Replace mbt-bundle by sicope-model
  website/src/data/showcase/mbt-bundle.png
  website/src/data/showcase/sicope-model.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4244 refactor(v2): clean-ups and fixes
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/TOC/styles.module.css
  packages/docusaurus-theme-classic/src/theme/TOCInline/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.ts
  packages/docusaurus-theme-classic/src/theme/hooks/useWindowSize.ts
Labels: CLA Signed, tag: polish

#4219 refactor(v2): add more translatable strings
  packages/docusaurus-plugin-pwa/src/theme/PwaReloadPopup/index.js
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogListPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocVersionSuggestions/index.tsx
  packages/docusaurus-theme-classic/src/theme/EditThisPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.js
  yarn.lock
Labels: CLA Signed

#4241 fix(v2): avoid horizontal scrolling when long lines of code
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
Labels: CLA Signed, tag: bug fix

#4242 refactor(v2): use Link component for external links
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/Logo/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
Labels: CLA Signed, tag: polish

#4246 refactor(v2): add Russian translation for classic theme
  packages/docusaurus-theme-classic/codeTranslations/ru.json
Labels: CLA Signed, tag: polish

#4247 fix(v2): make doc container full width when hidden sidebar
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
Labels: CLA Signed, tag: bug fix

#4223 chore(v2): upgrade dependencies + require Node 12
  .circleci/config.yml
  .github/workflows/canary-releases.yml
  .github/workflows/e2e-test.yml
  .github/workflows/migration-cli-e2e-test.yml
  .github/workflows/nodejs-windows.yml
  .husky/.gitignore
  .husky/pre-commit
  .nvmrc
  package.json
  packages/docusaurus-1.x/.eslintrc.js
  packages/docusaurus-init/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-sitemap/src/types.ts
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/lqip-loader/package.json
  packages/lqip-loader/src/__tests__/index.test.ts
  website/docs/api/plugins/plugin-sitemap.md
  website/docs/installation.md
  website/docs/using-plugins.md
  yarn.lock
Labels: CLA Signed, tag: breaking change

#4243 refactor(v2): introduce Seo component for internal using
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-theme-classic/src/theme/Seo/index.tsx
Labels: CLA Signed, tag: polish

#4240 fix(v2): remove PostCSS plugin for combine duplicated selectors
  packages/docusaurus-cssnano-preset/index.js
  packages/docusaurus-cssnano-preset/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#4248 chore(v2): Fix build size bot
  .github/workflows/build-size.yml
Labels: CLA Signed, tag: internal

#4251 docs(v2): Add Axioms to showcase
  website/src/data/showcase/awe-framework.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4252 docs(v2): Added mailgo to showcase
  website/src/data/showcase/mailgo.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4254 fix(v2): fix LTR PostCSS bug on Netlify and monorepo symlinks
  packages/docusaurus-theme-classic/src/index.ts
Labels: CLA Signed, tag: bug fix

#4253 chore(v2): remove docs for alpha v68
  website/versioned_docs/version-2.0.0-alpha.68/api/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.68/assets/docusaurus-asset-example-banner.png
  website/versioned_docs/version-2.0.0-alpha.68/assets/docusaurus-asset-example-pdf.pdf
  website/versioned_docs/version-2.0.0-alpha.68/assets/docusaurus-asset-example.xyz
  website/versioned_docs/version-2.0.0-alpha.68/blog.md
  website/versioned_docs/version-2.0.0-alpha.68/cli.md
  website/versioned_docs/version-2.0.0-alpha.68/configuration.md
  website/versioned_docs/version-2.0.0-alpha.68/contributing.md
  website/versioned_docs/version-2.0.0-alpha.68/deployment.mdx
  website/versioned_docs/version-2.0.0-alpha.68/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.68/docs.md
  website/versioned_docs/version-2.0.0-alpha.68/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.68/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.68/guides/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.68/installation.md
  website/versioned_docs/version-2.0.0-alpha.68/introduction.md
  website/versioned_docs/version-2.0.0-alpha.68/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.68/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.68/presets.md
  website/versioned_docs/version-2.0.0-alpha.68/search.md
  website/versioned_docs/version-2.0.0-alpha.68/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.68/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.68/theme-bootstrap.md
  website/versioned_docs/version-2.0.0-alpha.68/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.68/typescript-support.md
  website/versioned_docs/version-2.0.0-alpha.68/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.68/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.68/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.68-sidebars.json
  website/versions.json
Labels: CLA Signed, tag: internal

#4256 docs(v2): Add docusaurus2-graphql-doc-generator to community resources
  website/community/resources.md
Labels: CLA Signed, tag: documentation

#4262 docs(v2): Added kotest to showcase
  website/src/data/showcase/kotest.jpg
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4261 feat(v2): add icon to generic sidebar link
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
Labels: CLA Signed, tag: new feature

#4263 docs(v2): remove npx and use github action to configure ssh key
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#4266 docs(v2): update agilets banner
  website/src/data/showcase/agilets.png
Labels: CLA Signed, tag: documentation

#4265 chore(v2): PostCSS peer dep fix
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4267 fix(v2): Allow null as valid for title of item in footer links.
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
Labels: CLA Signed, tag: bug fix

#4264 chore(v2): bump/align deps in monorepo: commander, semver, fs-extra
  packages/docusaurus-init/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/external.ts
Labels: CLA Signed, tag: internal

#4271 feat(v2): add Farsi default translations
  packages/docusaurus-theme-classic/codeTranslations/fa.json
Labels: CLA Signed, tag: new feature

#4259 docs(v2): improve cli docs
  website/docs/cli.md
  website/docs/using-themes.md
Labels: CLA Signed, tag: documentation

#4270 chore(v2): upgrade react-dev-utils
  packages/docusaurus-1.x/package.json
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4274 fix(v2): theme classic should have lib-next prettified
  packages/docusaurus-theme-classic/package.json
Labels: tag: bug fix

#4275 polish(v2): Add more tags translations
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/codeTranslations/ru.json
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
Labels: CLA Signed, tag: polish

#4257 refactor(v2): improve notifier message
  packages/docusaurus/bin/docusaurus.js
Labels: CLA Signed, tag: polish

#4277 fix(v2): Code blocks should be LTR by default
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/styles.module.css
Labels: CLA Signed, tag: bug fix

#4279 polish(v2): theme default translations for language de / german
  packages/docusaurus-theme-classic/codeTranslations/de.json
Labels: CLA Signed, tag: polish

#4278 feat(v2): ability to "escape" JSX in MDX files as code blocks
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/__tests__/fixtures/has-mdx-code-blocks.mdx
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/index.js
  website/docs/deployment.mdx
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/i18n/i18n-crowdin.mdx
  website/versioned_docs/version-2.0.0-alpha.69/deployment.mdx
  website/versioned_docs/version-2.0.0-alpha.69/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.70/deployment.mdx
  website/versioned_docs/version-2.0.0-alpha.70/markdown-features.mdx
Labels: CLA Signed, tag: new feature

#4282 docs: update Netlify deploy status badge
  README.md
Labels: CLA Signed, tag: documentation

#4283 docs(v2): Add Postgres.ai to showcase
  website/src/data/showcase/postgres-ai.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4285 docs(v2): escape more jsx in mdx files for Crowdin
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-inline-toc.mdx
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
  website/versioned_docs/version-2.0.0-alpha.69/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.70/markdown-features.mdx
Labels: CLA Signed, tag: documentation

#4284 docs(v2): Add AttoBot website to showcase page
  website/src/data/showcase/attobot.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4289 chore(v2): remove docs for alpha v69
  website/versioned_docs/version-2.0.0-alpha.69/api/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.69/assets/docusaurus-asset-example-banner.png
  website/versioned_docs/version-2.0.0-alpha.69/assets/docusaurus-asset-example-pdf.pdf
  website/versioned_docs/version-2.0.0-alpha.69/assets/docusaurus-asset-example.xyz
  website/versioned_docs/version-2.0.0-alpha.69/blog.md
  website/versioned_docs/version-2.0.0-alpha.69/cli.md
  website/versioned_docs/version-2.0.0-alpha.69/configuration.md
  website/versioned_docs/version-2.0.0-alpha.69/contributing.md
  website/versioned_docs/version-2.0.0-alpha.69/deployment.mdx
  website/versioned_docs/version-2.0.0-alpha.69/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.69/docs.md
  website/versioned_docs/version-2.0.0-alpha.69/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.69/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.69/guides/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.69/installation.md
  website/versioned_docs/version-2.0.0-alpha.69/introduction.md
  website/versioned_docs/version-2.0.0-alpha.69/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.69/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.69/presets.md
  website/versioned_docs/version-2.0.0-alpha.69/search.md
  website/versioned_docs/version-2.0.0-alpha.69/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.69/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.69/theme-bootstrap.md
  website/versioned_docs/version-2.0.0-alpha.69/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.69/typescript-support.md
  website/versioned_docs/version-2.0.0-alpha.69/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.69/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.69/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.69-sidebars.json
  website/versions.json
Labels: CLA Signed, tag: internal

#4293 docs(v2): Added React Native ARIA to showcase
  website/src/data/showcase/reactnative-aria.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4294 docs(v2): Add shabados docs site to showcase page
  website/src/data/showcase/shabados.png
  website/src/data/users.js
Labels: CLA Signed

#4295 feat(v2): Add Interpolate / interpolate APIs + complete theme translations
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/de.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/codeTranslations/ru.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocVersionSuggestions/index.tsx
  packages/docusaurus-theme-classic/src/theme/LastUpdated/index.tsx
  packages/docusaurus-theme-classic/src/theme/LastUpdated/styles.module.css
  packages/docusaurus-theme-classic/update-code-translations.js
  packages/docusaurus/src/client/exports/Interpolate.tsx
  packages/docusaurus/src/client/exports/Translate.tsx
  packages/docusaurus/src/client/exports/__tests__/Interpolate.test.tsx
  packages/docusaurus/src/client/exports/__tests__/__snapshots__/Interpolate.test.tsx.snap
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  website/community/team.mdx
  website/docs/docusaurus-core.md
  website/docs/i18n/i18n-introduction.md
  website/docs/i18n/i18n-tutorial.md
  website/src/components/TeamProfileCard/index.js
  website/src/components/TeamProfileCards/index.js
Labels: CLA Signed, tag: new feature

#4296 docs(v2): move migrated sites from v1 to v2 showcase
  README.md
  website/src/data/showcase/create-react-app.png
  website/src/data/showcase/devspace.png
  website/src/data/showcase/diem.png
  website/src/data/showcase/draftjs.png
  website/src/data/showcase/erxes.png
  website/src/data/showcase/fbt.png
  website/src/data/showcase/flipper.png
  website/src/data/showcase/gulp.png
  website/src/data/showcase/home-assistant.png
  website/src/data/showcase/idb.png
  website/src/data/showcase/mailgo.png
  website/src/data/showcase/metro.png
  website/src/data/showcase/node-serialport.png
  website/src/data/showcase/paubox.png
  website/src/data/showcase/profolo.png
  website/src/data/showcase/pyre.png
  website/src/data/showcase/react-leaflet.png
  website/src/data/showcase/react-native-elements.png
  website/src/data/showcase/react-native-ios-kit.png
  website/src/data/showcase/react-native-testing-library.png
  website/src/data/showcase/react-redux.png
  website/src/data/showcase/redux.png
  website/src/data/showcase/saleor.png
  website/src/data/showcase/single-spa.png
  website/src/data/showcase/smashgg.png
  website/src/data/showcase/testing-library.png
  website/src/data/showcase/the-diff.png
  website/src/data/users.js
Labels: CLA Signed, mlh, tag: documentation

#4297 docs(v2): Fix examples by importing React
  website/docs/using-themes.md
Labels: CLA Signed, tag: documentation
