Repository facebook/docusaurus, pull requests merged in 2021-09, with the labels that each got.

#5456 feat: TypeScript presets/plugins should expose Options typing
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/plugin-client-redirects.d.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-plugin-content-pages/types.d.ts
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/plugin-sitemap.d.ts
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.js
  packages/docusaurus-preset-classic/src/preset-classic.d.ts
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  website/_dogfooding/dogfooding.config.js
  website/docs/typescript-support.md
  website/docusaurus.config.js
  website/package.json
Labels: CLA Signed

#5442 feat(theme-classic): allow passing tab label and default value through TabItem
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
  website/src/components/BrowserWindow/styles.module.css
  website/src/css/custom.css
Labels: CLA Signed, tag: new feature

#5459 refactor(theme-classic): completely migrate package to TypeScript
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/prism-include-languages.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocVersionBanner/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useTabGroupChoice.ts
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-classic/tsconfig.json
  yarn.lock
Labels: CLA Signed, tag: polish

#5460 feat: infima 33 + navbar-sidebar close button
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconCloseThick/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconCloseThin/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/styles.module.css
  packages/docusaurus-theme-classic/src/types.d.ts
  yarn.lock
Labels: CLA Signed, tag: new feature

#5465 refactor(plugin-debug): migrate package to TypeScript
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-debug/copyUntypedFiles.js
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-debug/src/index.ts
  packages/docusaurus-plugin-debug/src/theme/DebugConfig/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugContent/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugGlobalData/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugLayout/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugRegistry/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugRoutes/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugSiteMetadata/index.tsx
  packages/docusaurus-plugin-debug/src/types.d.ts
Labels: CLA Signed

#5462 feat: on back navigation, close mobile sidebar
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
Labels: CLA Signed, tag: new feature

#5464 docs: add mapillary-js to showcase
  website/src/data/showcase/mapillaryjs.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5471 docs: Add docusaurus-plugin-relative-paths
  website/community/2-resources.md
Labels: CLA Signed, tag: documentation

#5428 feat: adds blog archive route
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-classic/codeTranslations/ar.json
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/bn.json
  packages/docusaurus-theme-classic/codeTranslations/cs.json
  packages/docusaurus-theme-classic/codeTranslations/da.json
  packages/docusaurus-theme-classic/codeTranslations/de.json
  packages/docusaurus-theme-classic/codeTranslations/es.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
  packages/docusaurus-theme-classic/codeTranslations/fil.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/codeTranslations/he.json
  packages/docusaurus-theme-classic/codeTranslations/hi.json
  packages/docusaurus-theme-classic/codeTranslations/ja.json
  packages/docusaurus-theme-classic/codeTranslations/ko.json
  packages/docusaurus-theme-classic/codeTranslations/pl.json
  packages/docusaurus-theme-classic/codeTranslations/pt-BR.json
  packages/docusaurus-theme-classic/codeTranslations/pt-PT.json
  packages/docusaurus-theme-classic/codeTranslations/ru.json
  packages/docusaurus-theme-classic/codeTranslations/tr.json
  packages/docusaurus-theme-classic/codeTranslations/vi.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hans.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hant.json
  packages/docusaurus-theme-classic/src/theme/BlogArchivePage/index.tsx
  website/docs/api/plugins/plugin-content-blog.md
Labels: CLA Signed, tag: new feature

#5481 fix: use heading itself as anchor for better crawling
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/styles.css
  packages/docusaurus-theme-classic/src/theme/Heading/styles.module.css
Labels: CLA Signed, tag: bug fix

#5479 fix: add docs tag validation to solve #5478
  packages/docusaurus-plugin-content-blog/src/__tests__/blogFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  website/docs/guides/docs/docs-create-doc.mdx
Labels: CLA Signed, tag: bug fix

#5482 docs: update docusaurus-plugin-relative-paths description
  website/community/2-resources.md
Labels: CLA Signed, tag: documentation

#5485 polish: prevent pop navigation on back if navbar sidebar is open
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
Labels: CLA Signed, tag: polish

#5486 docs: mention Netlify ignore build setting
  website/docs/deployment.mdx
  website/versioned_docs/version-2.0.0-beta.5/deployment.mdx
  website/versioned_docs/version-2.0.0-beta.6/deployment.mdx
Labels: CLA Signed, tag: documentation

#5499 chore: set up CodeQL
  .github/workflows/codeql-analysis.yml
Labels: CLA Signed, tag: internal

#5539 docs: improve escape pipe in Markdown tables
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/themes/theme-configuration.md
  website/versioned_docs/version-2.0.0-beta.5/api/plugins/plugin-content-blog.md
  website/versioned_docs/version-2.0.0-beta.5/api/plugins/plugin-content-docs.md
  website/versioned_docs/version-2.0.0-beta.5/api/themes/theme-configuration.md
  website/versioned_docs/version-2.0.0-beta.6/api/plugins/plugin-content-blog.md
  website/versioned_docs/version-2.0.0-beta.6/api/plugins/plugin-content-docs.md
  website/versioned_docs/version-2.0.0-beta.6/api/themes/theme-configuration.md
Labels: CLA Signed, tag: documentation

#5546 docs: add unleash to showcase
  website/src/data/showcase/unleash.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5469 refactor: Adjust styling of back top top button
  packages/docusaurus-theme-classic/codeTranslations/ar.json
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/bn.json
  packages/docusaurus-theme-classic/codeTranslations/cs.json
  packages/docusaurus-theme-classic/codeTranslations/da.json
  packages/docusaurus-theme-classic/codeTranslations/de.json
  packages/docusaurus-theme-classic/codeTranslations/es.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
  packages/docusaurus-theme-classic/codeTranslations/fil.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/codeTranslations/he.json
  packages/docusaurus-theme-classic/codeTranslations/hi.json
  packages/docusaurus-theme-classic/codeTranslations/ja.json
  packages/docusaurus-theme-classic/codeTranslations/ko.json
  packages/docusaurus-theme-classic/codeTranslations/pl.json
  packages/docusaurus-theme-classic/codeTranslations/pt-BR.json
  packages/docusaurus-theme-classic/codeTranslations/pt-PT.json
  packages/docusaurus-theme-classic/codeTranslations/ru.json
  packages/docusaurus-theme-classic/codeTranslations/tr.json
  packages/docusaurus-theme-classic/codeTranslations/vi.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hans.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hant.json
  packages/docusaurus-theme-classic/src/theme/BackToTopButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/BackToTopButton/styles.module.css
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
Labels: CLA Signed, tag: polish

#5559 docs: minor grammatical correction
  website/docs/typescript-support.md
Labels: CLA Signed

#5566 docs: fix code example
  website/docs/guides/creating-pages.md
Labels: CLA Signed, tag: documentation

#5573 misc: fix ungrammatical sentence about 5-min tutorial
  README.md
Labels: CLA Signed, tag: internal

#5581 docs(website): update all Discord links
  CONTRIBUTING.md
  website/community/0-support.md
  website/community/3-contributing.md
  website/docs/introduction.md
Labels: CLA Signed, tag: documentation

#5575 docs: clarify MDX version used
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, tag: documentation

#5572 docs: add Blogasaurus to showcase
  website/src/data/showcase/Blogasaurus.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5585 docs: fix more references to Discord channels
  README.md
  admin/publish.md
  website/docs/migration/migration-overview.md
Labels: CLA Signed, tag: documentation

#5574 docs: add Pipeline UI to showcase
  website/src/data/showcase/pipeline-ui.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5580 refactor(core): type improvements for `PendingNavigation`
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/normalizeLocation.ts
Labels: CLA Signed, tag: polish

#5571 fix: highlight active item in recent post list
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/styles.module.css
Labels: CLA Signed, tag: bug fix

#5560 polish: remove unused eslint-disable
  package.json
  packages/docusaurus-mdx-loader/src/remark/headings/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.js
  packages/docusaurus-theme-bootstrap/src/types.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogArchivePage/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/TagsListInline/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-common/src/types.d.ts
  packages/docusaurus-theme-common/src/utils/tagsUtils.ts
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/types.d.ts
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/server/themes/index.ts
  packages/docusaurus/src/server/types.d.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: polish

#5556 fix: pin react-live due to possible mismatch React
  packages/docusaurus-theme-live-codeblock/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#5545 feat: make tags route path configurable
  packages/docusaurus-plugin-content-blog/src/__tests__/generateBlogFeed.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, tag: new feature

#5490 fix: install deps for new project via Yarn on Windows properly
  packages/docusaurus-init/package.json
  packages/docusaurus-init/src/index.ts
  yarn.lock
Labels: CLA Signed, tag: bug fix

#5495 fix: ignore code block lines when creating excerpt
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/markdownParser.ts
Labels: CLA Signed, tag: bug fix

#5579 refactor(preset-classic): migrate preset-classic to TypeScript
  packages/docusaurus-mdx-loader/src/types.d.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-pages/src/types.ts
  packages/docusaurus-plugin-sitemap/src/types.ts
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.js
  packages/docusaurus-preset-classic/src/index.ts
  packages/docusaurus-preset-classic/tsconfig.json
Labels: CLA Signed, tag: internal

#5561 refactor(plugin-google-gtag, plugin-google-analytics): migrate packages to TS
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-analytics/src/analytics.ts
  packages/docusaurus-plugin-google-analytics/src/index.ts
  packages/docusaurus-plugin-google-analytics/src/plugin-google-analytics.d.ts
  packages/docusaurus-plugin-google-analytics/src/types.d.ts
  packages/docusaurus-plugin-google-analytics/tsconfig.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-gtag/src/gtag.ts
  packages/docusaurus-plugin-google-gtag/src/index.ts
  packages/docusaurus-plugin-google-gtag/src/plugin-google-gtag.d.ts
  packages/docusaurus-plugin-google-gtag/src/types.d.ts
  packages/docusaurus-plugin-google-gtag/tsconfig.json
  packages/docusaurus-preset-classic/src/preset-classic.d.ts
Labels: CLA Signed, tag: internal

#5591 docs: Add whirl.codes to showcase
  website/src/data/showcase/whirlcodes.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5498 feat: make Webpack url-loader limit configurable (env variable)
  packages/docusaurus/src/constants.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: new feature

#5603 fix(preset-classic): fix TS build issue
  packages/docusaurus-preset-classic/src/index.ts
Labels: CLA Signed, tag: internal

#5590 docs(website): document npm2yarn plugin + use new Tabs API everywhere
  website/docs/blog.mdx
  website/docs/deployment.mdx
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
  website/docs/i18n/i18n-crowdin.mdx
Labels: CLA Signed, tag: documentation

#5592 refactor: use CSS Modules for toggle styles
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.css
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css
Labels: CLA Signed, tag: breaking change, tag: polish

#5487 refactor: use only one close SVG icon
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconClose/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconCloseThick/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconCloseThin/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/styles.module.css
  packages/docusaurus-theme-classic/src/types.d.ts
Labels: CLA Signed, tag: polish

#5601 fix(module-type-aliases): move @type packages to dependencies
  packages/docusaurus-init/templates/classic-typescript/package.json
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-types/src/index.js
  website/docs/typescript-support.md
  yarn.lock
Labels: CLA Signed, tag: bug fix

#5489 docs: add additional search options, typesense and local search
  website/community/2-resources.md
  website/docs/search.md
Labels: CLA Signed

#5606 fix(docs): create tags route if only tags exists
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/index.ts
Labels: CLA Signed, tag: bug fix

#5605 refactor(core): enforce noImplicitAny
  packages/docusaurus/package.json
  packages/docusaurus/src/client/baseUrlIssueBanner/BaseUrlIssueBanner.tsx
  packages/docusaurus/src/client/templates/ssr.html.template.d.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/server/translations/translations.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/docusaurus/src/types.d.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/plugins/CleanWebpackPlugin.ts
  packages/docusaurus/src/webpack/plugins/LogPlugin.ts
  packages/docusaurus/src/webpack/server.ts
  packages/docusaurus/src/webpack/utils.ts
  packages/docusaurus/tsconfig.client.json
  packages/docusaurus/tsconfig.json
  yarn.lock
Labels: CLA Signed, tag: internal

#5540 fix: do not use ideal image plugin in dev env
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage.js
Labels: CLA Signed, tag: bug fix

#5608 chore: upgrade dependencies
  package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/utils/storageUtils.ts
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/markdownParser.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/__tests__/writeHeadingIds.test.ts
  packages/lqip-loader/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#5578 feat(v2): allow specifying TOC max depth (themeConfig + frontMatter)
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/search.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/search.ts
  packages/docusaurus-plugin-content-blog/src/blogFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/theme/BlogLayout/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOC/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCInline/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCItems/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/tocUtils.test.ts
  packages/docusaurus-theme-common/src/utils/tocUtils.ts
  packages/docusaurus-theme-common/src/utils/useTOCHighlight.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  website/_dogfooding/_blog tests/2021-08-21-blog-post-toc-tests.mdx
  website/_dogfooding/_docs tests/toc/toc-2-2.mdx
  website/_dogfooding/_docs tests/toc/toc-2-3.mdx
  website/_dogfooding/_docs tests/toc/toc-2-4.mdx
  website/_dogfooding/_docs tests/toc/toc-2-5.mdx
  website/_dogfooding/_docs tests/toc/toc-3-5.mdx
  website/_dogfooding/_docs tests/toc/toc-3-_.mdx
  website/_dogfooding/_docs tests/toc/toc-4-5.mdx
  website/_dogfooding/_docs tests/toc/toc-5-5.mdx
  website/_dogfooding/_docs tests/toc/toc-_-5.mdx
  website/_dogfooding/_docs tests/toc/toc-_-_.mdx
  website/_dogfooding/_docs tests/toc/toc-test-bad.mdx
  website/_dogfooding/_docs tests/toc/toc-test-good.mdx
  website/_dogfooding/_pages tests/page-toc-tests.mdx
  website/_dogfooding/_partials/toc-tests.md
  website/_dogfooding/docs-tests-sidebars.js
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/themes/theme-configuration.md
  website/docs/guides/docs/docs-create-doc.mdx
  website/docs/guides/markdown-features/markdown-features-inline-toc.mdx
Labels: CLA Signed, tag: new feature, tag: breaking change

#5609 chore: upgrade Terser-related dependencies
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/client/serverEntry.js
  yarn.lock
Labels: CLA Signed, tag: internal

#5628 chore: fix warning after build
  CHANGELOG.md
Labels: CLA Signed, tag: internal

#5627 refactor: various TOC improvements
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCInline/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCItems/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-common/src/utils/useTOCHighlight.ts
Labels: CLA Signed, tag: polish

#5589 feat: typecheck the Docusaurus config
  package.json
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  packages/docusaurus-mdx-loader/src/types.d.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-plugin-sitemap/src/plugin-sitemap.d.ts
  packages/docusaurus-preset-classic/src/preset-classic.d.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  packages/docusaurus-types/package.json
  packages/docusaurus-types/src/index.d.ts
  website/_dogfooding/dogfooding.config.js
  website/docs/typescript-support.md
  website/docusaurus.config.js
  website/package.json
  website/src/featureRequests/FeatureRequestsPlugin.js
Labels: CLA Signed, tag: new feature

#5629 fix: text/link hydration bug
  packages/docusaurus/src/client/serverEntry.js
  website/_dogfooding/_pages tests/hydration-tests.js
Labels: CLA Signed, tag: bug fix
