Repository facebook/docusaurus, pull requests merged in 2021-06, with the labels that each got.

#4879 docs(v2): Added FireCMS to the showcase
  website/src/data/showcase/firecms.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4880 docs(v2): grammar typo in migration-overview.md
  website/docs/migration/migration-overview.md
Labels: CLA Signed, tag: documentation

#4876 docs(v2): update steps in the github-actions section
  website/docs/deployment.mdx
  website/versioned_docs/version-2.0.0-alpha.73/deployment.mdx
  website/versioned_docs/version-2.0.0-alpha.74/deployment.mdx
  website/versioned_docs/version-2.0.0-alpha.75/deployment.mdx
  website/versioned_docs/version-2.0.0-beta.0/deployment.mdx
Labels: CLA Signed, tag: documentation

#4878 misc: improve bug report issue template
  .github/ISSUE_TEMPLATE/bug.md
Labels: CLA Signed, tag: internal

#4885 docs(v2): v2 migration guide: mention Algolia config update
  website/docs/migration/migration-manual.md
Labels: CLA Signed, tag: documentation

#4871 fix(v2): unbreak adding of custom HTML metadatas
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-theme-classic/src/theme/Seo/index.tsx
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Labels: CLA Signed, tag: bug fix

#4821 docs(v2): New doc page for math equations
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  yarn.lock
Labels: CLA Signed, tag: documentation

#4886 misc: add github issue template config
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.md
Labels: CLA Signed, tag: internal

#4889 misc: issue template config typo
  .github/ISSUE_TEMPLATE/config.yml
Labels: CLA Signed, tag: internal

#4875 refactor(v2): make even better SSR error notify and add tip
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/commands/build.ts
Labels: CLA Signed, tag: polish

#4865 refactor(v2): make little better doc update block UI
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/LastUpdated/index.tsx
  packages/docusaurus-theme-classic/src/theme/LastUpdated/styles.module.css
Labels: CLA Signed, tag: polish

#4863 refactor(v2): remove sidebar_label filed from doc metadata file
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
Labels: CLA Signed, tag: polish

#4858 chore(v2): add external link to community sidebar
  website/sidebarsCommunity.js
Labels: CLA Signed, tag: internal

#4887 docs(v2): Add Aide Jeune website to Docusaurus site showcase
  website/src/data/showcase/aide_jeune.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4861 fix(v2): allow relative sidebar path resolution in docs:version command
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  website/docusaurus.config.js
Labels: CLA Signed, tag: bug fix

#4860 refactor(v2): use aliased path for blog list sidebar file
  packages/docusaurus-plugin-content-blog/src/index.ts
Labels: CLA Signed, tag: polish

#4893 docs(v2): presets: fix typo in bootstrap preset
  website/docs/presets.md
Labels: CLA Signed, tag: documentation

#4896 Fix incorrect link to plugin-ideal-image
  website/docs/guides/markdown-features/markdown-features-assets.mdx
Labels: CLA Signed, tag: documentation

#4894 fix(v2): escape HTML entities in user tags attributes
  packages/docusaurus/package.json
  packages/docusaurus/src/server/html-tags/__tests__/htmlTags.test.ts
  packages/docusaurus/src/server/html-tags/htmlTags.ts
Labels: CLA Signed, tag: bug fix

#4897 chore: fail CI if yarn.lock is modified on install
  .github/workflows/lint.yml
Labels: CLA Signed, tag: internal

#4870 refactor(v2): add exception handling if external command is fails
  packages/docusaurus/bin/docusaurus.js
Labels: CLA Signed, tag: polish

#4882 fix(v2): fix contentTitle issues when markdown h1 title contains code blocks
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/styles.module.css
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/markdownParser.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, tag: bug fix

#4898 docs(v2): add ClarityChallenge to showcase
  website/src/data/showcase/claritychallenge.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4900 fix(v2): adjust margin after content title
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
Labels: CLA Signed, tag: bug fix

#4910 docs(v2): plugins: fix typo in code block
  website/docs/using-plugins.md
Labels: CLA Signed

#4915 chore(v2): bump react-waypoint from 9.0.2 to 10.1.0
  packages/docusaurus-plugin-ideal-image/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4926 refactor(v2): hide decorative SVGs from screen readers
  packages/docusaurus-theme-classic/src/theme/IconArrow/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconEdit/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconLanguage/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconMenu/index.tsx
Labels: CLA Signed, tag: polish

#4916 refactor(v2): replace strong with b in UI components
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocVersionSuggestions/index.tsx
  packages/docusaurus-theme-classic/src/theme/LastUpdated/index.tsx
  packages/docusaurus-theme-classic/src/theme/Logo/index.tsx
Labels: CLA Signed, tag: polish

#4914 refactor(v2): use SVG for external link icon
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/IconExternalLink/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconExternalLink/styles.module.css
Labels: CLA Signed, tag: polish

#4905 refactor(v2): do not generate RSS files for empty feed
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/generateBlogFeed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/generateBlogFeed.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
Labels: CLA Signed, tag: polish

#4919 refactor(v2): improve markup and styling on search page
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/styles.module.css
Labels: CLA Signed, tag: polish

#4906 fix(v2): fix minor a11y issues
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  website/src/components/showcase/ShowcaseCard/index.js
  website/src/components/showcase/ShowcaseSelect/index.js
  website/src/pages/showcase/index.js
Labels: CLA Signed, tag: bug fix

#4935 fix(v2): render children in BrowserOnly after client is ready
  packages/docusaurus/src/client/exports/BrowserOnly.tsx
Labels: CLA Signed, tag: bug fix

#4907 refactor(v2): remove type attribute from link and script tags
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus/src/client/templates/ssr.html.template.js
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/index.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docusaurus.config.js
Labels: CLA Signed, tag: polish

#4877 refactor(v2): reduce vertical space in doc content container
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/TOC/styles.module.css
Labels: CLA Signed, tag: polish

#4924 fix(v2): respect baseUrl in serving command
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/server/index.ts
Labels: CLA Signed, tag: bug fix

#4903 refactor(v2): make doc item layout more semantic
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/LastUpdated/index.tsx
  packages/docusaurus-theme-classic/src/theme/LastUpdated/styles.module.css
Labels: CLA Signed, tag: polish

#4908 feat(v2): add trailingSlash config option
  package.json
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/__tests__/applyTrailingSlash.test.ts
  packages/docusaurus/src/client/exports/__tests__/isInternalUrl.test.ts
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.test.ts
  packages/docusaurus/src/client/exports/applyTrailingSlash.tsx
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/plugins/__tests__/applyRouteTrailingSlash.test.ts
  packages/docusaurus/src/server/plugins/applyRouteTrailingSlash.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  packages/docusaurus/src/webpack/server.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/api/plugins/plugin-google-analytics.md
  website/docs/deployment.mdx
  website/docs/guides/docs/docs-markdown-features.mdx
  website/docs/search.md
  website/docusaurus.config.js
  website/versioned_docs/version-2.0.0-alpha.73/search.md
  website/versioned_docs/version-2.0.0-alpha.74/search.md
  website/versioned_docs/version-2.0.0-alpha.75/search.md
  website/versioned_docs/version-2.0.0-beta.0/api/plugins/plugin-google-analytics.md
  website/versioned_docs/version-2.0.0-beta.0/search.md
  yarn.lock
Labels: CLA Signed, tag: new feature

#4942 docs: add info about `DefaultValue` prop in `Tabs`
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
Labels: CLA Signed, tag: documentation

#4917 fix(v2): tidy up Markdown page layout
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXPage/styles.module.css
Labels: CLA Signed, tag: bug fix

#4939 feat(v2): theme default translations Bengali
  packages/docusaurus-theme-classic/codeTranslations/bn.json
Labels: CLA Signed, tag: new feature

#4944 chore: lockfile cleanup
  packages/docusaurus-init/bin/index.js
  packages/docusaurus-migrate/bin/index.js
  packages/docusaurus/bin/docusaurus.js
  yarn.lock
Labels: CLA Signed, tag: internal

#4953 docs(v2): add Flagsmith to showcase
  website/src/data/showcase/flagsmith.png
  website/src/data/users.js
Labels: CLA Signed

#4963 docs(v2): update Awe framework site showcase
  website/src/data/users.js
Labels: CLA Signed

#4961 refactor(v2): improve semantic blog sidebar markup
  packages/docusaurus-theme-classic/codeTranslations/ar.json
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/bn.json
  packages/docusaurus-theme-classic/codeTranslations/da.json
  packages/docusaurus-theme-classic/codeTranslations/de.json
  packages/docusaurus-theme-classic/codeTranslations/es.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
  packages/docusaurus-theme-classic/codeTranslations/fil.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/codeTranslations/he.json
  packages/docusaurus-theme-classic/codeTranslations/hi.json
  packages/docusaurus-theme-classic/codeTranslations/ja.json
  packages/docusaurus-theme-classic/codeTranslations/ko.json
  packages/docusaurus-theme-classic/codeTranslations/pl.json
  packages/docusaurus-theme-classic/codeTranslations/pt-BR.json
  packages/docusaurus-theme-classic/codeTranslations/pt-PT.json
  packages/docusaurus-theme-classic/codeTranslations/ru.json
  packages/docusaurus-theme-classic/codeTranslations/tr.json
  packages/docusaurus-theme-classic/codeTranslations/vi.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hans.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hant.json
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
Labels: CLA Signed, tag: polish

#4957 Add hCaptcha.com Docs to Showcase
  website/src/data/showcase/hcaptcha.png
  website/src/data/users.js
Labels: CLA Signed

#4951 misc: disable google-gtag plugin in Netlify deploys
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal

#4950 fix(v2): sitemap plugin should handle siteConfig.trailingSlash automatically
  .husky/.gitignore
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/pluginOptionSchema.ts
  packages/docusaurus-utils-common/README.md
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils-common/src/__tests__/applyTrailingSlash.test.ts
  packages/docusaurus-utils-common/src/applyTrailingSlash.tsx
  packages/docusaurus-utils-common/src/index.ts
  packages/docusaurus-utils-common/tsconfig.json
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus-utils/README.md
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/server/plugins/applyRouteTrailingSlash.ts
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
Labels: CLA Signed, tag: bug fix

#4970 fix(v2): sidebar_label should be used to compute next/previous button labels
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/hello.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, tag: bug fix

#4969 refactor(v2): include path in error about non-existent ids
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
Labels: CLA Signed, tag: polish

#4958 docs(v2): add documentation about importing markdown
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed

#4968 feat(v2): add code block theming in init template
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/classic/src/css/custom.css
Labels: CLA Signed, tag: new feature

#4940 refactor(v2): improve semantic doc sidebar markup
  packages/docusaurus-theme-classic/codeTranslations/ar.json
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/da.json
  packages/docusaurus-theme-classic/codeTranslations/de.json
  packages/docusaurus-theme-classic/codeTranslations/es.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
  packages/docusaurus-theme-classic/codeTranslations/fil.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/codeTranslations/he.json
  packages/docusaurus-theme-classic/codeTranslations/hi.json
  packages/docusaurus-theme-classic/codeTranslations/ja.json
  packages/docusaurus-theme-classic/codeTranslations/ko.json
  packages/docusaurus-theme-classic/codeTranslations/pl.json
  packages/docusaurus-theme-classic/codeTranslations/pt-BR.json
  packages/docusaurus-theme-classic/codeTranslations/pt-PT.json
  packages/docusaurus-theme-classic/codeTranslations/ru.json
  packages/docusaurus-theme-classic/codeTranslations/tr.json
  packages/docusaurus-theme-classic/codeTranslations/vi.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hans.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hant.json
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
Labels: CLA Signed, tag: polish

#4964 fix(v2): avoid duplicated imports in npm2yarn plugin
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/fixtures/import-tabs-above.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/fixtures/import-tabs-below.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.js
  packages/docusaurus-remark-plugin-npm2yarn/src/index.js
Labels: CLA Signed, tag: bug fix

#4949 feat(v2): add icon to external navbar links
  packages/docusaurus-theme-classic/src/theme/IconExternalLink/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#4962 fix(v2): respect base url in RSS feeds
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/generateBlogFeed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/generateBlogFeed.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
Labels: CLA Signed, tag: bug fix

#4976 docs(v2): mention to install the algolia package in search doc
  website/docs/search.md
Labels: CLA Signed, tag: documentation

#4945 refactor(v2): remove extra padding from doc item container
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
Labels: CLA Signed, tag: polish

#4977 polish(v2): url-subpath config validation warning
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed, tag: polish

#4974 docs(v2): add documentation about importing code files
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed

#4899 fix: truncate docuhash return value in order to avoid ERRNAMETOOLONG error
  .github/workflows/v2-tests-windows.yml
  packages/docusaurus-utils/src/__tests__/docuHash.test.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus-utils/src/docuHash.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/pathUtils.ts
  website/src/pages/deep-file-path-test/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/test-file.md
Labels: CLA Signed

#4973 docs(v2): replace `diff` codeblocks with line highlight
  packages/docusaurus-init/templates/classic/docs/tutorial-basics/create-a-document.md
  website/docs/api/plugins/plugin-ideal-image.md
  website/docs/guides/docs/sidebar.md
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
Labels: CLA Signed, tag: documentation

#4959 refactor(v2): minor cleanups
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconEdit/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconExternalLink/index.tsx
  packages/docusaurus-theme-classic/src/theme/Logo/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/NotFound.tsx
  packages/docusaurus-theme-classic/src/theme/SearchMetadatas/index.tsx
  packages/docusaurus-theme-classic/src/theme/ThemedImage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.css
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
Labels: CLA Signed, tag: polish

#4981 docs(v2): minor tweaks
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/themes/theme-configuration.md
  website/docs/blog.md
  website/docs/cli.md
  website/docs/guides/docs/docs-create-doc.mdx
  website/docs/guides/docs/docs-markdown-features.mdx
  website/docs/guides/docs/sidebar.md
  website/docs/guides/docs/versioning.md
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/guides/markdown-features/markdown-features-inline-toc.mdx
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
  website/docs/lifecycle-apis.md
  website/docs/presets.md
Labels: CLA Signed, tag: documentation

#4980 fix(v2): make proper data type for prependBaseUrlToHref field
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
Labels: CLA Signed, tag: bug fix

#4982 feat(v2): add docs pagination_label frontmatter
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/foo/baz.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/docs/api/plugins/plugin-content-docs.md
Labels: tag: new feature

#4985 fix(v2): navbar doc item fallback: search doc in lastVersion
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
Labels: CLA Signed, tag: bug fix

#4986 fix(v2): fix UX for docsVersionDropdown on mobile for single version
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: CLA Signed, tag: bug fix

#4918 refactor(v2): readjust footer of blog item
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/styles.css
Labels: CLA Signed, tag: polish

#4987 docs(v2): document canary releases
  website/community/3-contributing.md
  website/community/4-canary.md
  website/docs/installation.md
Labels: CLA Signed, tag: documentation

#4983 fix(v2): always use UTC when dealing with blog dates
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
Labels: CLA Signed, tag: bug fix

#4988 fix(v2): redirect plugin should use siteConfig.trailingSlash
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/writeRedirectFiles.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/writeRedirectFiles.test.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-utils-common/src/__tests__/applyTrailingSlash.test.ts
  packages/docusaurus-utils-common/src/applyTrailingSlash.tsx
  packages/docusaurus-utils/src/__tests__/getFilePathForRoutePath.test.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/getFilePathForRoutePath.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/server/plugins/applyRouteTrailingSlash.ts
  website/docusaurus.config.js
Labels: CLA Signed, tag: bug fix

#4989 refactor(v2): blog/docs: add more context in error messages
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
Labels: CLA Signed, tag: polish

#4994 misc: more issue template improvements
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
Labels: CLA Signed, tag: internal

#5000 fix(v2): fix theme array deduplication bug
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-utils-common/src/__tests__/uniq.test.ts
  packages/docusaurus-utils-common/src/index.ts
  packages/docusaurus-utils-common/src/uniq.ts
Labels: CLA Signed, tag: bug fix

#4995 refactor(v2): reduce top padding in doc content container
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
Labels: CLA Signed, tag: polish

#5001 chore(v2): update Infima to alpha 26
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/styles.module.css
  website/src/components/showcase/ShowcaseCard/index.js
  website/src/pages/index.js
  yarn.lock
Labels: CLA Signed, tag: bug fix

#5007 docs(v2): wrap mdx usage in mdx-code-block
  website/docs/guides/docs/docs-create-doc.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-2.0.0-beta.1/guides/docs/docs-create-doc.mdx
  website/versioned_docs/version-2.0.0-beta.1/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, tag: documentation

#5016 fix(v2): add missing quote in build command output
  packages/docusaurus/src/commands/build.ts
Labels: CLA Signed, tag: bug fix

#5021 docs(v2): fix incorrect anchor links in website
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-content-pages.md
  website/docs/api/themes/theme-configuration.md
  website/docs/deployment.mdx
  website/docs/docusaurus-core.md
  website/docs/i18n/i18n-git.md
  website/docs/i18n/i18n-introduction.md
  website/versioned_docs/version-2.0.0-beta.0/api/plugins/plugin-content-docs.md
  website/versioned_docs/version-2.0.0-beta.0/api/plugins/plugin-content-pages.md
  website/versioned_docs/version-2.0.0-beta.0/api/themes/theme-configuration.md
  website/versioned_docs/version-2.0.0-beta.0/deployment.mdx
  website/versioned_docs/version-2.0.0-beta.0/docusaurus-core.md
  website/versioned_docs/version-2.0.0-beta.0/i18n/i18n-git.md
  website/versioned_docs/version-2.0.0-beta.0/i18n/i18n-introduction.md
  website/versioned_docs/version-2.0.0-beta.1/api/plugins/plugin-content-docs.md
  website/versioned_docs/version-2.0.0-beta.1/api/plugins/plugin-content-pages.md
  website/versioned_docs/version-2.0.0-beta.1/api/themes/theme-configuration.md
  website/versioned_docs/version-2.0.0-beta.1/deployment.mdx
  website/versioned_docs/version-2.0.0-beta.1/docusaurus-core.md
  website/versioned_docs/version-2.0.0-beta.1/i18n/i18n-git.md
  website/versioned_docs/version-2.0.0-beta.1/i18n/i18n-introduction.md
Labels: CLA Signed, tag: documentation

#5027 docs(v2): Add Buddy to deployment doc
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#5022 docs(v2): Add React Native Render HTML site to showcase page
  website/src/data/showcase/rnrh.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#5017 chore(v2): remove badge for v1 tests
  README.md
Labels: CLA Signed, tag: documentation

#5030 docs(v2): typo in deployment.mdx
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#5032 fix(v2): less strict blog/docs uri frontmatter validation
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/blogFrontMatter.test.ts
  packages/docusaurus-plugin-content-blog/src/blogFrontMatter.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/docFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
Labels: CLA Signed, tag: bug fix

#5033 docs(v2): GH pages: recommend using trailingSlash
  packages/docusaurus/src/commands/deploy.ts
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#5023 fix(v2): ignore hash changes in useChangeRoute hook
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/useChangeRoute.ts
  packages/docusaurus-theme-common/src/utils/useLocationChange.ts
  packages/docusaurus-theme-common/src/utils/usePrevious.ts
Labels: CLA Signed, tag: bug fix

#5034 fix(v2): dev css modules classnames should include filename
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed, tag: bug fix

#5037 feat(v2): plugins injectHtmlTags + configureWebpack should receive content loaded
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/html-tags/index.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/lifecycle-apis.md
Labels: CLA Signed, tag: new feature

#5035 fix(v2): fix some docs container/sidebar layout issues
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
Labels: CLA Signed, tag: bug fix

#5049 docs(v2): Fix Gatsby theme name for docs site - Docz
  website/docs/introduction.md
Labels: CLA Signed, tag: documentation

#5040 fix(v2): Fix announcementBar layout shifts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/LayoutProviders/index.tsx
  packages/docusaurus-theme-classic/src/theme/UserPreferencesProvider/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useAnnouncementBar.ts
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/announcementBarUtils.tsx
  website/docusaurus.config.js
Labels: CLA Signed, tag: bug fix

#5047 fix(v2): Fix Webpack persistent caching (evict on swizzle/alias/config change)
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/__tests__/hashUtils.test.ts
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus-utils/src/hashUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/pathUtils.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/html-tags/index.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/__tests__/pluginIds.test.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/plugins/pluginIds.ts
  packages/docusaurus/src/server/themes/__tests__/index.ts
  packages/docusaurus/src/server/themes/alias.ts
  packages/docusaurus/src/server/themes/index.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/server/translations/translations.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/docusaurus/src/webpack/__tests__/__fixtures__/base_test_site/pluginThemeFolder/PluginThemeComponent1.js
  packages/docusaurus/src/webpack/__tests__/__fixtures__/base_test_site/pluginThemeFolder/PluginThemeComponentOverridden.js
  packages/docusaurus/src/webpack/__tests__/__fixtures__/base_test_site/pluginThemeFolder/subfolder/PluginThemeComponent2.js
  packages/docusaurus/src/webpack/__tests__/__fixtures__/base_test_site/src/theme/PluginThemeComponentOverridden.js
  packages/docusaurus/src/webpack/__tests__/__fixtures__/base_test_site/src/theme/UserThemeComponent1.js
  packages/docusaurus/src/webpack/__tests__/__fixtures__/base_test_site/src/theme/subfolder/UserThemeComponent2.js
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/base.ts
  yarn.lock
Labels: CLA Signed, tag: bug fix

#5050 fix(v2): add shadow to skip link on focus only
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/styles.module.css
Labels: CLA Signed, tag: bug fix

#5048 fix(v2): read last update from inner git repositories
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
Labels: CLA Signed

#5052 feat(v2): docs version banner configuration option
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsClientUtils.test.ts
  packages/docusaurus-plugin-content-docs/src/client/docsClientUtils.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocVersionBanner/index.tsx
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, tag: breaking change, tag: new feature

#4993 style(v2): reduce number of ESLint warnings
  .eslintignore
  .eslintrc.js
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-theme-bootstrap/src/theme/ThemedImage/index.tsx
  packages/docusaurus-theme-classic/src/theme/ThemedImage/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useTabGroupChoice.ts
  packages/docusaurus-theme-classic/update-code-translations.js
  packages/docusaurus-theme-common/src/utils/useAlternatePageUtils.ts
  packages/docusaurus-theme-common/src/utils/usePluralForm.ts
  packages/docusaurus-utils-common/src/applyTrailingSlash.tsx
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus-utils/src/markdownParser.ts
  packages/docusaurus/src/commands/buildRemoteBranchUrl.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/applyRouteTrailingSlash.ts
Labels: CLA Signed

#5053 refactor(v2): remove deprecated docs option excludeNextVersionDocs
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
Labels: CLA Signed, tag: breaking change, tag: polish

#5054 fix(v2): allow undefined favicon
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.md
Labels: CLA Signed, tag: bug fix

#5057 chore(v2): upgrade examples to beta.2
  examples/bootstrap/blog/2019-05-29-hello-world.md
  examples/bootstrap/package.json
  examples/bootstrap/yarn.lock
  examples/classic/blog/2019-05-29-hello-world.md
  examples/classic/docs/tutorial-basics/create-a-document.md
  examples/classic/docusaurus.config.js
  examples/classic/package.json
  examples/classic/src/components/HomepageFeatures.js
  examples/classic/src/css/custom.css
  examples/classic/yarn.lock
  examples/facebook/blog/2019-05-29-hello-world.md
  examples/facebook/package.json
  examples/facebook/yarn.lock
Labels: CLA Signed, tag: internal

#5059 fix(v2): fix webpack SSG plugin error thrown due to new URL() / __filename
  packages/docusaurus/src/webpack/server.ts
Labels: CLA Signed, tag: bug fix

#5058 fix(v2): fix bad @docusaurus/types Plugin type generics
  packages/docusaurus-types/package.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/tsconfig.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#5063 fix(v2): restore responsive menu
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
Labels: CLA Signed, tag: bug fix

#5066 fix: correct typo
  website/docs/guides/docs/docs-introduction.md
Labels: CLA Signed

#5067 chore: unstable yarn.lock
  .github/workflows/lint.yml
  packages/docusaurus-types/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#5061 docs(v2:) Divide `markdown-features/code-blocks` to smaller sections
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: documentation

#5074 fix(v2): allow negative sidebar positions
  packages/docusaurus-plugin-content-docs/src/__tests__/docFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
Labels: CLA Signed, tag: bug fix

#5073 docs(v2): update installation docs
  website/docs/installation.md
Labels: CLA Signed, tag: documentation

#5068 fix(v2): sitemap should respect the global trailingSlash config option.
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
Labels: CLA Signed, tag: bug fix

#5081 fix(v2): restore previous scroll position on back button click
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
Labels: CLA Signed, tag: bug fix

#5085 fix(v2): redirect plugin should emit redirect files with lower precedence than redirect target
  packages/docusaurus-plugin-client-redirects/src/__tests__/writeRedirectFiles.test.ts
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-utils/src/__tests__/getFilePathForRoutePath.test.ts
  packages/docusaurus-utils/src/getFilePathForRoutePath.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: bug fix

#5093 fix(v2): redirect from should work with trailingSlash: true
  packages/docusaurus-plugin-client-redirects/src/__tests__/extensionRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/extensionRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/index.ts
Labels: CLA Signed, tag: bug fix

#5092 feat(v2): add icon to external footer links
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
Labels: CLA Signed, tag: new feature

#5086 docs(v2): Add SQL Frames to the showcase
  website/src/data/showcase/sqlframes_docusaurus.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#5095 fix(v2): fix swizzle readComponent
  packages/docusaurus/src/commands/swizzle.ts
Labels: CLA Signed, tag: bug fix

#5097 fix(v2): fix useEffect infinite loop in blogOnly mode
  packages/docusaurus-plugin-content-docs/src/theme/hooks/useDocs.ts
Labels: CLA Signed, tag: bug fix

#5094 fix(v2): fix typos in swizzle command
  packages/docusaurus/src/commands/swizzle.ts
Labels: CLA Signed, tag: bug fix

#5080 fix(v2): classic theme - semantic correct anchors links
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
Labels: CLA Signed, tag: bug fix

#5064 docs(v2): Rewrite markdown images section
  website/docs/guides/markdown-features/markdown-features-assets.mdx
Labels: CLA Signed, tag: documentation

#5102 fix(v2): fix redirect plugin when trailingSlash=false for .html extension
  packages/docusaurus-plugin-client-redirects/src/__tests__/writeRedirectFiles.test.ts
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
Labels: CLA Signed, tag: bug fix

#5104 fix(v2): fix SkipToContent programmatic focus when updating querystring
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
Labels: CLA Signed, tag: bug fix
