Repository facebook/docusaurus, pull requests merged in 2021-03, with the labels that each got.

#4303 feat(v2): add japanese translations
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/de.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/codeTranslations/ja.json
  packages/docusaurus-theme-classic/codeTranslations/ru.json
  packages/docusaurus-theme-classic/src/theme/LastUpdated/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.js
Labels: CLA Signed, tag: new feature

#4307 docs(v2): Add RactivePlayer to showcase
  website/src/data/showcase/ractive-player.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4312 feat(v2): Add Turkish translations for theme labels
  packages/docusaurus-theme-classic/codeTranslations/tr.json
Labels: CLA Signed, tag: new feature

#4308 feat(v2): add --config option to CLI
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/clear.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/constants.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/config.test.ts
  packages/docusaurus/src/server/config.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/presets/__tests__/index.test.ts
  packages/docusaurus/src/server/presets/index.ts
  website/docs/cli.md
  website/package.json
Labels: CLA Signed, tag: new feature

#4309 polish(v2): improved Farsi translation
  packages/docusaurus-theme-classic/codeTranslations/fa.json
Labels: CLA Signed, tag: polish

#4325 feat(v2): [theme-classic] add Polish translation
  packages/docusaurus-theme-classic/codeTranslations/pl.json
Labels: CLA Signed, tag: new feature

#4334 chore: delete build size bot
  .github/workflows/build-size.yml
Labels: CLA Signed

#4329 feat(v2): add arabic translation
  packages/docusaurus-theme-classic/codeTranslations/ar.json
Labels: CLA Signed, tag: new feature

#4337 misc: restore build size bot
  .github/workflows/build-size.yml
Labels: CLA Signed, tag: internal

#4331 docs(v2): add ocpeasy to users
  website/src/data/showcase/ocpeasy.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4304 fix(v2): Attempt to fix bad theme pluralization rules for some labels
  packages/docusaurus-theme-classic/codeTranslations/README.md
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/de.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/codeTranslations/ja.json
  packages/docusaurus-theme-classic/codeTranslations/ru.json
  packages/docusaurus-theme-classic/codeTranslations/tr.json
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
  packages/docusaurus-theme-classic/update-code-translations.js
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/usePluralForm.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.js
  packages/docusaurus/src/client/exports/Interpolate.tsx
  packages/docusaurus/src/client/exports/__tests__/Interpolate.test.tsx
Labels: CLA Signed, tag: bug fix

#4338 docs(v2): update showcase instruction regarding tags + fix site tags
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4339 fix(v2): search page results localization
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.js
Labels: CLA Signed, tag: bug fix

#4340 fix(v2): prevent useless blog pages to be in search results
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
Labels: CLA Signed, tag: bug fix

#4342 chore(v2): bump clean-css to 5.1.1
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#4345 fix(v2): always extract translations from site/src
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
Labels: CLA Signed, tag: bug fix

#4311 fix(v2): fit footer in viewport when content area is too small
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
Labels: CLA Signed, tag: bug fix

#4346 docs(v1): update phrasing for website dir relative to docs dir
  website-1.x/docs/tutorial-create-pages.md
Labels: CLA Signed, tag: documentation

#4209 feat(v2): auto focus to tab if it is outside viewport
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/styles.module.css
Labels: CLA Signed, tag: new feature

#4318 fix(v2): evaluate code in live editor on client only
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.js
  website/src/pages/examples/markdownPageExample.md
Labels: CLA Signed, tag: bug fix

#4315 fix(v2): make code blocks more standalone
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/styles.module.css
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/styles.module.css
  website/src/pages/examples/markdownPageExample.md
Labels: CLA Signed, tag: bug fix

#4344 refactor(v2): format post date using Intl
  packages/docusaurus-plugin-content-blog/index.d.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/generateBlogFeed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-classic/codeTranslations/ar.json
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/de.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/codeTranslations/ja.json
  packages/docusaurus-theme-classic/codeTranslations/pl.json
  packages/docusaurus-theme-classic/codeTranslations/ru.json
  packages/docusaurus-theme-classic/codeTranslations/tr.json
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/index.ts
  yarn.lock
Labels: CLA Signed, tag: polish

#4351 polish(v2): add japanese translation for #4304
  packages/docusaurus-theme-classic/codeTranslations/ja.json
Labels: CLA Signed, tag: polish

#4328 feat(v2): Add playgroundPosition config for live codeblock
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-live-codeblock/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-live-codeblock/src/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/validateThemeConfig.js
  website/docs/api/themes/theme-live-codeblock.md
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#4350 polish(v2): Updated theme label translations for Turkish
  packages/docusaurus-theme-classic/codeTranslations/tr.json
Labels: CLA Signed, tag: polish

#4349 fix(v2): fix update code translations script + update some translations
  packages/docusaurus-theme-classic/codeTranslations/ar.json
  packages/docusaurus-theme-classic/codeTranslations/pl.json
  packages/docusaurus-theme-classic/update-code-translations.js
Labels: CLA Signed, tag: bug fix

#4352 refactor(v2): format last updated date using Intl
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/LastUpdated/index.tsx
Labels: CLA Signed, tag: polish

#4222 feat(v2): add ability to set custom heading id
  packages/docusaurus-init/templates/bootstrap/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-mdx-loader/src/remark/headings/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/headings/index.js
  packages/docusaurus-mdx-loader/src/remark/slug/index.js
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.js
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/__tests__/writeHeadingIds.test.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
  packages/docusaurus/src/index.ts
  website/docs/cli.md
  website/docs/guides/docs/docs-create-doc.mdx
  website/docs/guides/markdown-features/markdown-features-headings.mdx
  website/docs/i18n/i18n-introduction.md
  website/docs/i18n/i18n-tutorial.md
  website/package.json
  website/sidebars.js
  website/src/pages/examples/markdownPageExample.md
  yarn.lock
Labels: CLA Signed, tag: new feature

#4354 docs(v2): add trpgengine showcase
  website/src/data/showcase/trpgengine.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4360 docs(v2): add rsocket.io to showcase
  website/src/data/showcase/rsocket.png
  website/src/data/users.js
Labels: CLA Signed

#4362 docs(v2): Add stryker-mutator.io to showcase
  website/src/data/showcase/stryker-mutator.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4358 polish(v2): [theme-classic] update French translation and base.json
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
Labels: CLA Signed

#4356 polish(v2): [theme-classic] add Chinese translations (zh-Hant & zh-Hans)
  packages/docusaurus-theme-classic/codeTranslations/zh-Hans.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hant.json
Labels: CLA Signed, tag: documentation

#4355 perf(v2): improve blog mdx-loader and postcss loader
  packages/docusaurus-cssnano-preset/index.js
  packages/docusaurus-plugin-content-blog/src/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/utils.ts
  yarn.lock
Labels: CLA Signed, tag: performance

#4359 polish(v2): [theme-classic] slightly improve Japanese translation
  packages/docusaurus-theme-classic/codeTranslations/ja.json
Labels: CLA Signed, tag: polish

#4366 fix(v2): align installed core-js version with babel config
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#4361 refactor(v2): remove duplicated lodash dependencies and import only what needed
  package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/src/index.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/html-tags/htmlTags.ts
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/server/utils.ts
  packages/lqip-loader/package.json
  packages/lqip-loader/src/utils.js
  yarn.lock
Labels: CLA Signed, tag: internal

#4371 refactor(v2): update Russian translation in classic theme
  packages/docusaurus-theme-classic/codeTranslations/ru.json
Labels: CLA Signed, tag: polish

#4369 docs(v2): various improvements
  website/docs/api/docusaurus.config.js.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-pwa.md
  website/docs/api/themes/theme-configuration.md
  website/docs/guides/markdown-features/markdown-features-headings.mdx
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-git.md
  website/docs/i18n/i18n-introduction.md
  website/docs/i18n/i18n-tutorial.md
  website/docs/installation.md
  website/docs/introduction.md
  website/docs/migration/migration-manual.md
  website/docs/styling-layout.md
Labels: CLA Signed, tag: documentation

#4372 chore(v1): release docusaurus v1.14.7
  CHANGELOG.md
  admin/publish.md
  website-1.x/versioned_docs/version-1.14.7/api-site-config.md
  website-1.x/versioned_docs/version-1.14.7/getting-started-docker.md
  website-1.x/versioned_docs/version-1.14.7/getting-started-installation.md
  website-1.x/versioned_docs/version-1.14.7/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.14.7/guides-blog.md
  website-1.x/versioned_docs/version-1.14.7/guides-search.md
  website-1.x/versioned_docs/version-1.14.7/tutorial-create-pages.md
  website-1.x/versioned_docs/version-1.14.7/tutorial-version.md
  website-1.x/versions.json
Labels: CLA Signed, tag: internal

#4384 chore(v2): avoid bad publish of intl-locales-supported
  packages/docusaurus-utils/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4377 fix(v2): PWA issues + improve docs
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/pluginOptionSchema.js
  packages/docusaurus-plugin-pwa/src/registerSw.js
  packages/docusaurus-plugin-pwa/src/sw.js
  website/docs/api/plugins/plugin-pwa.md
  website/docusaurus.config.js
  website/static/manifest.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#4383 fix(v2): set theme color mode for SSR
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.ts
Labels: CLA Signed, tag: bug fix

#4395 fix(v1): fix v1 site deploy issues
  .circleci/config.yml
  website-1.x/blog/2021-03-09-releasing-docusaurus-i18n.md
Labels: CLA Signed, tag: bug fix

#4396 fix(v1): Temp fix v1 site deployment: fail-safe on Crowdin upload translations error
  .circleci/config.yml
Labels: CLA Signed, tag: bug fix

#4398 chore(v1): trigger v1 site deploy through CI
  website-1.x/blog/2021-03-09-releasing-docusaurus-i18n.md
Labels: CLA Signed, tag: internal

#4386 docs(v2): Showcase the pnpm docs
  website/src/data/showcase/pnpm.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4390 feat(v2): Add korean default translations
  packages/docusaurus-theme-classic/codeTranslations/ko.json
Labels: CLA Signed, tag: new feature

#4401 chore(v1): fix CircleCI v1 site deploy
  .circleci/config.yml
  packages/docusaurus-1.x/lib/publish-gh-pages.js
  website-1.x/blog/2021-03-09-releasing-docusaurus-i18n.md
Labels: CLA Signed, tag: internal

#4408 docs(v2): add gladysassistant.com to showcase
  website/src/data/showcase/gladys-assistant.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4410 fix(v1): Fix v1 site deployment with Crowdin again...
  .circleci/config.yml
  crowdin-v1.yml
Labels: CLA Signed, tag: bug fix

#4385 refactor(v2): add missing theme-classic types
  packages/docusaurus-theme-bootstrap/src/theme/MDXPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogListPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconArrow/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconEdit/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconLanguage/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconMenu/index.tsx
  packages/docusaurus-theme-classic/src/theme/LastUpdated/index.tsx
  packages/docusaurus-theme-classic/src/theme/LayoutProviders/index.tsx
  packages/docusaurus-theme-classic/src/theme/SearchMetadatas/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCInline/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/DocsPreferredVersionProvider.tsx
Labels: CLA Signed, tag: polish

#4382 refactor(v2): correct some of type errors reported by eslint
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-plugin-content-docs/src/theme/hooks/useDocs.ts
  packages/docusaurus-theme-common/src/utils/generalUtils.ts
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus/src/client/flat.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/docusaurus/src/webpack/plugins/WaitPlugin.ts
  packages/docusaurus/tsconfig.json
Labels: CLA Signed, tag: polish

#4402 refactor(v2): merge linkify function used in blog and docs and align properties
  packages/docusaurus-plugin-content-blog/src/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-docs/src/markdown/linkify.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-utils/src/markdownLinks.ts
Labels: CLA Signed, tag: polish

#4407 fix(v2): broken link checker should not report false positives when using encoded chars
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
Labels: CLA Signed, tag: bug fix

#4387 refactor(v2): add ExecutionEnvironment, BrowserOnly, isInternalUrl to type aliases
  packages/docusaurus-module-type-aliases/src/index.d.ts
Labels: CLA Signed, tag: polish

#4416 docs(v2): add Realtime Web Applications Workshop to showcase
  website/src/data/showcase/realtime-apps-workshop.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4302 feat(v2): Improve the initial templates
  packages/docusaurus-init/templates/classic/docs/create-a-blog-post.md
  packages/docusaurus-init/templates/classic/docs/create-a-document.md
  packages/docusaurus-init/templates/classic/docs/create-a-page.md
  packages/docusaurus-init/templates/classic/docs/doc1.md
  packages/docusaurus-init/templates/classic/docs/doc2.md
  packages/docusaurus-init/templates/classic/docs/doc3.md
  packages/docusaurus-init/templates/classic/docs/getting-started.md
  packages/docusaurus-init/templates/classic/docs/interactiveDoc.mdx
  packages/docusaurus-init/templates/classic/docs/markdown-features.mdx
  packages/docusaurus-init/templates/classic/docs/thank-you.md
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/classic/sidebars.js
  packages/docusaurus-init/templates/classic/static/img/docusaurus.png
Labels: CLA Signed, tag: new feature

#4427 polish(v2): Updated theme label translations for Traditional Chinese
  packages/docusaurus-theme-classic/codeTranslations/zh-Hant.json
Labels: CLA Signed

#4436 chore(v2): upgrade react-toggle to v4.1.2
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed

#4422 add Vietnamese translation
  packages/docusaurus-theme-classic/codeTranslations/vi.json
Labels: CLA Signed

#4428 fix(v2): allow using pre tag in Markdown directly
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  website/src/pages/examples/markdownPageExample.md
Labels: CLA Signed, tag: bug fix

#4424 fix(v2): add missing peer dep on @babel/core
  packages/docusaurus-plugin-pwa/package.json
Labels: CLA Signed, tag: bug fix

#4429 chore(v2): upgrade Infima to v0.2.0-alpha.21
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/Navbar/styles.module.css
  yarn.lock
Labels: CLA Signed, tag: bug fix

#4405 refactor(v2): i18n cleanups / refactors
  .github/workflows/e2e-test.yml
  .github/workflows/migration-cli-e2e-test.yml
  .github/workflows/nodejs-windows.yml
  .nvmrc
  jest.config.js
  jest/polyfills.js
  package.json
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-theme-common/src/utils/usePluralForm.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  website/versioned_docs/version-2.0.0-alpha.71/i18n/i18n-introduction.md
  yarn.lock
Labels: CLA Signed, tag: polish

#4418 refactor(v2): correct plugin types
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-types/package.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus/src/commands/swizzle.ts
  packages/docusaurus/src/server/plugins/init.ts
Labels: CLA Signed, tag: polish

#4441 docs(v2): add stylable site to users showcase list
  website/src/data/showcase/stylable.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4430 docs(v2): add Deploy with QuandCDN
  website/docs/deployment.mdx
  website/src/data/showcase/quantcdn.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4444 fix(v2): Fix writeHeadingIds on Windows due to non-posix paths
  packages/docusaurus/src/commands/writeHeadingIds.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/docusaurus/src/server/utils.ts
Labels: CLA Signed, tag: bug fix

#4320 feat(v2): Improve the initial templates #4302
  .prettierignore
  packages/docusaurus-init/templates/classic/docs/congratulations.md
  packages/docusaurus-init/templates/classic/docs/create-a-blog-post.md
  packages/docusaurus-init/templates/classic/docs/create-a-document.md
  packages/docusaurus-init/templates/classic/docs/create-a-page.md
  packages/docusaurus-init/templates/classic/docs/deploy-your-site.md
  packages/docusaurus-init/templates/classic/docs/getting-started.md
  packages/docusaurus-init/templates/classic/docs/manage-docs-versions.md
  packages/docusaurus-init/templates/classic/docs/markdown-features.mdx
  packages/docusaurus-init/templates/classic/docs/thank-you.md
  packages/docusaurus-init/templates/classic/docs/translate-your-site.md
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/classic/sidebars.js
  packages/docusaurus-init/templates/classic/src/components/HomepageFeatures.js
  packages/docusaurus-init/templates/classic/src/components/HomepageFeatures.module.css
  packages/docusaurus-init/templates/classic/src/pages/index.js
  packages/docusaurus-init/templates/classic/src/pages/index.module.css
  packages/docusaurus-init/templates/classic/static/img/tutorial/docsVersionDropdown.png
  packages/docusaurus-init/templates/classic/static/img/tutorial/localeDropdown.png
  packages/docusaurus-init/tsconfig.json
Labels: CLA Signed, tag: documentation

#4375 refactor(v2): TS config update: reduce the size of npm modules
  package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-mdx-loader/src/remark/toc/search.js
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-theme-classic/src/theme/prism-include-languages.ts
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/client/prefetch.ts
  tsconfig.json
  website/docs/deployment.mdx
  yarn.lock
Labels: CLA Signed, tag: polish

#4446 docs(v2): Add blog.johnnyreilly.com to showcase
  website/src/data/showcase/johnnyreilly.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4442 chore(v2): Fix linter warnings
  .eslintrc.js
  packages/docusaurus-migrate/src/__tests__/migrationConfig.test.ts
  packages/docusaurus-migrate/src/types.ts
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/theme/hooks/useDocs.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/index.js
  packages/docusaurus-theme-bootstrap/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-bootstrap/src/theme/Footer/index.tsx
  packages/docusaurus-theme-bootstrap/src/theme/MDXComponents/index.tsx
  packages/docusaurus-theme-bootstrap/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-bootstrap/src/theme/TOCInline/index.tsx
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useDocs.ts
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/useDocsPreferredVersion.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/choosePort.ts
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/exports/Interpolate.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/useGlobalData.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/presets/index.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: polish

#4449 feat(v2): infer default i18n locale config from locale code
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem.tsx
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/constants.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/i18n.test.ts.snap
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/i18n.ts
  website/docs/i18n/i18n-tutorial.md
  website/docusaurus.config.js
  yarn.lock
Labels: CLA Signed, tag: new feature

#4448 polish(v2): Add german translations
  packages/docusaurus-theme-classic/codeTranslations/de.json
Labels: CLA Signed, tag: polish

#4452 chore(v2): update typescript-eslint to v4.18.0
  package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4457 chore(v2): remove docs for alpha v70
  website/versioned_docs/version-2.0.0-alpha.70/api/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/overview.md
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/plugin-client-redirects.md
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/plugin-content-blog.md
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/plugin-content-docs.md
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/plugin-content-pages.md
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/plugin-debug.md
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/plugin-google-analytics.md
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/plugin-google-gtag.md
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/plugin-ideal-image.md
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/plugin-pwa.md
  website/versioned_docs/version-2.0.0-alpha.70/api/plugins/plugin-sitemap.md
  website/versioned_docs/version-2.0.0-alpha.70/api/themes/overview.md
  website/versioned_docs/version-2.0.0-alpha.70/api/themes/theme-bootstrap.md
  website/versioned_docs/version-2.0.0-alpha.70/api/themes/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.70/api/themes/theme-configuration.md
  website/versioned_docs/version-2.0.0-alpha.70/api/themes/theme-live-codeblock.md
  website/versioned_docs/version-2.0.0-alpha.70/api/themes/theme-search-algolia.md
  website/versioned_docs/version-2.0.0-alpha.70/assets/docusaurus-asset-example-banner.png
  website/versioned_docs/version-2.0.0-alpha.70/assets/docusaurus-asset-example-pdf.pdf
  website/versioned_docs/version-2.0.0-alpha.70/assets/docusaurus-asset-example.xyz
  website/versioned_docs/version-2.0.0-alpha.70/blog.md
  website/versioned_docs/version-2.0.0-alpha.70/cli.md
  website/versioned_docs/version-2.0.0-alpha.70/configuration.md
  website/versioned_docs/version-2.0.0-alpha.70/contributing.md
  website/versioned_docs/version-2.0.0-alpha.70/deployment.mdx
  website/versioned_docs/version-2.0.0-alpha.70/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.70/docs.md
  website/versioned_docs/version-2.0.0-alpha.70/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.70/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.70/installation.md
  website/versioned_docs/version-2.0.0-alpha.70/introduction.md
  website/versioned_docs/version-2.0.0-alpha.70/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.70/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.70/migration/migration-automated.md
  website/versioned_docs/version-2.0.0-alpha.70/migration/migration-manual.md
  website/versioned_docs/version-2.0.0-alpha.70/migration/migration-overview.md
  website/versioned_docs/version-2.0.0-alpha.70/migration/migration-translated-sites.md
  website/versioned_docs/version-2.0.0-alpha.70/migration/migration-versioned-sites.md
  website/versioned_docs/version-2.0.0-alpha.70/presets.md
  website/versioned_docs/version-2.0.0-alpha.70/search.md
  website/versioned_docs/version-2.0.0-alpha.70/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.70/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.70/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.70/typescript-support.md
  website/versioned_docs/version-2.0.0-alpha.70/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.70/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.70/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.70-sidebars.json
  website/versions.json
Labels: CLA Signed, tag: internal

#4447 chore: simplify CI setup
  .circleci/config.yml
  .github/workflows/canary-release.yml
  .github/workflows/lint.yml
  .github/workflows/migration-cli.yml
  .github/workflows/v1-tests-windows.yml
  .github/workflows/v1-tests.yml
  .github/workflows/v2-build-blog-only.yml
  .github/workflows/v2-build-size-report.yml
  .github/workflows/v2-lighthouse-report.yml
  .github/workflows/v2-lighthousesrc.json
  .github/workflows/v2-tests-e2e.yml
  .github/workflows/v2-tests-windows.yml
  .github/workflows/v2-tests.yml
  .gitignore
  .prettierignore
  __tests__/validate-package-json.test.ts
  jest.config.js
  jest.config.v1.js
  package.json
  packages/docusaurus-1.x/lib/__tests__/build-files.test.js
  website-1.x/blog/2021-03-09-releasing-docusaurus-i18n.md
  website-1.x/languages.js
  website/netlify.toml
  website/netlifyDeployPreview/_redirects
  website/netlifyDeployPreview/index.html
  website/package.json
Labels: CLA Signed, tag: internal

#4450 chore(v2): Fix more linter warnings
  .eslintrc.js
  __tests__/validate-package-json.test.ts
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/index.d.ts
  packages/docusaurus-mdx-loader/src/remark/toc/search.js
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-migrate/src/types.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/client/docsClientUtils.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-pages/src/types.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useTOCHighlight.ts
  packages/docusaurus-theme-classic/update-code-translations.js
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/server/duplicateRoutes.ts
  packages/docusaurus/src/server/utils.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: polish

#4458 chore(v2): enable staging locales: ko ja
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal

#4459 fix(v2): Export Joi from validation-utils package
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/normalizePluginOptions.ts
  packages/docusaurus-plugin-client-redirects/src/redirectValidation.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-content-pages/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/pluginOptionSchema.js
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/pluginOptionSchema.ts
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-live-codeblock/src/validateThemeConfig.js
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.js
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/index.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/translations/translations.ts
  website/docs/lifecycle-apis.md
Labels: CLA Signed, tag: bug fix

#4461 fix(v2): Fix i18n staging deployment due to json typo
  packages/docusaurus-theme-classic/codeTranslations/ko.json
  website/docusaurus.config.js
Labels: tag: bug fix

#4463 chore: fb json header commit typo
  packages/docusaurus-theme-classic/codeTranslations/ko.json
Labels: CLA Signed, tag: internal

#4451 refactor(v2): correct client types and type aliases
  .eslintrc.js
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/client/exports/Head.tsx
  packages/docusaurus/src/client/exports/Interpolate.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/Translate.tsx
  packages/docusaurus/src/client/exports/useBaseUrl.ts
  yarn.lock
Labels: CLA Signed, tag: polish

#4453 chore(v2): migrate babel-eslint to @babel/eslint-parser
  examples/facebook/.eslintrc.js
  examples/facebook/package.json
  examples/facebook/yarn.lock
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init/templates/facebook/.eslintrc.js
  packages/docusaurus-init/templates/facebook/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4466 fix(v2): i18n fixes
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/update-code-translations.js
  packages/docusaurus-theme-classic/update-code-translations.test.js
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.js
  packages/docusaurus/src/server/translations/translationsExtractor.ts
Labels: CLA Signed, tag: bug fix

#4467 refactor(v2): add missing types to theme-classic useTheme
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.ts
Labels: CLA Signed, tag: polish

#4468 fix(v2): select correct tab when items are incorrectly ordered
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
Labels: CLA Signed, tag: bug fix

#4470 docs(v2): Add missing i18n docs: API lifecycles + Crowdin migration guide
  website/docs/i18n/i18n-introduction.md
  website/docs/lifecycle-apis.md
  website/docs/migration/migration-overview.md
  website/docs/migration/migration-translated-sites.md
Labels: CLA Signed, tag: documentation

#4471 chore: fix GH actions lint problem matchers issue in PR
  .github/workflows/lint.yml
  package.json
Labels: CLA Signed, tag: internal

#4472 docs(v2): fixed broken link in sidebar documentation
  website/docs/guides/docs/sidebar.md
Labels: CLA Signed

#4478 docs(v2): corrected the use of delimiters
  website/docs/guides/docs/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.71/guides/docs/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.72/guides/docs/sidebar.md
Labels: CLA Signed

#4488 chore(v2): fix typo in classic init template
  examples/classic/README.md
Labels: CLA Signed

#4481 docs(v2): fix grammar and improve wording
  website/docs/guides/docs/docs-multi-instance.mdx
Labels: CLA Signed, tag: documentation

#4479 docs(v2): fixed typos
  CHANGELOG.md
  packages/docusaurus-migrate/README.md
  packages/docusaurus-migrate/package.json
  packages/docusaurus/src/server/__tests__/__snapshots__/brokenLinks.test.ts.snap
  packages/docusaurus/src/server/brokenLinks.ts
  website-1.x/docs/api-pages.md
  website-1.x/versioned_docs/version-1.10.x/api-pages.md
  website-1.x/versioned_docs/version-1.9.x/api-pages.md
  website/community/resources.md
  website/docs/migration/migration-automated.md
  website/docs/migration/migration-translated-sites.md
  website/docs/search.md
  website/versioned_docs/version-2.0.0-alpha.71/search.md
  website/versioned_docs/version-2.0.0-alpha.72/search.md
Labels: CLA Signed, tag: documentation

#4473 perf(v2): reduce amount of component updates while scrolling
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.ts
  packages/docusaurus-theme-classic/src/theme/hooks/useScrollPosition.ts
  packages/docusaurus-theme-classic/src/types.d.ts
Labels: CLA Signed, tag: performance

#4475 chore: prepare v1-v2 domain switch
  CHANGELOG-1.x.md
  CHANGELOG-2.x.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  admin/publish.md
  packages/docusaurus-1.x/lib/server/env.js
  website-1.x/blog/2017-12-14-introducing-docusaurus.md
  website-1.x/blog/2018-04-30-How-I-Converted-Profilo-To-Docusaurus.md
  website-1.x/blog/2018-09-11-Towards-Docusaurus-2.md
  website-1.x/blog/2018-12-14-Happy-First-Birthday-Slash.md
  website-1.x/docs/guides-navigation.md
  website-1.x/docs/tutorial-version.md
  website-1.x/versioned_docs/version-1.10.x/guides-navigation.md
  website-1.x/versioned_docs/version-1.13.0/tutorial-version.md
  website-1.x/versioned_docs/version-1.14.5/guides-navigation.md
  website-1.x/versioned_docs/version-1.14.7/tutorial-version.md
  website-1.x/versioned_docs/version-1.9.x/guides-navigation.md
  website/docs/introduction.md
  website/docs/migration/migration-manual.md
  website/docs/migration/migration-versioned-sites.md
  website/versioned_docs/version-2.0.0-alpha.71/introduction.md
  website/versioned_docs/version-2.0.0-alpha.71/migration/migration-manual.md
  website/versioned_docs/version-2.0.0-alpha.71/migration/migration-versioned-sites.md
  website/versioned_docs/version-2.0.0-alpha.72/introduction.md
  website/versioned_docs/version-2.0.0-alpha.72/migration/migration-manual.md
  website/versioned_docs/version-2.0.0-alpha.72/migration/migration-versioned-sites.md
Labels: CLA Signed, tag: internal

#4497 docs: fix link to issue template
  website/docs/contributing.md
Labels: CLA Signed, tag: documentation

#4485 feat(v2): read first heading as title and use it in front-matter
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/heading-as-title.md
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/headingAsTitle.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/__tests__/__snapshots__/parseMarkdown.test.ts.snap
  packages/docusaurus-utils/src/__tests__/parseMarkdown.test.ts
  packages/docusaurus-utils/src/index.ts
  website/docs/cli.md
  yarn.lock
Labels: CLA Signed

#4504 docs(v2): add missing version link to legacy (v1) version of website
  website/src/pages/versions.js
Labels: CLA Signed

#4505 docs(v2): add more links to v1: announcementBar, versionDropdown, homepage
  website/docusaurus.config.js
  website/src/pages/index.js
Labels: CLA Signed, tag: documentation

#4508 ci: change default actions timeout from 6h to 30m
  .github/workflows/lint.yml
  .github/workflows/migration-cli.yml
  .github/workflows/v1-tests-windows.yml
  .github/workflows/v1-tests.yml
  .github/workflows/v2-build-blog-only.yml
  .github/workflows/v2-build-size-report.yml
  .github/workflows/v2-tests-e2e.yml
  .github/workflows/v2-tests-windows.yml
  .github/workflows/v2-tests.yml
Labels: CLA Signed, tag: internal

#4507 fix(v2): do not warn about duplicated title for pages
  packages/docusaurus-utils/src/__tests__/__snapshots__/parseMarkdown.test.ts.snap
  packages/docusaurus-utils/src/__tests__/parseMarkdown.test.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: bug fix

#4486 ci: enable yarn install cache
  .github/workflows/lint.yml
  .github/workflows/migration-cli.yml
  .github/workflows/v1-tests.yml
  .github/workflows/v2-build-blog-only.yml
  .github/workflows/v2-tests-e2e.yml
  .github/workflows/v2-tests.yml
Labels: CLA Signed, tag: internal

#4500 feat(v2): provide doc sidebar_label through sidebars.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-doc-label/docs/hello-1.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-doc-label/docs/hello-2.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-doc-label/docusaurus.config.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-doc-label/sidebars.json
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/docs/guides/docs/sidebar.md
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-git.md
  website/docs/i18n/i18n-introduction.md
  website/docs/i18n/i18n-tutorial.md
  website/sidebars.js
Labels: CLA Signed, tag: new feature

#4495 feat(v2): include frontmatter in loadedContent doc metadatas
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
Labels: CLA Signed

#4525 feat(v2): add Brazilian Portuguese translation for docusaurus-theme-classic
  packages/docusaurus-theme-classic/codeTranslations/pt-BR.json
Labels: CLA Signed, tag: new feature

#4526 docs(v2): fix markdown headings level 4
  website/docs/guides/markdown-features/markdown-features-headings.mdx
Labels: CLA Signed, tag: documentation

#4524 docs(v2): config for self-hosted docsearch crawler
  website/docs/search.md
Labels: CLA Signed, tag: documentation

#4506 fix(v2): remove no longer used postcss-present-env from dependencies
  packages/docusaurus/package.json
  website/docs/lifecycle-apis.md
  yarn.lock
Labels: CLA Signed, tag: bug fix

#4536 feat(v2): add pt-PT translations for docusaurus-theme-classic
  packages/docusaurus-theme-classic/codeTranslations/pt-PT.json
Labels: CLA Signed, tag: new feature

#4531 docs(v2): remove duplicate line on v1 docs
  README.md
Labels: CLA Signed, tag: documentation

#4538 Add Tuist to the list of projects that use Docusaurus
  website/src/data/showcase/tuist.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4539 docs(v2): fix typo deployment.mdx
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation
