Repository facebook/docusaurus, pull requests merged in 2021-12, with the labels that each got.

#6022 docs: add users phpseclib
  website-1.x/data/users.js
  website-1.x/static/img/users/phpseclib.png
Labels: CLA Signed

#6010 chore: upgrade prettier; rename prettier scripts as format
  .github/workflows/lint.yml
  examples/facebook/package.json
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#6026 docs(deployment): add cost-benefit analysis with different options
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#6040 fix(v2): Browser storage (localStorage) is unreliable: api should fail-safe
  packages/docusaurus-theme-common/src/utils/storageUtils.ts
Labels: CLA Signed, tag: bug fix

#5981 refactor: minor ESLint improvements
  .eslintrc.js
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/translations.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-translations/update.js
  packages/docusaurus-theme-translations/update.test.js
  packages/docusaurus-types/src/index.d.ts
Labels: CLA Signed, tag: polish, status: awaiting review

#5930 feat: shorthands for themes/plugins/presets configuration
  packages/create-docusaurus/templates/classic/docusaurus.config.js
  packages/create-docusaurus/templates/facebook/docusaurus.config.js
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/moduleShorthand.test.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/moduleShorthand.ts
  packages/docusaurus/src/server/presets/index.ts
  website/_dogfooding/dogfooding.config.js
  website/docs/configuration.md
  website/docusaurus.config-blog-only.js
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature, status: awaiting review

#6049 refactor: simplify Toggle component
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css
  packages/docusaurus-theme-common/src/index.ts
Labels: CLA Signed, tag: polish

#6055 chore: clean up dev dependency declarations
  examples/facebook/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-migrate/src/deps.d.ts
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-theme-translations/update.js
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#6056 refactor: remove unused metadata field for homepage
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
Labels: CLA Signed, tag: breaking change, tag: polish

#6060 chore(theme-translations): complete Chinese translations
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, tag: polish

#6062 refactor(website): improve wording in comments of showcase data
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6065 refactor: remove deprecated docs homePageId option
  packages/docusaurus-migrate/src/__tests__/__fixtures__/expectedSiteConfig.js
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/hello.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-doc-label/docs/hello-1.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/docs/hello.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/i18n/en/docusaurus-plugin-content-docs/version-1.0.0/hello.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/i18n/fr/docusaurus-plugin-content-docs/version-1.0.0/hello.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versioned_docs/version-1.0.0/hello.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/versioned_docs/version-1.0.1/hello.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/docs.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
Labels: CLA Signed, tag: breaking change, tag: polish, status: awaiting review

#6064 refactor(core): fix types for client code
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/baseUrlIssueBanner/BaseUrlIssueBanner.tsx
  packages/docusaurus/src/client/client-lifecycles-dispatcher.ts
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/exports/Interpolate.tsx
  packages/docusaurus/src/client/flat.ts
  packages/docusaurus/src/server/client-modules/index.ts
  packages/docusaurus/src/server/html-tags/htmlTags.ts
Labels: CLA Signed, tag: internal, status: awaiting review

#6068 chore: add prefix to needs triage label; separate Windows test workflow
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/proposal.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed, tag: internal

#6061 fix(content-blog): make post ID unique
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  website/_dogfooding/_blog tests/2021-09-13-dup-title.md
  website/_dogfooding/_blog tests/2021-11-13-dup-title.md
Labels: CLA Signed, tag: breaking change, tag: bug fix

#5976 feat(theme-translations): add extra Korean translation, fix typo
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
Labels: CLA Signed, tag: polish

#6052 fix(core): fix error boundary import disrupting CSS order
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus/src/client/App.tsx
Labels: CLA Signed, tag: bug fix, status: awaiting review

#6069 docs: update CONTRIBUTING for website
  CONTRIBUTING.md
  website/community/3-contributing.md
  website/community/4-canary.md
Labels: CLA Signed, tag: documentation

#6048 refactor: capitalize locales when creating i18n config
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/i18n.ts
Labels: CLA Signed, tag: polish

#6063 docs: add moja global to showcase
  website/src/data/showcase/mojaglobal.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6070 fix(theme-common): useLocationChange fire un-necessarily twice
  packages/docusaurus-theme-common/src/utils/useLocationChange.ts
Labels: CLA Signed, tag: bug fix

#6003 fix(theme-classic): make nav dropdowns focusable
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Labels: CLA Signed, tag: polish

#6071 refactor: add blank lines below all copyright headers
  admin/new.docusaurus.io/functions/index.ts
  examples/classic-typescript/src/components/HomepageFeatures.tsx
  packages/create-docusaurus/templates/classic-typescript/src/components/HomepageFeatures.tsx
  packages/docusaurus-plugin-client-redirects/src/__tests__/writeRedirectFiles.test.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-pages/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-pwa/src/options.ts
  packages/docusaurus-plugin-pwa/src/registerSw.js
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/DocsPreferredVersionProvider.tsx
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/useDocsPreferredVersion.ts
  packages/docusaurus-theme-common/src/utils/generalUtils.ts
  packages/docusaurus-theme-common/src/utils/useContextualSearchFilters.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  packages/docusaurus-theme-translations/src/__tests__/index.test.ts
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus/src/babel/preset.ts
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/__tests__/duplicateRoutes.test.ts
  packages/docusaurus/src/server/__tests__/utils.test.ts
  packages/docusaurus/src/server/duplicateRoutes.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/translations/translations.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/docusaurus/src/webpack/plugins/LogPlugin.ts
Labels: CLA Signed, tag: internal

#6078 fix: move docusaurus core back to hard dependencies
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
Labels: CLA Signed, tag: bug fix

#6080 chore: add NPM and PNPM to E2E tests
  .github/workflows/tests-e2e.yml
  admin/scripts/test-release.sh
Labels: CLA Signed, tag: internal

#6085 fix(content-docs): getMainDocId should return doc with both versioned or unversioned id
  packages/docusaurus-plugin-content-docs/src/docs.ts
Labels: tag: bug fix

#6088 fix(theme-translations): publish theme-translation lib, including typedef
  packages/docusaurus-theme-translations/package.json
Labels: CLA Signed, tag: bug fix

#6091 docs(showcase): "much more pages" => "many more pages"
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6090 docs: add sapphire to showcase
  website/src/data/showcase/sapphire.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6094 fix: add missing dependencies on tslib
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/lqip-loader/package.json
Labels: CLA Signed, tag: bug fix

#6089 docs: add Enarx website to showcase
  website/src/data/showcase/enarx.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6097 fix: declare missing dependencies
  .github/workflows/tests-e2e.yml
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-utils-validation/package.json
Labels: CLA Signed, tag: bug fix

#6095 fix(create-docusaurus): give a clearer message when installation failed
  packages/create-docusaurus/src/index.ts
Labels: CLA Signed, tag: polish

#6107 feat(core): allow plugins to customize/override Webpack devServer config
  packages/docusaurus/src/commands/start.ts
Labels: CLA Signed, tag: new feature

#6111 docs: add Molecule website to showcase
  website/src/data/showcase/molecule-home.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6119 fix(create-docusaurus): make initial editUrl functional
  packages/create-docusaurus/templates/classic/docusaurus.config.js
  packages/create-docusaurus/templates/facebook/docusaurus.config.js
Labels: CLA Signed, tag: polish

#6120 refactor(website): make deploy preview open next version docs by default
  website/docs/guides/docs/sidebar.md
  website/docusaurus.config.js
  website/versioned_docs/version-2.0.0-beta.10/guides/docs/sidebar.md
  website/versioned_docs/version-2.0.0-beta.13/guides/docs/sidebar.md
Labels: CLA Signed, tag: documentation

#6118 refactor: remove some useless code
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useLocationHash.ts
Labels: CLA Signed, tag: polish

#6112 docs: mention that SEO through front matter is better than head tag
  website/docs/guides/markdown-features/markdown-features-head-metadata.mdx
  website/docs/seo.md
Labels: CLA Signed, tag: documentation

#6122 fix(website): fix yarn build:website:fast
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal

#6123 test: use snapshots for sidebar tests
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
Labels: CLA Signed, tag: internal

#6082 feat(theme-classic): allow passing additional attributes to tab headings
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  website/docs/guides/markdown-features/markdown-features-tabs-styles.module.css
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
  website/src/components/BrowserWindow/styles.module.css
Labels: CLA Signed, tag: new feature, status: awaiting review

#6121 fix(theme-classic): add outline to focused code blocks
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed, tag: polish

#6124 fix(content-docs): restore behavior when pagination front matter is null
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/foo/bar.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/docs.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
Labels: CLA Signed, tag: bug fix

#6125 feat(theme-common): stable classname for code blocks
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  website/docs/styling-layout.md
Labels: CLA Signed, tag: new feature

#6126 feat(content-blog): support json feed
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/blog.mdx
Labels: CLA Signed, tag: new feature

#6128 fix: do not use aria-hidden in heading anchor links
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
Labels: CLA Signed, tag: bug fix

#6129 docs: refactor styling/theming docs
  examples/README.md
  website/docs/styling-layout.md
  website/docs/using-themes.md
Labels: CLA Signed, tag: documentation

#6130 docs: refactor docs sidebar doc
  website/docs/guides/docs/sidebar.md
Labels: CLA Signed, tag: documentation

#6134 docs: update link to init template README.md
  website/docs/migration/migration-manual.md
Labels: CLA Signed, tag: documentation

#6131 docs: elaborate on "docs-only" and "blog-only"
  website/docs/blog.mdx
  website/docs/guides/docs/docs-introduction.md
Labels: CLA Signed, tag: documentation

#6135 docs: mention admonition quirks with Prettier
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
Labels: CLA Signed, tag: documentation

#5848 feat(theme-classic): standalone Admonition component
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Admonition/index.tsx
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
Labels: CLA Signed, tag: new feature, status: awaiting review

#6132 feat(theme-classic): new configuration syntax for a simple footer
  packages/docusaurus-theme-classic/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-theme-classic/src/__tests__/translations.test.ts
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
  packages/docusaurus-theme-classic/src/translations.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  website/docs/api/themes/theme-configuration.md
Labels: CLA Signed, tag: new feature, status: awaiting review

#6141 docs: add WoodpeckerCI to showcase
  website/src/data/showcase/woodpecker.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6137 docs: add ToolJet to showcase
  website/src/data/showcase/tooljet.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6138 docs: add Smart Docs to showcase
  website/src/data/showcase/smart-docs.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5918 docs: refactor & refine lifecycle API docs
  website/docs/api/docusaurus.config.js.md
  website/docs/api/lifecycle-apis.md
  website/docs/api/plugin-methods/README.md
  website/docs/api/plugin-methods/_category_.yml
  website/docs/api/plugin-methods/extend-infrastructure.md
  website/docs/api/plugin-methods/i18n-lifecycles.md
  website/docs/api/plugin-methods/lifecycle-apis.md
  website/docs/api/plugin-methods/static-methods.md
  website/docs/docusaurus-core.md
  website/docs/typescript-support.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/static/_redirects
  website/versioned_docs/version-2.0.0-beta.13/api/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-beta.13/api/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-beta.13/api/plugin-methods/README.md
  website/versioned_docs/version-2.0.0-beta.13/api/plugin-methods/_category_.yml
  website/versioned_docs/version-2.0.0-beta.13/api/plugin-methods/extend-infrastructure.md
  website/versioned_docs/version-2.0.0-beta.13/api/plugin-methods/i18n-lifecycles.md
  website/versioned_docs/version-2.0.0-beta.13/api/plugin-methods/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-beta.13/api/plugin-methods/static-methods.md
  website/versioned_docs/version-2.0.0-beta.13/typescript-support.md
  website/versioned_docs/version-2.0.0-beta.13/using-plugins.md
  website/versioned_docs/version-2.0.0-beta.13/using-themes.md
Labels: CLA Signed, tag: documentation

#6143 test: fix async tests resolved in random order
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  website/docs/using-themes.md
Labels: CLA Signed, tag: internal

#6144 fix(theme-classic): fix translation when footer has no links
  packages/docusaurus-theme-classic/src/translations.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
Labels: CLA Signed, tag: internal

#6142 docs: normalize usage of placeholders
  website/docs/api/plugin-methods/i18n-lifecycles.md
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-content-pages.md
  website/docs/api/themes/theme-configuration.md
  website/docs/blog.mdx
  website/docs/configuration.md
  website/docs/docusaurus-core.md
  website/docs/guides/creating-pages.md
  website/docs/guides/docs/docs-multi-instance.mdx
  website/docs/guides/docs/sidebar.md
  website/docs/guides/docs/versioning.md
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-introduction.md
  website/docs/migration/migration-translated-sites.md
  website/docs/seo.md
Labels: CLA Signed, tag: documentation

#6053 feat(theme-classic): allow stylizing doc paginator arrows
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPaginatorNavLink/index.tsx
  yarn.lock
Labels: CLA Signed, tag: polish

#6146 fix(migrate): do not modify non-MD files
  packages/docusaurus-migrate/src/index.ts
Labels: CLA Signed, tag: bug fix

#6148 chore(examples): update examples to 2.0.0-beta.14
  examples/classic-typescript/README.md
  examples/classic-typescript/docs/intro.md
  examples/classic-typescript/docusaurus.config.js
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/README.md
  examples/classic/docs/intro.md
  examples/classic/docusaurus.config.js
  examples/classic/package.json
  examples/classic/yarn.lock
  examples/facebook/.eslintrc.js
  examples/facebook/README.md
  examples/facebook/docusaurus.config.js
  examples/facebook/package.json
  examples/facebook/yarn.lock
  generateExamples.js
Labels: CLA Signed, tag: internal

#6159 docs: remove useless comment
  website/versioned_docs/version-2.0.0-beta.13/using-themes.md
Labels: CLA Signed, tag: internal

#6158 docs: add Astronomer to showcase
  website/src/data/showcase/astronomer.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6164 docs: fix import module name of theme/Admonition
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
  website/versioned_docs/version-2.0.0-beta.14/guides/markdown-features/markdown-features-admonitions.mdx
Labels: CLA Signed, tag: documentation

#6165 feat(core): async docusaurus.config.js creator function
  packages/docusaurus/src/server/__tests__/__fixtures__/configs/configAsync.config.js
  packages/docusaurus/src/server/__tests__/__fixtures__/configs/createConfig.config.js
  packages/docusaurus/src/server/__tests__/__fixtures__/configs/createConfigAsync.config.js
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/config.test.ts
  packages/docusaurus/src/server/config.ts
  website/docs/api/docusaurus.config.js.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#6166 feat: async plugin creator functions
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/external.ts
  packages/docusaurus/src/commands/swizzle.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/plugins/__tests__/init.test.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  website/docs/api/plugin-methods/README.md
  website/docs/using-plugins.md
Labels: CLA Signed, tag: new feature

#6168 fix(core): update webpack-dev-server + fix deprecation warning
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/start.ts
  yarn.lock
Labels: CLA Signed, tag: bug fix

#6169 feat(theme-translations): add Italian translations
  packages/docusaurus-theme-translations/locales/it/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/it/theme-search-algolia.json
Labels: CLA Signed, tag: new feature

#6170 docs: add LabVIEW coding experience to showcase
  website/src/data/showcase/labviewbook.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6172 chore: upgrade rehype-katex and katex stylesheet for website
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docusaurus.config.js
  website/package.json
  yarn.lock
Labels: CLA Signed, documentation

#6178 docs: add Digital Support Notes to showcase
  website/src/data/showcase/digitalsupportservices.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6181 docs: add GTFS-to-HTML to showcase
  website/src/data/showcase/gtfs-to-html.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6184 docs: remove mention of 'UA-' in gtag
  website/docs/api/plugins/plugin-google-gtag.md
Labels: CLA Signed, tag: documentation

#6186 refactor: print trailing new line when outputting JSON
  generateExamples.js
  packages/create-docusaurus/src/index.ts
  packages/docusaurus/src/server/translations/translations.ts
Labels: CLA Signed, tag: polish

#6188 docs: add Layer0 to deployment guide
  website/docs/deployment.mdx
Labels: CLA Signed

#6190 fix(utils): properly escape Windows paths
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
  packages/docusaurus-utils/src/escapePath.ts
  packages/docusaurus-utils/src/posixPath.ts
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed, tag: bug fix, status: awaiting review

#6177 fix(theme-classic): make React elements in pre render correctly
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  website/_dogfooding/_pages tests/code-block-tests.mdx
  website/_dogfooding/_pages tests/markdownPageTests.md
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: bug fix, status: awaiting review

#6191 docs: fix react live scope button color in dark mode
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/src/theme/ReactLiveScope/components.tsx
Labels: CLA Signed, tag: documentation

#6155 feat(ideal-image): new option disableInDev
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-ideal-image/src/plugin-ideal-image.d.ts
  website/docs/api/plugins/plugin-ideal-image.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#6189 feat(content-blog): include front matter in loaded content metadata
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
Labels: CLA Signed, tag: polish

#6197 fix(cli): quotify temp path in deploy command
  packages/docusaurus/src/commands/deploy.ts
Labels: CLA Signed, tag: bug fix

#6187 docs: make installation guide more beginner-friendly
  packages/create-docusaurus/templates/shared/docs/intro.md
  website/docs/installation.md
Labels: CLA Signed, tag: documentation

#6202 fix(content-docs): quotify path when retrieving git history
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/doc with space.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/docs.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  website/_dogfooding/dogfooding.config.js
Labels: CLA Signed, tag: bug fix

#6203 docs: audit grammar issues
  CONTRIBUTING.md
  examples/classic-typescript/docs/intro.md
  examples/classic/docs/intro.md
  examples/facebook/docs/intro.md
  packages/create-docusaurus/templates/shared/docs/intro.md
  packages/docusaurus-theme-classic/README.md
  website/community/0-support.md
  website/community/4-canary.md
  website/docs/api/docusaurus.config.js.md
  website/docs/api/plugin-methods/README.md
  website/docs/api/plugin-methods/extend-infrastructure.md
  website/docs/api/plugin-methods/i18n-lifecycles.md
  website/docs/api/plugin-methods/lifecycle-apis.md
  website/docs/api/plugin-methods/static-methods.md
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/blog.mdx
  website/docs/browser-support.md
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/deployment.mdx
  website/docs/docusaurus-core.md
  website/docs/guides/creating-pages.md
  website/docs/guides/docs/docs-create-doc.mdx
  website/docs/guides/docs/docs-introduction.md
  website/docs/guides/docs/docs-markdown-features.mdx
  website/docs/guides/docs/docs-multi-instance.mdx
  website/docs/guides/docs/sidebar.md
  website/docs/guides/docs/versioning.md
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-head-metadata.mdx
  website/docs/guides/markdown-features/markdown-features-headings.mdx
  website/docs/guides/markdown-features/markdown-features-inline-toc.mdx
  website/docs/guides/markdown-features/markdown-features-intro.mdx
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-git.md
  website/docs/i18n/i18n-introduction.md
  website/docs/i18n/i18n-tutorial.md
  website/docs/installation.md
  website/docs/introduction.md
  website/docs/migration/migration-manual.md
  website/docs/migration/migration-overview.md
  website/docs/migration/migration-translated-sites.md
  website/docs/migration/migration-versioned-sites.md
  website/docs/presets.md
  website/docs/search.md
  website/docs/seo.md
  website/docs/static-assets.md
  website/docs/styling-layout.md
  website/docs/typescript-support.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
Labels: CLA Signed, tag: documentation

#6204 docs: recommend highlighting with comments than number range
  packages/docusaurus-utils/src/markdownLinks.ts
  website/docs/docusaurus-core.md
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: documentation

#6206 docs: fix highlighting of YAML front matter
  website/docs/blog.mdx
  website/docs/seo.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: documentation

#6207 docs: add default value for BrowserWindow URL field
  website/_dogfooding/_pages tests/code-block-tests.mdx
  website/_dogfooding/_pages tests/index.md
  website/_dogfooding/_pages tests/markdownPageTests.md
  website/docs/guides/docs/docs-create-doc.mdx
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/src/components/BrowserWindow/index.tsx
Labels: CLA Signed, tag: documentation

#6209 docs: elaborate on static asset resolution
  website/docs/static-assets.md
Labels: CLA Signed, tag: documentation

#6174 misc(theme-translations): multiple improvements to the update CLI
  packages/docusaurus-theme-translations/update.js
Labels: CLA Signed, tag: internal, status: awaiting review

#6173 feat(ideal-image): allow translating status messages
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-ideal-image/src/deps.d.ts
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
  packages/docusaurus-theme-translations/locales/ar/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/base/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/bn/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/cs/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/da/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/de/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/es/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/fa/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/fil/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/fr/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/he/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/hi/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/it/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/ja/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/ko/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/pl/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/pt-BR/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/pt-PT/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/ru/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/sr/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/tr/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/vi/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/zh-Hans/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/zh-Hant/plugin-ideal-image.json
  packages/docusaurus-theme-translations/update.js
Labels: CLA Signed, tag: new feature

#6193 docs: normalize plugin API documentation
  website/docs/api/plugins/plugin-client-redirects.md
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-content-pages.md
  website/docs/api/plugins/plugin-debug.md
  website/docs/api/plugins/plugin-google-analytics.md
  website/docs/api/plugins/plugin-google-gtag.md
  website/docs/api/plugins/plugin-ideal-image.md
  website/docs/api/plugins/plugin-sitemap.md
  website/docusaurus.config.js
  website/package.json
  website/src/remark/configTabs.js
Labels: CLA Signed, tag: documentation

#6215 docs: use BrowserWindow for Markdown demos
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-inline-toc.mdx
  website/docs/guides/markdown-features/markdown-features-intro.mdx
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
  website/docs/seo.md
  website/src/components/BrowserWindow/styles.module.css
Labels: CLA Signed, tag: documentation

#6213 refactor(theme-classic): extract common PaginatorNavLink component
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogListPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPaginatorNavLink/index.tsx
  packages/docusaurus-theme-classic/src/theme/PaginatorNavLink/index.tsx
Labels: CLA Signed, tag: bug fix

#6216 feat(theme-classic): usable CodeBlock outside markdown
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, tag: new feature

#6223 docs: normalize CodeBlock highlighting
  website/docs/api/plugin-methods/extend-infrastructure.md
  website/docs/api/plugin-methods/lifecycle-apis.md
  website/docs/api/plugin-methods/static-methods.md
  website/docs/api/themes/theme-live-codeblock.md
  website/docs/blog.mdx
  website/docs/browser-support.md
  website/docs/deployment.mdx
  website/docs/docusaurus-core.md
  website/docs/guides/docs/versioning.md
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
  website/docs/migration/migration-manual.md
  website/docs/presets.md
  website/docs/search.md
  website/docs/styling-layout.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
Labels: CLA Signed, tag: documentation

#6224 docs: add TalentBrick to showcase
  website/src/data/showcase/talentbrick.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6225 refactor(theme-translations): improve typing for update script
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-theme-translations/update.js
Labels: CLA Signed, tag: internal

#6226 docs: update showcase data for digital support notes
  website/src/data/showcase/digitalsupportservices.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6222 test: ensure consistent CSS ordering
  website/_dogfooding/clientModuleCSS.css
  website/_dogfooding/dogfooding.config.js
  website/docusaurus.config.js
  website/package.json
  website/src/css/custom.css
  website/src/pages/styles.module.css
  website/src/theme/Layout/index.tsx
  website/src/theme/Layout/styles.module.css
  website/testCSSOrder.js
Labels: CLA Signed, tag: internal

#6229 refactor(utils): reorganize functions; move authors file resolution to utils
  examples/facebook/package.json
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/authors.test.ts
  packages/docusaurus-plugin-content-blog/src/authors.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/actualData/bad.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/actualData/bad.yml
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/actualData/valid.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/actualData/valid.yml
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/contentPathEmpty/empty
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/contentPathJson1/authors.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/contentPathJson2/authors.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/contentPathNestedYml/sub/folder/authors.yml
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/contentPathYml1/authors.yml
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/contentPathYml2/authors.yml
  packages/docusaurus-utils/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-utils/src/__tests__/dataFileUtils.test.ts
  packages/docusaurus-utils/src/__tests__/escapePath.test.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus-utils/src/__tests__/posixPath.test.ts
  packages/docusaurus-utils/src/__tests__/urlUtils.test.ts
  packages/docusaurus-utils/src/dataFileUtils.ts
  packages/docusaurus-utils/src/escapePath.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownLinks.ts
  packages/docusaurus-utils/src/markdownParser.ts
  packages/docusaurus-utils/src/pathUtils.ts
  packages/docusaurus-utils/src/posixPath.ts
  packages/docusaurus-utils/src/tags.ts
  packages/docusaurus-utils/src/urlUtils.ts
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/docusaurus/src/commands/build.ts
  website/docusaurus.config.js
  yarn.lock
Labels: CLA Signed, tag: internal
