Repository facebook/docusaurus, pull requests merged in 2021-10, with the labels that each got.

#5632 chore: prepare Algolia migration
  website/docs/search.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal

#5630 refactor: standardize using media queries
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItemFooter/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Navbar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/TOC/styles.module.css
Labels: CLA Signed, tag: polish

#5639 misc: update base translation + remove extra char
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/update-code-translations.js
Labels: CLA Signed, tag: internal

#5640 Synchronize Persian language with the latest base version
  packages/docusaurus-theme-classic/codeTranslations/fa.json
Labels: CLA Signed, tag: polish

#5638 docs: add nanos world docs to showcase
  website/src/data/showcase/nanos-world.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5643 fix(theme-classic): reset default style for task lists
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/styles.css
Labels: CLA Signed, tag: bug fix

#5646 refactor: complete missing and fix ES translations
  packages/docusaurus-theme-classic/codeTranslations/es.json
Labels: CLA Signed, tag: polish

#5636 refactor: make all Props defined as interface + readonly
  .eslintrc.js
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-plugin-debug/src/types.d.ts
  packages/docusaurus-theme-classic/src/theme/DocTagDocListPage/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/PendingNavigation.tsx
  website/docs/lifecycle-apis.md
Labels: CLA Signed, tag: polish

#5649 refactor: improve pt-BR translation for classic theme
  packages/docusaurus-theme-classic/codeTranslations/pt-BR.json
Labels: CLA Signed, tag: polish

#5644 docs: add djamaile blog to site showcase
  website/src/data/showcase/djamaile.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5645 fix: place root route at the end
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/init.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/init.test.ts
  packages/docusaurus/src/server/plugins/index.ts
Labels: CLA Signed, tag: bug fix

#5831 feat(preset-classic): guard against unknown keys in options
  packages/docusaurus-preset-classic/src/index.ts
  website/docs/presets.md
  website/versioned_docs/version-2.0.0-beta.7/presets.md
  website/versioned_docs/version-2.0.0-beta.8/presets.md
Labels: CLA Signed, tag: polish

#5697 chore(workflow): add cache to workflows using actions/setup-node
  .github/workflows/canary-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/v2-build-blog-only.yml
  .github/workflows/v2-build-size-report.yml
  .github/workflows/v2-build-time-perf.yml
  .github/workflows/v2-lighthouse-report.yml
  .github/workflows/v2-tests-e2e.yml
  .github/workflows/v2-tests-windows.yml
  .github/workflows/v2-tests.yml
Labels: CLA Signed, tag: internal

#5833 chore(workflow): remove v2 prefix from titles
  .github/workflows/build-blog-only.yml
  .github/workflows/build-size-report.yml
  .github/workflows/build-time-perf.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lighthousesrc.json
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed, tag: internal

#5834 chore(issue templ): add "self service" section in templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
Labels: CLA Signed, tag: internal

#5836 chore: switch to GitHub issue forms
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/proposal.md
  .github/ISSUE_TEMPLATE/proposal.yml
Labels: CLA Signed, tag: internal

#5841 feat: allow user to specify deploymentBranch property in docusaurus.config.js
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/configuration.md
  website/docs/deployment.mdx
Labels: CLA Signed

#5843 docs: fix i18n routes to feature requests
  website/src/featureRequests/FeatureRequestsPlugin.js
  website/static/_redirects
Labels: CLA Signed, tag: documentation
