Repository facebook/docusaurus, pull requests merged in 2021-01, with the labels that each got.

#3986 feat(v2): skip dependency install on docusaurus init
  packages/docusaurus-init/bin/index.js
  packages/docusaurus-init/src/index.ts
  packages/docusaurus-migrate/src/__tests__/__fixtures__/expectedSiteConfig.js
  website/docs/installation.md
Labels: CLA Signed, tag: new feature

#3987 docs(v2): Add AgileTs site to showcase page
  website/src/data/showcase/agilets.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#3988 chore(v2): fix date-sensitive test fixture
  packages/docusaurus-migrate/src/__tests__/__fixtures__/expectedSiteConfig.js
Labels: CLA Signed, tag: internal

#3991 docs(v2): add overwriting css variables for dark mode
  website/docs/styling-layout.md
Labels: CLA Signed, tag: documentation

#3995 chore(v2): remove docs for alpha v65
  website/versioned_docs/version-2.0.0-alpha.65/api/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.65/assets/docusaurus-asset-example-banner.png
  website/versioned_docs/version-2.0.0-alpha.65/assets/docusaurus-asset-example-pdf.pdf
  website/versioned_docs/version-2.0.0-alpha.65/assets/docusaurus-asset-example.xyz
  website/versioned_docs/version-2.0.0-alpha.65/blog.md
  website/versioned_docs/version-2.0.0-alpha.65/cli.md
  website/versioned_docs/version-2.0.0-alpha.65/configuration.md
  website/versioned_docs/version-2.0.0-alpha.65/contributing.md
  website/versioned_docs/version-2.0.0-alpha.65/deployment.mdx
  website/versioned_docs/version-2.0.0-alpha.65/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.65/docs.md
  website/versioned_docs/version-2.0.0-alpha.65/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.65/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.65/guides/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.65/installation.md
  website/versioned_docs/version-2.0.0-alpha.65/introduction.md
  website/versioned_docs/version-2.0.0-alpha.65/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.65/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.65/presets.md
  website/versioned_docs/version-2.0.0-alpha.65/search.md
  website/versioned_docs/version-2.0.0-alpha.65/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.65/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.65/theme-bootstrap.md
  website/versioned_docs/version-2.0.0-alpha.65/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.65/typescript-support.md
  website/versioned_docs/version-2.0.0-alpha.65/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.65/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.65/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.65-sidebars.json
  website/versions.json
Labels: CLA Signed, tag: internal

#3990 docs(v2): Add wiki-powerto site showcase
  website/src/data/showcase/power.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4001 chore(v2): Upgrade crowdin
  crowdin-v2.yaml
  website/package.json
Labels: CLA Signed, tag: internal

#3998 feat(v2): Cache hashed assets to dedicated folders
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed

#3997 docs(v2): Add Datagit site to showcase page
  website/src/data/showcase/datagit.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4004 fix(v2): Fix double trailingSlash in sitemap.xml
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
Labels: CLA Signed, tag: bug fix

#3993 feat(v2): themed logo in footer
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/ThemedImage/styles.module.css
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Labels: CLA Signed

#4002 docs(v2): Add how to run your own DocSearch
  website/docs/search.md
Labels: CLA Signed, tag: documentation

#4005 chore(v2): prettier fixes
  package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
Labels: CLA Signed, tag: internal

#4022 docs: fix typo from 'dissapear' to 'disappear'
  website/docs/guides/docs/sidebar.md
Labels: CLA Signed

#4019 feat: add new policy links to Docusaurus site and FB template
  examples/facebook/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  website-1.x/core/Footer.js
  website/docusaurus.config.js
Labels: CLA Signed, documentation

#4011 fix(v2): fix accessibility issue with IconArrow
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
Labels: CLA Signed

#4003 chore: add DevContainer config for GitHub codespaces
  .devcontainer/devcontainer.json
Labels: CLA Signed, tag: internal

#4012 chore(v2): docusaurus-init: switch from inquirer to prompts
  package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/src/index.ts
  packages/docusaurus/README.md
  packages/docusaurus/src/webpack/plugins/WaitPlugin.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#4021 feat(v2): Allow plugins to consume webpack stats
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/lifecycle-apis.md
Labels: CLA Signed, tag: new feature

#4030 chore(v2): install Crowdin cli through npm package
  package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4026 docs(v2): Add FlexIt to showcase
  website/src/data/showcase/flexit.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4038 docs(v1): suggest to use Docusaurus 2 even for non-FB websites
  website-1.x/docs/getting-started-installation.md
Labels: CLA Signed, tag: documentation

#4040 chore(v1): upgrade v1 Crowdin cli + CI config
  .circleci/config.yml
  crowdin-v1.yml
  website-1.x/netlify.toml
  website-1.x/package.json
Labels: CLA Signed, tag: internal

#4041 chore(v1): revert v1 netlify.toml
  website-1.x/languages.js
  website-1.x/netlify.toml
  website-1.x/package.json
Labels: CLA Signed, tag: internal

#4036 docs(v2): Add Nodify to showcase
  website/src/data/showcase/nodify.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4046 docs(v2): add sciwp to showcase
  website/src/data/showcase/sciwp.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4034 docs(v2): Add READMEs to v2 packages
  packages/docusaurus-cssnano-preset/README.md
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-init/README.md
  packages/docusaurus-init/package.json
  packages/docusaurus-mdx-loader/README.md
  packages/docusaurus-migrate/README.md
  packages/docusaurus-migrate/package.json
  packages/docusaurus-module-type-aliases/README.md
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-plugin-client-redirects/README.md
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/README.md
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/README.md
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/README.md
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/README.md
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/README.md
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/README.md
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/README.md
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/README.md
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/README.md
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-bootstrap/README.md
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-classic/README.md
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-common/README.md
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/README.md
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/README.md
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/README.md
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-validation/README.md
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/README.md
  packages/docusaurus-utils/package.json
  packages/docusaurus/README.md
  packages/lqip-loader/README.md
  packages/lqip-loader/package.json
  packages/stylelint-copyright/README.md
  packages/stylelint-copyright/package.json
Labels: CLA Signed, tag: documentation

#4047 docs(v1): version page should recommend v2
  website-1.x/pages/en/versions.js
Labels: CLA Signed, tag: documentation

#4049 docs(v1): version page should recommend v2 (bis)
  packages/docusaurus/README.md
  website-1.x/pages/en/versions.js
Labels: CLA Signed, tag: documentation

#4048 docs(v1): Docker: remind the user to use the --host flag
  website-1.x/docs/getting-started-docker.md
Labels: CLA Signed, tag: documentation

#4053 docs(v2): Add Eightshift Docs site to showcase page
  website/src/data/showcase/eightshift-docs.png
  website/src/data/users.js
Labels: CLA Signed

#4054 feat(v2): new.docusaurus.io -> CodeSandbox
  admin/new.docusaurus.io/README.md
  admin/new.docusaurus.io/_redirects
Labels: CLA Signed, tag: new feature

#4056 chore(v2): update codesandbox redirect
  admin/new.docusaurus.io/README.md
  admin/new.docusaurus.io/_redirects
Labels: CLA Signed, tag: internal

#4058 docs(v2): Include new.docusaurus.io CodeSandbox in issue templates + README
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/question.md
  README.md
Labels: CLA Signed, tag: documentation

#4062 docs(v2): Add codesandbox integration
  README.md
  website/docs/installation.md
  website/docs/introduction.md
  website/src/pages/index.js
  website/src/pages/styles.module.css
Labels: CLA Signed, tag: documentation

#4063 chore(v2): Regen codesandbox templates + add template: "docusaurus"
  examples/bootstrap/docusaurus.config.js
  examples/bootstrap/package.json
  examples/bootstrap/sandbox.config.json
  examples/bootstrap/yarn.lock
  examples/classic/docusaurus.config.js
  examples/classic/package.json
  examples/classic/sandbox.config.json
  examples/classic/yarn.lock
  examples/facebook/docusaurus.config.js
  examples/facebook/package.json
  examples/facebook/sandbox.config.json
  examples/facebook/yarn.lock
  generateExamples.js
Labels: CLA Signed, tag: internal

#4009 docs(v2): add hideableSidebar option to config demo
  website/docs/api/docusaurus.config.js.md
Labels: CLA Signed, tag: documentation

#4020 docs(v2): 2020 recap blog post
  website-1.x/blog/2020-01-19-docusaurus-2020-recap.md
  website-1.x/static/img/blog/2020-recap/datagit-rtl-screenshot.png
  website-1.x/static/img/blog/2020-recap/docusaurus-npm-trends.png
  website-1.x/static/img/blog/2020-recap/docusaurus-plushie-banner.jpeg
  website-1.x/static/img/blog/2020-recap/jest-screenshot.png
  website-1.x/static/img/blog/2020-recap/react-native-screenshot.png
  website-1.x/static/img/docusaurus-2020-recap.png
  website/static/img/blog/2020-recap/datagit-rtl-screenshot.png
  website/static/img/blog/2020-recap/docusaurus-npm-trends.png
  website/static/img/blog/2020-recap/docusaurus-plushie-banner.jpeg
  website/static/img/blog/2020-recap/jest-screenshot.png
  website/static/img/blog/2020-recap/react-native-screenshot.png
  website/static/img/docusaurus-2020-recap.png
Labels: CLA Signed, tag: documentation

#4067 fix(v2): Fix blog post url/date
  website-1.x/blog/2021-01-19-docusaurus-2020-recap.md
  website/static/_redirects
Labels: CLA Signed, tag: bug fix

#4074 polish(v2): improve codesandbox template package.json
  admin/publish.md
  examples/README.md
  examples/bootstrap/package.json
  examples/bootstrap/sandbox.config.json
  examples/bootstrap/yarn.lock
  examples/classic/package.json
  examples/classic/sandbox.config.json
  examples/classic/src/pages/index.js
  examples/classic/yarn.lock
  examples/facebook/package.json
  examples/facebook/sandbox.config.json
  examples/facebook/yarn.lock
  generateExamples.js
Labels: CLA Signed, tag: polish

#4066 chore(v2): Update a few dependencies
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4077 chore(v2): fix unstable master yarn.lock
  yarn.lock
Labels: CLA Signed, tag: internal

#4080 fix(v2): chokidar reloading debounced
  packages/docusaurus/src/commands/start.ts
Labels: CLA Signed, tag: bug fix

#4081 chore(v2): Update webpack-related dependencies, pre-work to migrate to Webpack 5
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/utils.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#4084 docs(v2): Use the TOCInline component in config doc
  website/docs/configuration.md
Labels: CLA Signed, tag: documentation

#4092 fix(v2): fix/enhance minor i18n issues reported
  packages/docusaurus-theme-classic/src/theme/IconLanguage/index.tsx
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/useAlternatePageUtils.ts
  website/docs/i18n/i18n-introduction.md
Labels: CLA Signed, tag: bug fix

#4100 chore(v2): remove docs for alpha v66
  website/versioned_docs/version-2.0.0-alpha.66/api/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.66/assets/docusaurus-asset-example-banner.png
  website/versioned_docs/version-2.0.0-alpha.66/assets/docusaurus-asset-example-pdf.pdf
  website/versioned_docs/version-2.0.0-alpha.66/assets/docusaurus-asset-example.xyz
  website/versioned_docs/version-2.0.0-alpha.66/blog.md
  website/versioned_docs/version-2.0.0-alpha.66/cli.md
  website/versioned_docs/version-2.0.0-alpha.66/configuration.md
  website/versioned_docs/version-2.0.0-alpha.66/contributing.md
  website/versioned_docs/version-2.0.0-alpha.66/deployment.mdx
  website/versioned_docs/version-2.0.0-alpha.66/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.66/docs.md
  website/versioned_docs/version-2.0.0-alpha.66/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.66/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.66/guides/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.66/installation.md
  website/versioned_docs/version-2.0.0-alpha.66/introduction.md
  website/versioned_docs/version-2.0.0-alpha.66/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.66/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.66/presets.md
  website/versioned_docs/version-2.0.0-alpha.66/search.md
  website/versioned_docs/version-2.0.0-alpha.66/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.66/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.66/theme-bootstrap.md
  website/versioned_docs/version-2.0.0-alpha.66/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.66/typescript-support.md
  website/versioned_docs/version-2.0.0-alpha.66/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.66/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.66/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.66-sidebars.json
  website/versions.json
Labels: CLA Signed, tag: internal

#4106 docs: update broken link on resources page
  website/community/resources.md
Labels: CLA Signed, tag: documentation

#4098 feat(v2): improve templates, use JSDoc type annotation, improve `docusaurus.config.js` autocompletion
  examples/bootstrap/docusaurus.config.js
  examples/classic/docusaurus.config.js
  examples/facebook/docusaurus.config.js
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#4086 style(v2): add className to tab container
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
Labels: CLA Signed, tag: polish

#4091 refactor(v2): Switch from inquirer to prompts
  package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/choosePort.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#4090 feat(v2): supports string type for the Layout's keywords props
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
Labels: CLA Signed

#4109 feat(v2): default canonical urls
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  website/src/pages/feedback/index.js
  website/src/pages/index.js
  website/src/pages/versions.js
Labels: CLA Signed, tag: new feature

#4112 docs(v2): Do not encourage using the permalink prop
  website/docs/migration/migration-manual.md
Labels: CLA Signed, tag: documentation

#4118 fix(v2): navbar dropdown subitems should be translated properly
  packages/docusaurus-theme-classic/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-theme-classic/src/__tests__/translations.test.ts
  packages/docusaurus-theme-classic/src/translations.ts
Labels: CLA Signed, tag: bug fix

#4120 chore(v2): Update workbox to v6
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/registerSw.js
  packages/docusaurus-plugin-pwa/src/sw.js
  yarn.lock
Labels: CLA Signed, tag: internal

#4121 feat(v2): editUrl function for advanced use-cases
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-git.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#4125 fix(v2): baseUrl help banner should not be indexed by Google / SEO
  packages/docusaurus/src/client/baseUrlIssueBanner/BaseUrlIssueBanner.tsx
  packages/docusaurus/src/client/baseUrlIssueBanner/styles.module.css
Labels: CLA Signed

#4126 docs(v2): do not recommend using useBaseUrl() hook in most cases
  packages/docusaurus/src/server/plugins/index.ts
  website/docs/docusaurus-core.md
  website/docs/migration/migration-manual.md
Labels: CLA Signed, tag: documentation

#4130 docs(v2): typo in i18n docs
  website/docs/i18n/i18n-introduction.md
Labels: CLA Signed

#4127 docs(v2): remove unnecessary brace from installation doc
  website/docs/installation.md
Labels: CLA Signed

#4129 docs(v2): typo fix in Migration Docs
  website/docs/migration/migration-manual.md
Labels: CLA Signed

#4136 fix(v2): fix navigation from homepage
  packages/docusaurus/src/client/baseUrlIssueBanner/BaseUrlIssueBanner.tsx
Labels: CLA Signed
