Repository facebook/docusaurus, pull requests merged in 2021-11, with the labels that each got.

#5847 Add InfraQL product docs website
  website/src/data/showcase/infraql-docs.png
  website/src/data/users.tsx
Labels: CLA Signed

#5842 misc: add "name" field for root package.json
  package.json
Labels: CLA Signed, tag: internal

#5770 feat(theme-classic): allow specifying width/height in logo
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.js
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/Logo/index.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/api/themes/theme-configuration.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#5851 refactor(live-codeblock): migrate package to TS
  packages/docusaurus-theme-live-codeblock/copyUntypedFiles.js
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-live-codeblock/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-live-codeblock/src/custom-buble.ts
  packages/docusaurus-theme-live-codeblock/src/index.ts
  packages/docusaurus-theme-live-codeblock/src/types.d.ts
  packages/docusaurus-theme-live-codeblock/src/validateThemeConfig.ts
  packages/docusaurus-theme-live-codeblock/tsconfig.json
  yarn.lock
Labels: CLA Signed

#5852 docs: Fix a typo in versioning.md
  website/docs/guides/docs/versioning.md
Labels: CLA Signed, tag: documentation

#5853 docs: Fix a typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: CLA Signed

#5862 misc: show only latest archive alpha/beta versions dropdown
  website/docusaurus.config.js
Labels: CLA Signed, tag: internal

#5806 refactor: use js-yaml to parse both JSON and YAML
  .eslintrc.js
  packages/docusaurus-plugin-content-blog/src/authors.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-theme-classic/update-code-translations.js
  packages/docusaurus-utils/src/codeTranslationsUtils.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: internal

#5864 fix: respect base URL when serving content by webpack dev server
  packages/docusaurus/src/commands/start.ts
Labels: CLA Signed, tag: bug fix

#5868 docs: fix a typo in using-themes.md
  website/docs/using-themes.md
Labels: CLA Signed, tag: documentation

#5869 docs: remove duplicated appId property
  website/docs/search.md
Labels: CLA Signed, tag: documentation

#5870 chore(README): fix broken Github Actions Workflow Status icon
  README.md
Labels: CLA Signed, tag: internal

#5759 docs: create SEO documentation page
  website/docs/seo.md
  website/sidebars.js
Labels: CLA Signed, tag: documentation

#3104 feat(core): Add React ErrorBoundary component + theme default boundaries
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/codeTranslations/ar.json
  packages/docusaurus-theme-classic/codeTranslations/base.json
  packages/docusaurus-theme-classic/codeTranslations/bn.json
  packages/docusaurus-theme-classic/codeTranslations/cs.json
  packages/docusaurus-theme-classic/codeTranslations/da.json
  packages/docusaurus-theme-classic/codeTranslations/de.json
  packages/docusaurus-theme-classic/codeTranslations/es.json
  packages/docusaurus-theme-classic/codeTranslations/fa.json
  packages/docusaurus-theme-classic/codeTranslations/fil.json
  packages/docusaurus-theme-classic/codeTranslations/fr.json
  packages/docusaurus-theme-classic/codeTranslations/he.json
  packages/docusaurus-theme-classic/codeTranslations/hi.json
  packages/docusaurus-theme-classic/codeTranslations/ja.json
  packages/docusaurus-theme-classic/codeTranslations/ko.json
  packages/docusaurus-theme-classic/codeTranslations/pl.json
  packages/docusaurus-theme-classic/codeTranslations/pt-BR.json
  packages/docusaurus-theme-classic/codeTranslations/pt-PT.json
  packages/docusaurus-theme-classic/codeTranslations/ru.json
  packages/docusaurus-theme-classic/codeTranslations/sr.json
  packages/docusaurus-theme-classic/codeTranslations/tr.json
  packages/docusaurus-theme-classic/codeTranslations/vi.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hans.json
  packages/docusaurus-theme-classic/codeTranslations/zh-Hant.json
  packages/docusaurus-theme-classic/src/theme/ErrorPageContent.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/exports/ErrorBoundary.tsx
  packages/docusaurus/src/client/theme-fallback/Error/index.js
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  website/_dogfooding/_pages tests/error-boundary-tests.js
  website/docs/docusaurus-core.md
  website/src/components/ErrorBoundaryTestButton/index.tsx
Labels: CLA Signed, tag: new feature

#5873 fix(theme-classic): fix announcementBar css
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
Labels: CLA Signed, tag: bug fix

#5798 fix(cli): update notifier should be shown if current is less than latest
  packages/docusaurus/bin/beforeCli.js
Labels: CLA Signed, tag: bug fix

#5876 docs: '5 minutes tutorial' -> '5-minute tutorial'
  website/docs/introduction.md
  website/versioned_docs/version-2.0.0-beta.8/introduction.md
  website/versioned_docs/version-2.0.0-beta.9/introduction.md
Labels: CLA Signed, tag: documentation

#5875 docs: add patrikmasiar website showcase
  website/src/data/showcase/patrikmasiar.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5881 docs: fix wrong code sample in docusaurus-core
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: documentation

#5889 chore(website): enable eslint in website
  .eslintignore
  .eslintrc.js
  website/_dogfooding/_pages tests/error-boundary-tests.tsx
  website/_dogfooding/_pages tests/hydration-tests.tsx
  website/_dogfooding/clientModuleExample.ts
  website/_dogfooding/docs-tests-sidebars.js
  website/_dogfooding/dogfooding.config.js
  website/babel.config.js
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/sidebarsCommunity.js
  website/src/components/BrowserWindow/index.tsx
  website/src/components/ColorGenerator/index.tsx
  website/src/components/ErrorBoundaryTestButton/index.tsx
  website/src/components/Playground/index.tsx
  website/src/components/TeamProfileCards/index.tsx
  website/src/components/showcase/ShowcaseCheckbox/index.tsx
  website/src/components/showcase/ShowcaseSelect/index.tsx
  website/src/data/users.tsx
  website/src/featureRequests/FeatureRequestsPage.tsx
  website/src/featureRequests/cannyScript.js
  website/src/pages/index.tsx
  website/src/pages/showcase/index.tsx
  website/src/pages/versions.tsx
  website/src/theme/ReactLiveScope/components.tsx
  website/src/types.d.ts
  website/src/utils/jsUtils.ts
  website/waitForCrowdin.js
Labels: CLA Signed, tag: internal

#5886 fix: v1 Algolia DocSearch migration
  website-1.x/blog/2021-11-05-algolia-migration.md
  website-1.x/siteConfig.js
Labels: CLA Signed, tag: bug fix

#5895 docs: Add juffalow.com to Docusaurus showcase
  website/src/data/showcase/juffalow.png
  website/src/data/users.tsx
Labels: CLA Signed

#5888 docs: update GitHub deployment instructions
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#4409 docs: add example for Github Pages deployment; rewrite deployment section
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#5900 docs: document global variables in MDX scope
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed

#5902 fix(website): fix i18n routes for Canny board
  website/src/featureRequests/FeatureRequestsPage.tsx
  website/src/featureRequests/FeatureRequestsPlugin.js
Labels: CLA Signed, tag: internal

#5903 docs: refer to deployed branch as deployment rather than target
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#5904 refactor(content-docs): use shelljs instead of execa
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
Labels: CLA Signed, tag: internal

#5905 misc(plugin-docs): fix Windows test snapshot for git history retrieval
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
Labels: CLA Signed

#5906 fix(content-docs): do not echo git history to console
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
Labels: CLA Signed, tag: polish

#5907 chore(workflow): merge jobs into one workflow & give each job a name
  .github/workflows/build-blog-only.yml
  .github/workflows/build-perf.yml
  .github/workflows/build-time-perf.yml
  .github/workflows/canary-release.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed

#5787 feat(content-blog): allow sorting posts in ascending order
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  website/docs/api/plugins/plugin-content-blog.md
Labels: CLA Signed, tag: new feature

#5899 feat(core): give more hints when plugins have duplicate IDs
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/pluginIds.test.ts.snap
  packages/docusaurus/src/server/plugins/pluginIds.ts
Labels: CLA Signed, tag: polish

#5917 docs: make API sidebar partially autogenerated
  website/docs/api/docusaurus.config.js.md
  website/docs/api/lifecycle-apis.md
  website/docs/api/plugins/_category_.yml
  website/docs/api/plugins/overview.md
  website/docs/api/plugins/plugin-client-redirects.md
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-content-pages.md
  website/docs/api/plugins/plugin-debug.md
  website/docs/api/plugins/plugin-google-analytics.md
  website/docs/api/plugins/plugin-google-gtag.md
  website/docs/api/plugins/plugin-ideal-image.md
  website/docs/api/plugins/plugin-pwa.md
  website/docs/api/plugins/plugin-sitemap.md
  website/docs/api/themes/_category_.yml
  website/docs/api/themes/overview.md
  website/docs/api/themes/theme-classic.md
  website/docs/api/themes/theme-configuration.md
  website/docs/api/themes/theme-live-codeblock.md
  website/docs/api/themes/theme-search-algolia.md
  website/docs/typescript-support.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/sidebars.js
Labels: CLA Signed, tag: internal

#5919 misc(workflow): E2E tests should not be run with website changes
  .github/workflows/tests-e2e.yml
Labels: CLA Signed, tag: internal

#5916 docs: Docsearch blog post v1 fixes
  website-1.x/blog/2021-11-05-algolia-migration.md
Labels: CLA Signed

#5891 docs: new APITable comp to render large tables
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-content-pages.md
  website/docs/api/themes/theme-configuration.md
  website/src/components/APITable/index.tsx
  website/src/components/APITable/styles.module.css
  website/versioned_docs/version-2.0.0-beta.8/api/plugins/plugin-content-blog.md
  website/versioned_docs/version-2.0.0-beta.8/api/plugins/plugin-content-docs.md
  website/versioned_docs/version-2.0.0-beta.8/api/plugins/plugin-content-pages.md
  website/versioned_docs/version-2.0.0-beta.8/api/themes/theme-configuration.md
  website/versioned_docs/version-2.0.0-beta.9/api/plugins/plugin-content-blog.md
  website/versioned_docs/version-2.0.0-beta.9/api/plugins/plugin-content-docs.md
  website/versioned_docs/version-2.0.0-beta.9/api/plugins/plugin-content-pages.md
  website/versioned_docs/version-2.0.0-beta.9/api/themes/theme-configuration.md
Labels: CLA Signed, tag: documentation

#5840 feat: allow GIT_USER env var to be unset if SSH is used
  packages/create-docusaurus/templates/facebook/README.md
  packages/create-docusaurus/templates/shared/README.md
  packages/docusaurus/src/commands/__tests__/buildRemoteBranchUrl.test.ts
  packages/docusaurus/src/commands/__tests__/deploy.test.ts
  packages/docusaurus/src/commands/buildRemoteBranchUrl.ts
  packages/docusaurus/src/commands/deploy.ts
  website/docs/deployment.mdx
Labels: CLA Signed, tag: polish

#5832 refactor(ganalytics, gtag): move options out of themeConfig
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-analytics/src/index.ts
  packages/docusaurus-plugin-google-analytics/src/plugin-google-analytics.d.ts
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-gtag/src/gtag.ts
  packages/docusaurus-plugin-google-gtag/src/index.ts
  packages/docusaurus-plugin-google-gtag/src/plugin-google-gtag.d.ts
  packages/docusaurus-preset-classic/src/index.ts
  packages/docusaurus-preset-classic/src/preset-classic.d.ts
  website/docs/api/plugins/plugin-google-analytics.md
  website/docs/api/plugins/plugin-google-gtag.md
  website/docs/presets.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: breaking change, tag: polish

#5829 refactor: optimize clone and checkout in deploy command
  packages/docusaurus/src/commands/deploy.ts
Labels: CLA Signed, tag: polish

#5921 docs: add Signoz site to showcase site
  website/src/data/showcase/signoz.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5934 docs: fix a typo in CHANGELOG
  CHANGELOG.md
  crowdin-v2.yaml
Labels: CLA Signed, tag: documentation

#5931 refactor(remark-plugin-npm2yarn): migrate package to TS
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/index.js
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
  packages/docusaurus-remark-plugin-npm2yarn/tsconfig.json
  yarn.lock
Labels: CLA Signed, tag: internal

#5928 docs: Add Shotstack showcase user
  website/src/data/showcase/shotstack.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5925 docs: add Froggit site to showcase page
  website/src/data/showcase/froggit.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5922 refactor(theme-classic): move some logic of CodeBlock to theme-common
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
Labels: CLA Signed, tag: internal

#5944 fix: translate all remaining english sentence in French
  packages/docusaurus-theme-classic/codeTranslations/fr.json
Labels: CLA Signed, tag: polish

#5946 refactor: move deps declarations into src
  packages/docusaurus-mdx-loader/src/deps.d.ts
  packages/docusaurus-plugin-content-blog/src/deps.d.ts
  packages/docusaurus-plugin-content-docs/src/deps.d.ts
  packages/docusaurus-plugin-content-pages/src/deps.d.ts
Labels: CLA Signed, tag: internal

#5947 fix(website): fix APITable anchor link
  website/src/components/APITable/index.tsx
Labels: CLA Signed, tag: documentation

#5948 fix(website): fix APITable anchor ID having extra hash
  website/src/components/APITable/index.tsx
Labels: CLA Signed, tag: documentation

#3458 feat(create-docusaurus): allow using local folder as template
  packages/create-docusaurus/src/index.ts
  website/docs/installation.md
Labels: CLA Signed, tag: new feature

#5945 fix(module-type-aliases): add svg declaration
  packages/docusaurus-module-type-aliases/src/index.d.ts
Labels: CLA Signed

#5949 docs: update Signoz showcase details
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5950 misc(codeowners): add @Josh-Cena to CODEOWNERS
  .github/CODEOWNERS
Labels: CLA Signed, tag: internal

#5953 docs: fix BrowserOnly return statement
  website/docs/docusaurus-core.md
  website/versioned_docs/version-2.0.0-beta.8/docusaurus-core.md
  website/versioned_docs/version-2.0.0-beta.9/docusaurus-core.md
Labels: CLA Signed

#5941 refactor(plugin-pwa): migrate package to TS
  .eslintignore
  packages/docusaurus-plugin-pwa/copyUntypedFiles.js
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-plugin-pwa/src/options.ts
  packages/docusaurus-plugin-pwa/src/plugin-pwa.d.ts
  packages/docusaurus-plugin-pwa/src/theme/PwaReloadPopup/index.tsx
  packages/docusaurus-plugin-pwa/src/types.d.ts
  packages/docusaurus-plugin-pwa/tsconfig.browser.json
  packages/docusaurus-plugin-pwa/tsconfig.json
  packages/docusaurus-plugin-pwa/tsconfig.server.json
  packages/docusaurus-theme-classic/update-code-translations.js
Labels: CLA Signed, tag: internal, Blocked

#5959 refactor(types): correct HtmlTags types
  packages/docusaurus-plugin-google-analytics/src/index.ts
  packages/docusaurus-plugin-google-gtag/src/index.ts
  packages/docusaurus-types/src/index.d.ts
Labels: CLA Signed

#5962 refactor(plugin-content-docs): move isCategoriesShorthand to utils
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/globalData.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/numberPrefix.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/normalization.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  packages/docusaurus-plugin-content-docs/src/slug.ts
  packages/docusaurus-plugin-content-docs/src/tags.ts
  packages/docusaurus-plugin-content-docs/src/translations.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
Labels: CLA Signed, tag: internal

#4095 feat(core): allow sourcing from multiple static directories
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/fail.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/img.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/noUrl.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/pathname.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/static/img.png
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/static2/img2.png
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/fixtures/img.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/asset.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/asset.pdf
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/noUrl.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/pathname.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/static/staticAsset.pdf
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/static/staticAssetImage.png
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/static2/asset2.pdf
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/index.ts
  website/_dogfooding/_asset-tests/4/docu.png
  website/_dogfooding/_asset-tests/4/图片.png
  website/_dogfooding/_asset-tests/dogfooding/javadoc/index.html
  website/_dogfooding/_asset-tests/someFile.pdf
  website/_dogfooding/_asset-tests/someFile.xyz
  website/_dogfooding/_asset-tests/新控制器空间/图片.png
  website/_dogfooding/_pages tests/markdown-tests.md
  website/_dogfooding/_pages tests/markdownPageTests.md
  website/docs/api/docusaurus.config.js.md
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/static-assets.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#5965 fix(core): apply staticDirectories to base webpack config
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed, tag: internal

#5971 docs: add Webiny docs to showcase page
  website/src/data/showcase/webiny.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5970 docs: Add Remirror to showcase
  website/src/data/showcase/remirror.png
  website/src/data/users.tsx
Labels: CLA Signed

#5966 docs: add Darklang to showcase
  website/src/data/showcase/darklang.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5977 chore: generate dogfooding test for long pathname during CI
  .github/workflows/tests.yml
  website/_dogfooding/_pages tests/deep-file-path-test/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/foo/bar/test-file.md
Labels: CLA Signed, tag: internal

#5979 docs: update links to default translations dir
  website/blog/2021-03-09-releasing-docusaurus-i18n.md
  website/docs/i18n/i18n-introduction.md
  website/docs/i18n/i18n-tutorial.md
  website/versioned_docs/version-2.0.0-beta.8/i18n/i18n-introduction.md
  website/versioned_docs/version-2.0.0-beta.8/i18n/i18n-tutorial.md
  website/versioned_docs/version-2.0.0-beta.9/i18n/i18n-introduction.md
  website/versioned_docs/version-2.0.0-beta.9/i18n/i18n-tutorial.md
Labels: CLA Signed, tag: documentation

#5968 refactor(website): shadow on showcase toggle
  website/src/pages/showcase/_components/ShowcaseFilterToggle/index.tsx
  website/src/pages/showcase/_components/ShowcaseFilterToggle/styles.module.css
Labels: CLA Signed, tag: documentation

#5967 docs(website): Add docsearch migration blog post
  website/blog/2021-11-21-algolia-docsearch-migration/img/crawler-overview.png
  website/blog/2021-11-21-algolia-docsearch-migration/img/editor.png
  website/blog/2021-11-21-algolia-docsearch-migration/img/favorites.png
  website/blog/2021-11-21-algolia-docsearch-migration/img/index-analytics.png
  website/blog/2021-11-21-algolia-docsearch-migration/img/index-overview.png
  website/blog/2021-11-21-algolia-docsearch-migration/img/slorber.png
  website/blog/2021-11-21-algolia-docsearch-migration/img/social-card.png
  website/blog/2021-11-21-algolia-docsearch-migration/img/trend.png
  website/blog/2021-11-21-algolia-docsearch-migration/index.md
Labels: CLA Signed, tag: documentation

#5984 docs: add PREFS website to showcase
  website/src/data/showcase/prefs.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#5985 chore: cleanup dependency declaration in package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#5995 chore(plugin-pwa): change core-js version in package.json to v3
  packages/docusaurus-plugin-pwa/package.json
  yarn.lock
Labels: CLA Signed, tag: polish

#6000 fix: make hash link in heading not selectable
  packages/docusaurus-theme-classic/src/theme/Heading/styles.css
Labels: CLA Signed, tag: polish

#5998 chore: upgrade webpack-dev-server to v4.5.0
  package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/start.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#6002 chore(ci): add GitHub action for showcase testing
  .github/workflows/showcase-test.yml
Labels: CLA Signed, tag: internal

#6001 docs: add Dime.Scheduler SDK to showcase
  website/src/data/showcase/dimeschedulersdk.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6006 docs: improve explanation for url config in GH Pages
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#6008 docs: improve algolia integration instructions
  website/docs/search.md
Labels: CLA Signed, tag: documentation

#5997 refactor(website): various fixes and improvements on Showcase page
  website/src/pages/showcase/_components/ShowcaseCard/index.tsx
  website/src/pages/showcase/_components/ShowcaseCard/styles.module.css
  website/src/pages/showcase/_components/ShowcaseFilterToggle/index.tsx
  website/src/pages/showcase/_components/ShowcaseFilterToggle/styles.module.css
  website/src/pages/showcase/_components/ShowcaseTagSelect/index.tsx
  website/src/pages/showcase/_components/ShowcaseTagSelect/styles.module.css
  website/src/pages/showcase/_components/ShowcaseTooltip/index.tsx
  website/src/pages/showcase/_components/ShowcaseTooltip/styles.module.css
  website/src/pages/showcase/index.tsx
  website/src/pages/showcase/styles.module.css
Labels: CLA Signed, tag: documentation

#6012 chore(website): enable strict compiler option
  website/docusaurus.config.js
  website/src/components/APITable/index.tsx
  website/src/data/__tests__/user.test.ts
  website/src/pages/index.tsx
  website/src/pages/showcase/_components/ShowcaseTagSelect/index.tsx
  website/src/pages/showcase/_components/ShowcaseTooltip/index.tsx
  website/src/pages/showcase/index.tsx
  website/src/pages/versions.tsx
  website/src/utils/jsUtils.ts
  website/tsconfig.json
Labels: CLA Signed, tag: internal

#6015 docs: add Tremor website to showcase page
  website/src/data/showcase/tremor.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6019 docs: update Netlify url config option
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#5845 docs(admin): update repo testing instructions to reflect v2
  admin/local-third-party-project-testing.md
  admin/testing-changes-on-Docusaurus-itself.md
Labels: CLA Signed, tag: documentation

#5989 misc: update CONTRIBUTING to reflect status quo
  CONTRIBUTING.md
  admin/extending-remarkable.md
Labels: CLA Signed, tag: documentation

#5958 chore: update @svgr/webpack to version 6
  .github/workflows/tests-e2e.yml
  admin/scripts/test-release.sh
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/utils.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#5955 docs: add Pearl UI website to showcase
  website/src/data/showcase/pearl-ui.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6031 chore: upgrade netlify-cli
  admin/new.docusaurus.io/package.json
  package.json
  website/netlify.toml
  yarn.lock
Labels: CLA Signed, tag: internal
