Repository facebook/docusaurus, pull requests merged in 2021-05, with the labels that each got.

#4711 docs(v2): showcase personal site evantay
  website/src/data/showcase/evantay.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4725 docs(v2): emphasize subset of markdown supported languages
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: documentation

#4727 docs(v2): fix doc lint
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: documentation

#4703 docs(v2): specify google-analytics and gtag plugins
  website/docs/api/plugins/plugin-google-analytics.md
  website/docs/api/plugins/plugin-google-gtag.md
Labels: CLA Signed, tag: documentation

#4731 feat(v2): add CodeYourFuture to showcase
  website/src/data/showcase/codeyourfuture.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4729 fix(v2): optimize markdown parser regex (fix #4726)
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/markdownParser.ts
Labels: CLA Signed, tag: bug fix

#4735 fix(v2): markdown title parser should ignore all forms of MDX import statements
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/markdownParser.ts
Labels: CLA Signed, tag: bug fix

#4734 Added MediaMachine.io information
  website/src/data/showcase/mediamachine.png
  website/src/data/users.js
Labels: CLA Signed

#4736 fix(v2): fix encoding of markdown image/file inline file-loaders
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.js
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.js
  packages/docusaurus-utils/src/__tests__/escapePath.test.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/__tests__/posixPath.test.ts
  packages/docusaurus-utils/src/escapePath.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/posixPath.ts
  website/src/pages/examples/markdownPageExample.md
  website/static/dogfooding/4/docu.png
  website/static/dogfooding/4/图片.png
  website/static/dogfooding/新控制器空间/图片.png
Labels: CLA Signed, tag: bug fix

#4739 chore(v2): Fix Crowdin 409 issues in CI
  website/package.json
  website/waitForCrowdin.js
  yarn.lock
Labels: CLA Signed, tag: internal

#4740 chore(v2): delay i18n-staging deployment to avoid Crowdin 409 errors
  website/waitForCrowdin.js
Labels: CLA Signed, tag: internal

#4743 chore(v2): fix prod deployment due to bad image path
  website/src/pages/examples/markdownPageExample.md
Labels: CLA Signed, tag: internal

#4746 chore: attempt to fix crowdin dl again
  website/delayCrowdin.js
  website/package.json
  website/waitForCrowdin.js
Labels: CLA Signed, tag: internal

#4747 docs(v2): Update showcase page
  website/src/data/showcase/diem.png
  website/src/data/showcase/formatjs.png
  website/src/data/showcase/jest.png
  website/src/data/showcase/react-native-reanimated.png
  website/src/data/showcase/react-navigation.png
  website/src/data/showcase/relay.png
  website/src/data/showcase/remotion.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4750 fix(v2): improve french translation for theme-classic
  packages/docusaurus-theme-classic/codeTranslations/fr.json
Labels: CLA Signed

#4754 docs(v2): fix Jest showcase screenshot
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4773 docs(v2): fix i18n doc: bad i18n page plugin path in code sample
  website/docs/i18n/i18n-git.md
  website/docs/i18n/i18n-tutorial.md
Labels: CLA Signed, tag: documentation

#4770 docs(v2): Improve intro doc
  website/community/3-contributing.md
  website/docs/cli.md
  website/docs/design-principles.md
  website/docs/installation.md
  website/docs/introduction.md
  website/docs/migration/migration-overview.md
  website/docs/using-themes.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: CLA Signed, tag: documentation

#4756 docs(v2): Docusaurus 2 beta blog post
  packages/docusaurus-init/templates/bootstrap/blog/2019-05-29-hello-world.md
  packages/docusaurus-init/templates/classic/blog/2019-05-29-hello-world.md
  packages/docusaurus-init/templates/facebook/blog/2019-05-29-hello-world.md
  website-1.x/blog/2021-05-12-announcing-docusaurus-two-beta.md
  website-1.x/static/img/blog/2021-05-12-announcing-docusaurus-two-beta/favorites.png
  website-1.x/static/img/blog/2021-05-12-announcing-docusaurus-two-beta/image.png
  website-1.x/static/img/blog/2021-05-12-announcing-docusaurus-two-beta/image_cropped.png
  website-1.x/static/img/blog/2021-05-12-announcing-docusaurus-two-beta/social-card.png
  website-1.x/static/img/blog/2021-05-12-announcing-docusaurus-two-beta/trend.png
  website/docs/blog.md
  website/docs/installation.md
  website/docs/migration/migration-manual.md
  website/static/img/blog/2021-05-12-announcing-docusaurus-two-beta/favorites.png
  website/static/img/blog/2021-05-12-announcing-docusaurus-two-beta/image.png
  website/static/img/blog/2021-05-12-announcing-docusaurus-two-beta/image_cropped.png
  website/static/img/blog/2021-05-12-announcing-docusaurus-two-beta/social-card.png
  website/static/img/blog/2021-05-12-announcing-docusaurus-two-beta/trend.png
Labels: CLA Signed, tag: documentation

#4777 chore: regenerate examples on 2.0.0-beta.0
  examples/bootstrap/package.json
  examples/bootstrap/src/pages/index.js
  examples/bootstrap/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
  examples/facebook/package.json
  examples/facebook/yarn.lock
Labels: CLA Signed, tag: internal

#4779 docs(v2): beta blog post edits
  CHANGELOG.md
  website-1.x/blog/2021-05-12-announcing-docusaurus-two-beta.md
Labels: CLA Signed, tag: documentation

#4784 fix(v2): update notifier should never suggest to downgrade
  packages/docusaurus/bin/docusaurus.js
Labels: CLA Signed, tag: bug fix

#4789 fix(v2): transpile libs with too recent syntax with babel
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed, tag: bug fix

#4766 feat(v2): Allow customization of js loader, replace babel by esbuild in Docusaurus website
  packages/docusaurus-theme-common/tsconfig.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docusaurus.config.js
  website/package.json
  yarn.lock
Labels: CLA Signed

#4791 chore: fix canary version name
  package.json
Labels: CLA Signed, tag: internal

#4790 chore(v2): TypeScript, use isolatedModules
  admin/verdaccio.yaml
  packages/docusaurus-plugin-content-docs/src/theme/hooks/useDocs.ts
  packages/docusaurus-theme-classic/src/theme/hooks/useDocs.ts
  packages/docusaurus-theme-common/src/index.ts
  tsconfig.json
Labels: CLA Signed, tag: internal

#4786 docs(v2): Add tinaeldevresse.eu to Docusaurus' gallery
  website/src/data/showcase/tinaeldevresse.png
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4759 fix(v2): improve BlogPostFrontMatter schema validation
  packages/docusaurus-plugin-content-blog/src/__tests__/blogFrontMatter.test.ts
  packages/docusaurus-plugin-content-blog/src/blogFrontMatter.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-utils-validation/src/__tests__/validationUtils.test.ts
  packages/docusaurus-utils-validation/src/validationUtils.ts
  website/docs/blog.md
Labels: CLA Signed

#4618 feat(v2): allow config plugins as functions or [function,options]
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/swizzle.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/badPlugins.docusaurus.config.js
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/docs/hello.md
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/docusaurus.config.js
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/plugin3.js
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/plugin4.js
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/sidebars.json
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/init.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/init.test.ts
  packages/docusaurus/src/server/plugins/init.ts
  website/docs/using-plugins.md
Labels: CLA Signed

#4803 docs(v2): Add i18n tag and fix typo
  website/src/data/users.js
Labels: CLA Signed, tag: documentation

#4798 feat(v2): add theme Danish translation
  packages/docusaurus-theme-classic/codeTranslations/da.json
Labels: CLA Signed, tag: new feature

#4806 chore(v2): update sharp to 0.28.2
  packages/docusaurus-plugin-ideal-image/package.json
  packages/lqip-loader/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#4793 fix(v2): unbreak enhanced width of doc item wrapper
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
Labels: CLA Signed, tag: bug fix

#4795 refactor(v2): remove transition on body element
  packages/docusaurus-theme-classic/src/theme/Layout/styles.css
Labels: CLA Signed, tag: polish

#4792 fix(v2): fix minor a11y issue with headings
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
Labels: CLA Signed, tag: bug fix

#4811 feat(v2): Add hebrew translations
  packages/docusaurus-theme-classic/codeTranslations/he.json
Labels: CLA Signed, tag: new feature

#4797 fix(v2): do not focus on skip link if page refreshed
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/useChangeRoute.ts
Labels: CLA Signed, tag: bug fix

#4796 feat(v2): exhaustive docs frontmatter schema
  packages/docusaurus-plugin-content-blog/src/__tests__/blogFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
Labels: CLA Signed, tag: new feature

#4814 refactor(v2): purify normalizeUrl
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: polish

#4775 fix(v2): improve dx sidebar config, ability to have no sidebars file
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
Labels: CLA Signed, tag: bug fix

#4813 docs(v2): fix css snipped with missing color
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: documentation

#4815 fix(v2): Fix Hebrew translations
  packages/docusaurus-theme-classic/codeTranslations/he.json
Labels: CLA Signed, tag: bug fix

#4816 chore(v2): upgrade dependencies
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4819 fix(v2): Amend Hebrew translations
  packages/docusaurus-theme-classic/codeTranslations/he.json
Labels: CLA Signed, tag: bug fix

#4820 docs(v2): Fix typo in doc: sidebar.md
  website/docs/guides/docs/sidebar.md
Labels: CLA Signed, tag: documentation

#4830 fix(v2): pin prism-react-renderer version to 1.1.1
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  yarn.lock
Labels: CLA Signed, tag: bug fix

#4833 chore(v2): bump cssnano packages
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4834 chore(v2): unlock prism-react-renderer version
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#4837 docs(v2): fix missing closing bracket
  website/docs/api/themes/theme-configuration.md
Labels: CLA Signed, tag: documentation

#4838 docs(v2): add Runiac to showcase
  website/src/data/showcase/runiac.png
  website/src/data/users.js
Labels: CLA Signed

#4831 docs(v2): add Mia-Platform to showcase
  website/src/data/showcase/mia-platform.png
  website/src/data/users.js
Labels: CLA Signed

#4835 docs(v2): fix grammar typo on Creating pages
  website/docs/guides/creating-pages.md
Labels: CLA Signed, tag: documentation

#4822 docs(v2): add "Leon" docs website to showcase
  website/src/data/showcase/leon.png
  website/src/data/users.js
Labels: CLA Signed

#4818 docs(v2): add mr-pdf to resources
  website/community/2-resources.md
Labels: CLA Signed, tag: documentation

#4849 fix(v2): fix Java syntax highlight in website
  website/docusaurus.config.js
Labels: CLA Signed

#4856 fix(v2): adjust padding when custom search box location
  packages/docusaurus-theme-classic/src/theme/NavbarItem/SearchNavbarItem.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.module.css
Labels: CLA Signed, tag: bug fix

#4867 chore(v2): update @docsearch/react
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
  yarn.lock
Labels: CLA Signed, tag: polish

#4848 docs(v2): showcase joelpo website
  website/src/data/showcase/joelpo.png
  website/src/data/users.js
Labels: CLA Signed

#4866 refactor(v2): output URL to console only if it has changed
  packages/docusaurus/src/commands/start.ts
Labels: CLA Signed, tag: polish
