Repository facebook/docusaurus, pull requests merged in 2022-05, with the labels that each got.

#7282 refactor(core): prefetch/preload refactor
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/flat.ts
  packages/docusaurus/src/client/prefetch.ts
Labels: CLA Signed, tag: internal

#7283 chore: fix pnpm E2E test to work on pnpm v7
  .github/workflows/tests-e2e.yml
Labels: CLA Signed

#7284 docs: add a paragraph about SSR as an optimization technique
  project-words.txt
  website/docs/advanced/client.md
  website/docs/advanced/ssg.md
Labels: CLA Signed, tag: documentation

#7285 fix(core): allow empty static directories
  packages/docusaurus/src/commands/build.ts
  website/docusaurus.config.js
Labels: CLA Signed, tag: bug fix

#7287 docs: add AvN Gateway to showcase
  website/src/data/showcase/aventus.png
  website/src/data/users.tsx
Labels: CLA Signed

#7291 refactor(types): JSDoc for docusaurus config fields
  .github/workflows/lint.yml
  package.json
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/index.tsx
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/api/plugins/plugin-sitemap.md
  website/docs/deployment.mdx
  website/docs/guides/markdown-features/markdown-features-links.md
Labels: CLA Signed, tag: polish

#7292 refactor(core): collocate CLI commands and their option types
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/commandUtils.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/commands/swizzle/actions.ts
  packages/docusaurus/src/commands/swizzle/common.ts
  packages/docusaurus/src/commands/swizzle/index.ts
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/getHostPort.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/__tests__/init.test.ts
Labels: CLA Signed, tag: internal

#7293 refactor(types): move non-core, non-public types out of the types package
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/deps.d.ts
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/mdx-loader.d.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-mdx-loader/tsconfig.json
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-common/src/utils/tagsUtils.ts
  packages/docusaurus-theme-common/src/utils/tocUtils.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/tags.ts
  packages/docusaurus/src/commands/swizzle/common.ts
  packages/docusaurus/src/server/plugins/configs.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/plugins/presets.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/aliases/index.ts
Labels: CLA Signed, tag: internal

#7294 fix(*): make TypeScript realize that each plugin package has a default export
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/options.test.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/options.ts
  packages/docusaurus-plugin-client-redirects/src/plugin-client-redirects.d.ts
  packages/docusaurus-plugin-client-redirects/src/types.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/translations.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/translations.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-plugin-content-pages/src/types.ts
  packages/docusaurus-plugin-debug/src/index.ts
  packages/docusaurus-plugin-debug/src/plugin-debug.d.ts
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-analytics/src/index.ts
  packages/docusaurus-plugin-google-analytics/src/options.ts
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-gtag/src/gtag.ts
  packages/docusaurus-plugin-google-gtag/src/index.ts
  packages/docusaurus-plugin-google-gtag/src/options.ts
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/__tests__/options.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/options.ts
  packages/docusaurus-plugin-sitemap/src/plugin-sitemap.d.ts
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.ts
  packages/docusaurus-preset-classic/src/options.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
Labels: CLA Signed, tag: bug fix

#7295 refactor: use export = syntax for Node utility packages
  packages/docusaurus-logger/src/index.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.ts
Labels: CLA Signed, tag: internal

#7298 docs: remove extraneous line break tags
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
  website/versioned_docs/version-2.0.0-beta.17/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-2.0.0-beta.17/guides/markdown-features/markdown-features-tabs.mdx
  website/versioned_docs/version-2.0.0-beta.18/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-2.0.0-beta.18/guides/markdown-features/markdown-features-tabs.mdx
Labels: CLA Signed

#7297 docs: add ChatKitty to showcase
  website/src/data/showcase/chatkitty.png
  website/src/data/showcase/memgraph.png
  website/src/data/users.tsx
Labels: CLA Signed

#7302 docs: add meoo.space to showcase
  website/src/data/showcase/meoo.png
  website/src/data/users.tsx
Labels: CLA Signed

#7277 refactor(theme-classic): move all sidebar-related config under themeConfig.docs.sidebar
  packages/docusaurus-theme-classic/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-theme-classic/src/__tests__/translations.test.ts
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/guides/docs/sidebar/index.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: breaking change, status: awaiting review

#7178 feat(theme-classic): extensible code block magic comment system
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/styles.module.css
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/utils/__tests__/__snapshots__/codeBlockUtils.test.ts.snap
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  website/docs/api/themes/theme-configuration.md
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: CLA Signed, tag: new feature, status: awaiting review

#7257 refactor: remove long-deprecated routesLoaded lifecycle
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/plugins/index.ts
Labels: CLA Signed, tag: breaking change, status: awaiting review

#7301 docs(v2): Add Hasura Docs site to showcase page
  website/src/data/showcase/hasura.png
  website/src/data/users.tsx
Labels: CLA Signed

#7307 docs: add mdx-code-block around tabs; use JS example for magic comments
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed

#7300 misc: check doc page by Lighthouse CI
  .github/workflows/lighthouse-report.yml
  .github/workflows/scripts/format-lighthouse-score.js
Labels: CLA Signed, tag: internal

#7308 misc: run Lighthouse CI without assertions
  .github/workflows/lighthouserc.json
Labels: CLA Signed, tag: internal

#7309 chore: use "Maintenance" instead of "Internal" in changelog
  lerna.json
Labels: CLA Signed

#7310 chore: make dependabot use tag: dependencies tag
  .github/dependabot.yml
Labels: CLA Signed, tag: internal

#7290 refactor(create): add i18n config in init template
  packages/create-docusaurus/templates/classic/docusaurus.config.js
Labels: CLA Signed, tag: polish, status: awaiting review

#7322 chore: remove dependabot from upgrading npm dependencies
  .github/dependabot.yml
Labels: CLA Signed, tag: internal

#7304 fix(theme-classic): remove breadcrumb items without href from microdata
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
  project-words.txt
Labels: CLA Signed, tag: bug fix

#7299 refactor: minor improvements for breadcrumbs
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/styles.module.css
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, tag: polish

#7326 chore: fix site deployment Crowdin issue
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: internal

#7327 docs: add clarity to versioning behavior
  website/docs/guides/docs/versioning.md
Labels: CLA Signed, tag: documentation

#7328 chore: fix site deployment
  website/versioned_docs/version-2.0.0-beta.19/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: internal

#7329 fix(core): inject docusaurus version into SSR as local
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/deps.d.ts
  packages/docusaurus/src/webpack/server.ts
Labels: CLA Signed, tag: bug fix

#7337 fix(website): restore showcase
  website/src/pages/showcase/index.tsx
Labels: CLA Signed

#7338 misc: move lighthouse message formatter to admin folder, refactor
  .github/workflows/lighthouse-report.yml
  .github/workflows/scripts/format-lighthouse-score.js
  admin/scripts/format-lighthouse-score.mjs
Labels: CLA Signed, tag: internal

#7336 fix(website): fix multiple accessibility issues around color contrast
  admin/scripts/format-lighthouse-score.mjs
  website/src/css/custom.css
  website/src/utils/prismLight.mjs
Labels: CLA Signed, tag: documentation

#7341 fix(theme-classic): properly highlight code block line numbers
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/styles.module.css
Labels: CLA Signed, tag: bug fix

#7340 docs: add Yandex Metrika plugin to community plugins
  project-words.txt
  website/community/2-resources.md
Labels: CLA Signed, tag: documentation

#7343 docs: add page for create-docusaurus API documentation
  website/docs/api/misc/create-docusaurus.md
  website/docs/api/misc/eslint-plugin/README.md
  website/docs/api/misc/logger.md
  website/docs/installation.md
Labels: CLA Signed, tag: documentation

#7342 fix: avoid flash of page scrolling to top on refresh
  packages/docusaurus/src/client/ClientLifecyclesDispatcher.tsx
Labels: CLA Signed, tag: bug fix

#7334 feat(website): make canary release page display actual canary version name
  website/community/4-canary.md
  website/community/Versions.tsx
  website/docusaurus.config.js
Labels: CLA Signed, tag: documentation

#7350 chore: update examples for beta 20
  examples/classic-typescript/docs/tutorial-basics/_category_.json
  examples/classic-typescript/docs/tutorial-basics/markdown-features.mdx
  examples/classic-typescript/docs/tutorial-extras/_category_.json
  examples/classic-typescript/docs/tutorial-extras/img/docsVersionDropdown.png
  examples/classic-typescript/docs/tutorial-extras/img/localeDropdown.png
  examples/classic-typescript/docs/tutorial-extras/manage-docs-versions.md
  examples/classic-typescript/docs/tutorial-extras/translate-your-site.md
  examples/classic-typescript/docusaurus.config.js
  examples/classic-typescript/package.json
  examples/classic-typescript/src/css/custom.css
  examples/classic-typescript/static/img/tutorial/docsVersionDropdown.png
  examples/classic-typescript/static/img/tutorial/localeDropdown.png
  examples/classic-typescript/yarn.lock
  examples/classic/docs/tutorial-basics/_category_.json
  examples/classic/docs/tutorial-basics/markdown-features.mdx
  examples/classic/docs/tutorial-extras/_category_.json
  examples/classic/docs/tutorial-extras/img/docsVersionDropdown.png
  examples/classic/docs/tutorial-extras/img/localeDropdown.png
  examples/classic/docs/tutorial-extras/manage-docs-versions.md
  examples/classic/docs/tutorial-extras/translate-your-site.md
  examples/classic/docusaurus.config.js
  examples/classic/package.json
  examples/classic/src/css/custom.css
  examples/classic/static/img/tutorial/docsVersionDropdown.png
  examples/classic/static/img/tutorial/localeDropdown.png
  examples/classic/yarn.lock
  examples/facebook/docs/tutorial-basics/_category_.json
  examples/facebook/docs/tutorial-basics/markdown-features.mdx
  examples/facebook/docs/tutorial-extras/_category_.json
  examples/facebook/docs/tutorial-extras/img/docsVersionDropdown.png
  examples/facebook/docs/tutorial-extras/img/localeDropdown.png
  examples/facebook/docs/tutorial-extras/manage-docs-versions.md
  examples/facebook/docs/tutorial-extras/translate-your-site.md
  examples/facebook/docusaurus.config.js
  examples/facebook/package.json
  examples/facebook/src/css/custom.css
  examples/facebook/static/img/tutorial/docsVersionDropdown.png
  examples/facebook/static/img/tutorial/localeDropdown.png
  examples/facebook/yarn.lock
Labels: CLA Signed, tag: internal

#7352 docs: add Flarum to showcase
  website/src/data/showcase/flarum.png
  website/src/data/users.tsx
Labels: CLA Signed

#7353 chore: clean up showcase data, re-order and format
  website/src/data/showcase/flarum.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: showcase

#7355 fix(types): declare missing peerDependencies
  packages/docusaurus-types/package.json
Labels: CLA Signed, tag: bug fix

#7360 fix(core): allow githubPort in config validation
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed, tag: bug fix

#7356 docs: add GeekyWeb to showcase
  website/src/data/showcase/geekyweb.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: showcase

#7363 fix(theme-classic): resolve customCss from site dir
  packages/docusaurus-theme-classic/src/index.ts
  website/docusaurus.config.js
Labels: CLA Signed, tag: bug fix

#7366 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  packages/stylelint-copyright/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: dependencies

#7367 docs: display last canary publish date in human-readable format
  website/community/Versions.tsx
Labels: CLA Signed, tag: internal

#7368 fix(core): make error boundary fallback a component instead of a callback
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus/src/client/exports/ErrorBoundary.tsx
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: bug fix

#7369 fix(cli): output correct path when swizzling bare-file component in subfolder
  packages/docusaurus/src/commands/swizzle/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/commands/swizzle/__tests__/actions.test.ts
  packages/docusaurus/src/commands/swizzle/actions.ts
Labels: CLA Signed, tag: bug fix

#7370 refactor: normalize error logging
  jest/snapshotPathNormalizer.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/writeRedirectFiles.test.ts
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus/src/commands/swizzle/config.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: internal

#7372 docs: update GeekyWeb's showcase description
  website/src/data/users.tsx
Labels: CLA Signed, tag: showcase

#7374 refactor(create): clean up logic when prompting for unspecified arguments
  packages/create-docusaurus/src/index.ts
Labels: CLA Signed, tag: polish

#7385 fix(content-docs): restore functionality when a category only has index page
  packages/docusaurus-plugin-content-docs/src/sidebars/README.md
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__fixtures__/sidebars/sidebars-category-index.json
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__fixtures__/sidebars/sidebars-drafts.json
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/postProcessor.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/postProcessor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/postProcessor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/processor.ts
  website/community/4-canary/Versions.tsx
  website/community/4-canary/index.md
  website/docs/api/misc/logger/demo.png
  website/docs/api/misc/logger/logger.md
Labels: CLA Signed, tag: bug fix

#7388 chore: upgrade dependencies, fix lint-staged not outputting formatted log
  .husky/pre-commit
  package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#7392 fix(mdx-loader): use React.Fragment as fragment factory
  packages/docusaurus-mdx-loader/src/loader.ts
  website/_dogfooding/_pages tests/markdownPageTests.md
Labels: CLA Signed, tag: bug fix

#7394 chore: use "pr:" prefix for changelog labels; elaborate on labeling process
  .github/dependabot.yml
  admin/publish.md
  lerna.json
Labels: CLA Signed, pr: internal

#7396 docs: fix translation config example
  website/docs/api/docusaurus.config.js.md
Labels: CLA Signed, pr: internal

#7381 docs: add Piano Analytics to showcase
  website/src/data/showcase/piano-analytics.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7390 fix(website): use react-lite-youtube-embed for lazy YouTube video
  project-words.txt
  website/docs/introduction.md
  website/package.json
  website/src/css/custom.css
  website/src/pages/index.tsx
  yarn.lock
Labels: CLA Signed, pr: documentation

#7400 chore(theme-translations): complete Farsi translations
  packages/docusaurus-theme-translations/locales/fa/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/fa/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/fa/theme-search-algolia.json
Labels: CLA Signed, pr: polish

#7401 docs: add akara's blog to showcase
  website/src/data/showcase/akara-blog.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7403 docs: add Vital to showcase
  website/src/data/showcase/vital.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7405 refactor(core): properly code-split NotFound page
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
Labels: CLA Signed, pr: maintenance

#7411 fix(theme-classic): autocollapse sidebar categories when navigating with paginator
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category.tsx
Labels: CLA Signed, pr: bug fix

#7415 refactor(theme-classic): always collocate stylesheets with components in one folder
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Sidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Sidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Html/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Html/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Img/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Img/styles.module.css
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/CollapseButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/CollapseButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/styles.module.css
Labels: CLA Signed, pr: maintenance

#7407 docs: add Azure as deployment option
  website/docs/deployment.mdx
Labels: CLA Signed, pr: documentation

#7384 docs: add FAST to showcase
  website/src/data/showcase/fast.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7421 refactor(pwa): migrate client modules to TS
  packages/docusaurus-plugin-pwa/src/registerSw.ts
  packages/docusaurus-plugin-pwa/src/renderReloadPopup.tsx
  packages/docusaurus-plugin-pwa/tsconfig.browser.json
  packages/docusaurus-plugin-pwa/tsconfig.server.json
Labels: CLA Signed, pr: maintenance

#7425 docs: add CodeSweetly to showcase
  website/src/data/showcase/codesweetly.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7427 docs: add '30 Days of SWA' to showcase
  website/src/data/showcase/30-days-swa.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7428 docs: add httpin to showcase
  website/src/data/showcase/httpin.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7431 fix(website): restore expand button style on changelog
  website/src/plugins/changelog/theme/ChangelogAuthors/styles.module.css
Labels: CLA Signed, pr: internal

#7436 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  website/docusaurus.config.js
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7439 misc: add templates to github-linguist ignore list
  .gitattributes
Labels: CLA Signed, pr: internal

#7440 refactor(cssnano-preset): migrate to TS
  packages/docusaurus-cssnano-preset/.npmignore
  packages/docusaurus-cssnano-preset/index.js
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-cssnano-preset/src/deps.d.ts
  packages/docusaurus-cssnano-preset/src/index.ts
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/index.test.ts
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/index.ts
  packages/docusaurus-cssnano-preset/tsconfig.json
Labels: CLA Signed, pr: maintenance

#7441 refactor(stylelint-copyright): migrate to TS
  packages/stylelint-copyright/index.js
  packages/stylelint-copyright/package.json
  packages/stylelint-copyright/src/__tests__/index.test.ts
  packages/stylelint-copyright/src/index.ts
  packages/stylelint-copyright/tsconfig.json
Labels: CLA Signed, pr: maintenance

#7443 refactor: make each tsconfig explicitly declare module and include/exclude
  __tests__/validate-package-json.test.ts
  __tests__/validate-tsconfig.test.ts
  packages/create-docusaurus/tsconfig.build.json
  packages/create-docusaurus/tsconfig.json
  packages/docusaurus-cssnano-preset/tsconfig.json
  packages/docusaurus-logger/tsconfig.json
  packages/docusaurus-mdx-loader/tsconfig.json
  packages/docusaurus-migrate/tsconfig.build.json
  packages/docusaurus-migrate/tsconfig.json
  packages/docusaurus-plugin-client-redirects/tsconfig.json
  packages/docusaurus-plugin-content-blog/tsconfig.json
  packages/docusaurus-plugin-content-docs/tsconfig.client.json
  packages/docusaurus-plugin-content-docs/tsconfig.json
  packages/docusaurus-plugin-content-pages/tsconfig.json
  packages/docusaurus-plugin-debug/tsconfig.client.json
  packages/docusaurus-plugin-debug/tsconfig.json
  packages/docusaurus-plugin-google-analytics/tsconfig.client.json
  packages/docusaurus-plugin-google-analytics/tsconfig.json
  packages/docusaurus-plugin-google-gtag/tsconfig.client.json
  packages/docusaurus-plugin-google-gtag/tsconfig.json
  packages/docusaurus-plugin-ideal-image/tsconfig.client.json
  packages/docusaurus-plugin-ideal-image/tsconfig.json
  packages/docusaurus-plugin-pwa/tsconfig.client.json
  packages/docusaurus-plugin-pwa/tsconfig.json
  packages/docusaurus-plugin-sitemap/tsconfig.json
  packages/docusaurus-preset-classic/tsconfig.json
  packages/docusaurus-remark-plugin-npm2yarn/tsconfig.json
  packages/docusaurus-theme-classic/tsconfig.json
  packages/docusaurus-theme-common/tsconfig.json
  packages/docusaurus-theme-live-codeblock/tsconfig.client.json
  packages/docusaurus-theme-live-codeblock/tsconfig.json
  packages/docusaurus-theme-search-algolia/tsconfig.client.json
  packages/docusaurus-theme-search-algolia/tsconfig.json
  packages/docusaurus-theme-translations/tsconfig.build.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-common/tsconfig.json
  packages/docusaurus-utils-validation/tsconfig.json
  packages/docusaurus-utils/tsconfig.json
  packages/docusaurus/tsconfig.client.json
  packages/docusaurus/tsconfig.json
  packages/docusaurus/tsconfig.server.json
  packages/eslint-plugin/tsconfig.json
  packages/lqip-loader/tsconfig.json
  packages/stylelint-copyright/tsconfig.json
  tsconfig.json
Labels: CLA Signed, pr: maintenance

#7444 chore: replace concurrently with npm-run-all
  package.json
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, pr: internal

#7445 misc: make copyUntypedFiles work for watch mode
  .eslintignore
  admin/scripts/copyUntypedFiles.mjs
  packages/create-docusaurus/.npmignore
  packages/create-docusaurus/package.json
  packages/docusaurus-cssnano-preset/.npmignore
  packages/docusaurus-logger/.npmignore
  packages/docusaurus-mdx-loader/.npmignore
  packages/docusaurus-migrate/.npmignore
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/.npmignore
  packages/docusaurus-plugin-content-blog/.npmignore
  packages/docusaurus-plugin-content-docs/.npmignore
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/.npmignore
  packages/docusaurus-plugin-debug/.npmignore
  packages/docusaurus-plugin-debug/copyUntypedFiles.mjs
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/.npmignore
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/.npmignore
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/.npmignore
  packages/docusaurus-plugin-ideal-image/copyUntypedFiles.mjs
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/.npmignore
  packages/docusaurus-plugin-pwa/copyUntypedFiles.mjs
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/.npmignore
  packages/docusaurus-preset-classic/.npmignore
  packages/docusaurus-remark-plugin-npm2yarn/.npmignore
  packages/docusaurus-theme-classic/.npmignore
  packages/docusaurus-theme-common/.npmignore
  packages/docusaurus-theme-common/copyUntypedFiles.mjs
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/.npmignore
  packages/docusaurus-theme-live-codeblock/copyUntypedFiles.mjs
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/.npmignore
  packages/docusaurus-theme-search-algolia/copyUntypedFiles.mjs
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/.npmignore
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-utils-common/.npmignore
  packages/docusaurus-utils-validation/.npmignore
  packages/docusaurus-utils/.npmignore
  packages/docusaurus/.npmignore
  packages/docusaurus/copyUntypedFiles.mjs
  packages/docusaurus/package.json
  packages/eslint-plugin/.npmignore
  packages/lqip-loader/.npmignore
  website/package.json
Labels: CLA Signed, pr: internal

#7452 feat: add --no-minify flag to docusaurus start
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/src/commands/start.ts
  website/docs/cli.md
Labels: CLA Signed, pr: new feature

#7453 fix(core): avoid using logger and fs.readJSON in SSR
  packages/docusaurus/package.json
  packages/docusaurus/src/client/serverEntry.tsx
Labels: CLA Signed, pr: bug fix

#7458 fix(utils): avoid replacing Markdown links missing the directly next link
  packages/docusaurus-utils/src/__tests__/__snapshots__/markdownLinks.test.ts.snap
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/markdownLinks.ts
Labels: CLA Signed, pr: bug fix

#7459 docs: add Yeecord to showcase
  website/src/data/showcase/yeecord.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7462 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  packages/stylelint-copyright/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7460 docs: add Avana Wallet to showcase
  website/src/data/showcase/avana-wallet.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7464 fix(utils): fix Markdown link replacement when link text is same as href
  packages/docusaurus-utils/src/__tests__/__snapshots__/markdownLinks.test.ts.snap
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/markdownLinks.ts
Labels: CLA Signed, pr: bug fix

#7465 refactor: reduce number of leaked anys
  __tests__/validate-package-json.test.ts
  __tests__/validate-tsconfig.test.ts
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/remark/headings/__tests__/index.test.ts
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/versions/files.ts
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/index.tsx
  packages/docusaurus-plugin-pwa/src/registerSw.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus-theme-translations/src/utils.ts
  packages/docusaurus-utils-validation/src/JoiFrontMatter.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus-utils/src/constants.ts
  packages/docusaurus-utils/src/markdownUtils.ts
  packages/docusaurus/src/babel/preset.ts
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/preload.ts
  packages/docusaurus/src/client/theme-fallback/Loading/index.tsx
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/commands/swizzle/prompts.ts
  packages/docusaurus/src/server/config.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/getHostPort.ts
  packages/docusaurus/src/server/siteMetadata.ts
  packages/docusaurus/src/server/translations/translations.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/lqip-loader/package.json
  packages/lqip-loader/src/index.ts
  packages/lqip-loader/src/lqip.ts
  website/community/4-canary/Versions.tsx
  yarn.lock
Labels: CLA Signed, pr: internal

#7466 refactor: make entire project typecheck with root tsconfig
  admin/scripts/formatLighthouseReport.js
  packages/create-docusaurus/tsconfig.json
  packages/docusaurus-migrate/tsconfig.json
  packages/docusaurus-plugin-content-docs/src/client/index.ts
  packages/docusaurus-plugin-pwa/src/registerSw.ts
  packages/docusaurus-theme-translations/tsconfig.json
  packages/docusaurus/tsconfig.json
  tsconfig.json
  website/community/4-canary/Versions.tsx
  website/docusaurus.config.js
  website/src/components/APITable/index.tsx
  website/src/components/ColorGenerator/index.tsx
  website/src/components/UpgradeGuide/index.tsx
  website/src/pages/index.tsx
  website/src/theme/theme.d.ts
  website/src/utils/colorUtils.ts
  website/tsconfig.json
Labels: CLA Signed, pr: internal

#7467 refactor(pwa): migrate sw.js to TS
  .gitattributes
  packages/docusaurus-plugin-pwa/src/sw.ts
  packages/docusaurus-plugin-pwa/tsconfig.json
  packages/docusaurus-plugin-pwa/tsconfig.worker.json
Labels: CLA Signed, pr: internal

#7468 refactor: remove a lot of implicit anys
  .eslintignore
  admin/scripts/generateExamples.js
  packages/create-docusaurus/bin/index.js
  packages/docusaurus-mdx-loader/src/remark/headings/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-migrate/src/deps.d.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  packages/docusaurus-theme-live-codeblock/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/stylelint-copyright/src/__tests__/index.test.ts
  tsconfig.json
Labels: CLA Signed, pr: internal

#7474 chore(theme-translations): complete zh translations
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, pr: polish

#7479 refactor: fix more type-aware linting errors
  .eslintrc.js
  admin/scripts/generateExamples.js
  packages/create-docusaurus/bin/index.js
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-migrate/bin/index.mjs
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/versions/files.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Details.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Head.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Pre.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/PrimaryMenu/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-common/src/components/Details/index.tsx
  packages/docusaurus-theme-common/src/hooks/useTOCHighlight.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-translations/locales/__tests__/locales.test.ts
  packages/docusaurus-theme-translations/src/index.ts
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus/bin/beforeCli.mjs
  packages/docusaurus/src/client/ClientLifecyclesDispatcher.tsx
  packages/docusaurus/src/client/__tests__/flat.test.ts
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/__tests__/useGlobalData.test.tsx
  packages/docusaurus/src/client/exports/isInternalUrl.ts
  packages/docusaurus/src/client/exports/useGlobalData.ts
  packages/docusaurus/src/client/flat.ts
  packages/docusaurus/src/client/prefetch.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/htmlTags.ts
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/init.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/init.test.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/docusaurus/src/webpack/utils.ts
  packages/lqip-loader/src/index.ts
  packages/stylelint-copyright/src/__tests__/index.test.ts
  tsconfig.json
  website/src/pages/versions.tsx
Labels: CLA Signed, pr: internal

#7486 test: fix some type errors in test files
  jest/deps.d.ts
  packages/docusaurus-mdx-loader/src/remark/headings/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/options.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/writeRedirectFiles.test.ts
  packages/docusaurus-plugin-client-redirects/src/options.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/blogUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/remark/__tests__/footnoteIDFixer.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/globalData.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/props.test.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/utils.test.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/index.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/options.test.ts
  packages/docusaurus-theme-classic/src/__tests__/translations.test.ts
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/usePluralForm.test.tsx
  packages/docusaurus-theme-translations/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus-utils/src/__tests__/webpackUtils.test.ts
  packages/docusaurus/src/client/__tests__/flat.test.ts
  packages/docusaurus/src/client/__tests__/normalizeLocation.test.ts
  packages/docusaurus/src/client/exports/__tests__/Interpolate.test.tsx
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.test.tsx
  packages/docusaurus/src/server/plugins/__tests__/index.test.ts
  packages/docusaurus/src/server/plugins/__tests__/init.test.ts
  packages/docusaurus/src/server/plugins/__tests__/pluginIds.test.ts
  packages/docusaurus/src/server/plugins/__tests__/presets.test.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/server.test.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/eslint-plugin/src/rules/__tests__/no-untranslated-text.test.ts
  packages/eslint-plugin/src/rules/__tests__/string-literal-i18n-messages.test.ts
Labels: CLA Signed, pr: internal

#7487 test: fix ALL type errors in tests
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsClientUtils.test.ts
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/normalization.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/postProcessor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/processor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/postProcessor.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/options.test.ts
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/generalUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/useAlternatePageUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/useLocalPathname.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/usePluralForm.test.tsx
  packages/docusaurus/src/client/exports/__tests__/useGlobalData.test.tsx
  packages/docusaurus/src/commands/swizzle/__tests__/actions.test.ts
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
  packages/docusaurus/src/server/__tests__/clientModules.test.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/htmlTags.test.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/__tests__/siteMetadata.test.ts
  packages/docusaurus/src/server/__tests__/utils.test.ts
  packages/docusaurus/src/server/plugins/__tests__/index.test.ts
  packages/docusaurus/src/server/plugins/__tests__/presets.test.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/aliases/__tests__/index.test.ts
Labels: CLA Signed, pr: internal

#7488 test: strengthen internal types
  jest/deps.d.ts
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/index.test.ts
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-migrate/src/types.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-utils-validation/src/__tests__/validationUtils.test.ts
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
  packages/docusaurus/src/server/plugins/__tests__/index.test.ts
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-pwa.md
  website/docs/guides/markdown-features/markdown-features-toc.mdx
Labels: CLA Signed, pr: internal

#7357 feat(theme-classic): allow className as option for type: "search"
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Navbar/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/Search/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/SearchNavbarItem.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  website/docs/api/themes/theme-configuration.md
Labels: CLA Signed, pr: new feature

#7430 fix(theme-classic): consistently apply the right active class name for all navbar items
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocSidebarNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/NavbarNavLink.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/utils.ts
Labels: CLA Signed, pr: bug fix

#7496 misc: avoid using fs.realpathSync in website
  website/_dogfooding/README.md
  website/_dogfooding/docs-tests-symlink
  website/_dogfooding/dogfooding.config.js
Labels: CLA Signed, pr: internal

#7499 fix: avoid printing period after localhost URL
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/commands/start.ts
Labels: CLA Signed, pr: polish

#7497 docs: link every reference of types in API table to the type definition
  website/docs/api/plugins/plugin-client-redirects.md
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, pr: documentation

#7501 chore: require Node 16.14
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  .nvmrc
  packages/create-docusaurus/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-logger/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  website/docs/installation.md
Labels: CLA Signed, pr: breaking change

#7412 docs: add Massoud Maboudi's portfolio to showcase
  website/src/data/showcase/iammassoud.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7438 fix(theme-classic): allow nested task lists to preserve the indent
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Ul/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Ul/styles.module.css
  website/_dogfooding/_pages tests/markdownPageTests.md
Labels: CLA Signed, pr: bug fix

#7492 fix(core): always treat error boundary fallback as a callback
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/exports/ErrorBoundary.tsx
  website/docs/docusaurus-core.md
Labels: CLA Signed, pr: bug fix

#7493 chore(theme-translations): complete French translations
  packages/docusaurus-theme-translations/locales/fr/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-search-algolia.json
Labels: CLA Signed, pr: polish

#7503 docs: document MDXComponents scope
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/src/components/Highlight.tsx
  website/src/theme/MDXComponents.tsx
Labels: CLA Signed, pr: documentation

#7484 docs: add Junjie to showcase
  website/src/data/showcase/junjie.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7507 fix(create-docusaurus): potential security issue with command injection
  packages/create-docusaurus/package.json
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-utils/src/__tests__/shellUtils.test.ts
  packages/docusaurus-utils/src/gitUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/shellUtils.ts
  project-words.txt
Labels: CLA Signed, pr: bug fix

#7500 feat: make docusaurus serve automatically open in browser
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/src/commands/serve.ts
  website/docs/cli.md
Labels: CLA Signed, pr: new feature

#7371 feat(core): support docusaurus.config.cjs as default file name
  packages/docusaurus-utils/src/constants.ts
  packages/docusaurus/src/server/__tests__/__fixtures__/config/docusaurus.config.cjs
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/config.test.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/config.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/index.ts
Labels: CLA Signed, pr: new feature

#7422 refactor(pwa): remove reloadPopup option in favor of swizzling
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-plugin-pwa/src/options.ts
  packages/docusaurus-plugin-pwa/src/plugin-pwa.d.ts
  packages/docusaurus-plugin-pwa/src/registerSw.ts
  packages/docusaurus-plugin-pwa/src/renderReloadPopup.tsx
  website/docs/api/plugins/plugin-pwa.md
Labels: CLA Signed, pr: breaking change

#7463 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7469 feat(sitemap): allow customizing the output name
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/options.ts
  website/docs/api/plugins/plugin-sitemap.md
Labels: CLA Signed, pr: new feature

#7424 fix(gtag): send the newly rendered page's title instead of the old one's
  packages/docusaurus-plugin-google-gtag/src/gtag.ts
  website/_dogfooding/clientModuleExample.ts
Labels: CLA Signed, pr: bug fix

#7362 fix: always emit SEO title + og:title meta
  packages/docusaurus/src/client/SiteMetadataDefaults.tsx
Labels: CLA Signed, pr: bug fix

#7512 docs: update Kent C. Dodds Twitter avatar
  website/src/data/tweets.tsx
Labels: CLA Signed, pr: documentation

#7518 docs: remove useless front matter
  website/docs/api/docusaurus.config.js.md
  website/docs/api/misc/create-docusaurus.md
  website/docs/api/misc/eslint-plugin/README.md
  website/docs/api/misc/eslint-plugin/no-untranslated-text.md
  website/docs/api/misc/eslint-plugin/string-literal-i18n-messages.md
  website/docs/api/misc/logger/logger.md
  website/docs/api/plugins/overview.md
  website/docs/api/plugins/plugin-client-redirects.md
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-content-pages.md
  website/docs/api/plugins/plugin-debug.md
  website/docs/api/plugins/plugin-google-analytics.md
  website/docs/api/plugins/plugin-google-gtag.md
  website/docs/api/plugins/plugin-ideal-image.md
  website/docs/api/plugins/plugin-pwa.md
  website/docs/api/plugins/plugin-sitemap.md
  website/docs/api/themes/overview.md
  website/docs/api/themes/theme-classic.md
  website/docs/api/themes/theme-configuration.md
  website/docs/api/themes/theme-live-codeblock.md
  website/docs/api/themes/theme-search-algolia.md
  website/docs/blog.mdx
  website/docs/browser-support.md
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/deployment.mdx
  website/docs/docusaurus-core.md
  website/docs/guides/creating-pages.md
  website/docs/guides/docs/docs-create-doc.mdx
  website/docs/guides/docs/docs-introduction.md
  website/docs/guides/docs/docs-multi-instance.mdx
  website/docs/guides/docs/versioning.md
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-head-metadata.mdx
  website/docs/guides/markdown-features/markdown-features-intro.mdx
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-git.md
  website/docs/i18n/i18n-introduction.md
  website/docs/i18n/i18n-tutorial.md
  website/docs/installation.md
  website/docs/introduction.md
  website/docs/migration/migration-automated.md
  website/docs/migration/migration-manual.md
  website/docs/migration/migration-overview.md
  website/docs/migration/migration-translated-sites.md
  website/docs/migration/migration-versioned-sites.md
  website/docs/search.md
  website/docs/seo.md
  website/docs/static-assets.md
  website/docs/styling-layout.md
  website/docs/typescript-support.md
Labels: CLA Signed, pr: documentation

#7519 docs: multiple documentation elaborations
  website/docs/advanced/ssg.md
  website/docs/api/docusaurus.config.js.md
  website/docs/blog.mdx
  website/docs/guides/docs/docs-create-doc.mdx
  website/docs/guides/docs/docs-introduction.md
  website/docs/guides/markdown-features/markdown-features-intro.mdx
Labels: CLA Signed, pr: documentation

#7521 fix: make type-checking pass in Yarn PnP
  .github/workflows/tests-e2e.yml
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/tsconfig.json
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils/package.json
Labels: CLA Signed, pr: bug fix

#7524 refactor: mark toc in loaded MDX as non-optional
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/no-heading.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCardList/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
  website/src/plugins/changelog/theme/ChangelogPage/index.tsx
Labels: CLA Signed, pr: internal

#7530 refactor: remove sub-eslintrc, fix more lint errors
  .eslintrc.js
  packages/create-docusaurus/bin/index.js
  packages/docusaurus-logger/src/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/no-heading-with-toc-export.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-pwa/src/renderReloadPopup.tsx
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Code.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Details.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Head.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Pre.tsx
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
  packages/docusaurus/src/client/.eslintrc.js
  packages/docusaurus/src/client/exports/ErrorBoundary.tsx
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/eslint-plugin/.eslintrc.js
Labels: CLA Signed, pr: internal
