Repository facebook/docusaurus, pull requests merged in 2022-08, with the labels that each got.

#7859 docs: update iota-wiki showcase image
  website/src/data/showcase/iota-wiki.png
Labels: CLA Signed, pr: showcase

#7856 docs: update Bruce's Wiki website URL
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7841 docs: add SeaQL sites to showcase
  website/src/data/showcase/SeaQL-blog.png
  website/src/data/showcase/StarfishQL.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7835 docs: update workbox doc link
  website/docs/api/plugins/plugin-pwa.md
  website/versioned_docs/version-2.0.0-beta.22/api/plugins/plugin-pwa.md
Labels: CLA Signed, pr: documentation

#7863 docs: publish 2.0.0 release blog post + adapt website for the launch
  .gitignore
  admin/scripts/resizeImageBlog.js
  project-words.txt
  website/blog/2022-08-01-announcing-docusaurus-2.0/ShowcaseCarousel.module.css
  website/blog/2022-08-01-announcing-docusaurus-2.0/ShowcaseCarousel.tsx
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/npm-downloads.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/plugins/redocusaurus.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/plugins/search.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/plugins/shiki-twoslash.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/slash-plushies.jpg
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/social-card.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/star-history.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v1/babel.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v1/docusaurus.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v1/katex.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v1/prettier.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v1/react-native.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2-theming/courier.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2-theming/datagit.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2-theming/dyte.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2-theming/hasura.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2-theming/ionic.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2-theming/outerbounds.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2-theming/quickwit.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2-theming/react-native.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2/figma.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2/gulp.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2/iota.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2/lacework.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2/react-navigation.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2/sap-cloud.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2/snapchat.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2/solana.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2/stackblitz.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2/supabase.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/img/v2/tauri.png
  website/blog/2022-08-01-announcing-docusaurus-2.0/index.mdx
  website/blog/authors.yml
  website/community/5-release-process.md
  website/docusaurus.config.js
  website/package.json
  website/src/components/HackerNewsIcon.tsx
  website/src/components/ProductHuntCard.tsx
  website/src/components/TweetQuote/index.tsx
  website/src/components/TweetQuote/styles.module.css
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
  website/src/theme/MDXComponents.tsx
  yarn.lock
Labels: CLA Signed, pr: maintenance

#7865 chore: fix blog-only test failures
  website/blog/2022-08-01-announcing-docusaurus-2.0/index.mdx
  website/docusaurus.config-blog-only.js
Labels: CLA Signed, pr: internal

#7864 fix(utils): always match exclusion root dirs as complete folder paths
  packages/docusaurus-utils/src/__tests__/globUtils.test.ts
  packages/docusaurus-utils/src/globUtils.ts
  packages/docusaurus-utils/src/jsUtils.ts
  packages/docusaurus-utils/src/pathUtils.ts
  packages/docusaurus-utils/src/urlUtils.ts
Labels: CLA Signed, pr: bug fix

#7872 chore: re-generate 2.0.1 examples
  admin/scripts/generateExamples.js
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
  examples/facebook/package.json
  examples/facebook/yarn.lock
Labels: CLA Signed, pr: internal

#7873 chore: blog post publish cleanup
  admin/scripts/resizeImage.js
  admin/scripts/resizeImageBlog.js
  project-words.txt
Labels: CLA Signed, pr: internal

#7874 docs: update Hacker News + Product Hunt links
  website/blog/2022-08-01-announcing-docusaurus-2.0/index.mdx
  website/src/components/HackerNewsIcon.tsx
  website/src/pages/index.tsx
Labels: pr: internal

#7883 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7877 docs: update DocSearch showcase
  website/src/data/users.tsx
Labels: CLA Signed

#7861 docs: improve crowdin guide
  website/docs/i18n/i18n-crowdin.mdx
Labels: CLA Signed, pr: internal

#7884 docs: add baseUrl to example tsconfig
  website/docs/typescript-support.md
Labels: CLA Signed, pr: documentation

#7901 chore: fix changelog plugin import path
  website/src/plugins/changelog/theme/ChangelogItem/Header/Authors/index.tsx
  website/src/plugins/changelog/theme/ChangelogItem/Header/index.tsx
Labels: CLA Signed, pr: internal

#7906 docs: add TOC heading level options to guide
  website/docs/guides/markdown-features/markdown-features-toc.mdx
Labels: CLA Signed, pr: documentation

#7910 fix(theme-classic): code block line number display with line wrapping
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/styles.module.css
  website/_dogfooding/_pages tests/code-block-tests.mdx
Labels: CLA Signed, pr: bug fix, backport

#7919 chore: release v2.0.1
  admin/new.docusaurus.io/package.json
  admin/scripts/test-release.sh
  lerna.json
  packages/create-docusaurus/package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-logger/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  website/package.json
Labels: CLA Signed, pr: internal

#7923 chore: bump main to 3.0.0-alpha.0
  admin/new.docusaurus.io/package.json
  lerna.json
  packages/create-docusaurus/package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-logger/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  website/package.json
Labels: CLA Signed, pr: internal

#7926 fix: revert "update FB template headers (#7842)"
  packages/create-docusaurus/templates/facebook/.eslintrc.js
  packages/create-docusaurus/templates/facebook/.stylelintrc.js
  packages/create-docusaurus/templates/facebook/babel.config.js
  packages/create-docusaurus/templates/facebook/docusaurus.config.js
  packages/create-docusaurus/templates/facebook/sidebars.js
  packages/create-docusaurus/templates/facebook/src/css/custom.css
  packages/create-docusaurus/templates/facebook/src/pages/index.js
  packages/create-docusaurus/templates/facebook/src/pages/styles.module.css
Labels: CLA Signed

#7928 chore(theme-translations): complete vi translations
  packages/docusaurus-theme-translations/locales/vi/theme-search-algolia.json
Labels: CLA Signed, pr: polish, backport

#7905 docs: remove mention of beta
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-theme-classic/package.json
  website/docs/introduction.md
  website/versioned_docs/version-2.0.1/introduction.md
Labels: CLA Signed, pr: documentation, backport

#7876 refactor(theme-classic): make tag text visually certered
  packages/docusaurus-theme-classic/src/theme/Tag/styles.module.css
Labels: CLA Signed, pr: polish

#7939 chore: bad remark-admonition readme link
  packages/docusaurus-mdx-loader/src/remark/admonitions/README.md
Labels: CLA Signed, pr: internal

#7941 feat(core): add new Webpack file-loader extensions: avif, mov, mkv, mpg, avi...
  packages/docusaurus-utils/src/webpackUtils.ts
Labels: CLA Signed, pr: polish

#7942 feat(theme-classic): use lang attribute in navbar locale dropdown items
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-types/src/i18n.d.ts
  website/docs/api/docusaurus.config.js.md
Labels: CLA Signed, pr: polish, domain: i18n, backport

#7940 refactor(theme-classic): split AnnouncementBar, increase z-index, use shadow
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/CloseButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/CloseButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/Content/styles.module.css
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
Labels: CLA Signed, pr: polish, domain: theme

#7949 feat(plugin-docs): docs sidebar item link: support "autoAddBaseUrl" attribute
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link/index.tsx
  website/_dogfooding/docs-tests-sidebars.js
Labels: CLA Signed, pr: new feature, backport

#7953 feat(theme): adds Ukrainian default theme translations
  packages/docusaurus-theme-translations/locales/uk/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/uk/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/uk/theme-search-algolia.json
Labels: CLA Signed, pr: new feature, backport

#7955 docs: add docusaurus-post-generator to community resource list
  website/community/2-resources.md
Labels: CLA Signed, pr: documentation

#7964 fix(sitemap): filter all routes with robots meta containing noindex
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  website/docs/seo.md
  website/src/pages/examples/noIndex.md
Labels: CLA Signed, pr: bug fix, backport

#7963 feat(docs): allow to configure noIndex per doc version
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/versions/index.ts
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  website/_dogfooding/dogfooding.config.js
  website/docs/api/plugins/plugin-content-docs.md
  website/docusaurus.config.js
Labels: CLA Signed, pr: new feature, backport

#7962 chore(plugin-docs): expose all lib files through exports
  packages/docusaurus-plugin-content-docs/package.json
Labels: CLA Signed, pr: internal

#7966 fix(plugin-docs,theme): refactor docs plugin routes and component tree
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/routes.ts
  packages/docusaurus-plugin-content-docs/src/versions/index.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Main/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Main/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/ExpandButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/ExpandButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocRoot/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocTagDocListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocTagsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocVersionRoot/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocsRoot/index.tsx
  packages/docusaurus-theme-classic/src/theme/NotFound.tsx
  packages/docusaurus-theme-classic/src/theme/NotFound/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/NotFound/index.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/__tests__/routes.test.ts
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/routeConfig.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/routeConfig.test.ts
  packages/docusaurus/src/server/plugins/routeConfig.ts
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, pr: breaking change, pr: bug fix

#7967 test: improve e2e verdaccio configuration
  .github/workflows/tests-e2e.yml
  admin/verdaccio.yaml
Labels: CLA Signed, pr: maintenance

#7951 fix(core): make webpack HMR always listen to current location
  packages/docusaurus/src/commands/start.ts
Labels: CLA Signed, pr: bug fix

#7952 fix(core): allow overriding ssr/dev template meta tags
  packages/docusaurus/src/client/SiteMetadataDefaults.tsx
  packages/docusaurus/src/webpack/templates/index.html.template.ejs
  packages/docusaurus/src/webpack/templates/ssr.html.template.ts
  website/_dogfooding/_pages tests/head-metadata.md
  website/_dogfooding/_pages tests/index.md
  website/docs/api/docusaurus.config.js.md
Labels: CLA Signed, pr: bug fix

#7996 fix(core): CLI command write-translations should extract translations from @docu…
  packages/docusaurus/src/commands/writeTranslations.ts
Labels: CLA Signed, pr: bug fix, backport

#7982 fix(theme): add aria-label to skip to content link region
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
Labels: CLA Signed, pr: polish, backport

#7977 fix(core): preload should support encoded page links
  packages/docusaurus/src/client/preload.ts
Labels: CLA Signed, pr: bug fix, backport

#7978 fix(create): bad grammar in template docs
  packages/create-docusaurus/templates/shared/docs/tutorial-extras/translate-your-site.md
Labels: CLA Signed

#8008 feat(theme): ability to use <DocCardList> without items prop, on any doc page
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocCardList/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  website/docs/advanced/index.md
  website/docs/guides/docs/sidebar/index.md
  website/docs/guides/docs/sidebar/items.md
Labels: CLA Signed, pr: new feature, backport

#8025 docs: fix typo in swizzling.md
  website/docs/swizzling.md
Labels: CLA Signed

#8010 docs(showcase): add 74 new showcase sites
  website/src/data/__tests__/user.test.ts
  website/src/data/users.tsx
  website/src/pages/showcase/_components/ShowcaseCard/index.tsx
Labels: CLA Signed, pr: documentation

#8030 chore(ci): GitHub Workflows security hardening
  .github/workflows/lighthouse-report.yml
Labels: CLA Signed, pr: internal

#8029 fix(preset-classic): broken link in "unrecognized keys" error message
  packages/docusaurus-preset-classic/src/index.ts
Labels: CLA Signed, pr: bug fix, backport

#8031 docs(showcase): fix daily.dev site name
  website/src/data/users.tsx
Labels: CLA Signed, pr: internal
