Repository facebook/docusaurus, pull requests merged in 2022-12, with the labels that each got.

#8417 docs: document theme-mermaid in API sidebar
  website/docs/api/themes/theme-mermaid.md
Labels: CLA Signed, pr: documentation

#8375 docs: add Kinsta to deployment page
  project-words.txt
  website/docs/deployment.mdx
Labels: CLA Signed, pr: documentation

#8262 docs: fix links to external plugin description
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
Labels: CLA Signed, pr: documentation

#8390 docs: changed actions/checkout version from 2 to 3
  website/docs/deployment.mdx
  website/versioned_docs/version-2.0.1/deployment.mdx
  website/versioned_docs/version-2.1.0/deployment.mdx
  website/versioned_docs/version-2.2.0/deployment.mdx
Labels: CLA Signed, pr: documentation

#8281 feat(eslint-plugin): add plugin to exported configs
  packages/eslint-plugin/src/index.ts
  website/docs/api/misc/eslint-plugin/README.md
Labels: CLA Signed, pr: polish, to backport

#8258 fix(docusaurus-utils-validation): baseUrl + routeBasePath: allow empty string, normalized as "/"
  packages/docusaurus-plugin-content-blog/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-pages/src/options.ts
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/index.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed, pr: bug fix, to backport

#8424 fix(translations): typo in lastUpdatedAtBy Vietnamese translation
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
Labels: CLA Signed, pr: bug fix, to backport

#8225 feat(theme-classic): store selected tab in query string.
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-common/src/contexts/tabGroupChoice.tsx
  packages/docusaurus/src/client/ClientLifecyclesDispatcher.tsx
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
Labels: CLA Signed, pr: new feature

#8307 docs: clarify additionalLanguages with custom language definitions.
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, pr: documentation

#8150 fix(theme-classic): polish admonition details, render title-only admonitions
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/styles.module.css
  packages/docusaurus-theme-common/src/utils/admonitionUtils.tsx
  website/_dogfooding/_docs tests/tests/admonitions.mdx
  website/src/components/BrowserWindow/styles.module.css
Labels: CLA Signed, pr: polish

#8431 docs: add diagrams page to 2.2.0 sidebar
  website/versioned_sidebars/version-2.2.0-sidebars.json
Labels: CLA Signed

#8423 fix(translations): complete Chinese theme translations
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
Labels: CLA Signed, pr: polish

#8156 feat: add eslint plugin no-html-links
  .eslintrc.js
  packages/docusaurus-theme-classic/src/theme/EditThisPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCItems/Tree.tsx
  packages/docusaurus-theme-common/src/utils/skipToContentUtils.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/__tests__/no-html-links.test.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-html-links.ts
  website/_dogfooding/_pages tests/hydration-tests.tsx
  website/docs/api/misc/eslint-plugin/README.md
  website/docs/api/misc/eslint-plugin/no-html-links.md
  website/src/components/HackerNewsIcon.tsx
  website/src/components/ProductHuntCard.tsx
  website/src/components/TeamProfileCards/index.tsx
  website/src/components/Tweet/index.tsx
  website/src/components/TweetQuote/index.tsx
  website/src/components/Versions.tsx
  website/src/pages/showcase/index.tsx
  website/src/pages/versions.tsx
Labels: CLA Signed, pr: new feature, to backport

#8438 docs: add hyperlink to swizzling in Search page
  website/docs/search.md
  website/versioned_docs/version-2.2.0/search.md
Labels: CLA Signed, pr: documentation

#8443 docs: fix website home testimonials broken image URLs
  website/src/components/Tweet/index.tsx
  website/src/data/tweets.tsx
Labels: CLA Signed, pr: documentation

#8450 fix(theme-translations): complete Vietnamese theme translations
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-search-algolia.json
Labels: CLA Signed, pr: polish

#8447 chore: update lerna to v6.2.0
  lerna.json
  package.json
  yarn.lock
Labels: CLA Signed, pr: maintenance

#8455 docs: fix example plugin implementation
  website/docs/api/plugin-methods/lifecycle-apis.md
  website/versioned_docs/version-2.0.1/api/plugin-methods/lifecycle-apis.md
  website/versioned_docs/version-2.1.0/api/plugin-methods/lifecycle-apis.md
  website/versioned_docs/version-2.2.0/api/plugin-methods/lifecycle-apis.md
Labels: CLA Signed, pr: internal

#8454 fix(docs): Update link for tooljet website(broken)
  website/src/data/users.tsx
Labels: CLA Signed, pr: documentation

#8466 docs: fix front page video link label
  website/src/pages/index.tsx
Labels: CLA Signed, pr: internal

#8453 docs: fix link to docs only mode
  website/docs/guides/docs/docs-create-doc.mdx
  website/versioned_docs/version-2.0.1/guides/docs/docs-create-doc.mdx
  website/versioned_docs/version-2.1.0/guides/docs/docs-create-doc.mdx
  website/versioned_docs/version-2.2.0/guides/docs/docs-create-doc.mdx
Labels: CLA Signed, pr: internal

#8428 feat(theme-algolia): add option.replaceSearchResultPathname to process/replaceAll search result urls
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/frontMatter.test.ts
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/client/index.ts
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaThemeConfig.ts
  packages/docusaurus-theme-search-algolia/src/client/useSearchResultUrlProcessor.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/regExpUtils.ts
  packages/docusaurus/src/client/exports/useBaseUrl.ts
  website/docs/search.md
  website/docusaurus.config.js
Labels: CLA Signed, pr: new feature, to backport

#8463 fix(theme-classic): content container grow to take all the available space
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/CollapseButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Layout/styles.module.css
Labels: CLA Signed, pr: bug fix

#8481 fix(core): explicitly define CopyWebpackPlugin toType: 'dir'
  packages/docusaurus/src/commands/build.ts
Labels: CLA Signed, pr: bug fix

#8484 docs: `plugin-content-sitemap` -> `plugin-sitemap`
  website/docs/using-plugins.md
Labels: CLA Signed, pr: documentation

#8486 fix(theme): refactor Tabs, make groupId + queryString work fine together
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Layout/Provider/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/contexts/tabGroupChoice.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
  packages/docusaurus-theme-common/src/utils/storageUtils.ts
  packages/docusaurus-theme-common/src/utils/tabsUtils.tsx
  yarn.lock
Labels: CLA Signed, pr: bug fix, to backport

#8462 fix(search-algolia): pass custom transformItems function to SearchBar
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Labels: CLA Signed, pr: bug fix, to backport

#8378 feat(blog): add options.createFeedItems to filter/limit/transform feed items
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/blog.mdx
Labels: CLA Signed, pr: new feature, to backport

#8470 feat(plugin-google-tag-manager): add new google-tag-manager plugin + deprecate google-analytics plugin
  packages/docusaurus-plugin-google-tag-manager/.npmignore
  packages/docusaurus-plugin-google-tag-manager/README.md
  packages/docusaurus-plugin-google-tag-manager/package.json
  packages/docusaurus-plugin-google-tag-manager/src/index.ts
  packages/docusaurus-plugin-google-tag-manager/src/options.ts
  packages/docusaurus-plugin-google-tag-manager/src/types.d.ts
  packages/docusaurus-plugin-google-tag-manager/tsconfig.client.json
  packages/docusaurus-plugin-google-tag-manager/tsconfig.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.ts
  packages/docusaurus-preset-classic/src/options.ts
  website/docs/api/plugins/plugin-google-analytics.md
  website/docs/api/plugins/plugin-google-tag-manager.md
  website/docs/using-plugins.md
Labels: CLA Signed, pr: new feature, to backport

#8491 fix(website): Netlify increase NODE_OPTIONS memory
  website/netlify.toml
Labels: CLA Signed, pr: internal
