Repository facebook/docusaurus, pull requests merged in 2022-09, with the labels that each got.

#8040 chore: release Docusaurus v2.1.0
  admin/new.docusaurus.io/package.json
  lerna.json
  packages/create-docusaurus/package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-logger/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  website/package.json
Labels: CLA Signed, pr: internal

#8041 chore: Update examples after release of Docusaurus v2.1.0
  examples/classic-typescript/docs/tutorial-basics/congratulations.md
  examples/classic-typescript/docs/tutorial-basics/create-a-document.md
  examples/classic-typescript/package.json
  examples/classic-typescript/sidebars.js
  examples/classic-typescript/yarn.lock
  examples/classic/docs/tutorial-basics/congratulations.md
  examples/classic/docs/tutorial-basics/create-a-document.md
  examples/classic/package.json
  examples/classic/sidebars.js
  examples/classic/yarn.lock
  examples/facebook/docs/tutorial-basics/congratulations.md
  examples/facebook/docs/tutorial-basics/create-a-document.md
  examples/facebook/package.json
  examples/facebook/sidebars.js
  examples/facebook/yarn.lock
Labels: CLA Signed, pr: internal

#8042 fix(website): fix blog post social card
  website/blog/2022-09-01-docusaurus-2.1/img/social-card.png
Labels: CLA Signed, pr: bug fix

#8045 refactor(core): detect if codegen should quote property without using eval()
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed, pr: internal

#8046 docs: delete extra semicolon in MDX and React page
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed

#8047 docs: improve alt messages
  packages/docusaurus-logger/README.md
  website/blog/2017-12-14-introducing-docusaurus.md
  website/blog/2018-04-30-How-I-Converted-Profilo-To-Docusaurus.md
  website/blog/2018-12-14-Happy-First-Birthday-Slash.md
  website/blog/2020-01-07-tribute-to-endi.md
  website/blog/2021-01-19-docusaurus-2020-recap.md
  website/blog/2021-03-09-releasing-docusaurus-i18n.md
  website/blog/2021-05-12-announcing-docusaurus-two-beta/index.md
  website/blog/2021-11-21-algolia-docsearch-migration/index.md
  website/blog/2022-01-24-docusaurus-2021-recap/index.md
  website/docs/api/docusaurus.config.js.md
  website/docs/api/misc/logger/logger.md
  website/docs/api/plugins/plugin-pwa.md
  website/docs/introduction.md
  website/versioned_docs/version-2.0.1/api/docusaurus.config.js.md
  website/versioned_docs/version-2.0.1/api/misc/logger/logger.md
  website/versioned_docs/version-2.0.1/api/plugins/plugin-pwa.md
  website/versioned_docs/version-2.0.1/introduction.md
  website/versioned_docs/version-2.1.0/api/docusaurus.config.js.md
  website/versioned_docs/version-2.1.0/api/misc/logger/logger.md
  website/versioned_docs/version-2.1.0/api/plugins/plugin-pwa.md
  website/versioned_docs/version-2.1.0/introduction.md
Labels: CLA Signed, pr: documentation

#8053 docs: document usage of docs `frontMatter.custom_edit_url: null`
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, pr: documentation

#8055 docs(content-docs): updates typo in lifecycle-apis.md
  website/docs/api/plugin-methods/lifecycle-apis.md
Labels: CLA Signed

#8054 docs: fix broken image
  website/src/data/tweets.tsx
Labels: CLA Signed, pr: internal

#7945 refactor(theme): split admonitions, make swizzle easier, better retrocompatibility
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Admonition/Icon/Caution.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Icon/Danger.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Icon/Info.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Icon/Note.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Icon/Tip.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Admonition/Type/Caution.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Type/Danger.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Type/Info.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Type/Note.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Type/Tip.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Types.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  packages/docusaurus-theme-common/src/utils/admonitionUtils.tsx
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus/src/commands/swizzle/components.ts
  website/_dogfooding/_pages tests/markdownPageTests.md
  website/_dogfooding/testSwizzleThemeClassic.mjs
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
  website/docusaurus.config.js
  website/src/theme/Admonition/Types.tsx
Labels: CLA Signed, pr: bug fix, pr: polish, domain: theme, backport

#8060 fix(website): add website admonitions extendDefaults: true
  website/docusaurus.config.js
Labels: CLA Signed, pr: internal

#8059 fix(theme): preserve url ?search#hash on navbar version/locale dropdowns navigations
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-theme-common/src/hooks/useHideableNavbar.ts
Labels: CLA Signed, pr: bug fix, backport

#8064 chore: bump react-medium-image-zoom
  project-words.txt
  website/docs/advanced/architecture.md
  website/package.json
  website/src/components/Zoom/index.tsx
  website/src/css/custom.css
  website/testCSSOrder.mjs
  website/versioned_docs/version-2.0.1/advanced/architecture.md
  website/versioned_docs/version-2.1.0/advanced/architecture.md
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7993 chore: upgrade dependencies
  admin/new.docusaurus.io/package.json
  package.json
  packages/create-docusaurus/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-logger/src/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.ts
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/index.test.ts
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils-validation/src/__tests__/validationUtils.test.ts
  packages/docusaurus-utils/src/__tests__/emitUtils.test.ts
  packages/docusaurus-utils/src/__tests__/gitUtils.test.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/client/__tests__/normalizeLocation.test.ts
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/routes.test.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  packages/stylelint-copyright/src/index.ts
  website/package.json
  website/src/pages/styles.module.css
  yarn.lock
Labels: CLA Signed, pr: dependencies

#8068 fix(theme): preserve line breaks when copying code with showLineNumbers in Firefox
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/index.tsx
Labels: CLA Signed

#8067 fix(redirect): tolerate trailing slash difference if config is undefined
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/collectRedirects.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
Labels: CLA Signed, pr: bug fix, backport

#8066 fix(core): normalize slashes for url/baseUrl instead of throwing
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed, pr: polish, backport

#8062 refactor(theme): remove hard-coded tag border-radius
  packages/docusaurus-theme-classic/src/theme/Tag/styles.module.css
Labels: CLA Signed, pr: polish, backport

#8080 perf(create): run async tasks concurrently
  packages/create-docusaurus/src/index.ts
Labels: CLA Signed, domain: performance

#8087 fix(theme-translations): remove extra vi translations
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
Labels: CLA Signed, pr: bug fix

#8114 docs: backport doc edits from future branch
  website/versioned_docs/version-2.0.1/api/plugin-methods/lifecycle-apis.md
  website/versioned_docs/version-2.0.1/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-2.0.1/guides/markdown-features/markdown-features-toc.mdx
  website/versioned_docs/version-2.0.1/i18n/i18n-crowdin.mdx
  website/versioned_docs/version-2.0.1/swizzling.md
  website/versioned_docs/version-2.0.1/typescript-support.md
  website/versioned_docs/version-2.1.0/api/plugin-methods/lifecycle-apis.md
  website/versioned_docs/version-2.1.0/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-2.1.0/guides/markdown-features/markdown-features-toc.mdx
  website/versioned_docs/version-2.1.0/i18n/i18n-crowdin.mdx
  website/versioned_docs/version-2.1.0/swizzling.md
  website/versioned_docs/version-2.1.0/typescript-support.md
Labels: CLA Signed, pr: internal

#8115 docs: add caveat about using Translate in string contexts
  website/docs/i18n/i18n-tutorial.md
  website/versioned_docs/version-2.0.1/i18n/i18n-tutorial.md
  website/versioned_docs/version-2.1.0/i18n/i18n-tutorial.md
Labels: CLA Signed, pr: documentation

#8097 docs: fix Sunghyun Cho showcase info
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#8109 feat(core): prefetch on mobile touchstart
  packages/docusaurus/src/client/exports/Link.tsx
Labels: CLA Signed, pr: polish, backport

#8100 docs: update showcase/ossinsight screenshot
  website/src/data/showcase/ossinsight.png
Labels: CLA Signed, pr: showcase

#8105 fix(theme-translations): complete turkish theme default translations
  packages/docusaurus-theme-translations/locales/tr/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-search-algolia.json
Labels: CLA Signed, pr: bug fix

#8075 fix(theme-translation): complete Japanese theme default translation
  packages/docusaurus-theme-translations/locales/ja/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/ja/theme-search-algolia.json
Labels: CLA Signed, pr: bug fix

#8146 docs(content-docs): add api doc for displayed_sidebar front matter
  website/docs/api/plugins/plugin-content-docs.md
  website/versioned_docs/version-2.0.1/api/plugins/plugin-content-docs.md
  website/versioned_docs/version-2.1.0/api/plugins/plugin-content-docs.md
Labels: CLA Signed, pr: documentation
