Repository facebook/docusaurus, pull requests merged in 2022-04, with the labels that each got.

#7084 refactor(core): code cleanup
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/BaseUrlIssueBanner/index.tsx
  packages/docusaurus/src/client/BaseUrlIssueBanner/styles.module.css
  packages/docusaurus/src/client/exports/BrowserOnly.tsx
  packages/docusaurus/src/client/exports/Interpolate.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/__tests__/routes.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/server/siteMetadata.ts
  packages/docusaurus/src/webpack/server.ts
Labels: CLA Signed

#7101 chore: upgrade dependencies
  package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/clientLifecyclesDispatcher.ts
  packages/docusaurus/src/client/docusaurus.ts
  website/package.json
  yarn.lock
Labels: CLA Signed

#7103 fix(core): preserve Interpolate children semantics
  packages/docusaurus/src/client/exports/Interpolate.tsx
  packages/docusaurus/src/client/exports/__tests__/Interpolate.test.tsx
  packages/docusaurus/src/client/exports/__tests__/__snapshots__/Interpolate.test.tsx.snap
  website/_dogfooding/_pages tests/error-boundary-tests.tsx
Labels: CLA Signed, tag: polish

#7110 docs: add a note about additional languages needing to be Prism component names
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: documentation

#7113 test: improve test coverage
  jest.config.mjs
  packages/docusaurus-theme-common/src/utils/__tests__/__snapshots__/codeBlockUtils.test.ts.snap
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  packages/docusaurus-utils/src/__tests__/emitUtils.test.ts
  packages/docusaurus-utils/src/emitUtils.ts
  packages/docusaurus/src/server/__tests__/__fixtures__/config/configAsync.config.js
  packages/docusaurus/src/server/__tests__/__fixtures__/config/createConfig.config.js
  packages/docusaurus/src/server/__tests__/__fixtures__/config/createConfigAsync.config.js
  packages/docusaurus/src/server/__tests__/__fixtures__/config/incomplete.config.js
  packages/docusaurus/src/server/__tests__/__fixtures__/config/wrong.config.js
  packages/docusaurus/src/server/__tests__/__fixtures__/simple-site/docusaurus.config.js
  packages/docusaurus/src/server/__tests__/__fixtures__/simple-site/i18n/en/code.json
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/siteMetadata.test.ts.snap
  packages/docusaurus/src/server/__tests__/config.test.ts
  packages/docusaurus/src/server/__tests__/siteMetadata.test.ts
Labels: CLA Signed

#7118 refactor(create): mention that the edit links can be removed
  packages/create-docusaurus/templates/classic/docusaurus.config.js
  packages/create-docusaurus/templates/facebook/docusaurus.config.js
Labels: CLA Signed, tag: polish

#6979 feat(sitemap): add ignorePatterns option
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/options.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/options.ts
  packages/docusaurus-plugin-sitemap/src/plugin-sitemap.d.ts
  packages/docusaurus-utils/src/globUtils.ts
  website/docs/api/plugins/plugin-sitemap.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature, status: awaiting review

#7026 docs: correct plugin example filename
  website/docs/advanced/plugins.md
Labels: CLA Signed, tag: documentation

#7119 refactor(website): minor fixes and improvements
  website/docs/typescript-support.md
  website/docusaurus.config.js
  website/src/components/BrowserWindow/index.tsx
  website/src/components/BrowserWindow/styles.module.css
  website/src/components/Tweet/index.tsx
  website/src/components/Tweet/styles.module.css
  website/src/data/tweets.tsx
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
Labels: CLA Signed

#7123 refactor(showcase): enforce descriptions with maximum length of 120 characters
  website/src/data/__tests__/user.test.ts
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7126 docs: multiple documentation improvements
  website/docs/advanced/routing.md
  website/docs/guides/creating-pages.md
  website/docs/guides/markdown-features/markdown-features-intro.mdx
  website/docs/using-plugins.md
Labels: CLA Signed, tag: documentation

#7004 fix(theme-classic): shrink title size on mobile
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/styles.module.css
Labels: CLA Signed, tag: polish

#7125 docs: add Files Gallery website to showcase
  website/src/data/showcase/files-gallery.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7127 docs: add Synergies to showcase
  website/src/data/showcase/synergies.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7079 feat: allow using pure HTML as label in navbar links
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/NavbarNavLink.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  website/docs/api/themes/theme-configuration.md
Labels: CLA Signed, tag: new feature

#7122 feat(preset-classic): exclude debug plugin routes from sitemap
  packages/docusaurus-plugin-debug/src/index.ts
  packages/docusaurus-plugin-debug/src/plugin-debug.d.ts
  packages/docusaurus-preset-classic/src/index.ts
Labels: CLA Signed, tag: polish

#7124 feat(core): allow plugin/preset config to contain false/null
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/presets/preset-mixed.js
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/presets.test.ts.snap
  packages/docusaurus/src/server/plugins/configs.ts
  packages/docusaurus/src/server/plugins/presets.ts
Labels: CLA Signed, tag: new feature

#7068 refactor(theme-classic): blog mobile secondary menu use consistent styles
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogLayout/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Desktop/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Desktop/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Mobile/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/index.tsx
Labels: CLA Signed, tag: polish

#7117 refactor(content-{blog,docs}): unify handling of tags
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/props.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocTagDocListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tag/index.tsx
  packages/docusaurus-theme-classic/src/theme/TagsListInline/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/tagUtils.test.ts
  packages/docusaurus-theme-common/src/utils/tagsUtils.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/tags.ts
Labels: CLA Signed, tag: breaking change, status: awaiting review

#7082 feat(core): allow plugins to declare custom route context
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/__tests__/routes.test.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed, tag: new feature, status: awaiting review

#7131 chore: disable string escaping in snapshots
  jest.config.mjs
  jest/snapshotPathNormalizer.ts
  package.json
  packages/docusaurus-logger/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-logger/src/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-migrate/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/collectRedirects.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/createRedirectPageContent.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/options.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/redirectValidation.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/writeRedirectFiles.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/extensionRedirects.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/options.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/authors.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/slug.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsClientUtils.test.ts
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/normalization.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/validation.test.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/options.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/options.test.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/__snapshots__/codeBlockUtils.test.ts.snap
  packages/docusaurus-theme-common/src/utils/__tests__/usePluralForm.test.tsx
  packages/docusaurus-theme-live-codeblock/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-translations/src/__tests__/utils.test.ts
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/__tests__/validationUtils.test.ts
  packages/docusaurus-utils/src/__tests__/dataFileUtils.test.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus/src/client/exports/__tests__/BrowserOnly.test.tsx
  packages/docusaurus/src/client/exports/__tests__/useGlobalData.test.tsx
  packages/docusaurus/src/commands/swizzle/__tests__/config.test.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/__tests__/config.test.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/htmlTags.test.ts
  packages/docusaurus/src/server/__tests__/routes.test.ts
  packages/docusaurus/src/server/__tests__/siteMetadata.test.ts
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/init.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/pluginIds.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/moduleShorthand.test.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
Labels: CLA Signed, tag: internal

#7083 feat(core): fail-safe global data fetching
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-docs/src/client/docsClientUtils.ts
  packages/docusaurus-plugin-content-docs/src/client/index.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/exports/__tests__/useGlobalData.test.tsx
  packages/docusaurus/src/client/exports/useGlobalData.ts
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: new feature, status: awaiting review

#7134 fix(theme-classic): fix docs sidebar layout shifts when expanding categories
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/Content/styles.module.css
Labels: CLA Signed, tag: polish

#6430 feat: allow setting calendar for i18n date formatting
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/i18n.ts
  website/docs/api/docusaurus.config.js.md
Labels: CLA Signed, tag: new feature

#7136 docs: add Virtual Photography Kit to showcase
  website/src/data/showcase/virtual-photography-kit.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7085 refactor: mark a few client-side packages as side-effect-free
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Details/index.tsx
  packages/docusaurus-theme-common/Details.d.ts
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/tsconfig.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils-common/package.json
Labels: CLA Signed, tag: performance, status: awaiting review

#7138 chore: upgrade dependencies
  admin/new.docusaurus.io/package.json
  package.json
  packages/create-docusaurus/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-common/src/contexts/tabGroupChoice.tsx
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/clientEntry.tsx
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/server/htmlTags.ts
  packages/lqip-loader/package.json
  website/package.json
  website/tsconfig.json
  yarn.lock
Labels: CLA Signed

#7139 fix: proper spacing between generated card items on mobiles
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/styles.module.css
Labels: CLA Signed

#7140 refactor(content-docs): split version handling into several files
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/constants.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/server-export.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/index.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/versions/files.ts
  packages/docusaurus-plugin-content-docs/src/versions/index.ts
  packages/docusaurus-plugin-content-docs/src/versions/validation.ts
Labels: CLA Signed, tag: internal

#7141 refactor(core): minor PendingNavigation refactor
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/clientEntry.tsx
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/preload.ts
  packages/docusaurus/src/client/serverEntry.tsx
Labels: CLA Signed

#7142 refactor(core): lower timeout before rendering progress bar to 200ms
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/PendingNavigation.tsx
Labels: CLA Signed, tag: polish

#7145 refactor: unify how MDX content types are represented
  packages/docusaurus-mdx-loader/src/mdx-loader.d.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
Labels: CLA Signed

#7147 fix(website): remove skipLibCheck
  website/package.json
  website/tsconfig.json
  yarn.lock
Labels: CLA Signed

#7144 docs: add Seven-innovation-base to showcase
  admin/scripts/image-resize.mjs
  website/src/data/showcase/seven-innovation-base.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7151 docs: add leedom to showcase
  website/src/data/showcase/leedom.png
  website/src/data/users.tsx
Labels: CLA Signed

#7159 docs: Explain more clearly the purpose of a ref sidebar type
  website/docs/guides/docs/sidebar/multiple-sidebars.md
Labels: CLA Signed, tag: documentation

#7166 fix(theme-translations): always try all possible locale resolutions
  packages/docusaurus-theme-translations/src/__tests__/index.test.ts
  packages/docusaurus-theme-translations/src/index.ts
Labels: CLA Signed, tag: bug fix

#7007 feat(theme-classic): code block showLineNumbers
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  website/_dogfooding/_pages tests/code-block-tests.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: new feature, status: awaiting review

#6457 feat(content-docs): draft docs excluded from build & sidebars
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/doc-draft.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/docs.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/globalData.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/globalData.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/frontMatter.ts
  packages/docusaurus-plugin-content-docs/src/globalData.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/processor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/processor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  website/_dogfooding/_docs tests/test-draft.md
  website/_dogfooding/_docs tests/tests/another-draft.md
  website/_dogfooding/docs-tests-sidebars.js
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#6984 misc: pin actions to a full-length commit SHA
  .github/workflows/build-blog-only.yml
  .github/workflows/build-perf.yml
  .github/workflows/canary-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-swizzle.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed, status: don't merge yet, tag: internal

#7168 misc: add CI actions/dependency-review-action for security
  .github/workflows/canary-release.yml
  .github/workflows/dependency-review.yml
Labels: CLA Signed, tag: internal

#7143 fix(sitemap): exclude pages with robots noindex from sitemap
  packages/docusaurus-plugin-debug/src/index.ts
  packages/docusaurus-plugin-debug/src/plugin-debug.d.ts
  packages/docusaurus-plugin-debug/src/theme/DebugLayout/index.tsx
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-preset-classic/src/index.ts
  packages/docusaurus-types/package.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/deps.d.ts
  packages/docusaurus/src/webpack/server.ts
Labels: CLA Signed, tag: bug fix, status: awaiting review

#7164 fix: adjust spacing for custom search properly
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Navbar/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/Search/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/Search/styles.module.css
  packages/docusaurus-theme-classic/src/theme/NavbarItem/SearchNavbarItem.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Labels: CLA Signed, tag: bug fix

#7172 refactor: control base styling of code blocks via CSS vars
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/CopyButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/hooks/usePrismTheme.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Labels: CLA Signed

#7173 fix(theme-classic): admonition title: disable text-transform on inline code blocks
  packages/docusaurus-theme-classic/src/admonitions.css
Labels: CLA Signed, tag: bug fix

#7174 chore: fix CI typo
  .github/workflows/dependency-review.yml
Labels: CLA Signed, tag: internal

#7177 docs: add Rainbond site to showcase
  website/src/data/showcase/rainbond.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7175 refactor(theme-classic): split CodeBlock
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Container/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Container/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/Element.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
Labels: CLA Signed, tag: internal

#7058 feat(theme-classic): new 'html' type navbar item
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/HtmlNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  website/docs/api/themes/theme-configuration.md
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: CLA Signed, tag: new feature, status: awaiting review

#7179 fix(theme-classic): do not add microdata item prop to trailing breadcrumb
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
Labels: CLA Signed, tag: bug fix

#7181 test: improve test coverage
  packages/docusaurus-logger/src/index.ts
  packages/docusaurus-utils/src/__tests__/globUtils.test.ts
  packages/docusaurus/src/client/exports/__tests__/Interpolate.test.tsx
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/index.test.ts
  packages/docusaurus/src/server/plugins/__tests__/presets.test.ts
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed

#7185 docs: add easy-dates to showcase
  website/src/data/showcase/easy-dates.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7186 refactor: prefer fs.readJSON over readFile.then(JSON.parse)
  __tests__/validate-package-json.test.ts
  admin/scripts/generateExamples.mjs
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-theme-translations/locales/__tests__/locales.test.ts
  packages/docusaurus-theme-translations/src/index.ts
  packages/docusaurus-theme-translations/update.mjs
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/server/translations/translations.ts
Labels: CLA Signed, tag: internal

#7189 misc: add a name to each GH action step
  .github/workflows/build-blog-only.yml
  .github/workflows/build-perf.yml
  .github/workflows/canary-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-swizzle.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed

#7193 chore: upgrade dependencies
  admin/new.docusaurus.io/package.json
  package.json
  packages/create-docusaurus/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/client/clientEntry.tsx
  packages/docusaurus/src/client/serverEntry.tsx
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed

#7194 fix: fix a few internal declaration semantic errors
  packages/docusaurus-mdx-loader/src/deps.d.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-ideal-image/src/deps.d.ts
  packages/docusaurus-plugin-pwa/src/plugin-pwa.d.ts
  packages/docusaurus-theme-live-codeblock/src/types.d.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/deps.d.ts
Labels: CLA Signed, tag: internal

#7196 docs: update showcase data for Full Stack Chronicles
  website/src/data/showcase/cloudywithachanceofbigdata.png
  website/src/data/showcase/fullstackchronicles.png
  website/src/data/users.tsx
Labels: CLA Signed

#7208 docs: remove mention of "template" from README installation guide
  README.md
Labels: CLA Signed, tag: documentation

#7211 chore: replace node 17 with 18 in CI matrix
  .github/workflows/codeql-analysis.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed, tag: internal

#7183 refactor: use SVG icon for home breadcrumb
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/styles.module.css
  packages/docusaurus-theme-classic/src/theme/IconHome/index.tsx
Labels: CLA Signed, tag: polish

#7215 refactor: improve IconHome icon
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/styles.module.css
  packages/docusaurus-theme-classic/src/theme/IconHome/index.tsx
Labels: CLA Signed

#7216 chore: remove netlify-cli from dependencies
  admin/new.docusaurus.io/package.json
  package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#7218 fix(cli): always show error stack to unhandled rejection
  packages/docusaurus/bin/docusaurus.mjs
Labels: CLA Signed, tag: polish

#7176 refactor: customize code block line highlight color via CSS var
  packages/create-docusaurus/templates/classic/src/css/custom.css
  packages/create-docusaurus/templates/facebook/src/css/custom.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/styles.module.css
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/src/css/custom.css
Labels: CLA Signed, tag: breaking change, tag: polish

#7222 fix(theme-translations): fix invalid pluralization in cs
  packages/docusaurus-theme-translations/locales/cs/theme-search-algolia.json
Labels: CLA Signed, tag: bug fix

#7214 chore(theme-translations): complete Polish translations
  packages/docusaurus-theme-translations/locales/pl/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-search-algolia.json
Labels: CLA Signed, status: don't merge yet, tag: polish

#7212 fix(content-blog): make footnote reference DOM ID unique on post listing page
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/remark/__tests__/__fixtures__/post.md
  packages/docusaurus-plugin-content-blog/src/remark/__tests__/__fixtures__/post2.md
  packages/docusaurus-plugin-content-blog/src/remark/__tests__/__snapshots__/footnoteIDFixer.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/remark/__tests__/footnoteIDFixer.test.ts
  packages/docusaurus-plugin-content-blog/src/remark/footnoteIDFixer.ts
  website/_dogfooding/_blog tests/2022-01-21-dup-footnote.md
  website/_dogfooding/_blog tests/2022-01-22-dup-footnote.md
  website/_dogfooding/_blog tests/2022-04-20-dup-footnote.md
Labels: CLA Signed, tag: bug fix

#7200 fix(theme-common): do not persist color mode for OS-triggered changes
  packages/docusaurus-theme-common/src/contexts/colorMode.tsx
Labels: CLA Signed, tag: bug fix

#7226 fix(website): invert Twitter handle and name
  website/src/data/tweets.tsx
Labels: CLA Signed

#7223 refactor: use generated-index in init templates
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/_category_.json
  packages/create-docusaurus/templates/shared/docs/tutorial-extras/_category_.json
Labels: CLA Signed, tag: polish

#7224 chore: GitHub Actions cancel-in-progress
  .github/workflows/build-blog-only.yml
  .github/workflows/build-perf.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-swizzle.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed, tag: internal

#7225 fix: allow swizzling a component's parent folder
  packages/docusaurus/src/commands/swizzle/__tests__/__fixtures__/theme/NoIndex/NoIndexComp1.css
  packages/docusaurus/src/commands/swizzle/__tests__/__fixtures__/theme/NoIndex/NoIndexComp1.tsx
  packages/docusaurus/src/commands/swizzle/__tests__/__fixtures__/theme/NoIndex/NoIndexComp2.tsx
  packages/docusaurus/src/commands/swizzle/__tests__/__fixtures__/theme/NoIndex/NoIndexSub/NoIndexSubComp.tsx
  packages/docusaurus/src/commands/swizzle/__tests__/components.test.ts
  packages/docusaurus/src/commands/swizzle/__tests__/testUtils.ts
  packages/docusaurus/src/commands/swizzle/components.ts
  packages/docusaurus/src/commands/swizzle/config.ts
Labels: CLA Signed, tag: bug fix

#7036 feat(theme-classic): toggle code wrap button
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/CopyButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/CopyButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/WordWrapButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/WordWrapButton/styles.module.css
  packages/docusaurus-theme-common/src/hooks/useCodeWordWrap.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, tag: new feature, status: awaiting review

#7184 fix(core): prevent 404 when accessing /page.html
  jest.config.mjs
  packages/docusaurus/src/client/__tests__/__mocks__/@generated/routes.ts
  packages/docusaurus/src/client/__tests__/normalizeLocation.test.ts
  packages/docusaurus/src/client/normalizeLocation.ts
  website/_dogfooding/_docs tests/dummy.md
Labels: CLA Signed, tag: bug fix

#7230 docs: add OSS Insight to showcase
  website/src/data/showcase/ossinsight.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7232 chore: upgrade dependencies
  .eslintrc.js
  package.json
  packages/create-docusaurus/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-logger/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/gitUtils.ts
  packages/docusaurus/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed

#7236 docs: add documentation about pluralization
  website/docs/i18n/i18n-tutorial.md
Labels: CLA Signed, tag: documentation

#7235 docs: Add TiDB community books to showcase
  website/src/data/showcase/tidb-community-book.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7239 docs: add Chaos mesh site to showcase
  website/src/data/showcase/chaos-mesh.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7240 docs: add PCC Archive site to showcase
  website/src/data/showcase/pcc-archive.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7244 refactor: semantic markup improvement, fix validation warnings
  packages/docusaurus-theme-classic/src/theme/DocCardList/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/index.tsx
  website/docs/introduction.md
  website/src/pages/index.tsx
  website/versioned_docs/version-2.0.0-beta.17/introduction.md
  website/versioned_docs/version-2.0.0-beta.18/introduction.md
Labels: CLA Signed, tag: polish

#7251 docs: change changelog paginator label
  website/src/plugins/changelog/theme/ChangelogPage/index.tsx
  website/src/plugins/changelog/theme/ChangelogPaginator/index.tsx
  website/src/plugins/changelog/theme/types.d.ts
Labels: CLA Signed

#7233 fix(content-docs): make category index text translatable
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/globalData.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/globalData.test.ts
  packages/docusaurus-plugin-content-docs/src/globalData.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/routes.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
Labels: CLA Signed, tag: bug fix

#7243 chore: upgrade Jest to 28; add GitHub-actions reporter
  jest.config.mjs
  package.json
  packages/docusaurus-plugin-content-docs/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#7252 docs: update gtag docs to reflect what a GA4 tag looks like
  website/docs/api/plugins/plugin-google-gtag.md
Labels: CLA Signed

#7254 docs: add Svix to showcase
  website/src/data/showcase/svix.png
  website/src/data/users.tsx
Labels: CLA Signed

#7258 chore: remove baseUrl from tsconfig
  packages/docusaurus-plugin-ideal-image/tsconfig.json
  packages/docusaurus-plugin-pwa/tsconfig.json
  packages/docusaurus-theme-classic/tsconfig.json
  packages/docusaurus-theme-search-algolia/tsconfig.json
Labels: CLA Signed

#7248 refactor: normalize Markdown linkification behavior, elaborate in documentation
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/__fixtures__/docs/doc2.md
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/linkify.test.ts
  packages/docusaurus-utils/src/__tests__/__snapshots__/markdownLinks.test.ts.snap
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/markdownLinks.ts
  website/docs/advanced/plugins.md
  website/docs/guides/docs/docs-markdown-features.mdx
  website/docs/guides/markdown-features/markdown-features-links.md
  website/docs/installation.md
  website/sidebars.js
  website/versioned_docs/version-2.0.0-beta.17/advanced/plugins.md
  website/versioned_docs/version-2.0.0-beta.18/advanced/plugins.md
Labels: CLA Signed, tag: documentation, tag: polish

#7259 docs: add raspisuite website to showcase
  website/src/data/showcase/raspisuite.png
  website/src/data/users.tsx
Labels: CLA Signed

#7180 fix: pass pollOptions to webpack
  packages/docusaurus/src/commands/start.ts
Labels: CLA Signed, tag: bug fix

#7262 docs: wrap code block demos in mdx-code-block
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed

#7260 docs: Add Memgraph site to showcase page
  website/src/data/showcase/memgraph.png
  website/src/data/users.tsx
Labels: CLA Signed

#7231 feat: custom navbarItem types (workaround)
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/ComponentTypes.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  website/docusaurus.config.js
  website/src/components/NavbarItems/CustomDogfoodNavbarItem.tsx
  website/src/theme/NavbarItem/ComponentTypes.tsx
Labels: CLA Signed, tag: new feature

#6732 feat(core): rework client modules lifecycles, officially make API public
  packages/docusaurus-plugin-google-analytics/src/analytics.ts
  packages/docusaurus-plugin-google-gtag/src/gtag.ts
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/nprogress.css
  packages/docusaurus-theme-classic/src/nprogress.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/ClientLifecyclesDispatcher.tsx
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/clientLifecyclesDispatcher.ts
  project-words.txt
  website/_dogfooding/clientModuleExample.ts
  website/docs/advanced/client.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature, tag: breaking change

#7269 refactor: extract useSkipToContent()
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/a11yUtils.ts
Labels: CLA Signed, tag: internal

#7270 refactor(theme-classic): refactor TOC-related theme components
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/CollapseButton.module.css
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/CollapseButton.tsx
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/index.module.css
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCItems/Tree.tsx
  packages/docusaurus-theme-classic/src/theme/TOCItems/index.tsx
Labels: CLA Signed, tag: internal

#7268 refactor(theme-classic): DocPage theme refactors polish
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Main.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Main.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Sidebar/ExpandButton.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Sidebar/ExpandButton.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Sidebar/index.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Sidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/index.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
Labels: CLA Signed, tag: internal

#7271 docs: specify Node version requirement to a minor
  website/docs/installation.md
Labels: CLA Signed

#7273 refactor(theme-classic): multiple re-arrangements
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Main/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Main/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Sidebar/ExpandButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Sidebar/ExpandButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/TOCItems/Tree.tsx
  packages/docusaurus-theme-common/src/contexts/docsSidebar.tsx
  packages/docusaurus-theme-common/src/hooks/useSkipToContent.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
Labels: CLA Signed

#7274 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed

#7276 refactor(eslint-plugin): migrate to TS-ESLint infrastructure
  .eslintignore
  .eslintrc.js
  .gitignore
  .prettierignore
  packages/docusaurus-theme-common/src/components/Details/index.tsx
  packages/eslint-plugin/lib/rules/no-untranslated-text.js
  packages/eslint-plugin/lib/rules/string-literal-i18n-messages.js
  packages/eslint-plugin/lib/util.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/__tests__/no-untranslated-text.test.ts
  packages/eslint-plugin/src/rules/__tests__/string-literal-i18n-messages.test.ts
  packages/eslint-plugin/src/rules/__tests__/testUtils.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-untranslated-text.ts
  packages/eslint-plugin/src/rules/string-literal-i18n-messages.ts
  packages/eslint-plugin/src/util.ts
  packages/eslint-plugin/tsconfig.json
  project-words.txt
  website/docs/api/misc/eslint-plugin/README.md
  website/docs/api/misc/eslint-plugin/no-untranslated-text.md
  yarn.lock
Labels: CLA Signed

#7278 docs: enhance docs about Markdown TOC and metadata
  project-words.txt
  website/docs/cli.md
  website/docs/guides/docs/sidebar/autogenerated.md
  website/docs/guides/markdown-features/markdown-features-head-metadata.mdx
  website/docs/guides/markdown-features/markdown-features-headings.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/guides/markdown-features/markdown-features-toc.mdx
  website/docs/i18n/i18n-tutorial.md
  website/docs/migration/migration-manual.md
  website/sidebars.js
  website/static/_redirects
Labels: CLA Signed, tag: documentation

#7279 misc: tighten CI trigger conditions
  .github/workflows/build-blog-only.yml
  .github/workflows/build-perf.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed
