Repository facebook/docusaurus, pull requests merged in 2022-02, with the labels that each got.

#6524 refactor: enforce named capture groups; clean up regexes
  .eslintrc.js
  packages/docusaurus-migrate/src/frontMatter.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-plugin-content-docs/src/numberPrefix.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownLinks.ts
  packages/docusaurus-utils/src/markdownParser.ts
  packages/docusaurus-utils/src/urlUtils.ts
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/exports/isInternalUrl.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/swizzle.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
  packages/docusaurus/src/server/__tests__/config.test.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/moduleShorthand.ts
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/webpack/base.ts
  packages/lqip-loader/src/index.ts
  website/src/plugins/changelog/index.js
Labels: CLA Signed, tag: internal

#6531 fix(theme-classic): highlight active collapsible doc category properly
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
Labels: CLA Signed, tag: bug fix

#6580 chore(deps): bump all dependencies; regenerate lockfile
  admin/new.docusaurus.io/package.json
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, dependencies

#6532 docs: add SAP Cloud SDK to showcase
  website/src/data/showcase/sapcloudsdk.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6306 feat(core): use react-helmet-async
  packages/docusaurus/package.json
  packages/docusaurus/src/client/clientEntry.tsx
  packages/docusaurus/src/client/exports/Head.tsx
  packages/docusaurus/src/client/serverEntry.tsx
  yarn.lock
Labels: CLA Signed, tag: polish

#6582 misc: fix gitattributes for linguist configuration
  .gitattributes
Labels: CLA Signed

#6583 refactor(live-codeblock): migrate theme to TS
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-live-codeblock/src/index.ts
  packages/docusaurus-theme-live-codeblock/src/theme-live-codeblock.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/ReactLiveScope/index.tsx
  packages/docusaurus-theme-live-codeblock/src/types.d.ts
  packages/docusaurus-theme-live-codeblock/tsconfig.client.json
  packages/docusaurus-theme-live-codeblock/tsconfig.server.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/tsconfig.client.json
Labels: CLA Signed, tag: internal

#6584 misc: enable jsx-key eslint rule
  .eslintrc.js
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
Labels: CLA Signed, tag: internal

#6585 misc: fix git attributes syntax
  .gitattributes
Labels: CLA Signed

#6477 fix(content-docs): export versioning utils
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/server/index.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
Labels: CLA Signed, tag: bug fix

#6519 feat(content-docs): sidebar item type "html" for rendering pure markup
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/validation.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/styles.module.css
  packages/docusaurus-theme-common/src/utils/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  website/_dogfooding/docs-tests-sidebars.js
  website/docs/guides/docs/sidebar/items.md
Labels: CLA Signed, tag: new feature

#6426 feat(website): add Tweets section
  .cspell.json
  website/src/components/Tweet/index.tsx
  website/src/components/Tweet/styles.module.css
  website/src/data/tweets/index.tsx
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
Labels: CLA Signed, tag: documentation

#6592 fix(content-docs): read last update from inner git repositories
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
Labels: CLA Signed, tag: bug fix

#6586 refactor(content-docs): read category metadata files before autogenerating
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/processor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/guides/docs/sidebar/autogenerated.md
Labels: CLA Signed, tag: polish

#6591 docs: improve Github Actions example jobs
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#6505 fix(theme-classic): make focused link outlined with JS disabled
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-theme-common/src/hooks/useKeyboardNavigation.ts
  packages/docusaurus-theme-common/src/index.ts
Labels: CLA Signed, tag: polish

#6599 fix(theme-classic): add docSidebar as allowed item in dropdown
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
Labels: CLA Signed, tag: bug fix

#6596 refactor(content-docs): clean up sidebars logic; validate generator returns
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/README.md
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__fixtures__/sidebars/sidebars-category-wrong-label.json
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__fixtures__/sidebars/sidebars-doc-id-not-string.json
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__fixtures__/sidebars/sidebars-link-wrong-href.json
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__fixtures__/sidebars/sidebars-link-wrong-label.json
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__fixtures__/sidebars/sidebars-unknown-type.json
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__fixtures__/sidebars/sidebars-wrong-field.json
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/postProcessor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/processor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/validation.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/normalization.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/postProcessor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/processor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
Labels: CLA Signed, tag: polish

#6602 feat(content-docs): allow omitting enclosing array consistently for category shorthand
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/normalization.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/normalization.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/normalization.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  website/docs/guides/docs/sidebar/items.md
Labels: CLA Signed, tag: polish

#6603 feat(content-blog): allow customizing blog archive component through option
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  website/docs/api/plugins/plugin-content-blog.md
Labels: CLA Signed, tag: new feature

#6605 chore: fix ESLint warnings, restrict export all syntax
  .eslintrc.js
  admin/scripts/generateExamples.mjs
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/client/globalDataHooks.ts
  packages/docusaurus-plugin-content-docs/src/client/index.ts
  packages/docusaurus-plugin-content-docs/src/server-export.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-theme-classic/src/theme/SearchBar.tsx
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus-theme-live-codeblock/src/deps.d.ts
  packages/docusaurus-theme-translations/src/index.ts
  packages/docusaurus-theme-translations/update.js
  packages/docusaurus-utils-validation/src/index.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownParser.ts
  packages/docusaurus/src/client/exports/router.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  website/src/data/tweets/index.tsx
  website/src/pages/index.tsx
  website/src/plugins/changelog/syncAvatars.js
Labels: CLA Signed, tag: internal

#6598 feat: make Markdown images lazy loaded
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/static/img.png
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/static2/img2.png
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
Labels: CLA Signed, tag: polish

#6609 refactor(migrate): change internal methods' parameter style
  packages/docusaurus-migrate/src/index.ts
Labels: CLA Signed, tag: internal

#6611 docs: fix bad anchor link syntax
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#6612 fix(theme-classic): make Prism additional languages properly server-side rendered
  packages/docusaurus-theme-classic/src/theme/prism-include-languages.ts
  website/_dogfooding/_pages tests/code-block-tests.mdx
Labels: CLA Signed, tag: bug fix

#6614 refactor: remove Babel plugins that are included in preset-env
  babel.config.js
  package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-theme-classic/babel.config.js
  yarn.lock
Labels: CLA Signed, tag: internal

#6615 fix: remove more peer dependency warnings
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/deps.d.ts
  yarn.lock
Labels: CLA Signed, tag: polish

#6617 fix(utils): convert Markdown links in reference-style links with multiple spaces
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/markdownLinks.ts
Labels: CLA Signed, tag: bug fix

#6624 docs: add Resoto & Some Engineering Inc. to showcase
  website/src/data/showcase/resoto.png
  website/src/data/showcase/someengineering.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6629 refactor: move module declarations for non-route components to theme-classic
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
Labels: CLA Signed, tag: internal

#6633 docs: improve wording of using Markdown file paths
  website/docs/guides/docs/docs-markdown-features.mdx
Labels: CLA Signed, tag: documentation

#6635 chore(theme-translation): Improve Traditional Chinese translation quality
  packages/docusaurus-theme-translations/locales/zh-Hant/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/zh-Hant/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-search-algolia.json
Labels: CLA Signed, tag: polish

#6619 feat(content-docs): add custom props front matter
  packages/docusaurus-plugin-content-docs/src/__tests__/docFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/_dogfooding/_docs tests/tests/custom-props/_category_.json
  website/_dogfooding/_docs tests/tests/custom-props/doc-with-custom-props.md
  website/_dogfooding/_docs tests/tests/custom-props/doc-without-custom-props.md
  website/_dogfooding/_docs tests/tests/custom-props/index.md
  website/docs/guides/docs/sidebar/autogenerated.md
  website/docs/guides/docs/sidebar/items.md
Labels: CLA Signed, tag: new feature

#6593 feat(content-blog): infer blog post date from git history
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/gitUtils.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, tag: new feature

#6610 feat(create): allow specifying a git clone strategy
  packages/create-docusaurus/bin/index.js
  packages/create-docusaurus/src/index.ts
  website/docs/installation.md
Labels: CLA Signed, tag: new feature

#6646 fix(cli): make docusaurus clear also remove .yarn/.cache folder
  packages/docusaurus/src/commands/clear.ts
Labels: CLA Signed, tag: polish

#6650 refactor(utils): replace hash with contenthash for file loader
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/lqip-loader/README.md
Labels: CLA Signed, tag: polish

#6656 feat: allow numbers in plugin ID
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
Labels: CLA Signed, tag: polish

#6644 fix(core): forward ref to Link's anchor element
  packages/docusaurus/src/client/exports/Link.tsx
  website/_dogfooding/_pages tests/index.md
  website/_dogfooding/_pages tests/link-tests.tsx
Labels: CLA Signed, tag: polish

#6658 refactor(module-aliases): remove react-helmet dependency
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-module-type-aliases/src/index.d.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#6622 refactor(theme-classic): clean up CSS of doc sidebar item
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebarItems/styles.module.css
  website/_dogfooding/docs-tests-sidebars.js
Labels: CLA Signed, tag: polish

#6651 refactor: reduce exported members of docusaurus router
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
  packages/docusaurus-theme-common/src/utils/useLocationChange.ts
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/exports/router.ts
  packages/docusaurus/src/client/normalizeLocation.ts
Labels: CLA Signed, tag: breaking change, tag: internal

#6660 chore: upgrade dependencies
  __tests__/validate-package-json.test.ts
  admin/new.docusaurus.io/package.json
  package.json
  packages/create-docusaurus/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/gitUtils.ts
  packages/docusaurus/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed

#6667 fix(website): make YT iframe responsive
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
Labels: CLA Signed, tag: documentation

#6668 refactor: recommend using data-theme without html element selector
  packages/create-docusaurus/templates/classic/src/css/custom.css
  packages/create-docusaurus/templates/facebook/src/css/custom.css
  packages/docusaurus-theme-classic/src/theme/DocCard/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/ThemedImage/styles.module.css
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/search.md
  website/docs/styling-layout.md
  website/src/components/BrowserWindow/styles.module.css
  website/src/components/ColorGenerator/index.tsx
  website/src/css/custom.css
  website/src/pages/index.tsx
  website/src/pages/showcase/_components/ShowcaseCard/styles.module.css
  website/src/pages/styles.module.css
  website/src/theme/Toggle.tsx
  website/src/utils/colorUtils.ts
Labels: CLA Signed, tag: polish

#6670 docs: add CyberDrain Improved Partner Portal (CIPP) to showcase
  website/src/data/showcase/CIPP.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6672 refactor(website): extract homepage data from UI; feature text updates
  .cspell.json
  website/src/components/Tweet/index.tsx
  website/src/data/features.tsx
  website/src/data/quotes.tsx
  website/src/data/tweets.tsx
  website/src/pages/index.tsx
Labels: CLA Signed, tag: documentation

#6673 docs: mention about blog date in front matter
  website/docs/blog.mdx
Labels: CLA Signed, tag: documentation

#6676 docs: add SmartCookieWeb site to showcase
  website/src/data/showcase/smartcookieweb.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6677 docs: add Rivalis to showcase
  website/src/data/showcase/rivalis.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6682 docs: add redux-cool site to showcase
  website/src/data/showcase/redux-cool.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6683 docs: fix bad anchor link syntax
  website/docs/deployment.mdx
Labels: CLA Signed

#6684 fix(utils): make SVGO not remove title
  packages/docusaurus-utils/src/__tests__/webpackUtils.test.ts
  packages/docusaurus-utils/src/webpackUtils.ts
Labels: CLA Signed

#6674 fix(theme-classic): improve aria label of color mode toggle
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, tag: polish

#6691 fix(pwa): declare babel core as direct dependency
  packages/docusaurus-plugin-pwa/package.json
Labels: CLA Signed

#6661 refactor: convert CLI entry points to ESM; migrate create-docusaurus to ESM
  packages/create-docusaurus/bin/index.js
  packages/create-docusaurus/package.json
  packages/create-docusaurus/src/index.ts
  packages/create-docusaurus/tsconfig.json
  packages/docusaurus-logger/src/index.ts
  packages/docusaurus-migrate/bin/index.js
  packages/docusaurus-migrate/package.json
  packages/docusaurus/bin/beforeCli.mjs
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/package.json
  packages/docusaurus/src/index.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#6517 feat(docs,theme-classic): docs breadcrumbs
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  packages/docusaurus-theme-common/src/utils/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/guides/docs/sidebar/index.md
Labels: CLA Signed, tag: new feature

#6692 feat(search-algolia): allow disabling search page and configuring path
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-theme-search-algolia/src/templates/opensearch.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
  website/docs/api/themes/theme-search-algolia.md
  website/docs/search.md
Labels: CLA Signed, tag: new feature

#6696 fix(theme-common): do not run useLocationChange when hot reloading
  packages/docusaurus-theme-common/src/utils/useLocationChange.ts
Labels: CLA Signed, tag: bug fix

#6704 docs(website): search doc typo searchParameters
  website/docs/search.md
Labels: CLA Signed, tag: documentation

#6709 docs(website): fix video responsiveness
  website/docs/introduction.md
  website/src/css/custom.css
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
Labels: CLA Signed

#6708 docs: add doc for generated-index keyword/image metadata
  website/docs/guides/docs/sidebar/items.md
Labels: CLA Signed, tag: documentation

#6701 fix(cli): disable directory listing in serve
  packages/docusaurus/src/commands/serve.ts
Labels: CLA Signed, tag: bug fix

#6710 docs(website): Add techharvesting to showcase
  website/src/data/showcase/techharvesting.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6711 chore(theme-translations): complete Korean translations
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
Labels: CLA Signed, tag: polish

#6712 fix(mdx-loader): make headings containing links properly formatted in ToC
  packages/docusaurus-mdx-loader/src/remark/utils/index.ts
Labels: tag: bug fix

#6716 refactor: ensure lodash is default-imported
  .eslintrc.js
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/createRedirectPageContent.ts
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsClientUtils.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/globalData.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/normalization.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/postProcessor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/processor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-plugin-content-docs/src/tags.ts
  packages/docusaurus-plugin-content-docs/src/translations.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/translations.ts
  packages/docusaurus-theme-common/src/utils/__tests__/tagUtils.test.ts
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-theme-translations/__tests__/update.test.ts
  packages/docusaurus-theme-translations/update.js
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/hashUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/tags.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/html-tags/htmlTags.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/plugins/pluginIds.ts
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/server/themes/alias.ts
  packages/docusaurus/src/server/translations/translations.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/utils.ts
  packages/lqip-loader/src/utils.ts
Labels: CLA Signed, tag: internal

#6720 fix(content-docs): create assets for frontmatter images
  packages/docusaurus-plugin-content-docs/src/index.ts
Labels: CLA Signed, tag: bug fix

#6725 refactor: convert all fs methods to async
  .eslintrc.js
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/index.test.ts
  packages/docusaurus-migrate/src/__tests__/migration.test.ts
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/index.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-theme-translations/update.js
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/bin/beforeCli.mjs
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/commands/swizzle.ts
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/config.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/themes/__tests__/alias.test.ts
  packages/docusaurus/src/server/themes/__tests__/index.test.ts
  packages/docusaurus/src/server/themes/alias.ts
  packages/docusaurus/src/server/themes/index.ts
  packages/docusaurus/src/server/utils.ts
  packages/docusaurus/src/server/versions/__tests__/index.test.ts
  packages/docusaurus/src/server/versions/index.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/client.test.ts
  packages/docusaurus/src/webpack/__tests__/server.test.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/server.ts
  packages/docusaurus/src/webpack/utils.ts
  website/_dogfooding/dogfooding.config.js
  website/src/data/__tests__/user.test.ts
Labels: CLA Signed, tag: performance

#6721 docs: add Butterfly Documentation to showcase
  website/src/data/showcase/docs-butterfly.png
  website/src/data/showcase/techharvesting.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6726 misc: improve bug report template
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug.yml
Labels: CLA Signed, tag: internal

#6730 refactor: declare all props as interfaces
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-ideal-image/src/plugin-ideal-image.d.ts
  packages/docusaurus-plugin-pwa/src/plugin-pwa.d.ts
  packages/docusaurus-plugin-pwa/src/theme/PwaReloadPopup/index.tsx
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/TOC/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCInline/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCItems/index.tsx
  packages/docusaurus/src/client/exports/Head.tsx
  packages/docusaurus/src/client/exports/Link.tsx
Labels: CLA Signed, tag: polish

#6734 refactor(core): reduce code verbosity
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/i18n.ts
Labels: CLA Signed

#6727 docs: add Blog Matheus Brunelli site to showcase
  website/src/data/showcase/blogmatheusbrunelli.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6741 chore(module-type-aliases): add react as peer dependency
  packages/docusaurus-module-type-aliases/package.json
Labels: CLA Signed, tag: internal

#6742 refactor: improve client modules types
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/client-lifecycles-dispatcher.ts
Labels: CLA Signed, tag: internal

#6744 fix(content-docs): properly display collocated social card image
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  website/_dogfooding/_docs tests/tests/img-tests.mdx
  website/_dogfooding/_docs tests/tests/img/oss_logo.png
Labels: CLA Signed, tag: internal

#6740 refactor: remove deprecated Webpack utils & validation escape hatch
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils-validation/src/index.ts
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/api/plugin-methods/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-beta.14/api/plugin-methods/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-beta.15/api/plugin-methods/lifecycle-apis.md
Labels: CLA Signed, tag: breaking change, status: awaiting review

#6729 refactor: make MDX export a flat TOC list instead of tree
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/search.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/search.ts
  packages/docusaurus-theme-classic/src/theme/TOCItems/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/tocUtils.test.ts
  packages/docusaurus-theme-common/src/utils/tocUtils.ts
  packages/docusaurus-types/src/index.d.ts
  project-words.txt
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/guides/markdown-features/markdown-features-inline-toc.mdx
  website/versioned_docs/version-2.0.0-beta.14/cli.md
  website/versioned_docs/version-2.0.0-beta.14/configuration.md
  website/versioned_docs/version-2.0.0-beta.14/guides/markdown-features/markdown-features-inline-toc.mdx
  website/versioned_docs/version-2.0.0-beta.15/cli.md
  website/versioned_docs/version-2.0.0-beta.15/configuration.md
  website/versioned_docs/version-2.0.0-beta.15/guides/markdown-features/markdown-features-inline-toc.mdx
Labels: CLA Signed, tag: breaking change, status: awaiting review

#6679 feat(create): better detection of package manager preference
  packages/create-docusaurus/src/index.ts
  website/docs/installation.md
Labels: CLA Signed, tag: polish

#6723 feat: sync color mode between browser tabs
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-common/src/utils/colorModeUtils.tsx
Labels: CLA Signed, tag: new feature, status: awaiting review

#6749 fix(theme-classic): fix breadcrumb home link bug with new useHomePageRoute() hook
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/routesUtils.test.ts
  packages/docusaurus-theme-common/src/utils/routesUtils.ts
Labels: CLA Signed, tag: bug fix

#6748 fix(theme-classic): temporarily disable toc heading autoscrolling
  packages/docusaurus-theme-common/src/utils/useTOCHighlight.ts
Labels: CLA Signed, tag: bug fix

#6750 feat(create): new --package-manager option; interactive package manager selection
  admin/scripts/test-release.sh
  packages/create-docusaurus/bin/index.js
  packages/create-docusaurus/src/index.ts
  website/docs/installation.md
Labels: CLA Signed, tag: new feature

#6752 chore: upgrade docsearch-react to v3 stable, bump dependencies
  .github/workflows/tests-e2e.yml
  admin/new.docusaurus.io/package.json
  package.json
  packages/create-docusaurus/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  website/docusaurus.config-blog-only.js
  website/docusaurus.config.js
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: breaking change

#6755 refactor: unify error handling behavior
  admin/scripts/generateExamples.mjs
  jest.config.mjs
  jest/snapshotPathNormalizer.js
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/inline-code.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/invalid-img.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/static/invalid.png
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/utils/index.ts
  packages/docusaurus-migrate/src/__tests__/__snapshots__/migration.test.ts.snap
  packages/docusaurus-migrate/src/__tests__/migration.test.ts
  packages/docusaurus-migrate/src/frontMatter.ts
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/mdx-blog-post/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/blogFrontMatter.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-plugin-content-docs/src/routes.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/index.ts
  packages/docusaurus-theme-common/src/utils/storageUtils.ts
  packages/docusaurus-theme-common/src/utils/usePluralForm.ts
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-utils/src/dataFileUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownParser.ts
  packages/docusaurus/bin/beforeCli.mjs
  packages/docusaurus/src/choosePort.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/clear.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/server/translations/translations.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/docusaurus/src/server/versions/index.ts
  packages/docusaurus/src/webpack/plugins/CleanWebpackPlugin.ts
  packages/lqip-loader/package.json
  packages/lqip-loader/src/index.ts
  packages/lqip-loader/src/lqip.ts
  project-words.txt
Labels: CLA Signed, tag: polish

#6756 test: sort migration test FS mock calls
  packages/docusaurus-migrate/src/__tests__/__snapshots__/migration.test.ts.snap
  packages/docusaurus-migrate/src/__tests__/migration.test.ts
Labels: CLA Signed, tag: internal

#6758 fix(theme-common): isSamePath should be case-insensitive
  packages/docusaurus-theme-common/src/utils/__tests__/pathUtils.test.ts
  packages/docusaurus-theme-common/src/utils/pathUtils.ts
  website/_dogfooding/_docs tests/tests/Case-Sentitive-Doc.md
Labels: CLA Signed, tag: bug fix

#6759 refactor(theme-classic): merge CSS files for Heading
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/styles.css
  packages/docusaurus-theme-classic/src/theme/Heading/styles.module.css
Labels: CLA Signed, tag: internal

#6761 chore: various internal fixes
  jest/snapshotPathNormalizer.js
  packages/docusaurus-migrate/src/__tests__/__snapshots__/migration.test.ts.snap
  website/package.json
  website/src/plugins/changelog/index.js
  website/src/plugins/changelog/syncAvatars.js
  yarn.lock
Labels: CLA Signed, tag: internal

#6772 docs: add basic documentation about client modules
  website/docs/advanced/client.md
  website/docs/api/docusaurus.config.js.md
  website/docs/api/plugin-methods/lifecycle-apis.md
Labels: CLA Signed, tag: documentation

#6773 refactor(utils): categorize functions into separate files
  packages/docusaurus-utils/src/__tests__/dataFileUtils.test.ts
  packages/docusaurus-utils/src/__tests__/emitUtils.test.ts
  packages/docusaurus-utils/src/__tests__/i18nUtils.test.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus-utils/src/__tests__/urlUtils.test.ts
  packages/docusaurus-utils/src/emitUtils.ts
  packages/docusaurus-utils/src/i18nUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/jsUtils.ts
  packages/docusaurus-utils/src/pathUtils.ts
  packages/docusaurus-utils/src/urlUtils.ts
Labels: CLA Signed, tag: internal

#6768 test: add TypeScript template to E2E test matrix
  .github/workflows/tests-e2e.yml
  admin/scripts/test-release.sh
Labels: CLA Signed, tag: internal

#6776 docs: make GitHub actions explanation aligned with the code
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#6777 refactor: move test utils into test folder
  packages/docusaurus/src/server/__tests__/testUtils.ts
  packages/docusaurus/src/webpack/__tests__/client.test.ts
  packages/docusaurus/src/webpack/__tests__/server.test.ts
Labels: CLA Signed

#6779 fix(mdx-loader): suppress image reading warning in Yarn PnP; log warning instead of error
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
Labels: CLA Signed, tag: bug fix
