Repository facebook/docusaurus, pull requests merged in 2022-07, with the labels that each got.

#7705 docs: mention MDXContent
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, pr: documentation

#7702 feat(deploy): copy local git config to tmp repo
  packages/docusaurus/src/commands/deploy.ts
Labels: CLA Signed, pr: polish

#7715 feat(theme-translations): Swedish translation
  packages/docusaurus-theme-translations/locales/sv/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/sv/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/sv/theme-search-algolia.json
Labels: CLA Signed, pr: new feature

#7684 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7723 docs: add GitHub pages deployment troubleshooting guide
  website/docs/deployment.mdx
Labels: CLA Signed, pr: documentation

#7726 chore: bump devcontainer to node 18
  .devcontainer/devcontainer.json
Labels: CLA Signed, pr: internal

#7710 refactor(types): split into multiple files
  packages/docusaurus-types/src/clientModule.d.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/context.d.ts
  packages/docusaurus-types/src/i18n.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus-types/src/routing.d.ts
  packages/docusaurus-types/src/swizzle.d.ts
  packages/docusaurus-types/src/utils.d.ts
Labels: CLA Signed, pr: internal

#7666 feat(algolia-search): allow translating search modal
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchTranslations/index.ts
  packages/docusaurus-theme-translations/locales/ar/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/base/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/bn/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/cs/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/da/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/de/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/es/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fa/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fil/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/he/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/hi/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/it/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ja/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ko/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pl/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ru/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/sr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/tr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/vi/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-search-algolia.json
Labels: CLA Signed, pr: new feature

#7718 docs: add pincman site to showcase
  .eslintignore
  .gitignore
  website/src/data/showcase/novu-docs.png
  website/src/data/showcase/pincman.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7727 fix(theme): show blog post edit link even when no tag & not truncated
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
Labels: CLA Signed, pr: bug fix

#7696 fix(theme-translations): improve grammar of zh translation
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
Labels: CLA Signed, pr: polish

#7731 fix(theme-translations): improve fr translation
  packages/docusaurus-theme-translations/locales/fr/theme-search-algolia.json
Labels: CLA Signed, pr: internal

#7730 docs: add Mixcore CMS to showcase
  website/src/data/showcase/mixcore.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7739 docs: swizzle react-live with eject
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, pr: documentation

#7732 feat(theme-translations): Dutch translation
  packages/docusaurus-theme-translations/locales/nl/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/nl/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/nl/theme-search-algolia.json
Labels: CLA Signed, pr: new feature

#7740 refactor(theme): nest theme icons under subfolder @theme/Icon/*
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Sidebar/ExpandButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/CollapseButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link/index.tsx
  packages/docusaurus-theme-classic/src/theme/EditThisPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/LinkItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Arrow/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Close/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/DarkMode/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Edit/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Edit/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Icon/ExternalLink/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/ExternalLink/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Icon/Home/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Language/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/LightMode/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Menu/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Header/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Toggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/NavbarNavLink.tsx
  website/src/plugins/changelog/theme/ChangelogItem/Header/Authors/index.tsx
  website/src/plugins/changelog/theme/Icon/Expand/index.tsx
  website/src/plugins/changelog/theme/types.d.ts
Labels: CLA Signed, pr: breaking change

#7742 chore: regenerate beta.22 examples
  examples/classic-typescript/docs/intro.md
  examples/classic-typescript/docs/tutorial-basics/create-a-blog-post.md
  examples/classic-typescript/docs/tutorial-basics/create-a-document.md
  examples/classic-typescript/docs/tutorial-basics/create-a-page.md
  examples/classic-typescript/docs/tutorial-basics/deploy-your-site.md
  examples/classic-typescript/docs/tutorial-extras/translate-your-site.md
  examples/classic-typescript/package.json
  examples/classic-typescript/src/pages/index.tsx
  examples/classic-typescript/yarn.lock
  examples/classic/docs/intro.md
  examples/classic/docs/tutorial-basics/create-a-blog-post.md
  examples/classic/docs/tutorial-basics/create-a-document.md
  examples/classic/docs/tutorial-basics/create-a-page.md
  examples/classic/docs/tutorial-basics/deploy-your-site.md
  examples/classic/docs/tutorial-extras/translate-your-site.md
  examples/classic/package.json
  examples/classic/src/pages/index.js
  examples/classic/yarn.lock
  examples/facebook/.eslintrc.js
  examples/facebook/.stylelintrc.js
  examples/facebook/babel.config.js
  examples/facebook/docs/intro.md
  examples/facebook/docs/tutorial-basics/create-a-blog-post.md
  examples/facebook/docs/tutorial-basics/create-a-document.md
  examples/facebook/docs/tutorial-basics/create-a-page.md
  examples/facebook/docs/tutorial-basics/deploy-your-site.md
  examples/facebook/docs/tutorial-extras/translate-your-site.md
  examples/facebook/docusaurus.config.js
  examples/facebook/package.json
  examples/facebook/sidebars.js
  examples/facebook/src/css/custom.css
  examples/facebook/src/pages/index.js
  examples/facebook/src/pages/styles.module.css
  examples/facebook/static/img/meta_opensource_logo.svg
  examples/facebook/static/img/meta_opensource_logo_negative.svg
  examples/facebook/static/img/oss_logo.png
  examples/facebook/yarn.lock
Labels: CLA Signed, pr: internal

#7754 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7752 fix(theme-classic): fix Layout theme height CSS
  packages/docusaurus-theme-classic/src/theme/Layout/styles.module.css
Labels: CLA Signed, pr: bug fix

#7757 docs: update evantay showcase image
  website/src/data/showcase/evantay.png
Labels: CLA Signed, pr: showcase

#7758 docs: move Yeecord repo to organization
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7761 fix(algolia-search): test for canUseIntersectionObserver
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
Labels: CLA Signed, pr: bug fix

#7760 docs: add StackQL Provider Registry to showcase
  website/src/data/showcase/registry.stackql.io.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7763 refactor(core): use has instead of get to test for existence in ExecEnv
  packages/docusaurus/src/client/exports/ExecutionEnvironment.ts
Labels: CLA Signed, pr: internal

#7755 fix(theme-classic): validate options properly
  packages/docusaurus-theme-classic/src/__tests__/options.test.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/options.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  website/docs/api/themes/theme-classic.md
Labels: CLA Signed, pr: bug fix

#7762 chore(theme-translations): complete ko translations
  packages/docusaurus-theme-translations/locales/ko/theme-search-algolia.json
Labels: CLA Signed, pr: polish

#7766 fix(migrate): import siteConfig with file extension
  packages/docusaurus-migrate/package.json
  packages/docusaurus-migrate/src/index.ts
Labels: CLA Signed, pr: bug fix

#7750 fix(deploy): revert "feat(deploy): copy local git config to tmp repo (#7702)"
  packages/docusaurus/src/commands/deploy.ts
Labels: CLA Signed, pr: bug fix

#7771 chore: bump Infima to 0.2.0-alpha.42, fix a:hover link bug
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, pr: bug fix, pr: maintenance

#7774 fix(sitemap): complete gracefully when all pages have noIndex meta
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
Labels: CLA Signed, pr: bug fix

#7776 fix(core): swizzle --eject js should not copy theme .d.ts files
  packages/docusaurus/src/commands/swizzle/__tests__/__fixtures__/theme/JsComponent/index.css
  packages/docusaurus/src/commands/swizzle/__tests__/__fixtures__/theme/JsComponent/index.d.ts
  packages/docusaurus/src/commands/swizzle/__tests__/__fixtures__/theme/JsComponent/index.js
  packages/docusaurus/src/commands/swizzle/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/commands/swizzle/__tests__/actions.test.ts
  packages/docusaurus/src/commands/swizzle/__tests__/components.test.ts
  packages/docusaurus/src/commands/swizzle/__tests__/testUtils.ts
  packages/docusaurus/src/commands/swizzle/actions.ts
  packages/docusaurus/src/commands/swizzle/index.ts
  website/_dogfooding/testSwizzleThemeClassic.mjs
Labels: CLA Signed, pr: bug fix

#7777 refactor(theme): fix duplicate page metadata usage
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/index.tsx
Labels: CLA Signed, pr: maintenance

#7770 docs: add Bruce Wiki website to showcase
  website/src/data/showcase/bruce-wiki.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7780 chore: regen v2.0.0-rc.1 examples
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
  examples/facebook/package.json
  examples/facebook/yarn.lock
Labels: CLA Signed, pr: internal

#7783 chore: ci tests should run on version branches "docusaurus-vX"
  .github/workflows/build-blog-only.yml
  .github/workflows/build-perf.yml
  .github/workflows/canary-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-swizzle.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed, pr: internal

#7781 refactor(core): log Docusaurus & Node version before exiting
  packages/docusaurus/bin/docusaurus.mjs
Labels: CLA Signed, pr: polish

#7786 fix: collapse siblings when first category is selected
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
Labels: CLA Signed, pr: bug fix

#7787 chore: add Netlify config for major version branch deploys (docusaurus-v2 branch)
  website/netlify.toml
Labels: CLA Signed, pr: internal

#7788 chore: Netlify branch deploys should only deploy default locale "en"
  website/docusaurus.config.js
  website/netlify.toml
  website/package.json
Labels: CLA Signed, pr: internal

#7789 chore: port docusaurus-v2 Netlify config changes
  website/docusaurus.config.js
  website/netlify.toml
  website/package.json
Labels: CLA Signed, pr: internal

#7794 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7796 docs: modify the description of deploying to Netlify
  website/docs/deployment.mdx
  website/versioned_docs/version-2.0.0-beta.22/deployment.mdx
  website/versioned_docs/version-2.0.0-rc.1/deployment.mdx
Labels: CLA Signed, pr: documentation

#7801 fix(utils): recognize ~~~ as code fences in link replacement
  packages/docusaurus-utils/src/__tests__/__snapshots__/markdownLinks.test.ts.snap
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/markdownLinks.ts
Labels: CLA Signed, pr: bug fix

#7803 docs: fix typo in deployment
  website/docs/deployment.mdx
Labels: CLA Signed, pr: internal

#7790 docs: add Tauri.app to showcase
  website/src/data/showcase/tauri.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7799 docs: formally document how admonitions can be customized
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
  website/docs/using-plugins.md
Labels: CLA Signed, pr: documentation

#7813 docs: fix anchor link
  website/community/5-release-process.md
  website/docs/deployment.mdx
Labels: CLA Signed, pr: internal

#7822 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7823 docs: add sequence website to showcase
  website/src/data/showcase/sequence.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7828 misc: change showcase submission process, use GitHub discussion
  admin/scripts/resizeImage.js
  website/src/data/users.tsx
  website/src/pages/showcase/index.tsx
Labels: CLA Signed, pr: maintenance

#7842 chore: update FB template headers
  packages/create-docusaurus/templates/facebook/.eslintrc.js
  packages/create-docusaurus/templates/facebook/.stylelintrc.js
  packages/create-docusaurus/templates/facebook/babel.config.js
  packages/create-docusaurus/templates/facebook/docusaurus.config.js
  packages/create-docusaurus/templates/facebook/sidebars.js
  packages/create-docusaurus/templates/facebook/src/css/custom.css
  packages/create-docusaurus/templates/facebook/src/pages/index.js
  packages/create-docusaurus/templates/facebook/src/pages/styles.module.css
Labels: CLA Signed

#7852 chore: fix CSS import order ESLint rule
  .eslintrc.js
  packages/docusaurus-theme-classic/src/nprogress.ts
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  project-words.txt
  website/src/pages/index.tsx
Labels: CLA Signed, pr: internal
