Repository facebook/docusaurus, pull requests merged in 2022-11, with the labels that each got.

#8272 docs: fix mermaid theme options typo
  website/docs/guides/markdown-features/markdown-features-diagrams.mdx
  website/versioned_docs/version-2.2.0/guides/markdown-features/markdown-features-diagrams.mdx
Labels: CLA Signed, pr: documentation

#8279 fix(create-docusaurus): improve init template misleading doc + add Docuaurus social card
  packages/create-docusaurus/templates/classic/docusaurus.config.js
  packages/create-docusaurus/templates/facebook/docusaurus.config.js
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/markdown-features.mdx
  packages/create-docusaurus/templates/shared/static/img/docusaurus-social-card.jpg
  packages/docusaurus-theme-classic/src/__tests__/options.test.ts
  website/docusaurus.config-blog-only.js
  website/docusaurus.config.js
  website/static/docusaurus-social-card.jpg
  website/static/docusaurus-social-card.png
  website/static/img/docusaurus-soc.png
Labels: CLA Signed, pr: bug fix, to backport

#8289 fix(theme-translations): complete Turkish theme translations
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
Labels: CLA Signed, pr: polish, to backport

#8292 docs: document tag types for insertHtmlContent
  website/docs/api/plugin-methods/lifecycle-apis.md
Labels: CLA Signed, pr: documentation

#8313 docs: link to migration guide from Blogger to Docusaurus / remove blog.johnnyreilly.com Google Analytics tag from docs
  website/community/2-resources.md
  website/docs/api/plugins/plugin-google-gtag.md
Labels: CLA Signed, pr: documentation

#8312 fix(theme-translations): complete Swedish theme translations
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-search-algolia.json
Labels: CLA Signed, pr: polish

#8282 fix(mermaid): fix Mermaid integration for v9.2 release
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-mermaid/src/client/index.ts
  packages/docusaurus-theme-mermaid/src/validateThemeConfig.ts
  packages/docusaurus-theme-mermaid/tsconfig.client.json
  packages/docusaurus-theme-mermaid/tsconfig.json
  yarn.lock
Labels: CLA Signed, pr: bug fix, to backport

#8319 fix(docs,theme): auto-generated category index should not display unlisted content
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  website/_dogfooding/_docs tests/tests/visibility/index.md
  website/_dogfooding/_docs tests/tests/visibility/only-drafts/draft-subcategory/index.md
  website/_dogfooding/_docs tests/tests/visibility/only-unlisteds/unlisted-subcategory/index.md
  website/_dogfooding/_docs tests/tests/visibility/some-drafts/draft-subcategory/index.md
  website/_dogfooding/_docs tests/tests/visibility/some-unlisteds/unlisted-subcategory/index.md
Labels: CLA Signed, pr: bug fix, to backport

#8335 docs: use Mermaid diagram for routing page
  website/docs/advanced/routing.md
  website/static/img/routes-dark.png
  website/static/img/routes.png
  website/versioned_docs/version-2.0.1/advanced/routing.md
  website/versioned_docs/version-2.1.0/advanced/routing.md
  website/versioned_docs/version-2.2.0/advanced/routing.md
Labels: CLA Signed, pr: documentation

#8350 fix(theme): forward className prop in theme-classic's Heading
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
Labels: CLA Signed, pr: bug fix

#8342 fix(core): normalize input for poll option
  packages/docusaurus/bin/docusaurus.mjs
Labels: CLA Signed, pr: bug fix

#8314 fix(utils): allow partially backticked markdown h1 contentTitles
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Labels: CLA Signed, pr: bug fix, to backport

#8320 docs: remove blog.johnnyreilly.com Google Analytics tag from docs part 2
  website/versioned_docs/version-2.0.1/api/plugins/plugin-google-gtag.md
  website/versioned_docs/version-2.1.0/api/plugins/plugin-google-gtag.md
  website/versioned_docs/version-2.2.0/api/plugins/plugin-google-gtag.md
Labels: CLA Signed, pr: documentation

#8323 docs: fix typo 'internalization'
  examples/classic-typescript/docusaurus.config.js
  examples/classic/docusaurus.config.js
  packages/create-docusaurus/templates/classic/docusaurus.config.js
Labels: CLA Signed, pr: documentation

#8359 docs: fix anchor link `#customFields`
  website/docs/api/docusaurus.config.js.md
Labels: CLA Signed, pr: documentation

#8364 docs: autogenerated page comment does not matching dirName in examples
  website/docs/guides/docs/sidebar/autogenerated.md
Labels: CLA Signed, pr: documentation

#8363 docs: fix unclosed admonition code block
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
Labels: CLA Signed, pr: documentation

#8275 fix(content-docs): add trailing slash to contentDirs, before passing it to isMDXPartial
  packages/docusaurus-plugin-content-docs/src/index.ts
Labels: CLA Signed, pr: bug fix, to backport

#8303 fix(mdx-loader): support nested admonitions
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__fixtures__/nesting.md
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
  website/_dogfooding/_pages tests/markdownPageTests.md
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
Labels: CLA Signed, pr: bug fix, to backport

#8352 docs: actually demo the zero-width space workaround in MDX
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, pr: documentation

#8328 fix(theme): preserve sidebar height on collapse
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/ExpandButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/styles.module.css
Labels: CLA Signed, pr: bug fix

#8397 feat(core): deploy CLI - add support for git url "insteadOf": use 'remote get-url' to determine source repo url
  packages/docusaurus/src/commands/deploy.ts
Labels: CLA Signed, pr: new feature

#8388 docs: point to where commit types are listed
  CONTRIBUTING.md
Labels: CLA Signed

#8392 docs: add i18n guide doc should link to i18n core config doc
  website/docs/i18n/i18n-introduction.md
Labels: CLA Signed, pr: documentation

#8381 fix(content-blog): blog Atom feed id + RSS feed guid should be fully qualified urls
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/feed.ts
Labels: CLA Signed, pr: bug fix

#8366 fix(theme): add missing aria-labels to the main and sidebar navs
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/Layout/index.tsx
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, pr: bug fix
