Repository facebook/docusaurus, pull requests merged in 2022-03, with the labels that each got.

#6789 chore: upgrade dependencies
  .github/workflows/build-blog-only.yml
  .github/workflows/build-perf.yml
  .github/workflows/canary-release.yml
  .github/workflows/lint.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-swizzle.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  admin/new.docusaurus.io/package.json
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/server/i18n.ts
  tsconfig.json
  website/docs/deployment.mdx
  website/versioned_docs/version-2.0.0-beta.15/deployment.mdx
  website/versioned_docs/version-2.0.0-beta.16/deployment.mdx
  yarn.lock
Labels: CLA Signed

#6813 docs: mark dyte as opensource in showcase
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6811 docs: add homepage banner in support of Ukraine
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
Labels: CLA Signed, tag: documentation

#6792 fix(mdx-loader): allow image paths to be URL encoded
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/img.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/static2/img2 copy.png
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/asset (2).pdf
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/asset.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  website/_dogfooding/_docs tests/tests/img-tests.mdx
  website/_dogfooding/_docs tests/tests/img/oss_logo (2).png
Labels: CLA Signed, tag: polish

#6767 fix(theme-classic): allow code tags containing inline elements to stay inline
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
Labels: CLA Signed, tag: bug fix

#6771 refactor(theme-classic): replace color mode toggle with button; remove switchConfig
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/styles.module.css
  packages/docusaurus-theme-classic/src/theme/IconDarkMode/index.tsx
  packages/docusaurus-theme-classic/src/theme/IconLightMode/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/api/themes/theme-configuration.md
  website/src/theme/ColorModeToggle.tsx
Labels: CLA Signed, tag: breaking change, tag: polish

#6783 feat: allow blog authors email
  .eslintrc.js
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/authorsMapFiles/authors.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/authorsMapFiles/authors.yml
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/authors.yml
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/i18n/en/docusaurus-plugin-content-blog/authors.yml
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/authors.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostAuthor/index.tsx
  website/_dogfooding/_blog tests/2021-09-13-dup-title.md
  website/blog/authors.yml
  website/docs/blog.mdx
Labels: CLA Signed, tag: new feature

#6816 fix(theme-common): docs breadcrumbs not working with baseUrl
  packages/docusaurus-theme-common/src/utils/__tests__/routesUtils.test.ts
  packages/docusaurus-theme-common/src/utils/routesUtils.ts
Labels: CLA Signed, tag: bug fix

#6817 docs: fix broken links
  website/blog/2022-01-24-docusaurus-2021-recap/index.md
  website/docs/deployment.mdx
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6821 test(content-docs): refactor navigation test snapshot
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/docs.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
Labels: CLA Signed, tag: internal

#6700 fix(content-docs): always sort autogenerated sidebar items by file/folder name by default
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/docs.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
Labels: CLA Signed, tag: bug fix

#6818 docs: add deploy with vercel button to README
  README.md
Labels: CLA Signed, tag: documentation

#6824 fix(theme-common): breadcrumbs home bug in docs-only
  packages/docusaurus-theme-common/src/utils/__tests__/routesUtils.test.ts
  packages/docusaurus-theme-common/src/utils/routesUtils.ts
Labels: CLA Signed, tag: bug fix

#6825 docs: Adds Netlify one click deploy to README
  README.md
Labels: CLA Signed, tag: documentation

#6826 refactor(theme-common): unify missing context errors
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/announcementBarUtils.tsx
  packages/docusaurus-theme-common/src/utils/colorModeUtils.tsx
  packages/docusaurus-theme-common/src/utils/docSidebarItemsExpandedState.tsx
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/DocsPreferredVersionProvider.tsx
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus-theme-common/src/utils/mobileSecondaryMenu.tsx
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus-theme-common/src/utils/scrollUtils.tsx
  packages/docusaurus-theme-common/src/utils/tabGroupChoiceUtils.tsx
Labels: CLA Signed, tag: polish

#6827 fix(theme-classic): restore docusaurus search meta
  packages/docusaurus-theme-classic/src/theme/SearchMetadata/index.tsx
Labels: CLA Signed, tag: bug fix

#6831 chore: update examples to beta.17
  examples/classic-typescript/package.json
  examples/classic-typescript/src/components/HomepageFeatures/index.tsx
  examples/classic-typescript/src/css/custom.css
  examples/classic-typescript/src/pages/index.module.css
  examples/classic-typescript/static/img/undraw_docusaurus_mountain.svg
  examples/classic-typescript/static/img/undraw_docusaurus_react.svg
  examples/classic-typescript/static/img/undraw_docusaurus_tree.svg
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/src/components/HomepageFeatures/index.js
  examples/classic/src/css/custom.css
  examples/classic/src/pages/index.module.css
  examples/classic/static/img/undraw_docusaurus_mountain.svg
  examples/classic/static/img/undraw_docusaurus_react.svg
  examples/classic/static/img/undraw_docusaurus_tree.svg
  examples/classic/yarn.lock
  examples/facebook/package.json
  examples/facebook/src/css/custom.css
  examples/facebook/src/pages/styles.module.css
  examples/facebook/static/img/undraw_docusaurus_mountain.svg
  examples/facebook/static/img/undraw_docusaurus_react.svg
  examples/facebook/static/img/undraw_docusaurus_tree.svg
  examples/facebook/yarn.lock
Labels: CLA Signed

#6832 docs: add Spicetify site to showcase
  website/src/data/showcase/spicetify.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6833 docs: make tutorial code block directly copyable
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-document.md
Labels: CLA Signed, tag: documentation

#6837 docs: add PcapPlusPlus to showcase
  website/src/data/showcase/pcapplusplus.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6838 fix(website): changelog plugin leads to CI bugs on release
  .github/workflows/build-perf.yml
  website/package.json
Labels: CLA Signed, tag: internal

#6848 misc(test): make E2E test use stable Yarn berry
  .github/workflows/tests-e2e.yml
Labels: CLA Signed

#6847 fix: minor Chinese translation fixes
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, tag: bug fix

#6849 fix(cli): write-heading-id should not generate colliding slugs when not overwriting
  packages/docusaurus/src/commands/__tests__/writeHeadingIds.test.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
Labels: CLA Signed, tag: bug fix

#6850 fix(core): make plugin lifecycles consistently bound to the plugin instance
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/external.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/themes/index.ts
Labels: CLA Signed, tag: polish

#6780 feat(content-docs): allow custom props through _category_.json
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  website/docs/guides/docs/sidebar/autogenerated.md
Labels: CLA Signed, tag: new feature

#6854 fix(core): fix swizzle legend typo
  packages/docusaurus/src/commands/swizzle/tables.ts
Labels: CLA Signed, tag: polish

#6855 docs: update Evan Tay personal site showcase
  admin/scripts/image-resize.mjs
  website/src/data/__tests__/user.test.ts
  website/src/data/showcase/evantay.png
  website/src/data/users.tsx
Labels: CLA Signed

#6857 test: improve test coverage
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-blog/src/translations.ts
  packages/docusaurus-plugin-content-docs/src/categoryGeneratedIndex.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__fixtures__/sidebars/invalid-docs/foo/_category_.json
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__fixtures__/sidebars/invalid-docs/foo/_category_.yml
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/generator.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/plugin3.js
  packages/docusaurus/src/server/plugins/__tests__/init.test.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/presets/index.ts
  packages/docusaurus/src/server/versions/__tests__/__fixtures__/dummy-plugin.js
  packages/docusaurus/src/server/versions/__tests__/__fixtures__/package.json
  packages/docusaurus/src/server/versions/__tests__/index.test.ts
  packages/docusaurus/src/server/versions/index.ts
Labels: CLA Signed, tag: internal

#6858 refactor(lqip-loader): split test files
  jest.config.mjs
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/lqip-loader/src/__tests__/lqip.test.ts
  packages/lqip-loader/src/__tests__/utils.test.ts
  packages/lqip-loader/src/index.ts
Labels: CLA Signed

#6860 fix(create): load entry file after node version checking
  packages/create-docusaurus/bin/index.js
Labels: CLA Signed, tag: polish

#6861 refactor: make JS executables included in the tsconfig for editor hints
  packages/create-docusaurus/package.json
  packages/create-docusaurus/tsconfig.build.json
  packages/create-docusaurus/tsconfig.json
  packages/docusaurus-migrate/bin/index.mjs
  packages/docusaurus-migrate/package.json
  packages/docusaurus-migrate/tsconfig.build.json
  packages/docusaurus-migrate/tsconfig.json
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/package.json
  packages/docusaurus/tsconfig.json
  packages/docusaurus/tsconfig.server.json
Labels: CLA Signed, tag: internal

#6862 docs: update showcase data
  website/src/data/showcase/amphora.png
  website/src/data/showcase/graphql-inspector.png
  website/src/data/showcase/liqvid.png
  website/src/data/showcase/ocpeasy.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6864 refactor: remove unnecessary default values normalized during validation
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/BlogArchivePage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/ThemedImage/index.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/exports/BrowserOnly.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/commands/commandUtils.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/html-tags/htmlTags.ts
  packages/docusaurus/src/server/html-tags/index.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/presets/__tests__/index.test.ts
  packages/docusaurus/src/server/presets/index.ts
  packages/docusaurus/src/webpack/plugins/CleanWebpackPlugin.ts
  packages/lqip-loader/src/index.ts
Labels: CLA Signed, tag: internal

#6866 refactor: improve types
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/preload.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: internal

#6871 docs: mark clutch and gulp as open-source
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6875 docs: update TRPG Engine showcase
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6856 docs: add Reddit Image Fetcher site to showcase
  website/src/data/showcase/reddit-image-fetcher.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6876 test(core): improve test coverage
  packages/docusaurus/src/server/__tests__/__snapshots__/brokenLinks.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/duplicateRoutes.test.ts.snap
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/__tests__/duplicateRoutes.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/duplicateRoutes.ts
  packages/docusaurus/src/server/html-tags/index.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/docusaurus.config.js
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/preset.js
  packages/docusaurus/src/server/plugins/__tests__/init.test.ts
  packages/docusaurus/src/server/presets/index.ts
Labels: CLA Signed

#6877 chore(theme-translations): complete Vietnamese translations
  packages/docusaurus-theme-translations/locales/vi/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-search-algolia.json
Labels: CLA Signed, tag: polish

#6878 fix(core): ensure stable webpack theme aliases sorting
  packages/docusaurus/src/server/themes/alias.ts
Labels: CLA Signed, tag: polish

#6880 refactor: prefer fs.outputFile to ensureDir + writeFile
  packages/docusaurus-migrate/src/__tests__/__snapshots__/migration.test.ts.snap
  packages/docusaurus-migrate/src/__tests__/migration.test.ts
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/writeRedirectFiles.test.ts
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-theme-translations/update.js
  packages/docusaurus-utils/src/__tests__/emitUtils.test.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus-utils/src/emitUtils.ts
  packages/docusaurus/src/commands/swizzle/actions.ts
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/server/translations/translations.ts
Labels: CLA Signed, tag: internal

#6881 docs: mention configureWebpack devServer return value
  packages/docusaurus-types/src/index.d.ts
  website/docs/api/plugin-methods/lifecycle-apis.md
Labels: CLA Signed, tag: documentation

#6846 refactor(theme-classic): consistently add span wrapper for layout links
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/NavbarNavLink.tsx
Labels: CLA Signed, tag: polish

#6842 feat(theme-classic): MDXContent wrapper component
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXContent/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
Labels: CLA Signed, tag: new feature

#6888 fix(theme-algolia): declare content-docs as dependency
  packages/docusaurus-theme-search-algolia/package.json
Labels: CLA Signed, tag: bug fix

#6887 fix(content-docs): give context about sidebar loading failure
  packages/docusaurus-plugin-content-docs/src/sidebars/index.ts
Labels: CLA Signed, tag: polish

#6883 docs(cli): add info about development on github codespaces
  project-words.txt
  website/docs/cli.md
Labels: CLA Signed, tag: documentation

#6889 docs: editorial fixes
  website/docs/advanced/client.md
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-head-metadata.mdx
  website/docs/guides/markdown-features/markdown-features-inline-toc.mdx
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
  website/docs/guides/whats-next.md
  website/docs/installation.md
  website/docs/styling-layout.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: documentation

#6891 refactor(theme-classic): avoid using clsx class dict with CSS modules
  packages/docusaurus-theme-classic/src/theme/BackToTopButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tag/index.tsx
  packages/docusaurus-theme-common/src/components/Details/index.tsx
Labels: CLA Signed, tag: internal

#6892 docs: add EduLinks site to showcase
  website/src/data/showcase/edulinks.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6844 refactor(theme-classic): split sidebar into smaller parts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/CollapseButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/CollapseButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/Content/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Mobile/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  project-words.txt
  website/src/theme/DocSidebar/Desktop/Content/index.js
Labels: CLA Signed, tag: polish

#6898 refactor: import jest as global; unify import style of some modules
  .eslintrc.js
  __tests__/validate-package-json.test.ts
  packages/docusaurus-logger/src/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/__tests__/index.test.ts
  packages/docusaurus-migrate/src/__tests__/migration.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/processor.test.ts
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  packages/docusaurus-theme-common/src/components/Details/index.tsx
  packages/docusaurus-theme-common/src/utils/announcementBarUtils.tsx
  packages/docusaurus-theme-common/src/utils/colorModeUtils.tsx
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/DocsPreferredVersionProvider.tsx
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus-theme-common/src/utils/mobileSecondaryMenu.tsx
  packages/docusaurus-theme-common/src/utils/scrollUtils.tsx
  packages/docusaurus-theme-common/src/utils/tabGroupChoiceUtils.tsx
  packages/docusaurus-theme-translations/__tests__/update.test.ts
  packages/docusaurus-utils-validation/src/__tests__/validationUtils.test.ts
  packages/docusaurus-utils/src/__tests__/emitUtils.test.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus/src/client/LinksCollector.tsx
  packages/docusaurus/src/client/__tests__/normalizeLocation.test.ts
  packages/docusaurus/src/client/clientEntry.tsx
  packages/docusaurus/src/client/exports/Interpolate.tsx
  packages/docusaurus/src/client/exports/__tests__/BrowserOnly.test.tsx
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.test.ts
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
  packages/docusaurus/src/deps.d.ts
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/__tests__/duplicateRoutes.test.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/themes/alias.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/client.test.ts
  packages/docusaurus/src/webpack/__tests__/server.test.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/plugins/ChunkAssetPlugin.ts
  packages/lqip-loader/src/__tests__/lqip.test.ts
  packages/lqip-loader/src/__tests__/utils.test.ts
  website/_dogfooding/_pages tests/link-tests.tsx
  website/_dogfooding/_pages tests/markdownPageTests.md
  website/src/components/APITable/index.tsx
  website/src/data/__tests__/user.test.ts
  website/src/pages/showcase/_components/ShowcaseCard/index.tsx
  website/src/pages/showcase/_components/ShowcaseTagSelect/index.tsx
Labels: CLA Signed, tag: internal

#6894 refactor(theme-classic): split theme footer into smaller components + swizzle config
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Footer/Copyright/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/LinkItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Links/MultiColumn/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Links/Simple/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Links/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Logo/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Logo/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/footerUtils.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Labels: CLA Signed, tag: polish

#6902 test(theme-common): improve test coverage
  .eslintrc.js
  package.json
  packages/docusaurus-migrate/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-migrate/src/__tests__/frontMatter.test.ts
  packages/docusaurus-migrate/src/__tests__/index.test.ts
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/writeRedirectFiles.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/blogUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/numberPrefix.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/slug.test.ts
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsClientUtils.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/utils.test.ts
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/utils/__tests__/__snapshots__/tocUtils.test.ts.snap
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/footerUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/generalUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/regexpUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/routesUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/searchUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/tocUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/useAlternatePageUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/useLocalPathname.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/usePluralForm.test.tsx
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus-theme-common/src/utils/generalUtils.ts
  packages/docusaurus-theme-common/src/utils/routesUtils.ts
  packages/docusaurus-theme-common/src/utils/usePluralForm.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils-common/src/__tests__/applyTrailingSlash.test.ts
  packages/docusaurus-utils/src/__tests__/emitUtils.test.ts
  packages/docusaurus-utils/src/__tests__/globUtils.test.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus-utils/src/__tests__/slugger.test.ts
  packages/docusaurus-utils/src/__tests__/urlUtils.test.ts
  packages/docusaurus/src/client/exports/__tests__/Translate.test.tsx
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.test.ts
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.test.tsx
  packages/docusaurus/src/commands/__tests__/deploy.test.ts
  packages/docusaurus/src/commands/__tests__/writeHeadingIds.test.ts
  packages/docusaurus/src/commands/swizzle/__tests__/components.test.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/init.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/init.test.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/server.test.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/lqip-loader/src/__tests__/utils.test.ts
Labels: CLA Signed, tag: internal

#6903 chore: spell-check test files
  .cspell.json
  __tests__/validate-package-json.test.ts
  packages/docusaurus-logger/src/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/headings/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/asset.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/static/static-json.json
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-migrate/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/redirectValidation.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/redirectValidation.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/pluginOptionSchema.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/blogFrontMatter.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/blogUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/foo/baz.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/wrong-sidebars.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/slug.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/generator.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/normalization.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.ts
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/__snapshots__/codeBlockUtils.test.ts.snap
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/regexpUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/tagUtils.test.ts
  packages/docusaurus-theme-live-codeblock/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-translations/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/__tests__/dataFileUtils.test.ts
  packages/docusaurus-utils/src/__tests__/i18nUtils.test.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus-utils/src/__tests__/slugger.test.ts
  packages/docusaurus-utils/src/__tests__/urlUtils.test.ts
  packages/docusaurus-utils/src/dataFileUtils.ts
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.test.tsx
  packages/docusaurus/src/commands/__tests__/writeHeadingIds.test.ts
  packages/docusaurus/src/commands/swizzle/__tests__/testUtils.ts
  packages/docusaurus/src/server/__tests__/__fixtures__/custom-site/docusaurus.config.js
  packages/docusaurus/src/server/__tests__/__fixtures__/docs/foo/baz.md
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/html-tags/__tests__/htmlTags.test.ts
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  project-words.txt
  website/src/data/__tests__/user.test.ts
Labels: CLA Signed, tag: internal

#6905 test: improve test coverage; properly test core client APIs
  jest.config.mjs
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/just-content.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/utils/index.ts
  packages/docusaurus-plugin-client-redirects/src/normalizePluginOptions.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/globalData.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/globalData.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/slug.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/globalData.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/utils.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-plugin-content-docs/src/slug.ts
  packages/docusaurus-plugin-content-docs/src/translations.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/DocsPreferredVersionProvider.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus/src/client/__tests__/normalizeLocation.test.ts
  packages/docusaurus/src/client/exports/Interpolate.tsx
  packages/docusaurus/src/client/exports/Translate.tsx
  packages/docusaurus/src/client/exports/__tests__/BrowserOnly.test.tsx
  packages/docusaurus/src/client/exports/__tests__/Interpolate.test.tsx
  packages/docusaurus/src/client/exports/__tests__/Translate.test.tsx
  packages/docusaurus/src/client/exports/__tests__/__snapshots__/Interpolate.test.tsx.snap
  packages/docusaurus/src/client/exports/__tests__/browserContext.test.tsx
  packages/docusaurus/src/client/exports/__tests__/docusaurusContext.test.tsx
  packages/docusaurus/src/client/exports/__tests__/useGlobalData.test.tsx
  packages/docusaurus/src/client/normalizeLocation.ts
  packages/docusaurus/src/server/config.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/webpack/__tests__/__fixtures__/host.crt
  packages/docusaurus/src/webpack/__tests__/__fixtures__/host.key
  packages/docusaurus/src/webpack/__tests__/__fixtures__/invalid.crt
  packages/docusaurus/src/webpack/__tests__/__fixtures__/invalid.key
  packages/docusaurus/src/webpack/__tests__/server.test.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  website/src/utils/jsUtils.ts
Labels: CLA Signed, tag: internal

#6904 docs: update image for digital support services
  website/src/data/showcase/digitalsupportservices.png
Labels: CLA Signed, tag: documentation

#6906 refactor: install eslint-plugin-regexp
  .eslintrc.js
  jest/snapshotPathNormalizer.js
  package.json
  packages/docusaurus-migrate/src/frontMatter.ts
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/numberPrefix.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/index.test.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/markdownLinks.ts
  packages/docusaurus-utils/src/markdownParser.ts
  packages/docusaurus-utils/src/urlUtils.ts
  packages/docusaurus/src/client/exports/Interpolate.tsx
  packages/docusaurus/src/commands/deploy.ts
  website/src/plugins/changelog/index.js
  website/src/remark/configTabs.mjs
  website/src/utils/colorUtils.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#6908 chore: do not print prototype in jest snapshot
  jest.config.mjs
  packages/docusaurus-logger/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-migrate/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/writeRedirectFiles.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/cli.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/docs.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/globalData.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/generator.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/normalization.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/postProcessor.test.ts.snap
  packages/docusaurus-plugin-content-pages/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-theme-classic/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-theme-common/src/utils/__tests__/__snapshots__/codeBlockUtils.test.ts.snap
  packages/docusaurus-theme-common/src/utils/__tests__/__snapshots__/tocUtils.test.ts.snap
  packages/docusaurus-utils/src/__tests__/__snapshots__/markdownLinks.test.ts.snap
  packages/docusaurus-utils/src/__tests__/__snapshots__/markdownParser.test.ts.snap
  packages/docusaurus/src/client/exports/__tests__/BrowserOnly.test.tsx
  packages/docusaurus/src/client/exports/__tests__/__snapshots__/Interpolate.test.tsx.snap
  packages/docusaurus/src/client/exports/__tests__/docusaurusContext.test.tsx
  packages/docusaurus/src/commands/swizzle/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/commands/swizzle/__tests__/components.test.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/client-modules/__tests__/index.test.ts
  packages/docusaurus/src/server/html-tags/__tests__/index.test.ts
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/init.test.ts.snap
  packages/docusaurus/src/server/presets/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/server/presets/__tests__/index.test.ts
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
Labels: CLA Signed

#6909 refactor(content-blog): improve error message of authors map validation
  packages/docusaurus-plugin-content-blog/src/__tests__/authors.test.ts
  packages/docusaurus-plugin-content-blog/src/authors.ts
Labels: CLA Signed, tag: polish

#6911 docs: add Reactive Button site to showcase
  website/src/data/showcase/reactive-button.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6910 refactor: convert Jest infrastructure to TS
  jest.config.mjs
  jest/emptyModule.ts
  jest/snapshotPathNormalizer.ts
  website/src/data/__tests__/user.test.ts
Labels: CLA Signed, tag: internal

#6781 feat(theme-translations): complete Russian translations
  packages/docusaurus-theme-translations/locales/ru/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-search-algolia.json
Labels: CLA Signed, tag: polish

#6697 feat: add SEO microdata for doc breadcrumbs
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
Labels: CLA Signed, tag: new feature

#6916 chore: upgrade dependencies
  admin/new.docusaurus.io/package.json
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/lqip-loader/package.json
  website/docs/migration/migration-manual.md
  website/package.json
  website/versioned_docs/version-2.0.0-beta.16/migration/migration-manual.md
  website/versioned_docs/version-2.0.0-beta.17/migration/migration-manual.md
  yarn.lock
Labels: CLA Signed

#6914 feat(theme-classic): set aria-expanded on expandable sidebar categories
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
Labels: CLA Signed, tag: polish

#6918 fix(content-blog): remove double leading slash in blog-only paginated view
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/blogUtils.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/blogUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
Labels: CLA Signed, tag: bug fix

#6922 refactor(content-blog): clean up type definitions; in-code documentation
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/blogUtils.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-blog/src/authors.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogLayout/index.tsx
  packages/docusaurus-utils/src/tags.ts
  website/docs/api/plugins/plugin-content-blog.md
Labels: CLA Signed, tag: internal

#6921 feat(core): allow plugin lifecycles to return relative paths
  packages/docusaurus-plugin-debug/src/index.ts
  packages/docusaurus-plugin-google-analytics/src/index.ts
  packages/docusaurus-plugin-google-gtag/src/index.ts
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-plugin-pwa/src/options.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-live-codeblock/src/index.ts
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/swizzle/context.ts
  packages/docusaurus/src/commands/swizzle/themes.ts
  packages/docusaurus/src/server/client-modules/__tests__/__fixtures__/plugin-empty.js
  packages/docusaurus/src/server/client-modules/__tests__/__fixtures__/plugin-foo-bar.js
  packages/docusaurus/src/server/client-modules/__tests__/__fixtures__/plugin-hello-world.js
  packages/docusaurus/src/server/client-modules/__tests__/index.test.ts
  packages/docusaurus/src/server/client-modules/index.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/themes/index.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  website/_dogfooding/dogfooding.config.js
  website/docs/api/plugin-methods/extend-infrastructure.md
  website/docusaurus.config.js
  website/src/plugins/changelog/index.js
Labels: CLA Signed, tag: new feature

#6924 refactor(client-redirects): migrate validation to validateOptions lifecycle
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/normalizePluginOptions.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/options.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/options.test.ts
  packages/docusaurus-plugin-client-redirects/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/normalizePluginOptions.ts
  packages/docusaurus-plugin-client-redirects/src/options.ts
Labels: CLA Signed, tag: internal

#6926 docs: clarify the usage of slug
  website/docs/guides/docs/docs-introduction.md
Labels: CLA Signed, tag: documentation

#6928 chore(pwa, sitemap, client-redirects, ideal-image): JSDoc for types
  packages/docusaurus-plugin-client-redirects/src/__tests__/options.test.ts
  packages/docusaurus-plugin-client-redirects/src/createRedirectPageContent.ts
  packages/docusaurus-plugin-client-redirects/src/plugin-client-redirects.d.ts
  packages/docusaurus-plugin-client-redirects/src/types.ts
  packages/docusaurus-plugin-ideal-image/src/plugin-ideal-image.d.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-plugin-pwa/src/plugin-pwa.d.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/plugin-sitemap.d.ts
  packages/docusaurus-plugin-sitemap/src/pluginOptionSchema.ts
Labels: CLA Signed, tag: polish

#6929 refactor(core): minor routes type improvement
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed

#6931 chore: tighten ESLint config
  .eslintrc.js
  __tests__/validate-package-json.test.ts
  admin/new.docusaurus.io/functions/codesandbox.ts
  admin/new.docusaurus.io/functions/index.ts
  admin/new.docusaurus.io/functions/stackblitz.ts
  admin/scripts/generateExamples.mjs
  admin/scripts/image-resize.mjs
  jest/snapshotPathNormalizer.ts
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/index.ts
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/options.test.ts
  packages/docusaurus-plugin-client-redirects/src/options.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/markdown/index.ts
  packages/docusaurus-plugin-content-docs/src/translations.ts
  packages/docusaurus-plugin-content-pages/src/markdownLoader.ts
  packages/docusaurus-plugin-debug/src/theme/DebugContent/index.tsx
  packages/docusaurus-plugin-pwa/src/registerSw.js
  packages/docusaurus-plugin-pwa/src/sw.js
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Copyright/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Links/MultiColumn/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Links/Simple/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus-theme-common/src/utils/generalUtils.ts
  packages/docusaurus-theme-common/src/utils/tagsUtils.ts
  packages/docusaurus-theme-common/src/utils/useTOCHighlight.ts
  packages/docusaurus-theme-translations/src/utils.ts
  packages/docusaurus-theme-translations/update.mjs
  packages/docusaurus-utils/src/dataFileUtils.ts
  packages/docusaurus-utils/src/markdownUtils.ts
  packages/docusaurus-utils/src/urlUtils.ts
  packages/docusaurus/bin/beforeCli.mjs
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/commands/swizzle/tables.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/stylelint-copyright/__tests__/index.test.js
  website/_dogfooding/testSwizzleThemeClassic.mjs
  website/src/data/__tests__/user.test.ts
  website/src/plugins/changelog/index.js
  website/src/plugins/changelog/theme/ChangelogItem/index.tsx
  website/src/utils/prismDark.mjs
  website/src/utils/prismLight.mjs
Labels: CLA Signed

#6932 refactor(theme-classic): little breadcrumbs improvements
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/styles.module.css
Labels: CLA Signed, tag: polish

#6933 feat(core,theme): useRouteContext + HtmlClassNameProvider
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/LayoutProviders/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/metadataUtilsTemp.tsx
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/client/exports/useRouteContext.tsx
  packages/docusaurus/src/client/routeContext.tsx
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  project-words.txt
Labels: CLA Signed, tag: new feature

#6930 refactor(theme-{classic,common}): refactor ColorModeToggle + useColorMode() hook
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/ThemedImage/index.tsx
  packages/docusaurus-theme-common/src/hooks/usePrismTheme.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/colorModeUtils.tsx
  website/docs/api/themes/theme-configuration.md
  website/src/components/ColorGenerator/index.tsx
  website/src/components/Zoom/index.tsx
  website/src/theme/ColorModeToggle.tsx
Labels: CLA Signed, tag: breaking change, tag: polish

#6936 fix: remove semicolon from HTML output
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
Labels: CLA Signed

#6941 refactor(core): improve error message when a page has no default-export
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
Labels: CLA Signed, tag: polish

#6944 chore: migrate Jest and website to SWC
  .eslintignore
  babel.config.js
  jest.config.mjs
  package.json
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  website/docusaurus.config.js
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#6943 docs: add SeaORM docs to showcase
  website/src/data/showcase/SeaORM.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6946 chore: upgrade dependencies
  admin/new.docusaurus.io/package.json
  package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/client/LinksCollector.tsx
  packages/docusaurus/src/client/serverEntry.tsx
  packages/stylelint-copyright/package.json
  website/package.json
  website/src/data/tweets.tsx
  yarn.lock
Labels: CLA Signed

#6937 fix(content-docs): warn when files are not tracked
  .devcontainer/devcontainer.json
  .eslintrc.js
  jest.config.mjs
  package.json
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-utils/src/gitUtils.ts
  packages/docusaurus-utils/src/index.ts
  project-words.txt
Labels: CLA Signed, tag: polish

#6947 fix(content-blog): only create archive route if there are blog posts
  packages/docusaurus-plugin-content-blog/src/index.ts
Labels: CLA Signed, tag: bug fix

#6948 docs: add pdfme docs to showcase
  website/src/data/showcase/pdfme.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6949 test: add tests for gitUtils
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-utils/src/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/gitUtils.ts
Labels: CLA Signed

#6951 test: fix Windows test for gitUtils
  packages/docusaurus-utils/src/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/gitUtils.ts
Labels: CLA Signed

#6784 feat(core): allow configureWebpack to return undefined
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: polish

#6955 refactor(core): move browserContext and docusaurusContext out of client exports
  jest.config.mjs
  packages/docusaurus-theme-common/src/utils/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/generalUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/useAlternatePageUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/useLocalPathname.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/usePluralForm.test.tsx
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/__tests__/browserContext.test.tsx
  packages/docusaurus/src/client/__tests__/docusaurusContext.test.tsx
  packages/docusaurus/src/client/browserContext.tsx
  packages/docusaurus/src/client/docusaurusContext.tsx
  packages/docusaurus/src/client/exports/__tests__/BrowserOnly.test.tsx
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.test.tsx
  packages/docusaurus/src/client/exports/__tests__/useGlobalData.test.tsx
  packages/docusaurus/src/client/exports/useDocusaurusContext.ts
  packages/docusaurus/src/client/exports/useIsBrowser.ts
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
Labels: CLA Signed, tag: internal

#6956 test: improve test coverage; reorder theme-common files
  jest.config.mjs
  package.json
  packages/docusaurus-theme-common/src/components/Details/index.tsx
  packages/docusaurus-theme-common/src/contexts/announcementBar.tsx
  packages/docusaurus-theme-common/src/contexts/colorMode.tsx
  packages/docusaurus-theme-common/src/contexts/docSidebarItemsExpandedState.tsx
  packages/docusaurus-theme-common/src/contexts/docsPreferredVersion.tsx
  packages/docusaurus-theme-common/src/contexts/navbarMobileSidebar.tsx
  packages/docusaurus-theme-common/src/contexts/tabGroupChoice.tsx
  packages/docusaurus-theme-common/src/hooks/useHideableNavbar.ts
  packages/docusaurus-theme-common/src/hooks/useKeyboardNavigation.ts
  packages/docusaurus-theme-common/src/hooks/useLockBodyScroll.ts
  packages/docusaurus-theme-common/src/hooks/usePrismTheme.ts
  packages/docusaurus-theme-common/src/hooks/useSearchPage.ts
  packages/docusaurus-theme-common/src/hooks/useTOCHighlight.ts
  packages/docusaurus-theme-common/src/hooks/useWindowSize.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/reactUtils.test.ts
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/DocsPreferredVersionStorage.ts
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/useDocsPreferredVersion.ts
  packages/docusaurus-theme-common/src/utils/navbarSecondaryMenu.tsx
  packages/docusaurus-theme-common/src/utils/navbarUtils.tsx
  packages/docusaurus-theme-common/src/utils/pathUtils.ts
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus-theme-common/src/utils/routesUtils.ts
  packages/docusaurus-theme-common/src/utils/useContextualSearchFilters.ts
  packages/docusaurus-theme-common/src/utils/useLocalPathname.ts
  packages/docusaurus-theme-common/src/utils/useLocationChange.ts
  packages/docusaurus-theme-common/src/utils/usePluralForm.ts
  packages/docusaurus-theme-common/src/utils/usePrevious.ts
  packages/docusaurus/src/client/__tests__/routeContext.test.tsx
  packages/docusaurus/src/client/exports/__tests__/Head.test.tsx
  packages/docusaurus/src/client/exports/__tests__/__snapshots__/Head.test.tsx.snap
  packages/docusaurus/src/client/exports/__tests__/useRouteContext.test.tsx
  packages/docusaurus/src/client/exports/useRouteContext.tsx
  packages/docusaurus/src/client/routeContext.tsx
  website/src/utils/__tests__/jsUtils.test.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#6957 chore(types): remove querystring from dependencies
  packages/docusaurus-types/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#6961 refactor: unify how validateOptions is handled
  packages/docusaurus-plugin-client-redirects/src/__tests__/options.test.ts
  packages/docusaurus-plugin-client-redirects/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/options.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/options.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/pluginOptionSchema.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/frontMatter.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/frontMatter.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-pages/src/frontMatter.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/options.ts
  packages/docusaurus-plugin-google-analytics/src/index.ts
  packages/docusaurus-plugin-google-gtag/src/index.ts
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-pwa/src/options.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/options.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/options.ts
  packages/docusaurus-plugin-sitemap/src/plugin-sitemap.d.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-live-codeblock/src/validateThemeConfig.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils-validation/src/__tests__/validationUtils.test.ts
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus/src/server/plugins/init.ts
Labels: CLA Signed, tag: internal

#6967 chore: publish stylelint-copyright again
  packages/stylelint-copyright/package.json
Labels: CLA Signed, tag: internal

#6974 feat(theme-common): JSDoc for all APIs
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  packages/docusaurus-theme-common/src/components/Details/index.tsx
  packages/docusaurus-theme-common/src/contexts/__tests__/docsSidebar.test.tsx
  packages/docusaurus-theme-common/src/contexts/__tests__/docsVersion.test.tsx
  packages/docusaurus-theme-common/src/contexts/announcementBar.tsx
  packages/docusaurus-theme-common/src/contexts/colorMode.tsx
  packages/docusaurus-theme-common/src/contexts/docSidebarItemsExpandedState.tsx
  packages/docusaurus-theme-common/src/contexts/docsPreferredVersion.tsx
  packages/docusaurus-theme-common/src/contexts/docsSidebar.tsx
  packages/docusaurus-theme-common/src/contexts/docsVersion.tsx
  packages/docusaurus-theme-common/src/contexts/navbarMobileSidebar.tsx
  packages/docusaurus-theme-common/src/contexts/navbarSecondaryMenu.tsx
  packages/docusaurus-theme-common/src/contexts/tabGroupChoice.tsx
  packages/docusaurus-theme-common/src/hooks/useHideableNavbar.ts
  packages/docusaurus-theme-common/src/hooks/useKeyboardNavigation.ts
  packages/docusaurus-theme-common/src/hooks/useLockBodyScroll.ts
  packages/docusaurus-theme-common/src/hooks/usePrismTheme.ts
  packages/docusaurus-theme-common/src/hooks/useSearchPage.ts
  packages/docusaurus-theme-common/src/hooks/useTOCHighlight.ts
  packages/docusaurus-theme-common/src/hooks/useWindowSize.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  packages/docusaurus-theme-common/src/utils/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/pathUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/routesUtils.test.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus-theme-common/src/utils/footerUtils.ts
  packages/docusaurus-theme-common/src/utils/generalUtils.ts
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
  packages/docusaurus-theme-common/src/utils/jsUtils.ts
  packages/docusaurus-theme-common/src/utils/metadataUtils.tsx
  packages/docusaurus-theme-common/src/utils/navbarUtils.tsx
  packages/docusaurus-theme-common/src/utils/pathUtils.ts
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus-theme-common/src/utils/regexpUtils.ts
  packages/docusaurus-theme-common/src/utils/routesUtils.ts
  packages/docusaurus-theme-common/src/utils/scrollUtils.tsx
  packages/docusaurus-theme-common/src/utils/searchUtils.ts
  packages/docusaurus-theme-common/src/utils/storageUtils.ts
  packages/docusaurus-theme-common/src/utils/tagsUtils.ts
  packages/docusaurus-theme-common/src/utils/tocUtils.ts
  packages/docusaurus-theme-common/src/utils/useAlternatePageUtils.ts
  packages/docusaurus-theme-common/src/utils/useContextualSearchFilters.ts
  packages/docusaurus-theme-common/src/utils/useLocalPathname.ts
  packages/docusaurus-theme-common/src/utils/useLocationChange.ts
  packages/docusaurus-theme-common/src/utils/usePluralForm.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Labels: CLA Signed, tag: polish

#6973 fix(content-docs): suppress git error on multiple occurrences
  .eslintrc.js
  jest.config.mjs
  jest/utils/git.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-utils/src/__tests__/gitUtils.test.ts
Labels: CLA Signed, tag: bug fix

#6977 fix(validation): allow non-object params to remark/rehype plugins
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
Labels: CLA Signed

#6978 docs: npm run tsc -> npx tsc
  website/docs/typescript-support.md
Labels: CLA Signed, tag: documentation

#6964 refactor: replace text-based copy code button with icons
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/CopyButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/CopyButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed, tag: polish

#6980 feat(utils): JSDoc for all APIs
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils-validation/src/JoiFrontMatter.ts
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus-utils/src/__tests__/globUtils.test.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/__tests__/tags.test.ts
  packages/docusaurus-utils/src/constants.ts
  packages/docusaurus-utils/src/dataFileUtils.ts
  packages/docusaurus-utils/src/emitUtils.ts
  packages/docusaurus-utils/src/gitUtils.ts
  packages/docusaurus-utils/src/globUtils.ts
  packages/docusaurus-utils/src/hashUtils.ts
  packages/docusaurus-utils/src/i18nUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/jsUtils.ts
  packages/docusaurus-utils/src/markdownLinks.ts
  packages/docusaurus-utils/src/markdownUtils.ts
  packages/docusaurus-utils/src/pathUtils.ts
  packages/docusaurus-utils/src/slugger.ts
  packages/docusaurus-utils/src/tags.ts
  packages/docusaurus-utils/src/urlUtils.ts
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/translations/translations.ts
  project-words.txt
Labels: CLA Signed, tag: polish

#6983 fix(search): bump Infima, fix Docusaurus search issue due to broken CSS selector
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
  yarn.lock
Labels: CLA Signed, tag: bug fix

#6986 fix(theme-classic): minor code copy button improvements
  packages/docusaurus-theme-classic/src/theme/CodeBlock/CopyButton/index.tsx
Labels: CLA Signed, tag: polish

#6985 refactor(theme-classic): remove span wrappers from layout links
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/LinkItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/NavbarNavLink.tsx
Labels: CLA Signed, tag: polish

#6989 refactor: extract MDX components
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/MDXComponents/A.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Code.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Details.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Head.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Heading.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Img.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Img.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Pre.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Ul.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Ul.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  project-words.txt
Labels: CLA Signed, tag: breaking change, tag: polish

#6988 docs: fix example admonition syntax
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
Labels: CLA Signed, tag: documentation

#6992 refactor(lqip-loader): remove unused palette option
  packages/lqip-loader/README.md
  packages/lqip-loader/package.json
  packages/lqip-loader/src/__tests__/lqip.test.ts
  packages/lqip-loader/src/__tests__/utils.test.ts
  packages/lqip-loader/src/index.ts
  packages/lqip-loader/src/lqip.ts
  packages/lqip-loader/src/utils.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#6991 chore: upgrade dependencies
  admin/new.docusaurus.io/package.json
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/lqip-loader/README.md
  website/package.json
  yarn.lock
Labels: CLA Signed

#6990 feat: lazy-load external images + ability to customize image display
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Img.tsx
Labels: CLA Signed, tag: new feature

#6993 fix(core): prevent useBaseUrl returning /base/base when on /base
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.test.tsx
  packages/docusaurus/src/client/exports/useBaseUrl.ts
Labels: CLA Signed, tag: bug fix

#6994 refactor: better external link icon positioning
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/IconExternalLink/styles.module.css
Labels: CLA Signed, tag: polish

#6950 refactor(theme-classic): clean up CSS of doc cards
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCardList/index.tsx
Labels: CLA Signed, tag: polish

#6987 refactor(theme-classic): cleanup of code blocks
  packages/docusaurus-theme-classic/src/theme/CodeBlock/CopyButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed, tag: polish

#6971 refactor: improve a11y of dropdown menu
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem.tsx
Labels: CLA Signed, tag: polish

#6997 fix(validation): improve error messages for a few schemas
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed, tag: polish

#6859 feat(content-docs): autogenerate category with linked doc metadata as fallback
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/generator.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/processor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/guides/docs/sidebar/autogenerated.md
Labels: CLA Signed, tag: breaking change, tag: polish

#7002 chore: regen examples for 2.0 beta.18
  examples/classic-typescript/docs/tutorial-basics/create-a-document.md
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/docs/tutorial-basics/create-a-document.md
  examples/classic/package.json
  examples/classic/yarn.lock
  examples/facebook/docs/tutorial-basics/create-a-document.md
  examples/facebook/package.json
  examples/facebook/yarn.lock
Labels: CLA Signed, tag: internal

#7000 docs: remove unnecessary semicolon
  website/docs/guides/markdown-features/markdown-features-inline-toc.mdx
Labels: CLA Signed

#7005 refactor: split DocSidebarItem by item type
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Html.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Html.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
Labels: CLA Signed, tag: polish

#7006 refactor: split and cleanup theme/DocPage
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Aside.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Main.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-common/src/contexts/__tests__/docsSidebar.test.tsx
  packages/docusaurus-theme-common/src/contexts/docsSidebar.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
Labels: CLA Signed, tag: polish

#7014 fix(types): declare history and react-loadable as dependencies
  packages/docusaurus-types/package.json
Labels: CLA Signed, tag: bug fix

#7015 fix(theme-classic): do not add caret for non-collapsible categories
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category.tsx
Labels: CLA Signed, tag: bug fix

#7017 refactor: remove copyright comment from swizzled components
  packages/docusaurus/src/commands/swizzle/__tests__/__fixtures__/theme/ComponentInFolder/index.css
  packages/docusaurus/src/commands/swizzle/__tests__/__fixtures__/theme/ComponentInFolder/index.tsx
  packages/docusaurus/src/commands/swizzle/__tests__/__fixtures__/theme/FirstLevelComponent.css
  packages/docusaurus/src/commands/swizzle/__tests__/__fixtures__/theme/FirstLevelComponent.tsx
  packages/docusaurus/src/commands/swizzle/actions.ts
Labels: CLA Signed, tag: polish

#7021 refactor(theme): extract plumbing code of BTT button into theme-common
  packages/docusaurus-theme-classic/src/theme/BackToTopButton/index.tsx
  packages/docusaurus-theme-common/src/hooks/useBackToTopButton.ts
  packages/docusaurus-theme-common/src/hooks/useHideableNavbar.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/scrollUtils.tsx
Labels: CLA Signed, tag: internal

#7020 docs: add Divine WSF and Ghostly to showcase
  website/src/data/showcase/divine-wsf.png
  website/src/data/showcase/ghostly.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7023 refactor: fix a few places of path handling
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-utils/src/dataFileUtils.ts
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/server/translations/translations.ts
Labels: CLA Signed

#7013 fix(theme-classic): adjust shadow on code block
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
Labels: CLA Signed, tag: bug fix

#7016 docs: consistently use sidebars.js filename
  website/docs/guides/docs/versioning.md
  website/docs/installation.md
  website/versioned_docs/version-2.0.0-beta.17/guides/docs/versioning.md
  website/versioned_docs/version-2.0.0-beta.17/installation.md
  website/versioned_docs/version-2.0.0-beta.18/guides/docs/versioning.md
  website/versioned_docs/version-2.0.0-beta.18/installation.md
Labels: CLA Signed, tag: documentation

#7027 refactor(content-docs): deduplicate types, JSDoc for some APIs
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/mdx-loader.d.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/globalData.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/props.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/categoryGeneratedIndex.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/frontMatter.ts
  packages/docusaurus-plugin-content-docs/src/globalData.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/markdown/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-docs/src/markdown/linkify.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/routes.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/postProcessor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/processor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/utils.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/postProcessor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/processor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-plugin-content-docs/src/slug.ts
  packages/docusaurus-plugin-content-docs/src/tags.ts
  packages/docusaurus-plugin-content-docs/src/translations.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
  packages/docusaurus-theme-live-codeblock/src/types.d.ts
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, tag: breaking change, tag: internal

#7019 feat(logger): new "url" format, add double quotes around paths
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-logger/README.md
  packages/docusaurus-logger/src/__tests__/index.test.ts
  packages/docusaurus-logger/src/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/normalization.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/server/plugins/index.ts
Labels: CLA Signed, tag: polish

#7022 docs: add Easypanel to showcase
  website/src/data/showcase/easypanel.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7025 fix: make docs page wrapper take full height
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
Labels: CLA Signed, tag: bug fix

#7029 refactor: console output improvements
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/commands/swizzle/__tests__/__snapshots__/actions.test.ts.snap
  packages/docusaurus/src/commands/swizzle/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/commands/swizzle/actions.ts
  packages/docusaurus/src/commands/swizzle/index.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed, tag: polish

#7030 fix: expand doc main container to full width on mobiles
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/styles.module.css
Labels: CLA Signed

#7033 fix(theme): only parse HTML- and JSX-style comments in MD code
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
Labels: CLA Signed, tag: bug fix

#7035 refactor: minor type improvements
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-types/package.json
  packages/docusaurus-types/src/index.d.ts
Labels: CLA Signed

#7043 fix(utils): parse Markdown headings with CRLF line break
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Labels: CLA Signed, tag: bug fix

#7031 chore(theme-translations): complete German translations
  packages/docusaurus-theme-translations/locales/de/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-search-algolia.json
Labels: CLA Signed, tag: polish

#7048 fix(theme-classic): add caret for dropdown on mobile
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem.tsx
Labels: CLA Signed, tag: bug fix

#7049 fix(theme): add bash style to Markdown comment styles
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
Labels: CLA Signed

#7050 docs: add import React statement in JSX file example
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, tag: documentation

#7054 refactor(core): refactor routes generation logic
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/routesUtils.test.ts
  packages/docusaurus-theme-common/src/utils/routesUtils.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/__tests__/emitUtils.test.ts
  packages/docusaurus-utils/src/emitUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/client/flat.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/__tests__/routes.test.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/plugins/routeConfig.ts
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/api/plugin-methods/lifecycle-apis.md
Labels: CLA Signed, tag: internal

#7057 fix(theme-common): use native scrolling when smooth behavior set in CSS
  packages/docusaurus-theme-common/src/utils/scrollUtils.tsx
Labels: CLA Signed, tag: bug fix

#7059 docs: add firelordjs to showcase
  website/src/data/showcase/firelordjs.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#7061 docs: add docusaurus-plugin-typedoc to resources
  website/community/2-resources.md
Labels: CLA Signed, tag: documentation

#7065 chore: upgrade dependencies
  admin/new.docusaurus.io/package.json
  package.json
  packages/create-docusaurus/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-translations/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/translations/translations.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
  packages/docusaurus/src/webpack/aliases/index.ts
  packages/stylelint-copyright/package.json
  project-words.txt
  website/package.json
  yarn.lock
Labels: CLA Signed

#7066 fix(core): all plugin lifecycles should receive translated content
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/server/plugins/index.ts
Labels: CLA Signed, tag: bug fix

#7067 refactor(theme-classic): extract doc-related navbar items' logic to theme-common
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocSidebarNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/utils.ts
  packages/docusaurus-theme-common/src/contexts/docsPreferredVersion.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus-theme-common/src/utils/searchUtils.ts
Labels: CLA Signed, tag: internal

#7075 refactor(core): add comments for react-loadable logic
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/client/prefetch.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/routes.ts
Labels: CLA Signed

#6746 fix(website): lazy-load YT iframe
  website/src/pages/index.tsx
Labels: CLA Signed, tag: documentation

#4997 perf(mdx-loader): cache mdx/remark compiler instances
  packages/docusaurus-mdx-loader/src/deps.d.ts
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
Labels: CLA Signed, tag: performance, status: awaiting review
