Repository facebook/docusaurus, pull requests merged in 2022-01, with the labels that each got.

#6242 fix(docs): update oxidizer website url
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6244 fix(content-blog): always convert front matter date as UTC
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
Labels: CLA Signed, tag: bug fix

#6265 docs: add Eric JiuRan's blog to showcase
  website/src/data/showcase/eric.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6237 refactor(core): convert serverEntry.js to TS
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/client/templates/ssr.html.template.d.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/deps.d.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/webpack/templates/index.html.template.ejs
  packages/docusaurus/src/webpack/templates/ssr.html.template.ts
  packages/docusaurus/tsconfig.client.json
Labels: CLA Signed, tag: internal

#6248 feat(sitemap): remove trailingSlash option; respect noIndex config
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/plugin-sitemap.d.ts
  packages/docusaurus-plugin-sitemap/src/pluginOptionSchema.ts
  website/docs/api/plugins/plugin-sitemap.md
Labels: CLA Signed, tag: new feature, tag: breaking change

#6240 refactor(theme-classic): use front matter from metadata for BlogPostPage
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
Labels: CLA Signed, tag: polish

#6272 docs: make tsconfig work OOTB in typescript guide
  website/docs/typescript-support.md
Labels: CLA Signed, tag: documentation

#6269 docs: add Ionic to showcase
  website/src/data/showcase/ionic.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6239 feat(content-docs): allow SEO metadata for category index pages
  packages/docusaurus-plugin-content-docs/src/categoryGeneratedIndex.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/routes.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/index.tsx
  website/sidebars.js
Labels: CLA Signed, tag: new feature

#6139 feat(theme-classic): new navbar item linking to a sidebar
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/globalData.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/utils.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocSidebarNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  website/docs/api/themes/theme-configuration.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature

#6275 fix(website): fix config-tabs breaking after translation
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-content-pages.md
  website/docs/api/plugins/plugin-google-analytics.md
  website/docs/api/plugins/plugin-google-gtag.md
  website/docs/api/plugins/plugin-sitemap.md
  website/src/remark/configTabs.js
Labels: CLA Signed, tag: documentation

#6271 docs: add FlatifyCSS to showcase
  website/src/data/showcase/flatifycss.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6276 fix(migrate): migration CLI should correctly migrate gtag options
  packages/docusaurus-migrate/src/__tests__/__fixtures__/expectedSiteConfig.js
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-migrate/src/types.ts
  website/docs/migration/migration-manual.md
  website/versioned_docs/version-2.0.0-beta.14/migration/migration-manual.md
Labels: CLA Signed, tag: bug fix

#6277 refactor(content-docs): make readVersionsMetadata async
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
Labels: CLA Signed, tag: internal

#6279 refactor(core): use native types from webpack-dev-server
  package.json
  packages/docusaurus/src/commands/start.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#6278 docs: add Khyron Realm to showcase
  website/src/data/showcase/khyron_realm.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6274 docs: add dyte docs to showcase
  website/src/data/showcase/dyte.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6284 fix(preset-classic): throw if preset finds GA options in theme config
  packages/docusaurus-plugin-google-analytics/src/index.ts
  packages/docusaurus-plugin-google-gtag/src/index.ts
  packages/docusaurus-preset-classic/src/index.ts
Labels: CLA Signed, tag: polish

#6280 docs: elaborate on doc versioning
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/guides/docs/versioning.md
  website/src/remark/configTabs.js
Labels: CLA Signed, tag: documentation

#6281 docs: Add kwatch to showcase
  admin/scripts/image-resize.mjs
  website/src/data/showcase/kwatch.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6285 refactor(website): further optimize showcase images
  website/src/data/showcase/aide_jeune.png
  website/src/data/showcase/apache-apisix.png
  website/src/data/showcase/benthos.png
  website/src/data/showcase/boxyhq.png
  website/src/data/showcase/componentkit.png
  website/src/data/showcase/darklang.png
  website/src/data/showcase/draftjs.png
  website/src/data/showcase/flagsmith.png
  website/src/data/showcase/iota-wiki.png
  website/src/data/showcase/joelpo.png
  website/src/data/showcase/metro.png
  website/src/data/showcase/mikro-orm.png
  website/src/data/showcase/node-serialport.png
  website/src/data/showcase/pearl-ui.png
  website/src/data/showcase/pyre.png
  website/src/data/showcase/relay.png
  website/src/data/showcase/remotion.png
  website/src/data/showcase/runiac.png
  website/src/data/showcase/shotstack.png
  website/src/data/showcase/sicope-model.png
  website/src/data/showcase/tourmaline.png
  website/src/data/showcase/unmand.png
  website/src/data/showcase/webiny.png
Labels: CLA Signed, tag: documentation

#6231 docs: update showcase images; remove GraphQL Code Generator site
  admin/scripts/image-resize.mjs
  package.json
  website/package.json
  website/src/data/__tests__/user.test.ts
  website/src/data/showcase/agilets.png
  website/src/data/showcase/algolia.png
  website/src/data/showcase/apache-apisix.png
  website/src/data/showcase/benthos.png
  website/src/data/showcase/botonic.png
  website/src/data/showcase/datagit.png
  website/src/data/showcase/djamaile.png
  website/src/data/showcase/erxes.png
  website/src/data/showcase/evantay.png
  website/src/data/showcase/fbt.png
  website/src/data/showcase/firecms.png
  website/src/data/showcase/foal.png
  website/src/data/showcase/gladys-assistant.png
  website/src/data/showcase/gotenberg.png
  website/src/data/showcase/graphql-mesh.png
  website/src/data/showcase/johnnyreilly.png
  website/src/data/showcase/nanos-world.png
  website/src/data/showcase/react-navigation.png
  website/src/data/showcase/redis-developer.png
  website/src/data/showcase/rnrh.png
  website/src/data/showcase/supabase.png
  website/src/data/showcase/wasp.png
  website/src/data/showcase/zxuqian.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6283 refactor(theme-classic): apply import/no-named-export eslint rule
  .eslintrc.js
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItems/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItems/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocSidebarNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/NavbarNavLink.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/utils.ts
  packages/docusaurus-theme-classic/src/theme/hooks/useDocs.ts
Labels: CLA Signed, tag: internal

#6287 refactor: new @docusaurus/plugin-content-docs/client interface
  jest.config.js
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/client/globalDataHooks.ts
  packages/docusaurus-plugin-content-docs/src/client/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/DocVersionBanner/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocSidebarNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useDocs.ts
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/DocsPreferredVersionProvider.tsx
  packages/docusaurus-theme-common/src/utils/docsPreferredVersion/useDocsPreferredVersion.ts
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus-theme-common/src/utils/useContextualSearchFilters.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  website/src/pages/versions.tsx
Labels: CLA Signed, tag: internal

#6289 refactor: move @theme/hooks to @docusaurus/theme-common
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/LayoutProviders/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-classic/src/theme/ThemeContext.ts
  packages/docusaurus-theme-classic/src/theme/ThemeProvider/index.tsx
  packages/docusaurus-theme-classic/src/theme/ThemedImage/index.tsx
  packages/docusaurus-theme-classic/src/theme/UserPreferencesProvider/index.tsx
  packages/docusaurus-theme-classic/src/theme/hooks/useTabGroupChoice.ts
  packages/docusaurus-theme-classic/src/theme/hooks/useThemeContext.ts
  packages/docusaurus-theme-classic/src/theme/hooks/useUserPreferencesContext.ts
  packages/docusaurus-theme-common/src/hooks/styles.css
  packages/docusaurus-theme-common/src/hooks/useHideableNavbar.ts
  packages/docusaurus-theme-common/src/hooks/useKeyboardNavigation.ts
  packages/docusaurus-theme-common/src/hooks/useLockBodyScroll.ts
  packages/docusaurus-theme-common/src/hooks/usePrismTheme.ts
  packages/docusaurus-theme-common/src/hooks/useSearchPage.ts
  packages/docusaurus-theme-common/src/hooks/useWindowSize.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/colorModeUtils.tsx
  packages/docusaurus-theme-common/src/utils/tabGroupChoiceUtils.tsx
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.js
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/client/index.ts
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaContextualFacetFilters.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus-theme-search-algolia/tsconfig.browser.json
  website/docs/api/themes/theme-configuration.md
Labels: CLA Signed, tag: breaking change, tag: internal

#6288 fix(theme-classic): add missing role=region to SkipToContent
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
Labels: CLA Signed, tag: bug fix

#6293 docs: remove GraphQL mesh from showcase
  website/src/data/showcase/graphql-mesh.png
  website/src/data/showcase/pearl-ui.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6297 docs: mention setup in monorepo
  website/docs/installation.md
Labels: CLA Signed, tag: documentation

#6299 docs: add icodex to showcase
  website/src/data/showcase/icodex.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6300 refactor: move exported type definitions to declaration file
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/normalizePluginOptions.ts
  packages/docusaurus-plugin-client-redirects/src/plugin-client-redirects.d.ts
  packages/docusaurus-plugin-client-redirects/src/types.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/blogFrontMatter.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-blog/src/authors.ts
  packages/docusaurus-plugin-content-blog/src/blogFrontMatter.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-blog/src/translations.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/versions.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/client/docsClientUtils.ts
  packages/docusaurus-plugin-content-docs/src/client/globalDataHooks.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/globalData.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/numberPrefix.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/normalization.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/processor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/slug.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/src/versions.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-plugin-content-pages/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-pages/src/types.ts
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/preset-classic.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocSidebarNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchMetadata/index.tsx
Labels: CLA Signed, tag: bug fix

#6303 test(utils, mdx-loader, core): improve coverage
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/fail2.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/img.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/asset.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/nonexistentSiteAlias.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/extensionRedirects.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/__tests__/validationUtils.test.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus-utils/src/__tests__/dataFileUtils.test.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus-utils/src/__tests__/tags.test.ts
  packages/docusaurus-utils/src/__tests__/urlUtils.test.ts
  packages/docusaurus-utils/src/dataFileUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownLinks.ts
  packages/docusaurus-utils/src/markdownParser.ts
  packages/docusaurus-utils/src/pathUtils.ts
  packages/docusaurus-utils/src/tags.ts
  packages/docusaurus-utils/src/urlUtils.ts
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.test.ts
  packages/docusaurus/src/client/exports/useBaseUrl.ts
  packages/docusaurus/src/deps.d.ts
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/versions/__tests/index.test.ts
Labels: CLA Signed, tag: polish

#6304 chore: upgrade to Husky 7
  package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#6307 docs: document MD and JSX interoperability issues
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/guides/markdown-features/markdown-features-react.module.css
Labels: CLA Signed, tag: documentation

#6308 fix(website): wrap details in mdx-code-block
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, tag: documentation

#6314 fix(theme-classic): fix mobile version dropdown label with only one version
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: CLA Signed, tag: bug fix

#6318 fix(website): various anchor link fixes
  website/docs/api/plugin-methods/lifecycle-apis.md
  website/docs/api/themes/theme-configuration.md
Labels: CLA Signed, tag: documentation

#6313 docs: add Refine site to showcase
  website/src/data/showcase/refine.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6291 feat(core): improve error message for BrowserOnly; better docs
  jest.config.mjs
  packages/docusaurus/package.json
  packages/docusaurus/src/client/exports/BrowserOnly.tsx
  packages/docusaurus/src/client/exports/__tests__/BrowserOnly.test.tsx
  website/docs/docusaurus-core.md
Labels: CLA Signed, tag: polish

#6316 docs: add bandwidth.com to showcase
  website/src/data/showcase/bandwidth.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6323 feat(mdx-loader): preserve hash in image src; support GH themed images
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__fixtures__/img.md
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/src/css/custom.css
Labels: CLA Signed, tag: new feature

#6324 chore: minor typo cleanup
  admin/new.docusaurus.io/README.md
  admin/scripts/generateExamples.mjs
  packages/docusaurus-mdx-loader/src/remark/toc/search.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-content-blog/src/translations.ts
  packages/docusaurus-plugin-content-pages/src/markdownLoader.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.ts
  packages/docusaurus-theme-classic/babel.config.js
  packages/docusaurus-theme-common/src/components/Details/styles.module.css
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  website/docs/guides/docs/versioning.md
  website/src/data/users.tsx
  website/versioned_docs/version-2.0.0-beta.13/api/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-beta.13/guides/docs/versioning.md
  website/versioned_docs/version-2.0.0-beta.13/guides/markdown-features/markdown-features-plugins.mdx
  website/versioned_docs/version-2.0.0-beta.14/api/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-beta.14/guides/docs/versioning.md
  website/versioned_docs/version-2.0.0-beta.14/guides/markdown-features/markdown-features-plugins.mdx
Labels: CLA Signed

#6317 feat(theme-classic): autoscroll TOC with active link
  packages/docusaurus-theme-common/src/utils/useTOCHighlight.ts
Labels: CLA Signed, tag: polish

#6327 docs: remove typo bracket
  website/docs/guides/docs/sidebar.md
  website/versioned_docs/version-2.0.0-beta.14/guides/docs/sidebar.md
Labels: CLA Signed, tag: documentation

#6326 misc(ci): remove redundant "CI: true" env
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
Labels: CLA Signed, tag: internal

#6328 chore(ci): upgrade actions/github-script to v5
  .github/workflows/lighthouse-report.yml
Labels: CLA Signed, tag: internal

#6335 docs: add Pglet website to showcase
  website/src/data/showcase/pglet.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6320 chore: upgrade rehype-katex with ESM support, update docs
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
  website/docusaurus.config.js
  website/package.json
  yarn.lock
Labels: CLA Signed, tag: documentation

#6336 docs: make upgrade guide always show the latest version
  website/docs/installation.md
  website/src/components/UpgradeGuide/index.tsx
  website/versioned_docs/version-2.0.0-beta.13/installation.md
  website/versioned_docs/version-2.0.0-beta.14/installation.md
Labels: CLA Signed, tag: documentation

#6338 fix(core): error boundary should allow no children
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus/src/client/exports/ErrorBoundary.tsx
  website/_dogfooding/_pages tests/layout-no-children.tsx
Labels: CLA Signed, tag: bug fix

#6340 docs: minor fix in the sample config for ESM
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
Labels: CLA Signed, tag: documentation

#6344 fix(website): make ColorGenerator functional
  website/src/components/ColorGenerator/index.tsx
Labels: CLA Signed, tag: documentation

#6341 chore: regenerate yarn.lock
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/types.d.ts
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/utils.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#6325 chore: add Dependabot for dependency updates
  .github/dependabot.yml
Labels: CLA Signed, tag: internal

#6364 chore: remove Intl polyfills for Jest
  .github/workflows/build-blog-only.yml
  .github/workflows/build-perf.yml
  .github/workflows/canary-release.yml
  .github/workflows/lint.yml
  .github/workflows/showcase-test.yml
  jest.config.mjs
  jest/polyfills.js
  package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#6333 feat(website): search in showcase
  website/src/pages/showcase/_components/ShowcaseFilterToggle/index.tsx
  website/src/pages/showcase/index.tsx
  website/src/pages/showcase/styles.module.css
Labels: CLA Signed, tag: documentation

#6368 fix(create-docusaurus): add useBaseUrl for image URLs
  examples/classic-typescript/src/components/HomepageFeatures.tsx
  packages/create-docusaurus/templates/classic-typescript/src/components/HomepageFeatures.tsx
Labels: CLA Signed, tag: polish

#6369 chore: upgrade lint-staged and globs
  .github/workflows/lint.yml
  examples/facebook/.prettierrc
  package.json
  packages/create-docusaurus/templates/facebook/.prettierrc
  packages/docusaurus-plugin-debug/src/theme/DebugRoutes/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Footer/styles.module.css
  website/_dogfooding/clientModuleCSS.css
  website/docs/guides/markdown-features/markdown-features-react.module.css
  website/docs/guides/markdown-features/markdown-features-tabs-styles.module.css
  website/src/css/custom.css
  website/src/pages/styles.module.css
  website/src/theme/Layout/styles.module.css
  website/versioned_docs/version-2.0.0-beta.14/guides/markdown-features/markdown-features-tabs-styles.module.css
  yarn.lock
Labels: CLA Signed, tag: internal

#6348 docs: add KaustubhK24's site to showcase
  website/src/data/showcase/algolia.png
  website/src/data/showcase/bandwidth.png
  website/src/data/showcase/botonic.png
  website/src/data/showcase/johnnyreilly.png
  website/src/data/showcase/kaustubhk24.png
  website/src/data/showcase/refine.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6372 chore: add baseline stylelint rules
  .stylelintignore
  .stylelintrc.js
  package.json
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__fixtures__/important_rule.css
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__fixtures__/normal.css
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/index.test.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css
  website/src/components/BrowserWindow/styles.module.css
  website/src/pages/showcase/_components/ShowcaseCard/styles.module.css
  website/src/pages/showcase/_components/ShowcaseFilterToggle/styles.module.css
  website/src/pages/showcase/_components/ShowcaseTagSelect/styles.module.css
  website/src/pages/showcase/styles.module.css
  yarn.lock
Labels: CLA Signed, tag: internal

#6374 feat(stylelint-copyright): autofix, stricter config
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintrc.js
  jest.config.mjs
  jest/stylelint-rule-test.js
  package.json
  packages/docusaurus-theme-classic/src/theme/SkipToContent/styles.module.css
  packages/stylelint-copyright/README.md
  packages/stylelint-copyright/__tests__/index.test.js
  packages/stylelint-copyright/index.js
  yarn.lock
Labels: CLA Signed, tag: internal

#6373 chore: enable react/jsx-closing-bracket-location
  .eslintrc.js
  examples/facebook/.eslintrc.js
  packages/create-docusaurus/templates/facebook/.eslintrc.js
Labels: CLA Signed, tag: internal

#6310 fix: highlight appropriate navItem based on active sidebar item
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/sidebars.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/cli.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/globalData.ts
  packages/docusaurus-plugin-content-docs/src/routes.ts
Labels: CLA Signed, tag: bug fix

#6375 chore: enable eslint-plugin-jest
  .eslintrc.js
  __tests__/validate-package-json.test.ts
  package.json
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/search.test.ts
  packages/docusaurus-migrate/src/__tests__/migration.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/redirectValidation.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/authors.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/blogFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docFrontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/utils.test.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/pluginOptionSchema.test.ts
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaContextualFacetFilters.ts
  packages/docusaurus-utils-common/src/__tests__/applyTrailingSlash.test.ts
  packages/docusaurus-utils/src/__tests__/dataFileUtils.test.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/__tests__/markdownParser.test.ts
  packages/docusaurus-utils/src/__tests__/tags.test.ts
  packages/docusaurus/src/client/exports/__tests__/Interpolate.test.tsx
  packages/docusaurus/src/client/exports/__tests__/isInternalUrl.test.ts
  packages/docusaurus/src/commands/__tests__/deploy.test.ts
  packages/docusaurus/src/commands/__tests__/writeHeadingIds.test.ts
  packages/docusaurus/src/server/__tests__/routes.test.ts
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/pluginIds.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/pluginIds.test.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/stylelint-copyright/__tests__/index.test.js
  yarn.lock
Labels: CLA Signed, tag: internal

#6378 fix(core): do not coerce webpack warning to string
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: bug fix

#6377 refactor: use findAsyncSequential in a few places
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus/src/server/moduleShorthand.ts
Labels: CLA Signed, tag: internal

#6380 chore: enable a few fixable ESLint rules
  .eslintrc.js
  packages/docusaurus-utils/src/globUtils.ts
Labels: CLA Signed, tag: internal

#6383 docs: elaborate on different CSS class names
  website/docs/styling-layout.md
Labels: CLA Signed, tag: documentation

#6384 fix(logger): properly stringify objects for logging
  packages/docusaurus-logger/src/__tests__/index.test.ts
  packages/docusaurus-logger/src/index.ts
  packages/docusaurus-utils/src/__tests__/index.test.ts
Labels: CLA Signed, tag: bug fix

#6387 test: improve test coverage
  .stylelintignore
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__fixtures__/important_rule.css
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__fixtures__/normal.css
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/index.js
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/complex-slug.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/blogUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/processor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/utils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/jsUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/regexpUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/searchUtils.test.ts
  packages/docusaurus-theme-common/src/utils/regexpUtils.ts
  packages/docusaurus-theme-translations/src/__tests__/index.test.ts
  packages/docusaurus-theme-translations/src/index.ts
  packages/docusaurus/src/client/__tests__/normalizeLocation.test.ts
  packages/docusaurus/src/server/presets/index.ts
Labels: CLA Signed, tag: internal

#6388 feat(content-blog): include tags in feed
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/2018-12-14-Happy-First-Birthday-Slash.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/complex-slug.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/date-matter.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
Labels: CLA Signed, tag: polish

#6391 refactor(theme-classic): add comments to Prism setup; minor refactor
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/prism-include-languages.ts
Labels: CLA Signed, tag: polish

#6399 refactor: clean up TODO comments
  packages/docusaurus-migrate/src/frontMatter.ts
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/index.tsx
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, tag: internal

#6381 chore(website): set cache-control for static assets
  website/static/_headers
Labels: CLA Signed, tag: internal

#6371 feat(core, theme-classic): allow overriding htmlLang
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/src/theme/LayoutHead/index.tsx
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/i18n.ts
Labels: CLA Signed, tag: new feature, status: awaiting review

#6339 feat(mdx-loader): read image dimensions when processing Markdown
  package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-theme-classic/src/theme/MDXComponents/styles.css
  website/src/css/custom.css
  website/testCSSOrder.mjs
  yarn.lock
Labels: CLA Signed, tag: polish, status: awaiting review

#6400 feat(content-pages): front matter validation, include front matter in metadata
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/hello/index.md
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/pageFrontMatter.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-plugin-content-pages/src/types.ts
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
Labels: CLA Signed, tag: polish, status: awaiting review

#5782 feat(content-docs): displayed_sidebar front matter
  packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/utils.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/_dogfooding/_docs tests/doc-with-another-sidebar.md
  website/_dogfooding/_docs tests/doc-without-sidebar.md
  website/_dogfooding/_docs tests/dummy.md
  website/_dogfooding/docs-tests-sidebars.js
  website/docs/guides/docs/sidebar.md
Labels: CLA Signed, tag: new feature, status: awaiting review

#6393 docs: update Algolia docs for new DocSearch infra
  website/docs/search.md
Labels: CLA Signed, tag: documentation

#6405 feat(core): check imported API name when extracting translations
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
  packages/docusaurus/src/server/translations/translationsExtractor.ts
Labels: CLA Signed, tag: polish

#6406 docs(i18n): amend PR #6371
  website/docs/api/docusaurus.config.js.md
Labels: CLA Signed, tag: documentation

#6413 fix(content-pages): declare hide_table_of_contents as boolean
  packages/docusaurus-plugin-content-pages/src/pageFrontMatter.ts
Labels: CLA Signed, tag: internal

#5822 feat: update website & init template palette to pass WCAG test; include contrast check in ColorGenerator
  .github/workflows/lighthousesrc.json
  packages/create-docusaurus/templates/classic/src/css/custom.css
  packages/create-docusaurus/templates/facebook/src/css/custom.css
  website/docs/styling-layout.md
  website/package.json
  website/src/components/ColorGenerator/index.tsx
  website/src/components/ColorGenerator/styles.module.css
  website/src/css/custom.css
  website/src/pages/styles.module.css
  website/src/theme/Toggle.tsx
  website/src/utils/colorUtils.ts
Labels: CLA Signed, tag: documentation, tag: polish

#6410 docs: add SODA for SPARC to showcase
  website/src/data/showcase/sodaforsparc.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6245 feat(content-blog): parse date from middle of file path
  packages/docusaurus-plugin-content-blog/src/__tests__/blogUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  website/_dogfooding/_blog tests/2021-08-22-no-author.md
  website/_dogfooding/_blog tests/demo/2020-08-03-second-blog-intro.md
  website/_dogfooding/dogfooding.config.js
  website/docs/blog.mdx
Labels: CLA Signed, tag: new feature

#6419 feat(core): warn users about hand-modifying generated files
  packages/docusaurus/src/server/index.ts
Labels: CLA Signed, tag: polish

#6420 fix(website): restore some site CSS in light mode
  website/src/css/custom.css
Labels: CLA Signed, tag: documentation

#6415 feat(content-blog): allow disabling generating archive
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  website/docs/api/plugins/plugin-content-blog.md
Labels: CLA Signed, tag: new feature

#6416 feat(content-blog): allow authors list to contain images only
  packages/docusaurus-plugin-content-blog/src/__tests__/authors.test.ts
  packages/docusaurus-plugin-content-blog/src/authors.ts
  packages/docusaurus-plugin-content-blog/src/blogFrontMatter.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostAuthors/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostAuthors/styles.module.css
  website/_dogfooding/_blog tests/2022-01-20-image-only-authors.md
  website/docs/blog.mdx
Labels: CLA Signed, tag: new feature

#6421 chore: fix yarn build:website:fast
  website/src/components/UpgradeGuide/index.tsx
Labels: CLA Signed, tag: internal

#3811 feat(theme-classic): auto-collapse sibling categories in doc sidebar
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItems/index.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/docSidebarItemsExpandedState.tsx
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/guides/docs/sidebar.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: new feature, status: awaiting review

#6424 fix(core): fix css url("image.png"), use css-loader v6 with esModules: false
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, tag: bug fix

#6427 feat(theme-classic): add aria-current to sidebar category link
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/index.tsx
Labels: CLA Signed, tag: polish

#6428 docs: elaborate on i18n tutorial
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-git.md
  website/docs/i18n/i18n-introduction.md
  website/docs/i18n/i18n-tutorial.md
Labels: CLA Signed, tag: documentation

#6435 fix(content-docs): make getActivePlugin match plugin paths more exactly
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsClientUtils.test.ts
  packages/docusaurus-plugin-content-docs/src/client/docsClientUtils.ts
Labels: CLA Signed, tag: bug fix

#6436 refactor(theme-classic): render BlogPostItem as one JSX element
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
Labels: CLA Signed, tag: internal

#6433 docs: add kube-green to showcase
  website/src/data/showcase/kube-green.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6440 chore: remove some unused dependencies from package.json
  package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, tag: internal

#6441 misc: fix stylelint erroring when lint-staged passed ignored file
  package.json
Labels: CLA Signed, tag: internal

#6442 chore: enable stylelint standard config
  .stylelintrc.js
  package.json
  packages/docusaurus-plugin-debug/src/theme/DebugLayout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BackToTopButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogPostAuthors/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebarItems/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Heading/styles.css
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Tag/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css
  packages/docusaurus-theme-common/src/components/Details/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/styles.module.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/styles.module.css
  packages/docusaurus/src/client/nprogress.css
  website/docs/guides/markdown-features/markdown-features-tabs-styles.module.css
  website/src/components/APITable/styles.module.css
  website/src/components/BrowserWindow/styles.module.css
  website/src/css/custom.css
  website/src/pages/showcase/_components/ShowcaseFilterToggle/styles.module.css
  website/src/pages/showcase/_components/ShowcaseTagSelect/styles.module.css
  website/src/pages/showcase/styles.module.css
  website/src/pages/styles.module.css
  website/versioned_docs/version-2.0.0-beta.14/guides/markdown-features/markdown-features-tabs-styles.module.css
  yarn.lock
Labels: CLA Signed, tag: internal

#6443 refactor(mdx-loader): use vfile.path to access Markdown file path
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
Labels: CLA Signed, tag: polish

#6444 misc: update nvmrc to 14.17.0 to meet dependency requirements
  .nvmrc
Labels: CLA Signed, tag: internal

#6445 docs: update showcase data of InfraQL
  website/src/data/showcase/infraql-docs.png
  website/src/data/showcase/kube-green.png
  website/src/data/showcase/stackql.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6385 chore: add height/width for front page images
  website/docs/api/themes/theme-configuration.md
  website/docusaurus.config.js
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
  website/versioned_docs/version-2.0.0-beta.13/api/themes/theme-configuration.md
  website/versioned_docs/version-2.0.0-beta.14/api/themes/theme-configuration.md
Labels: CLA Signed, tag: documentation

#4827 fix: allow links to JSON in .md files to be transformed as asset links
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/asset.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/data.json
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/static/staticjson.json
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  website/_dogfooding/_pages tests/_script.js
  website/_dogfooding/_pages tests/data.json
  website/_dogfooding/_pages tests/markdown-tests.md
Labels: CLA Signed, tag: bug fix

#6448 fix(website): update colors correctly when palette is only customized in one color mode
  website/src/theme/Toggle.tsx
Labels: CLA Signed, tag: documentation

#6449 docs: multiple doc improvements
  website/docs/browser-support.md
  website/docs/guides/markdown-features/markdown-features-intro.mdx
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, tag: documentation

#6450 docs: split sidebar documentation into sections
  website/docs/guides/docs/docs-create-doc.mdx
  website/docs/guides/docs/docs-multi-instance.mdx
  website/docs/guides/docs/sidebar.md
  website/docs/guides/docs/sidebar/autogenerated.md
  website/docs/guides/docs/sidebar/index.md
  website/docs/guides/docs/sidebar/items.md
  website/docs/guides/docs/sidebar/multiple-sidebars.md
  website/docs/migration/migration-manual.md
  website/sidebars.js
Labels: CLA Signed, tag: documentation

#6453 docs: document embedding generated index in doc page
  website/docs/guides/docs/sidebar/index.md
  website/docs/guides/docs/sidebar/items.md
  website/src/pages/showcase/_components/ShowcaseCard/styles.module.css
Labels: CLA Signed, tag: documentation

#6455 docs: add Sass Fairy to showcase
  website/src/data/showcase/sass-fairy.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6431 docs: add Koyeb as a deployment option
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#6458 docs: add Kuizuo's Personal Website to showcase
  website/src/data/showcase/kuizuo.png
  website/src/data/users.tsx
Labels: CLA Signed

#6334 docs: 2021 recap blog post
  website/blog/2022-01-24-docusaurus-2021-recap/img/courier.png
  website/blog/2022-01-24-docusaurus-2021-recap/img/dyte-dark.png
  website/blog/2022-01-24-docusaurus-2021-recap/img/dyte-light.png
  website/blog/2022-01-24-docusaurus-2021-recap/img/ionic-dark.png
  website/blog/2022-01-24-docusaurus-2021-recap/img/ionic-light.png
  website/blog/2022-01-24-docusaurus-2021-recap/img/iota-dark.png
  website/blog/2022-01-24-docusaurus-2021-recap/img/iota-light.png
  website/blog/2022-01-24-docusaurus-2021-recap/img/npm-trend.png
  website/blog/2022-01-24-docusaurus-2021-recap/img/rising-stars.png
  website/blog/2022-01-24-docusaurus-2021-recap/img/star-history.png
  website/blog/2022-01-24-docusaurus-2021-recap/img/thumbnail.png
  website/blog/2022-01-24-docusaurus-2021-recap/index.md
  website/blog/authors.yml
Labels: CLA Signed, tag: documentation

#6459 docs: add replicad to showcase
  website/src/data/showcase/replicad.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6464 chore: typo colocation -> collocation
  project-words.txt
  website/blog/2022-01-24-docusaurus-2021-recap/index.md
Labels: CLA Signed

#6296 docs: add advanced guides
  project-words.txt
  website/_dogfooding/dogfooding.config.js
  website/docs/advanced/architecture.md
  website/docs/advanced/index.md
  website/docs/advanced/plugins.md
  website/docs/advanced/routing.md
  website/docs/advanced/ssg.md
  website/docs/advanced/swizzling.md
  website/docs/api/plugins/plugin-debug.md
  website/docs/configuration.md
  website/docs/docusaurus-core.md
  website/docs/guides/creating-pages.md
  website/docs/guides/whats-next.md
  website/docs/migration/migration-manual.md
  website/docs/presets.md
  website/docs/styling-layout.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/package.json
  website/sidebars.js
  website/src/components/Zoom/index.tsx
  website/src/remark/configTabs.mjs
  website/static/_redirects
  website/static/img/architecture.png
  website/static/img/routes-dark.png
  website/static/img/routes.png
  website/static/pure-html.html
  website/versioned_docs/version-2.0.0-beta.13/advanced/routing.md
  website/versioned_docs/version-2.0.0-beta.14/advanced/routing.md
  yarn.lock
Labels: CLA Signed, tag: documentation

#6407 feat(search): enable contextual search by default
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
  website/docs/search.md
  website/docusaurus.config.js
Labels: CLA Signed, tag: breaking change, tag: polish

#6468 fix(init): cd to correct path when installing
  packages/create-docusaurus/.npmignore
  packages/create-docusaurus/src/index.ts
Labels: CLA Signed, tag: bug fix

#6466 feat(theme-classic): add stable class for DocSidebarContainer
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
Labels: CLA Signed, tag: new feature

#6469 fix(module-type-aliases): fix type def for translate params
  packages/docusaurus-module-type-aliases/src/index.d.ts
Labels: CLA Signed, tag: polish

#6470 refactor: clean up dependencies
  package.json
  packages/docusaurus-plugin-debug/src/index.ts
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed

#6471 chore: various improvements to repo setup
  .github/workflows/lighthouse-report.yml
  .github/workflows/lighthouserc.json
  .github/workflows/tests.yml
  .stylelintrc.js
  package.json
  packages/create-docusaurus/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-utils/package.json
  packages/stylelint-copyright/package.json
  project-words.txt
  yarn.lock
Labels: CLA Signed

#6454 fix(content-blog): generate feed by reading build output
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/2018/12/14/Happy-First-Birthday-Slash/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/archive/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/date-matter/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/heading-as-title/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/hey/my super path/héllô/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/mdx-blog-post/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/mdx-require-blog-post/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/simple/slug/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/birthday/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/complex/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/date/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils-common/src/index.ts
  packages/docusaurus-utils/src/__tests__/mdxUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/mdxUtils.ts
  packages/docusaurus/src/commands/build.ts
  website/docs/api/plugin-methods/lifecycle-apis.md
  yarn.lock
Labels: CLA Signed, tag: bug fix

#6451 feat(content-docs): expose isCategoryIndex matcher to customize conventions
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/processor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/processor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/slug.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/_dogfooding/_docs tests/tests/category-links/custom-index-convention/intro.md
  website/_dogfooding/_docs tests/tests/category-links/custom-index-convention/sample-doc.md
  website/_dogfooding/dogfooding.config.js
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/guides/docs/sidebar/autogenerated.md
Labels: CLA Signed, tag: new feature

#6478 fix(utils): Markdown linkification match local paths beginning with http
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/markdownLinks.ts
Labels: CLA Signed, tag: bug fix

#6474 test: rename 'fixtures' to '__fixtures__'
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/empty-headings.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/inline-code.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/insert-below-imports.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/just-content.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/name-exist.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/non-text-content.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/__tests__/__fixtures__/has-mdx-code-blocks.mdx
  packages/docusaurus-mdx-loader/src/remark/unwrapMdxCodeBlocks/__tests__/index.test.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__fixtures__/import-tabs-above.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__fixtures__/import-tabs-below.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__fixtures__/installation.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__fixtures__/plugin.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__fixtures__/syntax-not-properly-set.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.ts
  packages/docusaurus/src/server/versions/__tests__/index.test.ts
Labels: CLA Signed, tag: internal

#6483 docs: mark a lot of website texts as translatable
  website/src/components/ColorGenerator/index.tsx
  website/src/components/Playground/index.tsx
  website/src/components/TeamProfileCards/index.tsx
  website/src/components/UpgradeGuide/index.tsx
  website/src/data/users.tsx
  website/src/pages/showcase/_components/ShowcaseCard/index.tsx
  website/src/pages/showcase/index.tsx
  website/src/pages/versions.tsx
Labels: CLA Signed, tag: documentation

#6429 refactor: self-host KaTeX assets
  .prettierignore
  .stylelintignore
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docusaurus.config.js
  website/static/katex/fonts/KaTeX_AMS-Regular.woff2
  website/static/katex/fonts/KaTeX_Caligraphic-Bold.woff2
  website/static/katex/fonts/KaTeX_Caligraphic-Regular.woff2
  website/static/katex/fonts/KaTeX_Fraktur-Bold.woff2
  website/static/katex/fonts/KaTeX_Fraktur-Regular.woff2
  website/static/katex/fonts/KaTeX_Main-Bold.woff2
  website/static/katex/fonts/KaTeX_Main-BoldItalic.woff2
  website/static/katex/fonts/KaTeX_Main-Italic.woff2
  website/static/katex/fonts/KaTeX_Main-Regular.woff2
  website/static/katex/fonts/KaTeX_Math-BoldItalic.woff2
  website/static/katex/fonts/KaTeX_Math-Italic.woff2
  website/static/katex/fonts/KaTeX_SansSerif-Bold.woff2
  website/static/katex/fonts/KaTeX_SansSerif-Italic.woff2
  website/static/katex/fonts/KaTeX_SansSerif-Regular.woff2
  website/static/katex/fonts/KaTeX_Script-Regular.woff2
  website/static/katex/fonts/KaTeX_Size1-Regular.woff2
  website/static/katex/fonts/KaTeX_Size2-Regular.woff2
  website/static/katex/fonts/KaTeX_Size3-Regular.woff2
  website/static/katex/fonts/KaTeX_Size4-Regular.woff2
  website/static/katex/fonts/KaTeX_Typewriter-Regular.woff2
  website/static/katex/katex.min.css
Labels: CLA Signed, tag: documentation

#6481 refactor(init): promote good practices; use site alias
  packages/create-docusaurus/templates/classic-typescript/src/components/HomepageFeatures.module.css
  packages/create-docusaurus/templates/classic-typescript/src/components/HomepageFeatures/index.tsx
  packages/create-docusaurus/templates/classic-typescript/src/components/HomepageFeatures/styles.module.css
  packages/create-docusaurus/templates/classic-typescript/src/pages/index.tsx
  packages/create-docusaurus/templates/classic/src/components/HomepageFeatures/index.js
  packages/create-docusaurus/templates/classic/src/components/HomepageFeatures/styles.module.css
  packages/create-docusaurus/templates/classic/src/pages/index.js
Labels: CLA Signed, tag: polish

#6484 docs: remove mention that CDN resources are cached cross-domain
  .cspell.json
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
Labels: CLA Signed, tag: documentation

#6482 feat: mark some text labels as translatable
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocVersionBadge/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/Toggle/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/ar/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-search-algolia.json
Labels: CLA Signed, tag: polish

#6485 fix(website): bad translate tags without default translation
  website/src/components/TeamProfileCards/index.tsx
  website/src/pages/versions.tsx
Labels: CLA Signed, tag: internal

#6486 chore: update examples for beta.15
  examples/classic-typescript/.stackblitzrc
  examples/classic-typescript/docs/intro.md
  examples/classic-typescript/package.json
  examples/classic-typescript/sandbox.config.json
  examples/classic-typescript/src/components/HomepageFeatures/index.tsx
  examples/classic-typescript/src/components/HomepageFeatures/styles.module.css
  examples/classic-typescript/src/css/custom.css
  examples/classic-typescript/src/pages/index.tsx
  examples/classic-typescript/yarn.lock
  examples/classic/.stackblitzrc
  examples/classic/docs/intro.md
  examples/classic/package.json
  examples/classic/sandbox.config.json
  examples/classic/src/components/HomepageFeatures/index.js
  examples/classic/src/components/HomepageFeatures/styles.module.css
  examples/classic/src/css/custom.css
  examples/classic/src/pages/index.js
  examples/classic/yarn.lock
  examples/facebook/.stackblitzrc
  examples/facebook/docs/intro.md
  examples/facebook/package.json
  examples/facebook/sandbox.config.json
  examples/facebook/src/css/custom.css
  examples/facebook/yarn.lock
Labels: CLA Signed, tag: internal

#6452 feat(content-docs): allow explicitly disabling index page for generated category
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  website/_dogfooding/_docs tests/tests/category-links/no-index-doc/_category_.json
  website/_dogfooding/_docs tests/tests/category-links/no-index-doc/index.md
  website/_dogfooding/_docs tests/tests/category-links/no-index-doc/sample-doc.md
  website/docs/guides/docs/sidebar/autogenerated.md
Labels: CLA Signed, tag: new feature

#6404 docs: elaborate on Markdown asset linking; document pathname:// protocol
  website/docs/guides/markdown-features/markdown-features-assets.mdx
Labels: CLA Signed, tag: documentation

#6487 chore: fix codesandbox example link + mention npm publish recovery
  admin/new.docusaurus.io/functionUtils/playgroundUtils.ts
  admin/publish.md
Labels: CLA Signed, tag: internal

#6489 fix(utils): do not resolve Markdown paths with @site prefix
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/markdownLinks.ts
  website/docs/advanced/routing.md
Labels: CLA Signed, tag: bug fix

#6476 chore: fix Stylelint globs for editor support
  .stylelintignore
  packages/docusaurus-migrate/tsconfig.json
  yarn.lock
Labels: CLA Signed, tag: internal

#6491 docs: add developers.verida to showcase
  website/src/data/showcase/verida-developers.png
  website/src/data/users.tsx
Labels: CLA Signed, tag: documentation

#6492 docs: mention where to find the sitemap
  website/docs/api/plugins/plugin-sitemap.md
Labels: CLA Signed, tag: documentation

#6490 fix(theme-classic): do not switch color modes when printing
  packages/docusaurus-theme-common/src/utils/colorModeUtils.tsx
Labels: CLA Signed, tag: bug fix

#6496 fix(core): configValidation should allow inline theme functions
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed, tag: bug fix

#6498 fix: updating peerDependency fields for yarn berry
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
Labels: CLA Signed

#6499 docs: mention how env vars can be read
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#6500 fix(cli): allow passing a list of file names to write-heading-ids
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/writeHeadingIds.ts
  website/docs/advanced/plugins.md
  website/docs/advanced/routing.md
  website/docs/advanced/ssg.md
  website/docs/advanced/swizzling.md
  website/docs/api/plugin-methods/README.md
  website/docs/deployment.mdx
  website/docs/guides/docs/sidebar/autogenerated.md
  website/docs/guides/docs/sidebar/index.md
  website/docs/guides/docs/sidebar/items.md
  website/docs/guides/docs/versioning.md
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-intro.mdx
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
  website/docs/i18n/i18n-git.md
  website/docs/i18n/i18n-introduction.md
  website/docs/i18n/i18n-tutorial.md
  website/docs/installation.md
  website/docs/migration/migration-overview.md
  website/docs/static-assets.md
  website/docs/styling-layout.md
  website/docs/using-plugins.md
Labels: CLA Signed, tag: bug fix

#6502 refactor: fix all eslint warnings
  packages/docusaurus-migrate/src/sanitizeMD.ts
  packages/docusaurus-migrate/src/transform.ts
  packages/docusaurus-theme-common/src/components/Details/index.tsx
Labels: CLA Signed, tag: internal

#6501 docs: add Cloudflare pages deployment guide
  website/docs/deployment.mdx
Labels: CLA Signed, tag: documentation

#6506 test: add test for readOutputHTMLFile
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/build-snap/file.html
  packages/docusaurus-utils/src/__tests__/__fixtures__/build-snap/folder/index.html
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  yarn.lock
Labels: CLA Signed, tag: internal

#6507 refactor: improve internal typing
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus-theme-search-algolia/src/deps.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/urlUtils.ts
  packages/docusaurus/bin/beforeCli.js
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/package.json
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/commands/external.ts
  website/docs/cli.md
  yarn.lock
Labels: CLA Signed, tag: polish

#6508 fix(theme-classic): apply width/height for footer logos without href
  packages/docusaurus-theme-classic/src/theme/Footer/index.tsx
Labels: CLA Signed, tag: bug fix

#6512 misc: configure linguist behavior to show better language stats
  .gitattributes
  project-words.txt
Labels: CLA Signed, tag: internal
