Repository facebook/docusaurus, pull requests merged in 2022-06, with the labels that each got.

#7542 docs: update react native boilerplate preview
  website/src/data/showcase/reactnativeboilerplate.png
Labels: CLA Signed

#7543 docs: avoid using nested mdx-code-block
  website/docs/blog.mdx
  website/docs/deployment.mdx
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/swizzling.md
Labels: CLA Signed, pr: internal

#7520 feat: add engines field to templates' package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/facebook/package.json
Labels: CLA Signed, pr: polish

#7541 docs: remove extraneous bracket
  website/docs/using-plugins.md
Labels: CLA Signed, pr: internal

#7461 feat(content-docs): last_update front matter
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/customLastUpdate.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/lastUpdateAuthorOnly.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/lastUpdateDateOnly.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/docs.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/frontMatter.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  website/_dogfooding/_docs tests/doc-with-last-update.md
  website/_dogfooding/docs-tests-sidebars.js
  website/_dogfooding/dogfooding.config.js
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, pr: new feature

#7547 chore: update static-site-generator-webpack-plugin
  packages/docusaurus/package.json
  packages/docusaurus/src/deps.d.ts
  packages/docusaurus/src/webpack/server.ts
  yarn.lock
Labels: CLA Signed, domain: dependencies

#7545 feat(analytics): allow query/hash changes to be sent to GA
  packages/docusaurus-plugin-google-analytics/src/analytics.ts
  packages/docusaurus-plugin-google-gtag/src/gtag.ts
Labels: CLA Signed, pr: polish

#7549 chore: use npx --yes
  package.json
  packages/docusaurus/README.md
Labels: CLA Signed, pr: internal

#7485 fix(theme-classic): inconsistent code block wrapping
  packages/docusaurus-theme-common/src/contexts/navbarSecondaryMenu/content.tsx
  packages/docusaurus-theme-common/src/hooks/useCodeWordWrap.ts
  packages/docusaurus-theme-common/src/hooks/useMutationObserver.ts
  packages/docusaurus-theme-common/src/utils/__tests__/reactUtils.test.ts
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  website/_dogfooding/_pages tests/code-block-tests.mdx
Labels: CLA Signed, pr: bug fix

#7550 chore: update CI trigger paths
  .github/workflows/build-perf.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed, pr: internal

#7386 feat(core): allow customizing the i18n directory path
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/versions/files.ts
  packages/docusaurus-plugin-content-docs/src/versions/index.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/__tests__/i18nUtils.test.ts
  packages/docusaurus-utils/src/constants.ts
  packages/docusaurus-utils/src/i18nUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/server/translations/translations.ts
Labels: CLA Signed, pr: new feature

#7152 refactor: handle all admonitions via JSX component
  jest/deps.d.ts
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/remark/admonitions/LICENSE
  packages/docusaurus-mdx-loader/src/remark/admonitions/README.md
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__fixtures__/base.md
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__fixtures__/interpolation.md
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/deps.d.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/deps.d.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-content-pages/src/deps.d.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/options.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Admonition/index.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/deps.d.ts
  packages/docusaurus/src/server/plugins/synthetic.ts
  website/_dogfooding/_pages tests/markdownPageTests.md
  yarn.lock
Labels: CLA Signed, pr: polish

#7556 feat: add admonition type title translations
  packages/docusaurus-theme-classic/src/theme/Admonition/index.tsx
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, pr: new feature

#7557 feat: allow specifying custom target for FooterLogo
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme/Footer/Logo/index.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Labels: CLA Signed, pr: new feature

#7554 docs: add brainboard to showcase
  website/src/data/showcase/brainboard.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7560 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/server/index.ts
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  project-words.txt
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7561 docs: fix multiple typos
  website/docs/api/plugin-methods/lifecycle-apis.md
  website/docs/api/themes/theme-search-algolia.md
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, pr: internal

#7568 docs: wrap more JSX in mdx-code-block
  website/docs/advanced/ssg.md
  website/docs/api/plugins/plugin-debug.md
  website/docs/guides/docs/sidebar/items.md
  website/docs/guides/docs/versioning.md
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/i18n/i18n-tutorial.md
Labels: CLA Signed, pr: internal

#7569 docs: mark some more fields as translatable
  website/community/4-canary.md
  website/src/components/Versions.tsx
  website/src/data/users.tsx
  website/versioned_docs/version-2.0.0-beta.20/search.md
  website/versioned_docs/version-2.0.0-beta.21/search.md
Labels: CLA Signed, pr: internal

#7570 fix(theme-translations): improve zh translation
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, pr: internal

#7572 docs: make config tabs translatable, fix APITable crowdin issue
  website/docs/api/misc/eslint-plugin/no-untranslated-text.md
  website/docs/api/plugins/plugin-client-redirects.md
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-content-pages.md
  website/docs/api/plugins/plugin-debug.md
  website/docs/api/plugins/plugin-google-analytics.md
  website/docs/api/plugins/plugin-google-gtag.md
  website/docs/api/plugins/plugin-ideal-image.md
  website/docs/api/plugins/plugin-sitemap.md
  website/docs/api/themes/theme-configuration.md
  website/src/components/ConfigTabs.tsx
  website/src/pages/showcase/index.tsx
  website/src/remark/configTabs.mjs
  website/static/katex/katex.min.css
Labels: CLA Signed, pr: internal

#7574 fix(website): make KaTeX fonts available on alternative locales
  website/static/katex/katex.min.css
Labels: CLA Signed, pr: internal

#7579 refactor(pwa): simplify registerSW code, fix ESLint errors
  .eslintrc.js
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-migrate/bin/index.mjs
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-plugin-pwa/src/registerSw.ts
  packages/docusaurus-plugin-pwa/src/renderReloadPopup.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/index.tsx
  packages/docusaurus/bin/docusaurus.mjs
  website/_dogfooding/clientModuleExample.ts
  website/docs/api/plugins/plugin-pwa.md
  website/src/components/Versions.tsx
Labels: CLA Signed, pr: polish

#7582 docs: make localhost links clickable
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-blog-post.md
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-document.md
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-page.md
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/deploy-your-site.md
  packages/create-docusaurus/templates/shared/docs/tutorial-extras/translate-your-site.md
  website/docs/guides/creating-pages.md
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-tutorial.md
  website/docs/introduction.md
  website/versioned_docs/version-2.0.0-beta.20/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-beta.20/i18n/i18n-crowdin.mdx
  website/versioned_docs/version-2.0.0-beta.20/i18n/i18n-tutorial.md
  website/versioned_docs/version-2.0.0-beta.20/introduction.md
  website/versioned_docs/version-2.0.0-beta.21/guides/creating-pages.md
  website/versioned_docs/version-2.0.0-beta.21/i18n/i18n-crowdin.mdx
  website/versioned_docs/version-2.0.0-beta.21/i18n/i18n-tutorial.md
  website/versioned_docs/version-2.0.0-beta.21/introduction.md
Labels: CLA Signed, pr: documentation

#7580 docs: add peradaban to showcase
  website/src/data/showcase/peradaban.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7584 docs: add sado0823.github.io to showcase
  website/src/data/showcase/sado0823.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7591 docs: add Tech-Notes to showcase
  website/src/data/showcase/difranca-technotes.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7596 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/styles.module.css
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7600 fix: force refresh on chunk preload error
  packages/docusaurus/src/client/PendingNavigation.tsx
Labels: CLA Signed, pr: polish

#7597 docs: add Metalyoung to showcase
  website/src/data/showcase/metalyoung.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7611 docs: advise using Node 18 in deployment
  packages/create-docusaurus/templates/shared/docs/intro.md
  website/docs/deployment.mdx
Labels: CLA Signed, pr: internal

#7613 docs: normalize capitalization
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-page.md
  packages/docusaurus-remark-plugin-npm2yarn/README.md
  website/_dogfooding/_pages tests/markdownPageTests.md
  website/blog/2019-12-30-docusaurus-2019-recap.md
  website/blog/2021-01-19-docusaurus-2020-recap.md
  website/docs/advanced/routing.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-pwa.md
  website/docs/api/themes/theme-configuration.md
  website/docs/blog.mdx
  website/docs/browser-support.md
  website/docs/deployment.mdx
  website/docs/guides/docs/docs-create-doc.mdx
  website/docs/guides/docs/docs-multi-instance.mdx
  website/docs/guides/docs/sidebar/index.md
  website/docs/guides/markdown-features/markdown-features-toc.mdx
  website/docs/migration/migration-manual.md
  website/docs/migration/migration-overview.md
  website/docs/migration/migration-translated-sites.md
  website/docs/migration/migration-versioned-sites.md
  website/docs/swizzling.md
  website/docs/using-plugins.md
Labels: CLA Signed, pr: internal

#7619 docs: normalize capitalization
  admin/publish.md
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-document.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/asset.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docs/foo/baz.md
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/i18n/fr/docusaurus-plugin-content-pages/hello/translatedMd.md
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/hello/mdxPage.mdx
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/hello/translatedMd.md
  packages/docusaurus-plugin-content-pages/src/__tests__/__snapshots__/index.test.ts.snap
  website/_dogfooding/README.md
  website/_dogfooding/_docs tests/toc/toc-test-bad.mdx
  website/_dogfooding/_docs tests/toc/toc-test-good.mdx
  website/_dogfooding/_pages tests/markdown-tests.md
  website/_dogfooding/_pages tests/markdownPageTests.md
  website/blog/2017-12-14-introducing-docusaurus.md
  website/blog/2018-04-30-How-I-Converted-Profilo-To-Docusaurus.md
  website/blog/2018-09-11-Towards-Docusaurus-2.md
  website/docs/api/docusaurus.config.js.md
  website/docs/api/plugin-methods/i18n-lifecycles.md
  website/docs/api/plugins/plugin-content-blog.md
  website/docs/api/plugins/plugin-content-docs.md
  website/docs/api/plugins/plugin-pwa.md
  website/docs/api/themes/theme-configuration.md
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/deployment.mdx
  website/docs/docusaurus-core.md
  website/docs/guides/docs/sidebar/autogenerated.md
  website/docs/guides/docs/sidebar/items.md
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
  website/docs/guides/markdown-features/markdown-features-assets.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/guides/markdown-features/markdown-features-toc.mdx
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-tutorial.md
  website/docs/introduction.md
  website/docs/migration/migration-manual.md
  website/docs/migration/migration-overview.md
  website/docs/migration/migration-translated-sites.md
  website/docs/migration/migration-versioned-sites.md
  website/docs/static-assets.md
  website/docs/using-plugins.md
Labels: CLA Signed, pr: internal

#7616 docs: add react-chat-elements to showcase
  website/src/data/showcase/react-chat-elements.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7620 docs: add Nhost to showcase
  website/src/data/showcase/nhost.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7593 fix(cssnano-preset): disable z-index minification
  packages/docusaurus-cssnano-preset/src/index.ts
  website/_dogfooding/_pages tests/index.md
  website/_dogfooding/_pages tests/z-index-tests.tsx
  website/_dogfooding/dogfooding.css
Labels: CLA Signed, pr: bug fix

#7581 feat(core): allow opting out of HTML minification
  packages/docusaurus/src/client/serverEntry.tsx
  website/docs/cli.md
Labels: CLA Signed, pr: new feature

#7583 refactor(cli): make the CLI an even thinner wrapper around command functions
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/clear.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/external.ts
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
  packages/docusaurus/src/commands/swizzle/index.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
  packages/docusaurus/src/commands/writeTranslations.ts
Labels: CLA Signed, pr: maintenance

#7604 fix(utils): allow any non-boundary characters in Markdown heading ID
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
  website/_dogfooding/_pages tests/markdownPageTests.md
Labels: CLA Signed, pr: bug fix

#7564 docs: add outerbounds to showcase
  website/src/data/showcase/outerbounds.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7595 fix(content-pages): add article wrapper around MDXContent
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
Labels: CLA Signed, pr: bug fix

#7634 fix(content-docs): allow translating doc labels in sidebars.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/normalization.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/normalization.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/normalization.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  packages/docusaurus-plugin-content-docs/src/translations.ts
Labels: CLA Signed, pr: bug fix

#7638 fix(docs): forward doc frontMatter.sidebar_custom_props to linking sidebar category
  packages/docusaurus-plugin-content-docs/src/props.ts
  website/docs/api/plugins/plugin-content-docs.md
Labels: CLA Signed, pr: bug fix

#7633 chore(theme-translations): complete ko translations
  packages/docusaurus-theme-translations/locales/ko/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-search-algolia.json
Labels: CLA Signed, pr: polish

#7639 chore(create): update the facebook template with current assets
  packages/create-docusaurus/templates/facebook/.eslintrc.js
  packages/create-docusaurus/templates/facebook/.stylelintrc.js
  packages/create-docusaurus/templates/facebook/babel.config.js
  packages/create-docusaurus/templates/facebook/docusaurus.config.js
  packages/create-docusaurus/templates/facebook/sidebars.js
  packages/create-docusaurus/templates/facebook/src/css/custom.css
  packages/create-docusaurus/templates/facebook/src/pages/index.js
  packages/create-docusaurus/templates/facebook/src/pages/styles.module.css
  packages/create-docusaurus/templates/facebook/static/img/meta_opensource_logo.svg
  packages/create-docusaurus/templates/facebook/static/img/meta_opensource_logo_negative.svg
  packages/create-docusaurus/templates/facebook/static/img/oss_logo.png
  project-words.txt
Labels: CLA Signed, pr: polish

#7624 feat: allow customizing localization path of each locale
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-custom-i18n-path/docs/category1/doc1.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-custom-i18n-path/docs/category2/doc2.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-custom-i18n-path/i18n-custom/zh-Hans-custom/docusaurus-plugin-content-docs/current/category1/doc1.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-custom-i18n-path/i18n-custom/zh-Hans-custom/docusaurus-plugin-content-docs/current/category2/doc2.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-custom-i18n-path/sidebars.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/cli.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/__tests__/i18nUtils.test.ts
  packages/docusaurus-utils/src/i18nUtils.ts
  packages/docusaurus/src/server/__tests__/__fixtures__/custom-i18n-site/docusaurus.config.js
  packages/docusaurus/src/server/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/__tests__/index.test.ts
  packages/docusaurus/src/server/__tests__/testUtils.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/webpack/__tests__/client.test.ts
  packages/docusaurus/src/webpack/__tests__/server.test.ts
  website/docs/api/docusaurus.config.js.md
Labels: CLA Signed, pr: new feature

#7642 refactor: remove "error" reporting level, move reportMessage to logger
  packages/docusaurus-logger/README.md
  packages/docusaurus-logger/src/__tests__/index.test.ts
  packages/docusaurus-logger/src/index.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/jsUtils.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/routes.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/api/misc/logger/logger.md
Labels: CLA Signed, pr: breaking change

#7622 docs: add lerna to showcase
  website/src/data/showcase/lerna.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7645 docs: mark Yeecord as opensource in showcase
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7646 chore: upgrade dependencies
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#7648 fix(theme-common): make useShallowMemoObject key-order-insensitive
  packages/docusaurus-theme-common/src/utils/__tests__/reactUtils.test.ts
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
Labels: CLA Signed, pr: polish

#7649 feat(client-redirects): make plugin respect onDuplicateRoutes config
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/types.ts
  website/docs/api/plugins/plugin-client-redirects.md
Labels: CLA Signed, pr: new feature

#7652 docs: add Comp Labs website to showcase
  website/src/data/showcase/comp-labs.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7644 refactor(docs,theme): split DocItem comp, useDoc hook
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocItem/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/Footer/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/Metadata/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/Paginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/TOC/Desktop/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/TOC/Mobile/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/TOC/Mobile/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.tsx
  packages/docusaurus-theme-common/src/contexts/doc.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
Labels: CLA Signed, pr: breaking change

#7659 fix: expose empty string alt text in navbar logos
  packages/docusaurus-theme-classic/src/theme/Logo/index.tsx
  website/docusaurus.config.js
Labels: CLA Signed, pr: bug fix

#7663 misc: share .vscode/extensions.json
  .gitignore
  .vscode/extensions.json
  project-words.txt
Labels: CLA Signed, pr: maintenance

#7643 feat(theme-classic): themeConfig navbar/footer logos accept className/style + update Meta Open-Source Logo
  packages/create-docusaurus/templates/facebook/docusaurus.config.js
  packages/docusaurus-theme-classic/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-classic/src/theme/Footer/Logo/index.tsx
  packages/docusaurus-theme-classic/src/theme/Logo/index.tsx
  packages/docusaurus-theme-classic/src/validateThemeConfig.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  website/docs/api/docusaurus.config.js.md
  website/docs/api/themes/theme-configuration.md
  website/docs/migration/migration-manual.md
  website/docusaurus.config-blog-only.js
  website/docusaurus.config.js
  website/static/img/meta_opensource_logo.svg
  website/static/img/meta_opensource_logo_negative.svg
  website/static/img/oss_logo.png
Labels: CLA Signed, pr: new feature

#7665 docs: add link from every category index page to the guide page
  website/docs/guides/docs/sidebar/items.md
  website/src/theme/DocCategoryGeneratedIndexPage/index.tsx
  website/src/theme/DocCategoryGeneratedIndexPage/styles.module.css
  website/versioned_docs/version-2.0.0-beta.21/guides/docs/sidebar/items.md
Labels: CLA Signed, pr: documentation

#7563 docs: add awesome-docusaurus resource
  website/community/2-resources.md
Labels: CLA Signed, pr: documentation

#7660 refactor(theme-common): split package into public/internal API entrypoints
  .eslintrc.js
  .github/workflows/tests.yml
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/BackToTopButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Container/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCardList/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/Metadata/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/Paginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/TOC/Desktop/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/TOC/Mobile/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Main/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/Sidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Mobile/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItems/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocVersionBadge/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocVersionBanner/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/LayoutProviders/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Header/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/PrimaryMenu/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/SecondaryMenu/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Toggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocSidebarNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/SiteMetadata/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCItems/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-common/.npmignore
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/removeThemeInternalReexport.mjs
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  website/src/components/Versions.tsx
  website/src/theme/DocCategoryGeneratedIndexPage/index.tsx
Labels: CLA Signed, pr: breaking change

#7671 refactor(theme-common): rename useDynamicCallback to useEvent
  packages/docusaurus-theme-common/src/hooks/useMutationObserver.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus-theme-common/src/utils/scrollUtils.tsx
  packages/docusaurus-theme-common/src/utils/useLocationChange.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
Labels: CLA Signed, pr: polish

#7677 docs: add more info on github cross repo deployment
  project-words.txt
  website/docs/deployment.mdx
Labels: CLA Signed, pr: documentation

#7678 misc: add IDE language annotation comments
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus/src/client/BaseUrlIssueBanner/index.tsx
Labels: CLA Signed, pr: internal

#7682 docs: add SweetCode to showcase
  website/src/data/showcase/sweetcode.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#7685 test(logger): use `jest-serializer-ansi-escapes`
  jest.config.mjs
  package.json
  packages/docusaurus-logger/src/__tests__/index.test.ts
  yarn.lock
Labels: CLA Signed, pr: internal

#7683 chore(theme-translations): complete ar translations
  packages/docusaurus-theme-translations/locales/ar/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/ar/theme-search-algolia.json
Labels: CLA Signed, pr: polish

#7694 fix(theme-translations): typo in vi locale
  packages/docusaurus-theme-translations/locales/vi/plugin-ideal-image.json
Labels: CLA Signed, pr: bug fix
