Repository facebook/docusaurus, pull requests merged in 2022-10, with the labels that each got.

#8162 docs: fix typo
  packages/docusaurus-logger/README.md
  website/docs/api/misc/logger/logger.md
  website/versioned_docs/version-2.0.1/api/misc/logger/logger.md
  website/versioned_docs/version-2.1.0/api/misc/logger/logger.md
Labels: CLA Signed, pr: internal

#8159 fix(core): throw error for invalid URL in config file
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed, pr: polish

#8152 docs(showcase): Adds tamalweb.com to showcase Pr/tamalweb.com
  website/src/data/showcase/tamalwebsite.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#8174 fix(theme): announce theme switches when using screen reader. #7667
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
Labels: CLA Signed

#8161 fix(theme): do not show tab content when tabbing over it; show after selection only
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
Labels: CLA Signed, pr: polish, to backport

#8163 fix(theme): mobile navbar & skipToContent should cover announcementBar
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
Labels: CLA Signed, pr: bug fix, to backport

#8158 fix(content-blog): make RSS feed generation work with slugs with .html extension
  packages/docusaurus-utils/src/__tests__/__fixtures__/build-snap/htmlFile.html
  packages/docusaurus-utils/src/__tests__/__fixtures__/build-snap/weird.html.folder/nestedHtmlFile.html
  packages/docusaurus-utils/src/__tests__/emitUtils.test.ts
  packages/docusaurus-utils/src/emitUtils.ts
  website/_dogfooding/_blog tests/2022-10-02-html-slug.md
Labels: CLA Signed, pr: bug fix

#8137 fix(utils): remove non-ASCII limitation for path normalization
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus-utils/src/pathUtils.ts
  website/_dogfooding/_docs tests/tests/ascii/folder/æøå.md
  website/_dogfooding/_docs tests/tests/ascii/æøå/index.md
Labels: CLA Signed, pr: bug fix, to backport

#8193 fix(website): mobile scroll on homepage announcement
  website/src/pages/styles.module.css
Labels: CLA Signed, pr: bug fix

#8192 fix(core): throw error for invalid URL in config file
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed, pr: bug fix

#8015 fix(live-codeblock): add error boundary to live code preview
  packages/docusaurus-theme-classic/src/theme/ErrorPageContent.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/errorBoundaryUtils.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/styles.module.css
Labels: CLA Signed, pr: bug fix

#8209 docs: removing community resource docusaurus-plugin-relative-paths
  website/community/2-resources.md
Labels: CLA Signed, pr: documentation

#7490 feat: support mermaid code blocks in Markdown
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/remark/mermaid/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/mermaid/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/mermaid/index.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.tsx
  packages/docusaurus-theme-classic/src/theme/Mermaid.tsx
  packages/docusaurus-theme-mermaid/.npmignore
  packages/docusaurus-theme-mermaid/README.md
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-mermaid/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-mermaid/src/client/index.ts
  packages/docusaurus-theme-mermaid/src/index.ts
  packages/docusaurus-theme-mermaid/src/theme-mermaid.d.ts
  packages/docusaurus-theme-mermaid/src/theme/Mermaid/index.tsx
  packages/docusaurus-theme-mermaid/src/theme/Mermaid/styles.module.css
  packages/docusaurus-theme-mermaid/src/validateThemeConfig.ts
  packages/docusaurus-theme-mermaid/tsconfig.client.json
  packages/docusaurus-theme-mermaid/tsconfig.json
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/plugins/synthetic.ts
  project-words.txt
  website/_dogfooding/_pages tests/diagrams.mdx
  website/_dogfooding/_pages tests/index.md
  website/community/2-resources.md
  website/docs/guides/markdown-features/markdown-features-diagrams.mdx
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  yarn.lock
Labels: CLA Signed, pr: new feature

#8204 fix(theme-classic): fix SkipToContent without JS , refactor, make it public theming API
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/SkipToContent/index.tsx
  packages/docusaurus-theme-common/src/hooks/useSkipToContent.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/skipToContentUtils.tsx
Labels: CLA Signed, pr: bug fix, domain: a11y, to backport

#8207 fix(theme-classic): hamburger menu control navigation by keyboard
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Header/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Toggle/index.tsx
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, pr: bug fix, domain: a11y

#8229 docs: fix invalid link references & style the doc
  CONTRIBUTING.md
Labels: CLA Signed

#8210 feat(core): add --config param to swizzle command
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/src/commands/swizzle/common.ts
  packages/docusaurus/src/commands/swizzle/context.ts
  packages/docusaurus/src/commands/swizzle/index.ts
  website/docs/cli.md
Labels: CLA Signed, pr: new feature, to backport

#8227 feat(plugin-client-redirects): keep the query string + hash
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/createRedirectPageContent.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/writeRedirectFiles.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/templates/redirectPage.template.html.ts
  website/docusaurus.config.js
Labels: CLA Signed, pr: new feature, to backport

#8143 refactor(plugin-gtag): update gtag plugin to modern SPA recommendations
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-gtag/src/gtag.ts
  packages/docusaurus-plugin-google-gtag/src/types.d.ts
  website/_dogfooding/_pages tests/analytics.tsx
  website/_dogfooding/_pages tests/index.md
  website/src/types.d.ts
  yarn.lock
Labels: CLA Signed, pr: polish

#8237 docs: fix incorrect grammar and improve clarity
  website/docs/api/plugins/plugin-pwa.md
Labels: CLA Signed

#8243 chore(theme-translations): complete French translations
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
Labels: CLA Signed, pr: polish

#8234 fix(plugin-content-docs): fix error message context (error cause) when doc processing fails
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
Labels: CLA Signed, pr: bug fix

#8248 chore: fix tree-node-cli license
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, pr: internal

#8249 docs: fix anchor link
  website/community/5-release-process.md
Labels: CLA Signed, pr: internal

#8246 fix(mdx-loader): properly unwrap mdxAdmonitionTitle placeholder
  packages/docusaurus-theme-common/src/utils/admonitionUtils.tsx
Labels: CLA Signed, pr: bug fix, to backport

#8250 fix(ideal-image): do not pass down `img` prop
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
Labels: CLA Signed, pr: bug fix, to backport

#8253 chore(theme-translations): complete ru translations
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-search-algolia.json
Labels: CLA Signed, pr: polish, to backport

#8266 chore: update examples to Docusaurus 2.2.0
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
  examples/facebook/package.json
  examples/facebook/yarn.lock
Labels: CLA Signed, pr: internal
