Repository facebook/docusaurus, pull requests merged in 2023-11, with the labels that each got.

#9522 docs: fix incorrect package name for remark-emoji in migration guide
  website/docs/migration/v3.mdx
Labels: CLA Signed

#9530 fix(theme): fix firefox CSS :has() support bug
  packages/docusaurus-theme-classic/src/theme/Navbar/Search/styles.module.css
Labels: CLA Signed, pr: bug fix, to backport

#9531 fix(theme): docs html sidebar items should always be visible
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
Labels: CLA Signed, pr: bug fix, to backport

#9500 docs: versioning docs should show example versioned sidebar files
  website/docs/guides/docs/versioning.mdx
Labels: CLA Signed, pr: documentation

#9529 chore: ugrade babel dependencies to v7.23.3
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies, domain: dependencies, to backport

#9535 fix: v3 admonitions should support v2 title syntax for nested admonitions
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
  website/_dogfooding/_docs tests/tests/admonitions.mdx
Labels: CLA Signed, pr: bug fix, to backport

#9545 docs: delete duplicate closing div tag
  website/blog/2023-09-29-preparing-your-site-for-docusaurus-v3/index.mdx
  website/docs/migration/v3.mdx
  website/versioned_docs/version-3.0.0/migration/v3.mdx
Labels: CLA Signed

#9555 docs: add missing comma
  website/blog/releases/3.0/index.mdx
  website/docs/migration/v3.mdx
  website/versioned_docs/version-3.0.0/migration/v3.mdx
Labels: CLA Signed, pr: internal

#9542 chore: remove CI Score badge
  README.md
Labels: CLA Signed

#9398 fix(theme-classic): fixed wrong cursor on dropdown menu in navbar, when window is small
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/styles.module.css
Labels: CLA Signed

#9560 docs: enhance og image tag description in documentation
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/api/plugins/plugin-content-docs.mdx
  website/docs/api/plugins/plugin-content-pages.mdx
Labels: CLA Signed

#9567 fix(theme): upgrade prism-react-renderer, fix html script and style tag highlighting
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  website/_dogfooding/_pages tests/code-block-tests.mdx
  yarn.lock
Labels: CLA Signed, pr: bug fix, pr: dependencies, to backport, Argos

#9464 chore: Upgrade clsx to 2.0.0
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  website/blog/2023-09-29-preparing-your-site-for-docusaurus-v3/index.mdx
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies, to backport, Argos

#9570 fix: add v2 retrocompatible support for quoted admonitions
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
  website/_dogfooding/_docs tests/tests/admonitions.mdx
Labels: CLA Signed, pr: bug fix, to backport

#9572 chore: upgrade prism-react-renderer to 2.3.0 to avoid older clsx
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies, to backport

#9573 docs: broken link in release 3.0 page
  website/blog/releases/3.0/index.mdx
Labels: CLA Signed, pr: internal

#9471 docs: add heads up for Prettier users
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/migration/v3.mdx
Labels: CLA Signed, pr: documentation

#9566 chore(debug-plugin): migrate to a new maintained JSON Viewer
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/styles.module.css
  yarn.lock
Labels: CLA Signed, pr: dependencies, to backport

#9576 docs: Anchor Tag fixed in README.md Header
  README.md
Labels: CLA Signed, pr: documentation

#9583 docs: easyops-cn/docusarus-search-local v3 support
  website/community/2-resources.mdx
Labels: CLA Signed, pr: documentation

#9585 docs: update guide to mdx v3 typo
  website/docs/migration/v3.mdx
Labels: CLA Signed, pr: documentation

#9594 docs: add meilisearch-docsearch to resources
  project-words.txt
  website/community/2-resources.mdx
Labels: CLA Signed, pr: documentation

#9595 docs: remove legacy useless readme section
  README.md
Labels: pr: documentation

#9596 chore: release Docusaurus 3.0.1
  admin/new.docusaurus.io/package.json
  argos/package.json
  examples/classic-typescript/README.md
  examples/classic/README.md
  lerna.json
  packages/create-docusaurus/package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/shared/README.md
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-logger/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/styles.module.css
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-tag-manager/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/Navbar/Search/styles.module.css
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/styles.module.css
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-tsconfig/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/plugins/WaitPlugin.ts
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  website/_dogfooding/_docs tests/tests/admonitions.mdx
  website/_dogfooding/_pages tests/code-block-tests.mdx
  website/blog/2023-09-29-preparing-your-site-for-docusaurus-v3/index.mdx
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: internal, Argos

#9599 chore: examples for Docusaurus 3.0.#
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
Labels: CLA Signed, pr: internal
