Repository facebook/docusaurus, pull requests merged in 2023-12, with the labels that each got.

#9602 docs: add link to onDuplicateRoutes page
  website/docs/guides/creating-pages.mdx
Labels: CLA Signed, pr: documentation

#9574 docs: fix v2 admonitions syntax being replaced in migration guide
  website/docs/migration/v3.mdx
Labels: CLA Signed, pr: documentation

#9604 chore: add lint autofix CI job
  .github/workflows/lint-autofix.yml
  .lintstagedrc.json
  .prettierignore
  package.json
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  project-words.txt
  yarn.lock
Labels: CLA Signed, pr: maintenance

#9581 fix(content-blog): add baseUrl for author.image_url
  packages/docusaurus-plugin-content-blog/src/__tests__/authors.test.ts
  packages/docusaurus-plugin-content-blog/src/authors.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
Labels: CLA Signed, pr: bug fix, to backport, Argos

#9612 fix(type-aliases): add `title` prop for imported inline SVG React components
  packages/docusaurus-module-type-aliases/src/index.d.ts
Labels: CLA Signed, pr: bug fix, to backport

#9617 fix(utils): Markdown link replacement with <> but no spaces
  packages/docusaurus-utils/src/__tests__/__snapshots__/markdownLinks.test.ts.snap
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/markdownLinks.ts
Labels: CLA Signed, pr: bug fix, to backport

#9616 docs: fix docusaurus-core.mdx typo on useGlobalData
  website/docs/docusaurus-core.mdx
Labels: CLA Signed, pr: documentation

#9610 feat(core): enable port configuration via environment variable
  packages/docusaurus-utils/src/constants.ts
Labels: CLA Signed, pr: new feature, to backport

#9620 docs: Crowdin + MT issue
  project-words.txt
  website/docs/i18n/i18n-crowdin.mdx
Labels: CLA Signed, pr: documentation

#9631 fix(live-codeblock): stabilize react-live transformCode callback, fix editor/preview desync
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.tsx
Labels: CLA Signed, pr: bug fix, to backport

#9632 chore: attempt fo fix Lint Autofix workflow
  .github/workflows/lint-autofix.yml
Labels: CLA Signed, pr: internal

#9634 docs: slight improvement to GitHub header link styles
  website/src/css/custom.css
Labels: CLA Signed, pr: documentation

#9624 feat: siteConfig.markdown.parseFrontMatter hook
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docusaurus.config.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/docusaurus.config.js
  packages/docusaurus-plugin-content-pages/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/__tests__/__snapshots__/markdownUtils.test.ts.snap
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownUtils.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/_dogfooding/_docs tests/tests/visibility/force-unlisted.mdx
  website/_dogfooding/_docs tests/tests/visibility/index.mdx
  website/_dogfooding/dogfooding.config.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docs/guides/markdown-features/markdown-features-intro.mdx
  website/docusaurus.config.ts
Labels: CLA Signed, pr: new feature, Argos

#9648 fix(cli): output help when no conventional config + no subcommand
  packages/docusaurus/bin/docusaurus.mjs
Labels: CLA Signed, pr: bug fix, to backport

#9659 docs(math): use list of steps for clearer guidance
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
Labels: CLA Signed, pr: documentation

#9671 feat(theme-common): code block MagicComments support for (Visual) Basic/Batch/Fortran/COBOL/ML
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  project-words.txt
  website/_dogfooding/_pages tests/code-block-tests.mdx
Labels: CLA Signed, pr: new feature, to backport, Argos

#9674 feat(mdx-loader): add support for siteConfig.markdown.remarkRehypeOptions
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-types/package.json
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.localized.json
  website/docusaurus.config.ts
Labels: CLA Signed, pr: new feature, to backport, Argos

#9668 fix(pwa-plugin): upgrade workbox
  packages/docusaurus-plugin-pwa/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed
