Repository facebook/docusaurus, pull requests merged in 2023-04, with the labels that each got.

#8830 docs: link to mermaid config types
  website/docs/guides/markdown-features/markdown-features-diagrams.mdx
Labels: CLA Signed, pr: documentation

#8865 docs: correct small grammar error
  website/docs/cli.mdx
Labels: CLA Signed, pr: documentation

#8846 fix: add auto theme switch to the Canny widget
  website/src/css/custom.css
  website/src/plugins/featureRequests/FeatureRequestsPage.tsx
Labels: CLA Signed, pr: internal

#8842 fix(theme-translations): remove redundant navigation text in aria label
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.tsx
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/hu/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/nb/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, pr: bug fix, to backport

#8862 refactor(theme): expose copy, success and word-wrap icons as standalone components
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/CopyButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/WordWrapButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Copy/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Success/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/WordWrap/index.tsx
Labels: CLA Signed, pr: polish, to backport

#8877 docs: add "permissions.content: write" to GH workflow examples
  website/docs/deployment.mdx
Labels: CLA Signed, pr: documentation

#8890 feat(theme): create more generic ThemedComponent util from ThemedImage
  packages/docusaurus-theme-classic/src/theme/ThemedImage/index.tsx
  packages/docusaurus-theme-common/src/components/ThemedComponent/index.tsx
  packages/docusaurus-theme-common/src/components/ThemedComponent/styles.module.css
  packages/docusaurus-theme-common/src/index.ts
Labels: CLA Signed, pr: new feature

#8873 fix(theme-common): fix confusing theme error message: bad sidebar id suggestions
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
Labels: CLA Signed, pr: bug fix

#8870 feat(theme-common): code block MagicComments support for Lua/Haskell -- and WebAssembly ;;
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  website/_dogfooding/_pages tests/code-block-tests.mdx
Labels: CLA Signed, pr: new feature, to backport

#8898 docs: changing shopping card to shopping cart
  website/docs/swizzling.mdx
  website/versioned_docs/version-2.0.1/swizzling.mdx
  website/versioned_docs/version-2.1.0/swizzling.mdx
  website/versioned_docs/version-2.2.0/swizzling.mdx
  website/versioned_docs/version-2.3.1/swizzling.mdx
  website/versioned_docs/version-2.4.0/swizzling.mdx
Labels: CLA Signed

#8906 fix(theme-common): fix collapsible component with prefers-reduced-motion
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
Labels: CLA Signed, pr: bug fix, to backport

#8909 fix(theme): add __ prefix to technical anchors, search crawlers (Algolia) should ignore them
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/2018/12/14/Happy-First-Birthday-Slash/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/date-matter/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/heading-as-title/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/hey/my super path/héllô/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/mdx-blog-post/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/mdx-require-blog-post/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/simple/slug/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/unlisted/index.html
  packages/docusaurus-theme-common/src/utils/skipToContentUtils.tsx
  packages/docusaurus-utils-common/src/index.ts
  packages/docusaurus/src/client/BaseUrlIssueBanner/index.tsx
  packages/docusaurus/src/client/BaseUrlIssueBanner/styles.module.css
Labels: CLA Signed, pr: bug fix, to backport

#8908 fix(core): Correct yarn upgrade command for yarn 2.x
  packages/docusaurus/bin/beforeCli.mjs
Labels: CLA Signed, pr: bug fix, to backport

#8911 chore: migrate website config to createConfigAsync
  website/docusaurus.config.js
Labels: CLA Signed, pr: maintenance

#8915 feat(theme): add queryString option to localeDropdown
  packages/docusaurus-theme-classic/src/options.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  website/docs/api/themes/theme-configuration.mdx
  website/docs/i18n/i18n-tutorial.mdx
Labels: CLA Signed, pr: new feature

#8920 docs: mdx-js is using v2 for next edition
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, pr: documentation

#8943 docs: mention docusaurus.community site in resources
  website/community/2-resources.mdx
Labels: CLA Signed, pr: documentation

#8941 docs: rewrite some docs for mdx v2
  project-words.txt
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, pr: documentation

#8947 test: add visual regression tests with Argos CI
  .cspell.json
  .github/workflows/argos.yml
  argos/.gitignore
  argos/README.md
  argos/package.json
  argos/playwright.config.ts
  argos/tests/screenshot.css
  argos/tests/screenshot.spec.ts
  jest.config.mjs
  package.json
  yarn.lock
Labels: CLA Signed, pr: maintenance

#8933 fix(theme-translations): fix Turkish translation for aria label "Enter key"
  packages/docusaurus-theme-translations/locales/tr/theme-search-algolia.json
Labels: CLA Signed, pr: bug fix, to backport
