Repository facebook/docusaurus, pull requests merged in 2023-03, with the labels that each got.

#8709 docs: add dark mode version of BrowserStack logo
  README.md
  admin/img/browserstack-dark-mode-logo.svg
  admin/img/browserstack-light-mode-logo.svg
  admin/img/browserstack-logo.png
Labels: CLA Signed, pr: documentation

#8723 docs: add TypeScript playgrounds to docusaurus.new + Playground page
  admin/new.docusaurus.io/functionUtils/playgroundUtils.ts
  admin/new.docusaurus.io/functions/codesandbox-ts.ts
  admin/new.docusaurus.io/functions/stackblitz-ts.ts
  website/src/components/Playground/index.tsx
Labels: CLA Signed, pr: documentation

#8724 fix: bad routing for docusaurus.new ts functions
  admin/new.docusaurus.io/netlify.toml
Labels: CLA Signed, pr: bug fix

#8708 feat(theme): allow to load a Docusaurus page with theme from query-string: ?docusaurus-theme=dark
  packages/docusaurus-theme-classic/src/index.ts
  website/_dogfooding/_pages tests/embeds.tsx
  website/_dogfooding/_pages tests/index.mdx
  website/docs/styling-layout.mdx
  website/src/components/BrowserWindow/index.tsx
Labels: CLA Signed, pr: new feature, to backport

#8738 fix: correct MDXPlugin type
  package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
  packages/docusaurus-mdx-loader/src/remark/details/index.ts
  packages/docusaurus-mdx-loader/src/remark/head/index.ts
  packages/docusaurus-mdx-loader/src/remark/headings/index.ts
  packages/docusaurus-mdx-loader/src/remark/mdx1Compat/codeCompatPlugin.ts
  packages/docusaurus-mdx-loader/src/remark/mermaid/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-content-blog/src/remark/footnoteIDFixer.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
  yarn.lock
Labels: CLA Signed, pr: bug fix

#8744 fix(theme-translations): fix wrong arabic words (tip/next)
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
Labels: CLA Signed, pr: bug fix

#8749 chore: upgrade dependencies (non-major)
  package.json
  packages/create-docusaurus/package.json
  packages/create-docusaurus/templates/facebook/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-logger/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-tag-manager/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#8736 polish(core): better styling for error screens
  packages/docusaurus-theme-classic/src/theme/ErrorPageContent.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/errorBoundaryUtils.module.css
  packages/docusaurus-theme-common/src/utils/errorBoundaryUtils.tsx
  packages/docusaurus/src/client/theme-fallback/Error/index.tsx
  website/src/components/ErrorBoundaryTestButton/index.tsx
  website/testCSSOrder.mjs
Labels: CLA Signed, pr: polish, to backport

#8735 polish(theme): better error messages on navbar item rendering failures + ErrorCauseBoundary API
  packages/docusaurus-theme-classic/src/theme/Navbar/Content/index.tsx
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/docsUtils.tsx
  packages/docusaurus-theme-common/src/utils/errorBoundaryUtils.tsx
  packages/docusaurus-utils-common/src/__tests__/errorUtils.test.ts
  packages/docusaurus-utils-common/src/errorUtils.ts
  packages/docusaurus-utils-common/src/index.ts
  packages/docusaurus/src/client/theme-fallback/Error/index.tsx
Labels: CLA Signed, pr: polish, to backport

#8757 fix(search): search page should react to querystring changes + cleanup/refactor
  packages/docusaurus-theme-common/src/hooks/useSearchPage.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
Labels: CLA Signed, pr: bug fix, to backport

#8761 docs: add description for themeConfig.footer fields copyright
  website/docs/api/themes/theme-configuration.mdx
  website/versioned_docs/version-2.0.1/api/themes/theme-configuration.mdx
  website/versioned_docs/version-2.1.0/api/themes/theme-configuration.mdx
  website/versioned_docs/version-2.2.0/api/themes/theme-configuration.mdx
  website/versioned_docs/version-2.3.1/api/themes/theme-configuration.mdx
Labels: CLA Signed, pr: documentation

#8236 feat(content-docs): add support for sidebar item category/link descriptions in generated index page
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  website/_dogfooding/docs-tests-sidebars.js
  website/docs/guides/docs/sidebar/items.mdx
  website/docs/guides/docs/sidebar/multiple-sidebars.mdx
Labels: CLA Signed, pr: new feature, to backport

#8779 docs: v2 docs should discourage the usage of a lower-case MDX component (will not work in v3)
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/src/theme/MDXComponents.tsx
  website/versioned_docs/version-2.0.1/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-2.1.0/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-2.2.0/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-2.3.1/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, pr: documentation

#8780 docs: fix localhost url without link
  website/docs/installation.mdx
  website/versioned_docs/version-2.0.1/installation.mdx
  website/versioned_docs/version-2.1.0/installation.mdx
  website/versioned_docs/version-2.2.0/installation.mdx
  website/versioned_docs/version-2.3.1/installation.mdx
Labels: CLA Signed, pr: documentation

#8781 chore: vendor MDX deps for Jest and the MDX 2 upgrade
  jest/vendor/unified@10.1.2.js
Labels: pr: internal

#8712 polish(create-docusaurus): the starter template should use a navbar item "docSidebar" instead of "doc" (less fragile on updates)
  packages/create-docusaurus/templates/classic/docusaurus.config.js
  packages/create-docusaurus/templates/facebook/docusaurus.config.js
Labels: CLA Signed, pr: polish, to backport

#8788 docs: remove problematic mdx2 anchor id docs for MDX 2 migration
  website/docs/guides/docs/docs-create-doc.mdx
  website/versioned_docs/version-2.0.1/guides/docs/docs-create-doc.mdx
  website/versioned_docs/version-2.1.0/guides/docs/docs-create-doc.mdx
  website/versioned_docs/version-2.2.0/guides/docs/docs-create-doc.mdx
  website/versioned_docs/version-2.3.1/guides/docs/docs-create-doc.mdx
Labels: CLA Signed, pr: documentation

#8801 fix(theme): allow tabs children to be falsy
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-common/src/utils/tabsUtils.tsx
Labels: CLA Signed, pr: bug fix, to backport

#8803 fix(theme): codeblock buttons should be kept on the right when using RTL locale
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/styles.module.css
Labels: CLA Signed, pr: bug fix, to backport

#8810 chore: fix workbox precaching page link + weird mdx structure breaking Crowdin
  website/docs/api/plugins/plugin-pwa.mdx
  website/versioned_docs/version-2.0.1/api/plugins/plugin-pwa.mdx
  website/versioned_docs/version-2.1.0/api/plugins/plugin-pwa.mdx
  website/versioned_docs/version-2.2.0/api/plugins/plugin-pwa.mdx
  website/versioned_docs/version-2.3.1/api/plugins/plugin-pwa.mdx
Labels: CLA Signed, pr: internal

#8815 chore: update examples to Docusaurus 2.4.0
  examples/classic-typescript/docusaurus.config.js
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/docusaurus.config.js
  examples/classic/package.json
  examples/classic/yarn.lock
  examples/facebook/docusaurus.config.js
  examples/facebook/package.json
  examples/facebook/yarn.lock
Labels: CLA Signed, pr: internal

#8820 chore: use Crowdin CLI --language option to filter languages to download
  .gitignore
  package.json
Labels: CLA Signed, pr: internal

#8822 chore: Crowdin download languages pt-BR + ja
  package.json
Labels: CLA Signed, pr: internal

#8831 fix(create): add missing await
  packages/create-docusaurus/src/index.ts
Labels: CLA Signed
