Repository facebook/docusaurus, pull requests merged in 2023-10, with the labels that each got.

#9362 fix(theme-translations): add Japanese translation for "warning"
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
Labels: CLA Signed, pr: bug fix

#9374 chore: fix i18n staging deployment error
  website/docusaurus.config.js
Labels: pr: internal

#9375 chore: disable broken links check for i18n staging
  website/docusaurus.config.js
Labels: CLA Signed, pr: internal

#9369 fix(mdx-loader): prevent Open Graph images from being inserted as base64
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-utils/src/webpackUtils.ts
Labels: CLA Signed, pr: bug fix, Argos

#9377 docs(deployment): add permissions config to github action file in v2.4.3
  website/versioned_docs/version-2.4.3/deployment.mdx
Labels: CLA Signed, pr: documentation

#9316 chore: upgrade syntax highlighting dependencies, `prism-react-renderer` to v2, `react-live` to v4
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/docusaurus.config.js
  packages/create-docusaurus/templates/classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/__tests__/options.test.ts
  packages/docusaurus-theme-classic/src/deps.d.ts
  packages/docusaurus-theme-classic/src/options.ts
  packages/docusaurus-theme-classic/src/prism-include-languages.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-classic/src/theme/prism-include-languages.ts
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-live-codeblock/src/deps.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme-live-codeblock.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.tsx
  packages/docusaurus/src/client/exports/__tests__/Interpolate.test.tsx
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  website/docs/api/themes/theme-configuration.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
  website/docusaurus.config.js
  website/src/utils/prismDark.mjs
  website/src/utils/prismLight.mjs
  yarn.lock
Labels: CLA Signed, pr: breaking change, Argos

#9381 feat(core): throw error when official docusaurus dependencies use different versions
  packages/docusaurus/src/server/__tests__/__snapshots__/siteMetadata.test.ts.snap
  packages/docusaurus/src/server/__tests__/siteMetadata.test.ts
  packages/docusaurus/src/server/siteMetadata.ts
Labels: CLA Signed, pr: polish

#9384 chore: remove deprecated Google UA tracking id
  website/docusaurus.config.js
Labels: CLA Signed, pr: internal

#9385 fix(theme): avoid rendering empty search container if site has no search plugin
  packages/docusaurus-theme-classic/src/theme/Navbar/Search/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/Search/styles.module.css
Labels: CLA Signed, pr: bug fix

#9387 fix(core): log missing errorInfo in React 18 onRecoverableError callback
  packages/docusaurus/src/client/clientEntry.tsx
Labels: CLA Signed, pr: bug fix

#9388 docs: fix algolia crowler config template link for v3
  website/docs/search.mdx
  website/versioned_docs/version-3.0.0-beta.0/search.mdx
Labels: CLA Signed, pr: documentation

#9393 chore: point lighthouse to blog to reproduce https://github.com/facebook/docusaurus/issues/9379
  .github/workflows/lighthouse-report.yml
Labels: CLA Signed, pr: internal

#9397 docs: fix typos in website/docs/migration/migration-manual.mdx
  website/docs/migration/migration-manual.mdx
Labels: CLA Signed, pr: documentation

#9396 docs: fix typos in website/docs/i18n/i18n-git.mdx
  website/docs/i18n/i18n-git.mdx
Labels: CLA Signed, pr: documentation

#9400 chore: remove docusaurus-migrate
  packages/docusaurus-migrate/.npmignore
  packages/docusaurus-migrate/README.md
  packages/docusaurus-migrate/bin/index.mjs
  packages/docusaurus-migrate/package.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/blog/2017-12-14-introducing-docusaurus.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/package.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/pages/en/index.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/sidebars.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/siteConfig.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/static/.gitkeep
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/versioned_docs/version-1.10.x/api-commands.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/versioned_docs/version-1.9.x/api-commands.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/versioned_docs/version-1.9.x/api-doc-markdown.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/versioned_sidebars/version-1.9.x-sidebars.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/complex_website/website/versions.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/expectedSiteConfig.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/blog/2017-12-14-introducing-docusaurus.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/package.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/pages/en/index.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/sidebars.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/siteConfig.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/static/.gitkeep
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/versioned_docs/version-1.10.x/api-commands.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/versioned_docs/version-1.9.x/api-commands.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/versioned_docs/version-1.9.x/api-doc-markdown.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/versioned_sidebars/version-1.9.x-sidebars.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/missing_version_website/website/versions.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/docs/api-commands.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/docs/api-doc-markdown.md
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/website/package.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/website/pages/en/index.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/website/sidebars.json
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/website/siteConfig.js
  packages/docusaurus-migrate/src/__tests__/__fixtures__/simple_website/website/static/.gitkeep
  packages/docusaurus-migrate/src/__tests__/__fixtures__/sourceSiteConfig.js
  packages/docusaurus-migrate/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-migrate/src/__tests__/frontMatter.test.ts
  packages/docusaurus-migrate/src/__tests__/index.test.ts
  packages/docusaurus-migrate/src/__tests__/migrationConfig.test.ts
  packages/docusaurus-migrate/src/deps.d.ts
  packages/docusaurus-migrate/src/frontMatter.ts
  packages/docusaurus-migrate/src/index.ts
  packages/docusaurus-migrate/src/sanitizeMD.ts
  packages/docusaurus-migrate/src/transform.ts
  packages/docusaurus-migrate/src/types.ts
  packages/docusaurus-migrate/tsconfig.build.json
  packages/docusaurus-migrate/tsconfig.json
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: maintenance

#9417 docs: add Docusaurus v3.0 upgrade guide
  website/blog/2023-09-29-preparing-your-site-for-docusaurus-v3/index.mdx
  website/docs/advanced/plugins.mdx
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/blog.mdx
  website/docs/deployment.mdx
  website/docs/guides/docs/docs-introduction.mdx
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-tutorial.mdx
  website/docs/introduction.mdx
  website/docs/migration/index.mdx
  website/docs/migration/v2/migration-automated.mdx
  website/docs/migration/v2/migration-manual.mdx
  website/docs/migration/v2/migration-overview.mdx
  website/docs/migration/v2/migration-translated-sites.mdx
  website/docs/migration/v2/migration-versioned-sites.mdx
  website/docs/migration/v3.mdx
  website/docs/styling-layout.mdx
  website/sidebars.ts
Labels: CLA Signed, pr: documentation

#9419 chore(ci): use new Argos playwright integration
  .github/workflows/argos.yml
  argos/package.json
  argos/playwright.config.ts
  package.json
  yarn.lock
Labels: CLA Signed, pr: internal, Argos

#9438 refactor(blog-plugin): blog archive reverse ordering of posts
  packages/docusaurus-theme-classic/src/theme/BlogArchivePage/index.tsx
Labels: CLA Signed, pr: polish

#9445 chore(ci): fix missing screenshots on Argos
  argos/package.json
  yarn.lock
Labels: CLA Signed, Argos

#9394 feat(mdx-loader): Remark plugin to report unused MDX / Markdown directives
  argos/playwright.config.ts
  argos/tests/screenshot.spec.ts
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-mdx-loader/src/remark/contentTitle/index.ts
  packages/docusaurus-mdx-loader/src/remark/mermaid/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/__tests__/__fixtures__/containerDirectives.md
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/__tests__/__fixtures__/leafDirectives.md
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/__tests__/__fixtures__/textDirectives.md
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/index.ts
  packages/docusaurus-mdx-loader/src/remark/utils/index.ts
  packages/docusaurus-mdx-loader/src/vfile-datamap.d.mts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/webpackUtils.ts
  project-words.txt
Labels: CLA Signed, pr: new feature, Argos

#9447 chore: Make Lighthouse CI run on local build
  .github/workflows/lighthouse-report.yml
  .github/workflows/lighthouserc.json
  admin/scripts/formatLighthouseReport.js
Labels: CLA Signed, pr: internal

#9448 chore: revert Lighthouse numberOfRuns due to bad/verbose reporting
  .github/workflows/lighthouserc.json
Labels: CLA Signed, pr: internal

#9446 fix(theme): fix useWindowSize React hydration issue
  packages/docusaurus-theme-common/src/hooks/useWindowSize.ts
Labels: CLA Signed, pr: bug fix

#9452 docs: v3 upgrade guide should mention MDX v1 compat options
  website/docs/migration/v3.mdx
Labels: CLA Signed, pr: documentation

#9433 docs: Docusaurus v3.0 blog post
  project-words.txt
  website/blog/2023-09-29-preparing-your-site-for-docusaurus-v3/index.mdx
  website/blog/releases/3.0/img/social-card.png
  website/blog/releases/3.0/index.mdx
  website/docs/guides/markdown-features/markdown-features-intro.mdx
  website/docs/migration/v3.mdx
  website/docusaurus.config.ts
  website/src/css/custom.css
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
Labels: CLA Signed, pr: documentation

#9482 chore: update examples for v3.0.0
  examples/classic-typescript/docs/intro.md
  examples/classic-typescript/docs/tutorial-basics/create-a-document.md
  examples/classic-typescript/docs/tutorial-extras/manage-docs-versions.md
  examples/classic-typescript/docs/tutorial-extras/translate-your-site.md
  examples/classic-typescript/docusaurus.config.js
  examples/classic-typescript/docusaurus.config.ts
  examples/classic-typescript/package.json
  examples/classic-typescript/sandbox.config.json
  examples/classic-typescript/sidebars.ts
  examples/classic-typescript/src/components/HomepageFeatures/index.tsx
  examples/classic-typescript/src/pages/index.tsx
  examples/classic-typescript/tsconfig.json
  examples/classic-typescript/yarn.lock
  examples/classic/docs/intro.md
  examples/classic/docs/tutorial-basics/create-a-document.md
  examples/classic/docs/tutorial-extras/manage-docs-versions.md
  examples/classic/docs/tutorial-extras/translate-your-site.md
  examples/classic/docusaurus.config.js
  examples/classic/package.json
  examples/classic/sandbox.config.json
  examples/classic/sidebars.js
  examples/classic/src/components/HomepageFeatures/index.js
  examples/classic/src/pages/index.js
  examples/classic/yarn.lock
Labels: CLA Signed, pr: internal

#9484 fix(website): Fix typo in announcement bar
  website/docusaurus.config.ts
Labels: CLA Signed

#9487 fix(create-docusaurus): fix readme docusaurus 2 ref
  examples/classic-typescript/README.md
  examples/classic/README.md
  packages/create-docusaurus/templates/shared/README.md
Labels: CLA Signed, pr: bug fix, to backport
