Repository facebook/docusaurus, pull requests merged in 2023-05, with the labels that each got.

#8953 docs: mention blog truncating marker edge case
  website/docs/blog.mdx
  website/versioned_docs/version-2.0.1/blog.mdx
  website/versioned_docs/version-2.1.0/blog.mdx
  website/versioned_docs/version-2.2.0/blog.mdx
  website/versioned_docs/version-2.3.1/blog.mdx
  website/versioned_docs/version-2.4.0/blog.mdx
Labels: CLA Signed, pr: documentation

#8944 polish(create-docusaurus): add comment in config to mention different ways to declare config + doc link
  packages/create-docusaurus/templates/classic/docusaurus.config.js
Labels: CLA Signed, pr: documentation

#8950 docs: bidirectional link between api config and guide config
  project-words.txt
  website/docs/api/docusaurus.config.js.mdx
  website/docs/configuration.mdx
Labels: CLA Signed, pr: documentation

#8948 docs(plugin-ideal-image): mention plugin changes type of imported images
  website/docs/api/plugins/plugin-ideal-image.mdx
Labels: CLA Signed

#8951 docs: mention equivalent config syntaxes
  website/docs/api/docusaurus.config.js.mdx
  website/docs/configuration.mdx
Labels: CLA Signed, pr: documentation

#8960 fix: allow html syntax in MDX v2 with format md
  jest/deps.d.ts
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/__tests__/format.test.ts
  packages/docusaurus-mdx-loader/src/__tests__/processor.test.ts
  packages/docusaurus-mdx-loader/src/format.ts
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/processor.ts
  website/_dogfooding/_pages tests/markdown-tests-md.md
  website/_dogfooding/_pages tests/markdown-tests-mdx.mdx
  yarn.lock
Labels: CLA Signed, pr: bug fix

#8904 docs: fix broken link to Prism includeLangs.js default list of languages
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, pr: documentation

#8971 fix(theme): fix collapsible sidebar behavior when prefers-reduced-motion
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/index.tsx
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/accessibilityUtils.ts
Labels: CLA Signed, pr: bug fix, to backport

#8972 fix: remove useless js-loader in front of mdx-loader
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus/src/server/plugins/synthetic.ts
  website/src/plugins/changelog/index.js
Labels: CLA Signed, pr: performance

#8976 docs: update broken links theme configuration page
  website/docs/api/themes/theme-configuration.mdx
Labels: CLA Signed, pr: documentation

#8975 docs: update link in md code blocks section
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, pr: documentation

#8981 chore: update examples to Docusaurus 2.4.1
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
  examples/facebook/package.json
  examples/facebook/yarn.lock
Labels: CLA Signed, pr: internal

#8993 docs: fix broken link in code blocks docs
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, pr: documentation

#8982 feat(theme-common): code block MagicComments support for TeX/LaTeX/Matlab
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  website/_dogfooding/_pages tests/code-block-tests.mdx
Labels: CLA Signed, pr: new feature, to backport

#9021 fix(theme-transalations): fix Swedish translation of "last updated"
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
Labels: CLA Signed, pr: bug fix

#9018 docs: fix link to rehype
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
Labels: CLA Signed

#9024 docs: remove Meta Data Policy footer link on website
  examples/facebook/docusaurus.config.js
  packages/create-docusaurus/templates/facebook/docusaurus.config.js
  packages/docusaurus-theme-classic/src/__tests__/options.test.ts
  website/docusaurus.config.js
Labels: CLA Signed, pr: maintenance

#9006 fix(core): docusaurus CLI should detect the correct yarn version when suggesting upgrades
  packages/docusaurus/bin/beforeCli.mjs
Labels: CLA Signed, pr: bug fix

#9025 chore(theme-translations): complete it translations
  packages/docusaurus-theme-translations/locales/it/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/it/theme-search-algolia.json
Labels: CLA Signed, pr: polish

#9028 feat(theme): add ability to inject data attributes from query-string - possibility to create an iframe/embed variant of a page
  packages/docusaurus-theme-classic/src/index.ts
  website/docs/styling-layout.mdx
  website/src/css/custom.css
Labels: CLA Signed, pr: new feature, to backport
