Repository facebook/docusaurus, pull requests merged in 2023-07, with the labels that each got.

#9102 feat(cli): deploy command should allow customizing git config user.name / user.email in deployment branch (#9101)
  packages/docusaurus/src/commands/deploy.ts
  website/docs/deployment.mdx
Labels: CLA Signed, pr: new feature, to backport

#9133 fix(init): change initial site URL to one that is safe for the future
  packages/create-docusaurus/templates/classic/docusaurus.config.js
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/2018/12/14/Happy-First-Birthday-Slash/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/archive/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/date-matter/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/heading-as-title/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/hey/my super path/héllô/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/mdx-blog-post/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/mdx-require-blog-post/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/simple/slug/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/birthday/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/complex/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/date/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/unlisted/index.html
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/empty-site/docusaurus.config.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/docusaurus.config.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-autogenerated-sidebar/docusaurus.config.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-doc-label/docusaurus.config.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/versioned-site/docusaurus.config.js
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/docusaurus.config.js
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/badPlugins.docusaurus.config.js
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/docusaurus.config.js
Labels: CLA Signed, pr: polish

#9148 chore: upgrade dependencies (non-major)
  admin/new.docusaurus.io/package.json
  argos/package.json
  package.json
  packages/create-docusaurus/package.json
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-logger/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-migrate/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-tag-manager/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/utils.ts
  packages/eslint-plugin/package.json
  packages/lqip-loader/package.json
  packages/stylelint-copyright/package.json
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: dependencies

#9139 docs: add Flightcontrol as a deployment option
  project-words.txt
  website/docs/deployment.mdx
Labels: CLA Signed, pr: documentation

#9149 docs: improve yarn deps upgrade command
  website/docs/installation.mdx
Labels: CLA Signed, pr: documentation

#9160 fix(core): handle single quotes inside file paths
  packages/docusaurus-utils/src/pathUtils.ts
  packages/docusaurus/src/server/index.ts
  website/_dogfooding/_docs tests/beginner's guide.mdx
Labels: CLA Signed, pr: bug fix

#9130 fix(theme): canonical url should be not change after hydration if url accessed with/without trailing slash
  packages/docusaurus-theme-classic/src/theme/SiteMetadata/index.tsx
  packages/docusaurus-theme-common/src/utils/useAlternatePageUtils.ts
Labels: CLA Signed, pr: bug fix

#9171 feat(client-redirects-plugin): support fully qualified urls and querystring/hash in destination/to url
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/collectRedirects.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/redirectValidation.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/writeRedirectFiles.test.ts.snap
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/redirectValidation.test.ts
  packages/docusaurus-plugin-client-redirects/src/__tests__/writeRedirectFiles.test.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/createRedirectPageContent.ts
  packages/docusaurus-plugin-client-redirects/src/index.ts
  packages/docusaurus-plugin-client-redirects/src/options.ts
  packages/docusaurus-plugin-client-redirects/src/redirectValidation.ts
  packages/docusaurus-plugin-client-redirects/src/templates/redirectPage.template.html.ts
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  website/_dogfooding/dogfooding.config.js
  website/docusaurus.config.js
Labels: CLA Signed, pr: new feature

#9177 docs: improve the opening sentence's clarity
  CONTRIBUTING.md
Labels: CLA Signed, pr: documentation

#9180 docs: remove 'import type' declaration in javascript snippet
  website/docs/advanced/client.mdx
Labels: CLA Signed, pr: documentation

#9152 feat(theme): add support for meta og locale and alternates
  packages/docusaurus-theme-classic/src/theme/SiteMetadata/index.tsx
Labels: CLA Signed, pr: new feature

#9184 fix(theme): change schema.org itemType prop urls from http to https
  packages/docusaurus-theme-classic/src/theme/BlogLayout/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Container/index.tsx
Labels: CLA Signed, pr: polish
