Repository facebook/docusaurus, pull requests merged in 2024-09, with the labels that each got.

#10468 docs: Update README.md twitter links
  README.md
Labels: CLA Signed, pr: internal

#10470 refactor(mdx-loader): re-export metadata module instead of serializing it
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/utils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-pages/src/contentHelpers.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
Labels: CLA Signed, pr: performance, Argos

#10480 refactor: move PerfLogger from core to @docusaurus/logger
  packages/create-docusaurus/bin/index.js
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-logger/src/index.ts
  packages/docusaurus-logger/src/logger.ts
  packages/docusaurus-logger/src/perfLogger.ts
  packages/docusaurus-theme-translations/update.mjs
  packages/docusaurus/bin/beforeCli.mjs
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start/utils.ts
  packages/docusaurus/src/server/plugins/plugins.ts
  packages/docusaurus/src/server/site.ts
  packages/docusaurus/src/ssg.ts
  website/_dogfooding/testSwizzleThemeClassic.mjs
Labels: CLA Signed, pr: maintenance

#10479 feat(core, mdx-loader): deduplicate MDX compilation - `siteConfig.future.experimental_faster.mdxCrossCompilerCache`
  packages/docusaurus-mdx-loader/src/createMDXLoader.ts
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/options.ts
  packages/docusaurus-mdx-loader/src/preprocessor.ts
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-mdx-loader/src/utils.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/plugins/__tests__/plugins.test.ts
  packages/docusaurus/src/server/plugins/synthetic.ts
Labels: CLA Signed, pr: new feature

#10484 docs: fix v3.5 blog post typo - `onUntruncatedBlogPosts`
  website/blog/releases/3.5/index.mdx
Labels: CLA Signed, pr: internal

#10485 refactor(core): rewrite Webpack ChunkAssetPlugin with RuntimeModule
  .github/workflows/build-perf.yml
  packages/docusaurus/src/webpack/plugins/ChunkAssetPlugin.ts
  packages/docusaurus/src/webpack/server.ts
  project-words.txt
Labels: CLA Signed, pr: maintenance

#10497 refactor(core): prepare codebase for swappable bundler
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-types/src/bundler.d.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start/webpack.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/client.test.ts
  packages/docusaurus/src/webpack/__tests__/configure.test.ts
  packages/docusaurus/src/webpack/__tests__/server.test.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/configure.ts
  packages/docusaurus/src/webpack/currentBundler.ts
  packages/docusaurus/src/webpack/plugins/StaticDirectoriesCopyPlugin.ts
  packages/docusaurus/src/webpack/server.ts
  packages/docusaurus/src/webpack/utils.ts
  project-words.txt
  yarn.lock
Labels: CLA Signed, pr: maintenance

#10498 docs: Fix link to GitHub workflow file docs
  website/docs/deployment.mdx
  website/versioned_docs/version-2.x/deployment.mdx
  website/versioned_docs/version-3.0.1/deployment.mdx
  website/versioned_docs/version-3.1.1/deployment.mdx
  website/versioned_docs/version-3.2.1/deployment.mdx
  website/versioned_docs/version-3.3.2/deployment.mdx
  website/versioned_docs/version-3.4.0/deployment.mdx
  website/versioned_docs/version-3.5.2/deployment.mdx
Labels: CLA Signed, pr: internal

#10503 docs: Update twitter links in introducing-docusaurus blog post
  website/blog/2017/12-14-introducing-docusaurus.mdx
Labels: CLA Signed, pr: internal

#10502 docs: update twitter link in introduction docs
  website/docs/introduction.mdx
Labels: CLA Signed, pr: internal

#10507 fix(theme-translations): add missing Vietnamese translations
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
Labels: CLA Signed, pr: bug fix

#10514 fix: remove babel.config.js from init templates + website
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/shared/babel.config.js
  website/babel.config.js
  website/docs/configuration.mdx
Labels: CLA Signed

#10520 docs: fix typo
  website/docs/configuration.mdx
Labels: CLA Signed, pr: internal

#10527 chore: fix formatLighthouseReport() CI
  admin/scripts/formatLighthouseReport.js
Labels: CLA Signed, pr: internal

#10528 chore: fix interverted condition in formatLighthouseReport.js
  admin/scripts/formatLighthouseReport.js
Labels: CLA Signed, pr: internal

#10522 feat(core): faster CSS minimizer - `siteConfig.future.experimental_faster.lightningCssMinimizer`
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  project-words.txt
  website/testCSSOrder.mjs
  yarn.lock
Labels: CLA Signed, pr: new feature, Argos
