Repository facebook/docusaurus, pull requests merged in 2024-02, with the labels that each got.

#9804 docs: backport #9471, #9692, and #9695 changes in v3.1.1 docs
  website/versioned_docs/version-3.1.1/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-3.1.1/migration/v3.mdx
Labels: CLA Signed, pr: documentation

#9807 docs: add "TypeScript support" section in the "Modules using Sass/SCSS" section
  website/docs/styling-layout.mdx
Labels: CLA Signed, pr: documentation

#9812 fix(i18n): add missing theme translations for fa locale
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
Labels: CLA Signed, pr: bug fix

#9816 docs: Add docs for Mermaid Component
  website/docs/guides/markdown-features/markdown-features-diagrams.mdx
  website/versioned_docs/version-3.1.1/guides/markdown-features/markdown-features-diagrams.mdx
Labels: CLA Signed, pr: documentation

#9798 refactor(core): internalize, simplify and optimize the SSG logic
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/package.json
  packages/docusaurus/src/client/renderToHtml.tsx
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/common.d.ts
  packages/docusaurus/src/deps.d.ts
  packages/docusaurus/src/ssg.ts
  packages/docusaurus/src/templates/dev.html.template.ejs
  packages/docusaurus/src/templates/ssr.html.template.ts
  packages/docusaurus/src/templates/templates.ts
  packages/docusaurus/src/utils.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/client.test.ts
  packages/docusaurus/src/webpack/__tests__/server.test.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/minification.ts
  packages/docusaurus/src/webpack/server.ts
  packages/docusaurus/src/webpack/utils.ts
  project-words.txt
  yarn.lock
Labels: CLA Signed, pr: performance, to backport, Argos

#9839 refactor(blog): improve doc global data hook error message + add doc warning to blogOnly mode
  packages/docusaurus-plugin-content-docs/src/client/index.ts
  website/docs/blog.mdx
Labels: CLA Signed, pr: polish, to backport

#9838 feat(blog): add blog pageBasePath plugin option
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/blogUtils.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/blogUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  website/docs/advanced/routing.mdx
  website/docs/api/plugins/plugin-content-blog.mdx
Labels: CLA Signed, pr: new feature, to backport

#9687 feat(plugin-vercel-analytics): add new vercel analytics plugin
  packages/docusaurus-plugin-vercel-analytics/.npmignore
  packages/docusaurus-plugin-vercel-analytics/README.md
  packages/docusaurus-plugin-vercel-analytics/package.json
  packages/docusaurus-plugin-vercel-analytics/src/__tests__/options.test.ts
  packages/docusaurus-plugin-vercel-analytics/src/analytics.ts
  packages/docusaurus-plugin-vercel-analytics/src/index.ts
  packages/docusaurus-plugin-vercel-analytics/src/options.ts
  packages/docusaurus-plugin-vercel-analytics/src/types.d.ts
  packages/docusaurus-plugin-vercel-analytics/tsconfig.client.json
  packages/docusaurus-plugin-vercel-analytics/tsconfig.json
  website/docs/api/plugins/plugin-vercel-analytics.mdx
  website/src/components/APITable/index.tsx
  yarn.lock
Labels: CLA Signed, pr: new feature, to backport

#9845 docs: typo
  website/docs/api/plugins/plugin-vercel-analytics.mdx
Labels: CLA Signed, pr: documentation

#9442 feat(create-docusaurus): ask user for preferred language when no language CLI option provided
  admin/scripts/generateExamples.js
  admin/scripts/test-release.sh
  packages/create-docusaurus/README.md
  packages/create-docusaurus/bin/index.js
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/cliUtils.ts
  packages/docusaurus-utils/src/index.ts
Labels: CLA Signed, pr: new feature, to backport

#9681 feat(swizzle): ask user preferred language if no language CLI option provided
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
  packages/docusaurus/src/commands/swizzle/common.ts
  packages/docusaurus/src/commands/swizzle/index.ts
Labels: CLA Signed, pr: new feature, to backport

#9852 fix(core): ensure core error boundary is able to render theme layout
  packages/docusaurus/src/client/theme-fallback/Error/index.tsx
Labels: CLA Signed, pr: bug fix, to backport

#9851 fix(theme-classic): should use plurals for category items description
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/hu/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/nb/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, pr: bug fix

#9861 chore(deps): update npm to yarn from 2.0.0 to 2.2.1
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.ts.snap
  yarn.lock
Labels: CLA Signed

#9856 docs(showcase): remove supabase
  .github/workflows/showcase-test.yml
  website/src/data/showcase/supabase.png
  website/src/data/users.tsx
Labels: CLA Signed

#9865 chore(website): update @crowdin/crowdin-api-client
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: maintenance

#9877 docs: fix typos in deployment.mdx
  website/docs/deployment.mdx
Labels: CLA Signed, pr: documentation

#9872 fix(theme-translations): complete and improve Spanish theme translations
  packages/docusaurus-theme-translations/locales/es/theme-common.json
Labels: CLA Signed, pr: bug fix, to backport

#9875 fix(argos): waiting for images decoding
  argos/package.json
  yarn.lock
Labels: CLA Signed, pr: internal, Argos

#9878 fix(core): fix default i18n calendar used, infer it from locale if possible
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/i18n.ts
Labels: CLA Signed, pr: bug fix, to backport

#9868 refactor(theme): dates should be formatted on the client-side instead of in nodejs code
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogArchivePage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Header/Info/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/LastUpdated/index.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/IntlUtils.ts
  project-words.txt
Labels: CLA Signed, pr: polish, to backport, Argos

#9890 perf: optimize getFileCommitDate, make it async
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-utils/src/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/gitUtils.ts
Labels: CLA Signed, pr: performance, to backport, Argos

#9897 fix(mdx-loader): mdx-code-block should support CRLF
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Labels: CLA Signed, pr: bug fix, to backport
