Repository facebook/docusaurus, pull requests merged in 2024-07, with the labels that each got.

#10256 chore: simplify TypeScript configs, use TS 5.5 configDir placeholder
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  __tests__/validate-tsconfig.test.ts
  packages/create-docusaurus/tsconfig.build.json
  packages/create-docusaurus/tsconfig.json
  packages/docusaurus-cssnano-preset/tsconfig.json
  packages/docusaurus-logger/tsconfig.json
  packages/docusaurus-mdx-loader/tsconfig.json
  packages/docusaurus-plugin-client-redirects/tsconfig.json
  packages/docusaurus-plugin-content-blog/tsconfig.client.json
  packages/docusaurus-plugin-content-blog/tsconfig.json
  packages/docusaurus-plugin-content-docs/tsconfig.client.json
  packages/docusaurus-plugin-content-docs/tsconfig.json
  packages/docusaurus-plugin-content-pages/tsconfig.json
  packages/docusaurus-plugin-debug/tsconfig.client.json
  packages/docusaurus-plugin-debug/tsconfig.json
  packages/docusaurus-plugin-google-analytics/tsconfig.client.json
  packages/docusaurus-plugin-google-analytics/tsconfig.json
  packages/docusaurus-plugin-google-gtag/tsconfig.client.json
  packages/docusaurus-plugin-google-gtag/tsconfig.json
  packages/docusaurus-plugin-google-tag-manager/tsconfig.client.json
  packages/docusaurus-plugin-google-tag-manager/tsconfig.json
  packages/docusaurus-plugin-ideal-image/tsconfig.client.json
  packages/docusaurus-plugin-ideal-image/tsconfig.json
  packages/docusaurus-plugin-pwa/tsconfig.client.json
  packages/docusaurus-plugin-pwa/tsconfig.json
  packages/docusaurus-plugin-pwa/tsconfig.worker.json
  packages/docusaurus-plugin-sitemap/tsconfig.json
  packages/docusaurus-plugin-vercel-analytics/tsconfig.client.json
  packages/docusaurus-plugin-vercel-analytics/tsconfig.json
  packages/docusaurus-preset-classic/tsconfig.json
  packages/docusaurus-remark-plugin-npm2yarn/tsconfig.json
  packages/docusaurus-theme-classic/tsconfig.client.json
  packages/docusaurus-theme-classic/tsconfig.json
  packages/docusaurus-theme-common/tsconfig.json
  packages/docusaurus-theme-live-codeblock/tsconfig.client.json
  packages/docusaurus-theme-live-codeblock/tsconfig.json
  packages/docusaurus-theme-mermaid/tsconfig.client.json
  packages/docusaurus-theme-mermaid/tsconfig.json
  packages/docusaurus-theme-search-algolia/tsconfig.client.json
  packages/docusaurus-theme-search-algolia/tsconfig.json
  packages/docusaurus-theme-translations/tsconfig.build.json
  packages/docusaurus-theme-translations/tsconfig.json
  packages/docusaurus-utils-common/tsconfig.json
  packages/docusaurus-utils-validation/tsconfig.json
  packages/docusaurus-utils/tsconfig.json
  packages/docusaurus/tsconfig.client.json
  packages/docusaurus/tsconfig.json
  packages/docusaurus/tsconfig.server.json
  packages/eslint-plugin/tsconfig.json
  packages/lqip-loader/tsconfig.json
  packages/stylelint-copyright/tsconfig.json
  tsconfig.base.client.json
  tsconfig.base.json
Labels: CLA Signed, pr: maintenance

#10258 chore: lighthouse report has no PWA section anymore
  admin/scripts/formatLighthouseReport.js
Labels: CLA Signed, pr: internal

#10257 chore(theme-translations): add more Traditional Chinese(zh-Hant) translations
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-search-algolia.json
Labels: CLA Signed, pr: polish

#10285 chore: add lockfile-lint to CI
  .github/workflows/lint.yml
  package.json
  yarn.lock
Labels: CLA Signed, pr: internal

#10288 fix(theme): fix DocsVersionDropdownNavbarItem version link target
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: CLA Signed, pr: bug fix

#10310 docs: remove deprecated partial toc warning
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-3.2.1/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-3.3.2/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-3.4.0/guides/markdown-features/markdown-features-react.mdx
Labels: CLA Signed, pr: documentation

#10314 chore: fix CI, use Node 22.4 instead of 22.*
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed, pr: internal

#10313 refactor(blog): theme-common shouldn't depend on blog content plugins
  .eslintrc.js
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/client/contexts.tsx
  packages/docusaurus-plugin-content-blog/src/client/index.ts
  packages/docusaurus-plugin-content-blog/src/client/index.tsx
  packages/docusaurus-plugin-content-blog/src/client/sidebarUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/client/sidebarUtils.tsx
  packages/docusaurus-plugin-content-blog/src/client/structuredDataUtils.ts
  packages/docusaurus-theme-classic/src/theme/BlogListPage/StructuredData/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Header/Authors/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Header/Info/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Header/Title/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItems/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/Metadata/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/StructuredData/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Desktop/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Mobile/index.tsx
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/types.d.ts
  website/src/plugins/changelog/theme/ChangelogItem/Header/Authors/index.tsx
  website/src/plugins/changelog/theme/ChangelogItem/Header/index.tsx
  website/src/plugins/changelog/theme/ChangelogPage/index.tsx
Labels: CLA Signed, pr: maintenance

#10311 fix(core): revert wrong anchor link implementation change
  .github/workflows/build-perf.yml
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/__tests__/Link.test.tsx
Labels: CLA Signed, pr: bug fix

#10338 docs(plugin-google-gtag): replace the broken Google Developers links with valid ones
  packages/docusaurus-plugin-google-gtag/src/index.ts
  website/docs/api/plugins/plugin-google-gtag.mdx
  website/versioned_docs/version-2.x/api/plugins/plugin-google-gtag.mdx
  website/versioned_docs/version-3.0.1/api/plugins/plugin-google-gtag.mdx
  website/versioned_docs/version-3.1.1/api/plugins/plugin-google-gtag.mdx
  website/versioned_docs/version-3.2.1/api/plugins/plugin-google-gtag.mdx
  website/versioned_docs/version-3.3.2/api/plugins/plugin-google-gtag.mdx
  website/versioned_docs/version-3.4.0/api/plugins/plugin-google-gtag.mdx
Labels: CLA Signed, pr: documentation

#10337 docs: fix default value for `docRootComponent`
  website/docs/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.0.1/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.1.1/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.2.1/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.3.2/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.4.0/api/plugins/plugin-content-docs.mdx
Labels: CLA Signed, pr: documentation

#10309 fix(theme): docsVersionDropdown navbar item not showing the appropriate version
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsClientUtils.test.ts
  packages/docusaurus-plugin-content-docs/src/client/docsClientUtils.ts
Labels: CLA Signed, pr: bug fix

#10335 feat(mdx-loader): wrap mdx content title (`# Title`) in `<header>` for concistency
  argos/tests/screenshot.spec.ts
  packages/docusaurus-mdx-loader/src/remark/contentTitle/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/contentTitle/index.ts
  packages/docusaurus-mdx-loader/src/remark/head/index.ts
Labels: CLA Signed, pr: new feature, Argos

#10325 feat(translations): Indonesian translation
  packages/docusaurus-theme-translations/locales/id/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/id/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/id/theme-common.json
  packages/docusaurus-theme-translations/locales/id/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/id/theme-search-algolia.json
Labels: CLA Signed, pr: new feature

#10339 feat(translation): add Estonian default translation
  packages/docusaurus-theme-translations/locales/et/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/et/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/et/theme-common.json
  packages/docusaurus-theme-translations/locales/et/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/et/theme-search-algolia.json
Labels: CLA Signed, pr: new feature

#10343 chore(deps): update infima npm dependency to version 0.2.0-alpha.44
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, pr: maintenance, Argos

#10345 docs: Add @getcanary/docusaurus-pagefind in docs
  project-words.txt
  website/community/2-resources.mdx
Labels: CLA Signed, pr: documentation
