Repository facebook/docusaurus, pull requests merged in 2024-12, with the labels that each got.

#10740 docs: Link initialization docs together
  website/docs/installation.mdx
  website/docs/typescript-support.mdx
  website/docusaurus.config.ts
Labels: CLA Signed, pr: documentation

#10742 docs: Removed AgileTs from the Showcase
  website/src/data/users.tsx
Labels: CLA Signed, pr: internal

#10747 refactor(core): swizzle wrap should use ReactNode instead of JSX.Element
  packages/docusaurus/src/commands/swizzle/__tests__/__snapshots__/actions.test.ts.snap
  packages/docusaurus/src/commands/swizzle/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/commands/swizzle/actions.ts
Labels: CLA Signed, pr: maintenance

#10759 docs: add swizzle delete tip
  website/docs/swizzling.mdx
Labels: CLA Signed

#10760 fix(theme-translation): add missing Korean (ko) theme translations
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
Labels: CLA Signed, pr: bug fix

#10784 refactor(website): remove pure-react-carousel
  website/blog/2022/08-01-announcing-docusaurus-2.0/ShowcaseCarousel.module.css
  website/blog/2022/08-01-announcing-docusaurus-2.0/ShowcaseCarousel.tsx
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: internal

#10783 fix(theme-translations): Add missing Dutch (nl) theme translations
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
Labels: CLA Signed, pr: bug fix

#10782 fix(theme-common): code block magic comments should support SQL block comments
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  website/_dogfooding/_pages tests/code-block-tests.mdx
Labels: CLA Signed, pr: bug fix

#10786 fix(core): fix React hydration errors, change html minifier settings
  argos/tests/screenshot.spec.ts
  packages/docusaurus-bundler/src/minifyHtml.ts
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  website/_dogfooding/_pages tests/tabs-tests.mdx
Labels: CLA Signed, pr: bug fix, Argos

#10763 feat: Add React 19 support to Docusaurus v3
  .cspell.json
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  admin/scripts/test-release.sh
  admin/test-bad-package/README.mdx
  argos/tests/screenshot.spec.ts
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-tag-manager/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-rsdoctor/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-svgr/package.json
  packages/docusaurus-plugin-vercel-analytics/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/base.ts
  project-words.txt
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: new feature, Argos

#10795 docs(showcase): Update Prismatic.io showcase image, description, and tags
  website/src/data/showcase/prismatic.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: internal

#10796 fix(theme): Footer Column/Link should merge provided className
  packages/docusaurus-theme-classic/src/options.ts
  packages/docusaurus-theme-classic/src/theme/Footer/LinkItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Links/MultiColumn/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Links/Simple/index.tsx
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  website/docusaurus.config.ts
Labels: CLA Signed, pr: bug fix

#10672 chore(algolia): upgrade algoliasearch to v5
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  yarn.lock
Labels: CLA Signed, pr: maintenance, Argos

#10798 refactor(core): Use Intl native API to get locale direction, remove rtl-detect depend…
  packages/docusaurus/package.json
  packages/docusaurus/src/server/i18n.ts
  yarn.lock
Labels: CLA Signed, pr: maintenance

#10799 fix(algolia): properly forward placeholder/translations to DocSearch components
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Labels: CLA Signed, Argos

#10801 refactor(algolia): simplify SearchBar component
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Labels: CLA Signed, pr: maintenance

#10768 feat(blog): Add author social icons for bluesky, mastodon, threads, twitch, youtube, instagram
  .prettierignore
  packages/docusaurus-plugin-content-blog/src/__tests__/authorsSocials.test.ts
  packages/docusaurus-plugin-content-blog/src/authorsSocials.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/Socials/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Bluesky/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/GitHub/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Instagram/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Instagram/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/LinkedIn/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Mastodon/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Threads/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Threads/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Twitch/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Twitter/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/X/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/YouTube/index.tsx
  project-words.txt
  website/_dogfooding/_blog tests/2024-07-03-multiple-authors.mdx
  website/blog/authors.yml
  website/docs/api/plugins/plugin-content-blog.mdx
Labels: CLA Signed, pr: new feature

#10770 chore: Devcontainer upgrade to Ubuntu Noble & Node 22
  .devcontainer/devcontainer.json
Labels: CLA Signed, pr: maintenance

#10803 fix(npm-to-yarn): add missing npm-to-yarn converter for Bun
  packages/docusaurus-remark-plugin-npm2yarn/README.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
Labels: CLA Signed, pr: bug fix
