Repository facebook/docusaurus, pull requests merged in 2024-03, with the labels that each got.

#9906 docs: emphasize "index slug" convention
  website/docs/guides/docs/docs-create-doc.mdx
Labels: CLA Signed, pr: documentation

#9913 docs: update legacy MDX v1 links to markdown links
  website/docs/api/plugins/plugin-client-redirects.mdx
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/api/plugins/plugin-content-docs.mdx
Labels: CLA Signed, pr: documentation, Argos

#9886 feat(blog): allow processing blog posts through a processBlogPosts function
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/blogUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  website/docs/api/plugins/plugin-content-blog.mdx
  yarn.lock
Labels: CLA Signed, pr: new feature, to backport, Argos

#9914 docs: update legacy MDX v1 links to markdown links
  website/versioned_docs/version-2.x/api/plugins/plugin-client-redirects.mdx
  website/versioned_docs/version-2.x/api/plugins/plugin-content-blog.mdx
  website/versioned_docs/version-2.x/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.0.1/api/plugins/plugin-client-redirects.mdx
  website/versioned_docs/version-3.0.1/api/plugins/plugin-content-blog.mdx
  website/versioned_docs/version-3.0.1/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.1.1/api/plugins/plugin-client-redirects.mdx
  website/versioned_docs/version-3.1.1/api/plugins/plugin-content-blog.mdx
  website/versioned_docs/version-3.1.1/api/plugins/plugin-content-docs.mdx
Labels: CLA Signed, pr: documentation, Argos

#9910 fix(theme-translations): add Japanese translations
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
Labels: CLA Signed, pr: bug fix, to backport

#9893 docs(team): update active docusaurus team member
  project-words.txt
  website/src/components/TeamProfileCards/index.tsx
Labels: CLA Signed

#9915 fix(theme-translations): complete and modify Japanese translations
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
Labels: CLA Signed, pr: bug fix, to backport

#9929 docs(showcase): update link
  website/src/data/users.tsx
Labels: CLA Signed, pr: showcase

#9903 refactor(core): improve dev perf, fine-grained site reloads - part1
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/external.ts
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/commands/start/start.ts
  packages/docusaurus/src/commands/start/utils.ts
  packages/docusaurus/src/commands/start/watcher.ts
  packages/docusaurus/src/commands/start/webpack.ts
  packages/docusaurus/src/commands/swizzle/context.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/index.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/routes.test.ts
  packages/docusaurus/src/server/__tests__/site.test.ts
  packages/docusaurus/src/server/__tests__/testUtils.ts
  packages/docusaurus/src/server/__tests__/utils.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/codegen/__tests__/__snapshots__/codegenRoutes.test.ts.snap
  packages/docusaurus/src/server/codegen/__tests__/codegenRoutes.test.ts
  packages/docusaurus/src/server/codegen/codegen.ts
  packages/docusaurus/src/server/codegen/codegenRoutes.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/plugins.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/routeConfig.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/init.test.ts
  packages/docusaurus/src/server/plugins/__tests__/plugins.test.ts
  packages/docusaurus/src/server/plugins/__tests__/routeConfig.test.ts
  packages/docusaurus/src/server/plugins/index.ts
  packages/docusaurus/src/server/plugins/plugins.ts
  packages/docusaurus/src/server/plugins/routeConfig.ts
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/server/site.ts
  packages/docusaurus/src/server/translations/translations.ts
  packages/docusaurus/src/server/utils.ts
  packages/docusaurus/src/utils.ts
  packages/docusaurus/src/webpack/__tests__/client.test.ts
  packages/docusaurus/src/webpack/__tests__/server.test.ts
  project-words.txt
Labels: CLA Signed, pr: performance, to backport

#9931 feat(core): add new plugin allContentLoaded lifecycle
  packages/docusaurus-plugin-debug/src/index.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/plugins.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/plugins.test.ts
  packages/docusaurus/src/server/plugins/actions.ts
  packages/docusaurus/src/server/plugins/plugins.ts
Labels: CLA Signed, pr: new feature, to backport, Argos

#9946 docs(website): update wrong translate id
  website/src/components/TeamProfileCards/index.tsx
Labels: CLA Signed, pr: internal

#9944 fix(theme): improve a11y of DocSidebarItemCategory expand/collapsed button
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
Labels: CLA Signed, pr: bug fix

#9920 fix(blog): apply trailing slash to blog feed
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
Labels: CLA Signed, pr: bug fix, to backport

#9945 fix(a11y): move focus algolia-search focus back to search input on Escape
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Labels: CLA Signed, pr: bug fix, to backport

#9912 feat(blog): add LastUpdateAuthor & LastUpdateTime
  .eslintrc.js
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website-blog-with-last-update/blog/author.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website-blog-with-last-update/blog/both.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website-blog-with-last-update/blog/lastUpdateDate.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website-blog-with-last-update/blog/nothing.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/frontMatter.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/lastUpdate.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/frontMatter.ts
  packages/docusaurus-plugin-content-docs/src/lastUpdate.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Footer/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/Footer/index.tsx
  packages/docusaurus-theme-classic/src/theme/EditMetaRow/index.tsx
  packages/docusaurus-theme-classic/src/theme/EditMetaRow/styles.module.css
  packages/docusaurus-theme-classic/src/theme/LastUpdated/index.tsx
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  packages/docusaurus-theme-common/src/utils/structuredDataUtils.ts
  packages/docusaurus-utils-validation/src/__tests__/__snapshots__/validationSchemas.test.ts.snap
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/index.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus-utils/src/__tests__/__fixtures__/simple-site/doc with space.md
  packages/docusaurus-utils/src/__tests__/__fixtures__/simple-site/hello.md
  packages/docusaurus-utils/src/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/__tests__/lastUpdateUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/lastUpdateUtils.ts
  project-words.txt
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/api/plugins/plugin-content-docs.mdx
  website/docusaurus.config.ts
Labels: CLA Signed, pr: new feature, to backport, Argos

#9954 feat(sitemap): add support for "lastmod"
  .eslintrc.js
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-docs/src/routes.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemapItem.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/options.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/xml.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/createSitemapItem.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/options.ts
  packages/docusaurus-plugin-sitemap/src/types.ts
  packages/docusaurus-plugin-sitemap/src/xml.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/routing.d.ts
  packages/docusaurus-utils/src/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/__tests__/lastUpdateUtils.test.ts
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus-utils/src/__tests__/routeUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/lastUpdateUtils.ts
  packages/docusaurus-utils/src/pathUtils.ts
  packages/docusaurus-utils/src/routeUtils.ts
  packages/docusaurus/src/server/__tests__/routes.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/codegen/__tests__/__snapshots__/codegenRoutes.test.ts.snap
  packages/docusaurus/src/server/codegen/__tests__/codegenRoutes.test.ts
  packages/docusaurus/src/server/codegen/codegenRoutes.ts
  packages/docusaurus/src/server/plugins/plugins.ts
  packages/docusaurus/src/server/routes.ts
  packages/docusaurus/src/server/site.ts
  project-words.txt
  website/docs/api/plugin-methods/lifecycle-apis.mdx
  website/docs/api/plugins/plugin-sitemap.mdx
  website/docusaurus.config.ts
Labels: CLA Signed, pr: new feature, to backport

#9971 docs: replace VuePress by VitePress on tool comparison section
  website/docs/introduction.mdx
Labels: CLA Signed, pr: documentation

#9968 refactor(core): improve dev perf, fine-grained site reloads - part2
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/plugins.test.ts
  packages/docusaurus/src/server/plugins/__tests__/pluginsUtils.test.ts
  packages/docusaurus/src/server/plugins/actions.ts
  packages/docusaurus/src/server/plugins/plugins.ts
  packages/docusaurus/src/server/plugins/pluginsUtils.ts
  packages/docusaurus/src/server/plugins/synthetic.ts
  packages/docusaurus/src/server/site.ts
  packages/docusaurus/src/utils.ts
Labels: CLA Signed, pr: performance, to backport, Argos

#9937 docs: use official GitHub Action to deploy to GitHub Pages
  website/docs/deployment.mdx
Labels: CLA Signed, pr: documentation

#9975 refactor(core): improve dev perf, fine-grained site reloads - part 3
  packages/docusaurus-types/src/context.d.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus-utils/src/emitUtils.ts
  packages/docusaurus-utils/src/gitUtils.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start/utils.ts
  packages/docusaurus/src/commands/writeTranslations.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/clientModules.test.ts
  packages/docusaurus/src/server/__tests__/siteMetadata.test.ts
  packages/docusaurus/src/server/clientModules.ts
  packages/docusaurus/src/server/plugins/actions.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/plugins/plugins.ts
  packages/docusaurus/src/server/plugins/pluginsUtils.ts
  packages/docusaurus/src/server/site.ts
  packages/docusaurus/src/server/siteMetadata.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
  packages/docusaurus/src/server/translations/translations.ts
  packages/docusaurus/src/ssg.ts
  packages/docusaurus/src/utils.ts
  project-words.txt
Labels: CLA Signed, pr: performance, to backport

#9972 refactor(utils): remove duplicated function
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/extensionRedirects.ts
  packages/docusaurus-plugin-client-redirects/src/index.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-plugin-content-docs/src/slug.ts
  packages/docusaurus-utils-common/src/__tests__/applyTrailingSlash.test.ts
  packages/docusaurus-utils-common/src/__tests__/stringUtils.test.ts
  packages/docusaurus-utils-common/src/applyTrailingSlash.ts
  packages/docusaurus-utils-common/src/index.ts
  packages/docusaurus-utils-common/src/stringUtils.ts
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus-utils/src/__tests__/urlUtils.test.ts
  packages/docusaurus-utils/src/globUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/jsUtils.ts
  packages/docusaurus-utils/src/urlUtils.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/configValidation.ts
Labels: CLA Signed, pr: maintenance

#9999 fix(mdx-loader): Ignore contentTitle coming after Markdown thematicBreak
  packages/docusaurus-mdx-loader/src/remark/contentTitle/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/contentTitle/index.ts
Labels: CLA Signed, pr: bug fix, to backport

#10002 docs: fix 3.2 blog post headings
  website/blog/releases/3.2/index.mdx
Labels: pr: internal

#10003 chore: update examples to v3.2.0
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
Labels: CLA Signed, pr: internal

#9993 chore: fix codesandbox default privacy
  admin/new.docusaurus.io/functionUtils/playgroundUtils.ts
Labels: CLA Signed, pr: internal

#10004 docs(website): Announce v3.2 on website/homepage
  website/docusaurus.config.ts
  website/src/pages/index.tsx
Labels: CLA Signed, pr: documentation
