Repository facebook/docusaurus, pull requests merged in 2024-05, with the labels that each got.

#10093 docs: Fix dead Typesense links
  website/docs/search.mdx
Labels: CLA Signed, pr: documentation

#10103 fix(core): do not recreate ReactDOM Root, fix React warning on hot reload
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus/src/client/clientEntry.tsx
  packages/docusaurus/src/client/docusaurus.ts
  project-words.txt
Labels: CLA Signed, pr: bug fix

#10104 chore: update examples for Docusaurus 3.3.2
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
Labels: CLA Signed, pr: internal

#10111 feat(theme-translations): Add Bulgarian default theme translations (bg)
  packages/docusaurus-theme-translations/locales/bg/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/bg/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/bg/theme-common.json
  packages/docusaurus-theme-translations/locales/bg/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/bg/theme-search-algolia.json
Labels: CLA Signed, pr: new feature, to backport

#10117 chore: Ignore more playwright console errors
  argos/tests/screenshot.spec.ts
Labels: CLA Signed, pr: internal, Argos

#10118 fix(theme-translations): fix missing pluralization for label DocCard.categoryDescription.plurals
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/hu/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/nb/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
Labels: CLA Signed, pr: bug fix, Argos

#10121 feat(core): site storage config options (experimental)
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-common/src/utils/storageUtils.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/context.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/site.test.ts
  packages/docusaurus/src/server/__tests__/storage.test.ts
  packages/docusaurus/src/server/codegen/codegen.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/site.ts
  packages/docusaurus/src/server/storage.ts
  website/_dogfooding/dogfooding.config.ts
  website/_dogfooding/migrateStorageNamespace.ts
  website/community/5-release-process.mdx
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Labels: CLA Signed, pr: new feature

#10128 chore: fix v3.3 blog post
  website/blog/releases/3.3/index.mdx
Labels: CLA Signed, pr: internal

#10129 refactor: fix i18n bug in node v22
  packages/docusaurus/src/server/i18n.ts
Labels: CLA Signed, pr: internal

#10130 fix(core): the broken anchor checker should not be sensitive pathname trailing slashes
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
Labels: CLA Signed, pr: bug fix

#10131 fix(core): codegen should generate unique route prop filenames
  packages/docusaurus-utils/src/__tests__/hashUtils.test.ts
  packages/docusaurus-utils/src/hashUtils.ts
  packages/docusaurus/src/server/codegen/__tests__/codegenRoutes.test.ts
  packages/docusaurus/src/server/codegen/codegenRoutes.ts
Labels: CLA Signed, pr: bug fix

#10132 fix(core): `configurePostCss()` should run after `configureWebpack()`
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start/webpack.ts
  packages/docusaurus/src/webpack/__tests__/configure.test.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/configure.ts
  packages/docusaurus/src/webpack/utils.ts
Labels: CLA Signed, pr: bug fix, Argos

#10142 fix(core): fix `docusaurus serve` broken for assets when using trailingSlash
  packages/docusaurus/src/commands/serve.ts
Labels: CLA Signed, pr: bug fix

#10143 docs: recommend users to remove hast-util-is-element in migration to v3
  website/docs/migration/v3.mdx
  website/versioned_docs/version-3.3.2/migration/v3.mdx
Labels: CLA Signed, pr: documentation

#10145 fix(core): fix serve workaround regexp
  packages/docusaurus/src/commands/serve.ts
Labels: CLA Signed, pr: bug fix

#9859 feat(core): hash router option - browse site offline (experimental)
  .github/workflows/build-hash-router.yml
  packages/docusaurus-plugin-client-redirects/src/index.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-theme-search-algolia/src/opensearch.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/__tests__/urlUtils.test.ts
  packages/docusaurus-utils/src/urlUtils.ts
  packages/docusaurus/src/client/clientEntry.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.test.tsx
  packages/docusaurus/src/client/exports/useBaseUrl.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start/utils.ts
  packages/docusaurus/src/commands/start/webpack.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/htmlTags.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/htmlTags.ts
  packages/docusaurus/src/server/site.ts
  packages/docusaurus/src/ssg.ts
  packages/docusaurus/src/templates/templates.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/plugins/ForceTerminatePlugin.ts
  packages/docusaurus/src/webpack/plugins/StaticDirectoriesCopyPlugin.ts
  packages/docusaurus/src/webpack/server.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Labels: CLA Signed, pr: new feature, to backport, Argos

#10149 chore: fix build-hash-router.yml workflow to trigger on main
  .github/workflows/build-hash-router.yml
Labels: CLA Signed, pr: internal

#10147 docs(showcase): remove butterfly
  website/src/data/showcase/docs-butterfly.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: internal

#10150 chore: fix invalid CI workflow build-hash-router.yml
  .github/workflows/build-hash-router.yml
Labels: CLA Signed, pr: internal

#10153 chore: fix ci?
  .github/workflows/build-hash-router.yml
Labels: CLA Signed, pr: internal

#10157 fix(theme-translations): complete Vietnamese theme translations
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
Labels: CLA Signed, pr: bug fix

#10151 feat(theme-translations): Added Turkmen (tk) default theme translations
  packages/docusaurus-theme-translations/locales/tk/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/tk/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/tk/theme-common.json
  packages/docusaurus-theme-translations/locales/tk/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/tk/theme-search-algolia.json
Labels: CLA Signed, pr: new feature

#10164 fix(search): fix algolia search container bug
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Labels: CLA Signed, pr: bug fix

#10165 fix(theme-translation): add missing Korean (ko) theme translations
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
Labels: CLA Signed, pr: bug fix

#10167 docs: suggest using `{<...>...</...>}` if don't use Markdown in migra…
  website/docs/migration/v3.mdx
  website/versioned_docs/version-3.3.2/migration/v3.mdx
Labels: CLA Signed, pr: documentation

#10173 docs: improve how to use `<details>`
  website/docs/guides/markdown-features/markdown-features-intro.mdx
Labels: CLA Signed, pr: documentation, domain: markdown

#10176 docs: add community plugin docusaurus-graph
  website/community/2-resources.mdx
Labels: CLA Signed, pr: documentation

#10178 fix(theme): SearchPage should respect `contextualSearch: false` setting
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
Labels: CLA Signed, pr: bug fix

#10185 fix(docs, blog): Markdown link resolution does not support hot reload
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownLinks.ts
Labels: CLA Signed, pr: bug fix

#10188 chore: update examples for v3.4.0
  examples/classic-typescript/blog/tags.yml
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/blog/tags.yml
  examples/classic/package.json
  examples/classic/yarn.lock
Labels: CLA Signed
