Repository facebook/docusaurus, pull requests merged in 2024-04, with the labels that each got.

#10014 docs(website): fix SEO docs headTags example
  website/docs/seo.mdx
  website/versioned_docs/version-3.0.1/seo.mdx
  website/versioned_docs/version-3.1.1/seo.mdx
  website/versioned_docs/version-3.2.0/seo.mdx
Labels: CLA Signed, pr: documentation

#9980 docs: remove old github action description
  website/docs/deployment.mdx
Labels: CLA Signed, pr: documentation

#10011 docs: add stormkit as deployment platform
  project-words.txt
  website/docs/deployment.mdx
Labels: CLA Signed

#10022 fix(utils): getFileCommitDate should support `log.showSignature=true`
  packages/docusaurus-utils/src/gitUtils.ts
Labels: CLA Signed, pr: bug fix

#10020 docs: Fix wrong path example
  website/docs/advanced/routing.mdx
  website/versioned_docs/version-2.x/advanced/routing.mdx
  website/versioned_docs/version-3.0.1/advanced/routing.mdx
  website/versioned_docs/version-3.1.1/advanced/routing.mdx
  website/versioned_docs/version-3.2.1/advanced/routing.mdx
Labels: CLA Signed, pr: documentation

#10030 docs(website): add @orama/plugin-docusaurus* search plugins
  project-words.txt
  website/community/2-resources.mdx
Labels: CLA Signed

#10039 docs: visit is a named export of unist-util-visit
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
Labels: CLA Signed, pr: documentation

#10025 fix(docs): sidebar item label impact the pagination label of docs
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/utils.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
Labels: CLA Signed, pr: bug fix

#10032 feat(pages): add LastUpdateAuthor & LastUpdateTime & editUrl
  packages/docusaurus-plugin-content-pages/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/frontMatter.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/options.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  project-words.txt
  website/_dogfooding/dogfooding.config.ts
  website/docs/api/plugins/plugin-content-pages.mdx
  website/docusaurus.config.ts
Labels: CLA Signed, pr: new feature, Argos

#10042 feat(core): simplify plugin API, support route.props
  .github/workflows/build-perf.yml
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/routes.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/routes.ts
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/routes.ts
  packages/docusaurus-plugin-debug/src/index.ts
  packages/docusaurus-types/src/context.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus-types/src/routing.d.ts
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/server/codegen/codegen.ts
  packages/docusaurus/src/server/codegen/codegenRoutes.ts
  packages/docusaurus/src/server/plugins/__tests__/plugins.test.ts
  packages/docusaurus/src/server/plugins/actions.ts
  packages/docusaurus/src/server/plugins/plugins.ts
  packages/docusaurus/src/server/plugins/pluginsUtils.ts
  packages/docusaurus/src/server/plugins/routeConfig.ts
  website/src/plugins/featureRequests/FeatureRequestsPlugin.js
Labels: CLA Signed, pr: new feature

#10051 fix(theme-translations): correct label for tip admonition in italian
  packages/docusaurus-theme-translations/locales/it/theme-common.json
Labels: CLA Signed, pr: bug fix

#10054 fix(core): sortRoutes shouldn't have a default baseUrl value, this led to a bug
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus/src/server/plugins/__tests__/routeConfig.test.ts
  packages/docusaurus/src/server/plugins/plugins.ts
  packages/docusaurus/src/server/plugins/routeConfig.ts
Labels: CLA Signed, pr: bug fix

#10056 docs(search): Algolia troubleshooting section for index configuration problems
  website/docs/search.mdx
  website/static/img/docsearch-troubleshoot-index-facets.jpg
  website/versioned_docs/version-3.2.1/search.mdx
Labels: CLA Signed, pr: documentation

#10048 fix(algolia): add insights property on Algolia Theme Config object TS definition
  .github/workflows/lint-autofix.yml
  package.json
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  project-words.txt
  website/docs/search.mdx
  website/versioned_docs/version-2.x/search.mdx
  website/versioned_docs/version-3.0.1/search.mdx
  website/versioned_docs/version-3.1.1/search.mdx
  website/versioned_docs/version-3.2.1/search.mdx
Labels: CLA Signed, pr: bug fix

#9490 docs: add troubleshooting steps to migration/upgrade page
  website/docs/migration/index.mdx
  website/docusaurus.config.ts
Labels: CLA Signed, pr: documentation

#10049 fix(website): fix website manifest.json name "Docusaurus v2" to just "Docusaurus"
  website/static/manifest.json
Labels: CLA Signed, pr: maintenance

#9767 feat(cli): docusaurus deploy should support a --target-dir option
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/src/commands/deploy.ts
  website/docs/cli.mdx
Labels: CLA Signed, pr: new feature

#10061 refactor(theme): simplify CSS solution to solve empty search container
  packages/docusaurus-theme-classic/src/theme/Navbar/Search/styles.module.css
  project-words.txt
Labels: CLA Signed, pr: polish

#10063 test(e2e): TypeCheck website/starter in min/max range of TS versions
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  website/docs/migration/v3.mdx
  website/docs/typescript-support.mdx
  website/versioned_docs/version-3.0.1/migration/v3.mdx
  website/versioned_docs/version-3.0.1/typescript-support.mdx
  website/versioned_docs/version-3.1.1/migration/v3.mdx
  website/versioned_docs/version-3.1.1/typescript-support.mdx
  website/versioned_docs/version-3.2.1/migration/v3.mdx
  website/versioned_docs/version-3.2.1/typescript-support.mdx
Labels: CLA Signed, pr: maintenance

#10065 refactor: extract base TS client config + upgrade TS + refactor TS setup
  .eslintrc.js
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  __tests__/validate-tsconfig.test.ts
  packages/create-docusaurus/tsconfig.build.json
  packages/create-docusaurus/tsconfig.json
  packages/docusaurus-cssnano-preset/tsconfig.json
  packages/docusaurus-logger/tsconfig.json
  packages/docusaurus-mdx-loader/tsconfig.json
  packages/docusaurus-plugin-client-redirects/tsconfig.json
  packages/docusaurus-plugin-content-blog/tsconfig.client.json
  packages/docusaurus-plugin-content-blog/tsconfig.json
  packages/docusaurus-plugin-content-docs/tsconfig.client.json
  packages/docusaurus-plugin-content-docs/tsconfig.json
  packages/docusaurus-plugin-content-pages/tsconfig.json
  packages/docusaurus-plugin-debug/tsconfig.client.json
  packages/docusaurus-plugin-debug/tsconfig.json
  packages/docusaurus-plugin-google-analytics/tsconfig.client.json
  packages/docusaurus-plugin-google-analytics/tsconfig.json
  packages/docusaurus-plugin-google-gtag/tsconfig.client.json
  packages/docusaurus-plugin-google-gtag/tsconfig.json
  packages/docusaurus-plugin-google-tag-manager/tsconfig.client.json
  packages/docusaurus-plugin-google-tag-manager/tsconfig.json
  packages/docusaurus-plugin-ideal-image/tsconfig.client.json
  packages/docusaurus-plugin-ideal-image/tsconfig.json
  packages/docusaurus-plugin-pwa/tsconfig.client.json
  packages/docusaurus-plugin-pwa/tsconfig.json
  packages/docusaurus-plugin-pwa/tsconfig.worker.json
  packages/docusaurus-plugin-sitemap/tsconfig.json
  packages/docusaurus-plugin-vercel-analytics/tsconfig.client.json
  packages/docusaurus-plugin-vercel-analytics/tsconfig.json
  packages/docusaurus-preset-classic/tsconfig.json
  packages/docusaurus-remark-plugin-npm2yarn/tsconfig.json
  packages/docusaurus-theme-classic/tsconfig.client.json
  packages/docusaurus-theme-classic/tsconfig.json
  packages/docusaurus-theme-common/tsconfig.json
  packages/docusaurus-theme-live-codeblock/tsconfig.client.json
  packages/docusaurus-theme-live-codeblock/tsconfig.json
  packages/docusaurus-theme-mermaid/tsconfig.client.json
  packages/docusaurus-theme-mermaid/tsconfig.json
  packages/docusaurus-theme-search-algolia/tsconfig.client.json
  packages/docusaurus-theme-search-algolia/tsconfig.json
  packages/docusaurus-theme-translations/tsconfig.build.json
  packages/docusaurus-theme-translations/tsconfig.json
  packages/docusaurus-utils-common/tsconfig.json
  packages/docusaurus-utils-validation/tsconfig.json
  packages/docusaurus-utils/tsconfig.json
  packages/docusaurus/tsconfig.client.json
  packages/docusaurus/tsconfig.json
  packages/docusaurus/tsconfig.server.json
  packages/eslint-plugin/tsconfig.json
  packages/lqip-loader/tsconfig.json
  packages/stylelint-copyright/tsconfig.json
  tsconfig.base.client.json
  tsconfig.base.json
Labels: CLA Signed, pr: maintenance

#10070 fix(theme-translations): add missing theme translations for pt-BR
  packages/docusaurus-theme-translations/locales/pt-BR/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-search-algolia.json
Labels: CLA Signed, pr: bug fix

#10064 feat(core): add new site config option `siteConfig.markdown.anchors.maintainCase`
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-mdx-loader/src/remark/headings/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/headings/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/index.test.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.mdx
Labels: CLA Signed, pr: new feature

#10076 chore: Upgrade to TypeScript 5.4
  package.json
  yarn.lock
Labels: CLA Signed, pr: internal

#10082 docs: add note regarding ts extension for config file.
  website/docs/api/docusaurus.config.js.mdx
Labels: CLA Signed, pr: documentation

#10085 docs: make `ThemedImage` example work out of the box
  website/docs/guides/markdown-features/markdown-features-assets.mdx
Labels: CLA Signed, pr: documentation

#10090 fix(core): `docusaurus serve` redirects should include the site `/baseUrl/` prefix
  packages/docusaurus/src/commands/serve.ts
Labels: CLA Signed, pr: bug fix

#10080 fix(theme): `<Admonition>` should render properly without heading/icon
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/index.tsx
  website/_dogfooding/_pages tests/markdown-tests-mdx.mdx
Labels: CLA Signed, pr: bug fix

#10091 fix(theme): `<Tabs>` props should allow overriding defaults
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
Labels: CLA Signed, pr: bug fix

#10092 chore: Upgrade svgr / svgo / cssnano
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, pr: bug fix, Argos

#10083 feat: add createSitemapItems hook
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/options.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/head.ts
  packages/docusaurus-plugin-sitemap/src/options.ts
  packages/docusaurus-plugin-sitemap/src/types.ts
  website/docs/api/plugins/plugin-sitemap.mdx
Labels: CLA Signed, pr: new feature
