Repository facebook/docusaurus, pull requests merged in 2024-06, with the labels that each got.

#10191 chore: unlock site deploy for i18n with onInlineTags warn
  website/docusaurus.config.ts
Labels: CLA Signed, pr: internal

#10194 docs: fix missing `
  website/blog/releases/3.4/index.mdx
Labels: CLA Signed

#10225 fix(core): fix sites unable to start/build without a static dir
  packages/docusaurus/src/webpack/client.ts
Labels: CLA Signed, pr: bug fix

#10219 fix(theme): ignored className attribute on lazy loaded TabItem
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  website/_dogfooding/_pages tests/tabs-tests.mdx
Labels: CLA Signed, pr: bug fix

#10233 docs(search): update docsearch api url
  website/docs/search.mdx
  website/versioned_docs/version-2.x/search.mdx
  website/versioned_docs/version-3.0.1/search.mdx
  website/versioned_docs/version-3.1.1/search.mdx
  website/versioned_docs/version-3.2.1/search.mdx
  website/versioned_docs/version-3.3.2/search.mdx
  website/versioned_docs/version-3.4.0/search.mdx
Labels: CLA Signed, pr: documentation

#10235 fix(theme-translation): add missing German (de) theme.admonition translations
  packages/docusaurus-theme-translations/locales/de/theme-common.json
Labels: CLA Signed, pr: bug fix

#10239 fix(core): fail fast if plugin has no name
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-unnamed-plugin/docusaurus.config.js
  packages/docusaurus/src/server/plugins/__tests__/__snapshots__/init.test.ts.snap
  packages/docusaurus/src/server/plugins/__tests__/init.test.ts
  packages/docusaurus/src/server/plugins/init.ts
Labels: CLA Signed, pr: bug fix

#10240 fix(markdown): mdx-code-block should support intentation
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Labels: CLA Signed, pr: bug fix

#10180 docs: backport #10173 to v3.3 + v3.4 & revise the content
  website/docs/guides/markdown-features/markdown-features-intro.mdx
  website/versioned_docs/version-3.3.2/guides/markdown-features/markdown-features-intro.mdx
  website/versioned_docs/version-3.4.0/guides/markdown-features/markdown-features-intro.mdx
Labels: CLA Signed, pr: documentation

#10119 chore: CI upgrade to Node 22 + TS 5.5
  .github/workflows/argos.yml
  .github/workflows/build-blog-only.yml
  .github/workflows/build-perf.yml
  .github/workflows/canary-release.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-swizzle.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  yarn.lock
Labels: CLA Signed, pr: internal

#10241 feat(mdx): support recma plugins
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/options.ts
  packages/docusaurus-utils-validation/src/index.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  project-words.txt
  website/_dogfooding/dogfooding.config.ts
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/api/plugins/plugin-content-docs.mdx
  website/docs/api/plugins/plugin-content-pages.mdx
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: new feature

#10245 docs: add emoji for consistency
  website/docs/introduction.mdx
Labels: CLA Signed, pr: documentation

#10224 feat(blog): warn duplicate and inline authors
  packages/docusaurus-plugin-content-blog/src/__tests__/authors.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/authorsProblems.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/authorsProblems.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-utils/src/tags.ts
  website/_dogfooding/_docs tests/standalone.mdx
  website/_dogfooding/_docs tests/tags.yml
  website/_dogfooding/dogfooding.config.ts
  website/blog/2018/04-30-How-I-Converted-Profilo-To-Docusaurus.mdx
  website/blog/2018/09-11-Towards-Docusaurus-2.mdx
  website/blog/2021/11-21-algolia-docsearch-migration/index.mdx
  website/blog/authors.yml
  website/docusaurus.config.ts
Labels: CLA Signed, pr: new feature, Argos

#10252 feat(blog): group sidebar items by year (`themeConfig.blog.sidebar.groupByYear`)
  packages/docusaurus-plugin-content-blog/src/__tests__/props.test.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/props.ts
  packages/docusaurus-plugin-content-blog/src/routes.ts
  packages/docusaurus-theme-classic/src/__tests__/options.test.ts
  packages/docusaurus-theme-classic/src/options.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Desktop/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Desktop/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Mobile/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Mobile/styles.module.css
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/__tests__/blogUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/jsUtils.test.ts
  packages/docusaurus-theme-common/src/utils/blogUtils.ts
  packages/docusaurus-theme-common/src/utils/blogUtils.tsx
  packages/docusaurus-theme-common/src/utils/jsUtils.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  website/docs/api/themes/theme-configuration.mdx
Labels: CLA Signed, pr: new feature, Argos
