Repository facebook/docusaurus, pull requests merged in 2024-08, with the labels that each got.

#10360 fix(translations): Fix and Improve Spanish translations
  packages/docusaurus-theme-translations/locales/es/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-search-algolia.json
Labels: CLA Signed, pr: bug fix

#10216 feat(blog): authors page
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/authors.yml
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/i18n/en/docusaurus-plugin-content-blog/authors.yml
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/blogUtils.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/authors.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/authorsMap.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/authorsProblems.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/blogUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/authors.ts
  packages/docusaurus-plugin-content-blog/src/authorsMap.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/props.ts
  packages/docusaurus-plugin-content-blog/src/routes.ts
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/Socials/index.tsx
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/Socials/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/index.tsx
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Blog/Pages/BlogAuthorsListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/Blog/Pages/BlogAuthorsListPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Blog/Pages/BlogAuthorsPostsPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Header/Author/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Header/Author/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Header/Authors/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/translations/blogTranslations.tsx
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  packages/docusaurus-theme-common/src/utils/__tests__/tagsUtils.test.ts
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/actualData/bad.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/actualData/bad.yml
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/actualData/valid.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/actualData/valid.yml
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/dataFiles/dataFile.json
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/dataFiles/dataFile.yml
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/dataFiles/invalid.yml
  packages/docusaurus-utils/src/__tests__/__fixtures__/dataFiles/dataFiles/localized/dataFile.yml
  packages/docusaurus-utils/src/__tests__/dataFileUtils.test.ts
  packages/docusaurus-utils/src/dataFileUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/tags.ts
  project-words.txt
  website/_dogfooding/_blog tests/2024-07-03-dual-author.mdx
  website/_dogfooding/_blog tests/2024-07-03-single-author.mdx
  website/_dogfooding/_blog tests/authors.yml
  website/blog/authors.yml
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/blog.mdx
  website/src/plugins/changelog/theme/ChangelogItem/Header/Author/index.tsx
Labels: CLA Signed, pr: new feature, Argos

#10364 chore: add prettier-xml plugin
  .prettierignore
  package.json
  yarn.lock
Labels: CLA Signed, pr: internal, Argos

#9252 feat(blog): add feed xlst options to render beautiful RSS and Atom feeds
  .cspell.json
  packages/create-docusaurus/templates/classic-typescript/docusaurus.config.ts
  packages/create-docusaurus/templates/classic/docusaurus.config.js
  packages/docusaurus-plugin-content-blog/assets/atom.css
  packages/docusaurus-plugin-content-blog/assets/atom.xsl
  packages/docusaurus-plugin-content-blog/assets/rss.css
  packages/docusaurus-plugin-content-blog/assets/rss.xsl
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/custom-atom.css
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/custom-atom.xsl
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/custom-rss.css
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/custom-rss.xsl
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/atom.css
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/atom.xsl
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/custom-atom.css
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/custom-atom.xsl
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/custom-rss.css
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/custom-rss.xsl
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/rss.css
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/rss.xsl
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/options.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  project-words.txt
  website/_dogfooding/_blog tests/custom-atom.css
  website/_dogfooding/_blog tests/custom-atom.xsl
  website/_dogfooding/_blog tests/custom-rss.css
  website/_dogfooding/_blog tests/custom-rss.xsl
  website/_dogfooding/dogfooding.config.ts
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/blog.mdx
  website/docusaurus.config.ts
Labels: CLA Signed, pr: new feature, Argos, apprentice

#10368 fix(cli): Fix bad docusaurus CLI behavior on for --version, -V, --help, -h
  packages/docusaurus/bin/docusaurus.mjs
Labels: CLA Signed, pr: bug fix

#10369 feat(ci): continuous releases for main and PRs with pkg.pr.new
  .github/workflows/continuous-releases.yml
Labels: CLA Signed, pr: maintenance

#10376 feat(theme): show unlisted/draft banners in dev mode
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/ContentVisibility/Draft/index.tsx
  packages/docusaurus-theme-classic/src/theme/ContentVisibility/Unlisted/index.tsx
  packages/docusaurus-theme-classic/src/theme/ContentVisibility/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocItem/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocTagDocListPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXPage/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/translations/contentVisibilityTranslations.tsx
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bg/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/et/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/hu/theme-common.json
  packages/docusaurus-theme-translations/locales/id/theme-common.json
  packages/docusaurus-theme-translations/locales/is/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/nb/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/tk/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
  project-words.txt
Labels: CLA Signed, pr: new feature, Argos

#10324 fix(docs): the _category_.json description attribute should display on generated index pages
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/generator.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/validation.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/postProcessor.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  website/_dogfooding/_docs tests/tests/category-links/_category_.json
  website/_dogfooding/docs-tests-sidebars.js
Labels: CLA Signed, pr: bug fix

#10342 fix(search): fix algolia search ignore ctrl + F in search input
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Labels: CLA Signed, pr: bug fix

#10344 fix(translations): fix wrong Estonian (et) translations and typos
  packages/docusaurus-theme-translations/locales/et/theme-common.json
  packages/docusaurus-theme-translations/locales/et/theme-search-algolia.json
Labels: CLA Signed, pr: bug fix

#10375 feat(blog): add `onUntruncatedBlogPosts` blog options
  packages/docusaurus-plugin-content-blog/src/__tests__/blogUtils.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  project-words.txt
  website/_dogfooding/dogfooding.config.ts
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docusaurus.config.ts
Labels: CLA Signed, pr: new feature

#10381 chore: update examples for v3.5
  examples/classic-typescript/blog/authors.yml
  examples/classic-typescript/docusaurus.config.ts
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/blog/authors.yml
  examples/classic/docusaurus.config.js
  examples/classic/package.json
  examples/classic/yarn.lock
Labels: CLA Signed

#10382 fix(theme-algolia): useDocusaurusContext import error
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaContextualFacetFilters.ts
Labels: CLA Signed

#10384 fix(core): algolia context import
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaContextualFacetFilters.ts
  yarn.lock
Labels: CLA Signed, pr: bug fix

#10387 chore: update examples for v3.5.1
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
Labels: CLA Signed, pr: internal

#10390 fix(theme): Adjust blog authors line height to show descenders in lowercase letters (`g`, `j`, `p`, `q`, and `y`)
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/styles.module.css
Labels: CLA Signed

#10392 fix(create-docusaurus): Improve init templates blog setup + fix warnings
  packages/create-docusaurus/templates/classic-typescript/docusaurus.config.ts
  packages/create-docusaurus/templates/classic/docusaurus.config.js
  packages/create-docusaurus/templates/shared/blog/2019-05-28-first-blog-post.md
  packages/create-docusaurus/templates/shared/blog/2019-05-29-long-blog-post.md
  packages/create-docusaurus/templates/shared/blog/2021-08-01-mdx-blog-post.mdx
  packages/create-docusaurus/templates/shared/blog/2021-08-26-welcome/index.md
  packages/create-docusaurus/templates/shared/blog/authors.yml
  packages/create-docusaurus/templates/shared/blog/tags.yml
  packages/docusaurus-plugin-content-blog/src/options.ts
  project-words.txt
Labels: CLA Signed, pr: bug fix

#10391 fix(core): always alias React/ReactDOM to site dependency so that importing MDX from anywhere works
  admin/test-bad-package/README.mdx
  admin/test-bad-package/package.json
  package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  packages/docusaurus/src/webpack/base.ts
  website/_dogfooding/_docs tests/tests/import-bad-package.mdx
  yarn.lock
Labels: CLA Signed, pr: bug fix

#10393 docs(showcase): remove sites not using Docusaurus anymore
  website/src/data/users.tsx
Labels: CLA Signed, pr: documentation

#10397 fix(theme-common): restore useContextualSearchFilters public API for retrocompatibility
  packages/docusaurus-theme-common/src/index.ts
Labels: CLA Signed, pr: bug fix

#10401 chore: update examples for v3.5.2
  examples/classic-typescript/blog/2019-05-28-first-blog-post.md
  examples/classic-typescript/blog/2019-05-29-long-blog-post.md
  examples/classic-typescript/blog/2021-08-01-mdx-blog-post.mdx
  examples/classic-typescript/blog/2021-08-26-welcome/index.md
  examples/classic-typescript/blog/authors.yml
  examples/classic-typescript/blog/tags.yml
  examples/classic-typescript/docusaurus.config.ts
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/blog/2019-05-28-first-blog-post.md
  examples/classic/blog/2019-05-29-long-blog-post.md
  examples/classic/blog/2021-08-01-mdx-blog-post.mdx
  examples/classic/blog/2021-08-26-welcome/index.md
  examples/classic/blog/authors.yml
  examples/classic/blog/tags.yml
  examples/classic/docusaurus.config.js
  examples/classic/package.json
  examples/classic/yarn.lock
Labels: CLA Signed, pr: internal

#10405 docs(website): small spellfix on 3.5 update notes
  website/blog/releases/3.5/index.mdx
Labels: CLA Signed, pr: documentation

#10410 refactor(core): remove useless build forceTerminate exit
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/serve.ts
Labels: CLA Signed, pr: maintenance

#10413 fix(translations): fix Spanish translation for "breadcrumbs"
  packages/docusaurus-theme-translations/locales/es/theme-common.json
Labels: CLA Signed, pr: bug fix

#10420 fix(types): fix type of PluginModule
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
Labels: CLA Signed, pr: bug fix

#10416 docs: corrected typo in search.mdx
  website/docs/search.mdx
Labels: CLA Signed, pr: documentation

#10422 refactor(mdx-loader): remove useless usage of mdx loader this.query
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/processor.ts
Labels: CLA Signed, pr: maintenance

#10414 docs: fix Twitter => X link in repo README
  README.md
Labels: CLA Signed, pr: internal

#10418 chore(website): add Rsdoctor plugin
  project-words.txt
  website/docusaurus.config.ts
  website/package.json
  website/src/plugins/rsdoctor/RsdoctorPlugin.ts
  yarn.lock
Labels: CLA Signed, pr: maintenance

#10429 refactor(core): improve handling of server bundle
  .gitignore
  package.json
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/server.ts
  website/package.json
Labels: CLA Signed, pr: maintenance, Argos

#10423 fix(core): always use hash for CSS module class names
  packages/docusaurus/src/webpack/base.ts
  website/docs/styling-layout.mdx
Labels: CLA Signed, pr: bug fix, Argos

#10437 docs: Fix typo on changelog
  website/blog/releases/3.5/index.mdx
Labels: CLA Signed, pr: internal

#10435 feat(core): faster transpiler option - `siteConfig.future.experimental_faster.swcJsLoader`
  package.json
  packages/docusaurus-faster/.npmignore
  packages/docusaurus-faster/README.md
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-faster/tsconfig.json
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start/webpack.ts
  packages/docusaurus/src/faster.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/configure.test.ts
  packages/docusaurus/src/webpack/__tests__/utils.test.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/configure.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
  website/package.json
  yarn.lock
Labels: CLA Signed, pr: new feature, Argos

#10439 fix(theme): upgrade infima, fix footer link width bug
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Labels: CLA Signed, pr: bug fix

#10438 chore(ci): fix setup-node, use LTS by default
  .github/workflows/argos.yml
  .github/workflows/build-blog-only.yml
  .github/workflows/build-hash-router.yml
  .github/workflows/build-perf.yml
  .github/workflows/canary-release.yml
  .github/workflows/continuous-releases.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Labels: CLA Signed, pr: maintenance

#10431 fix(blog): authors count incorrectly rendered
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/index.tsx
  packages/docusaurus-theme-classic/src/theme/Blog/Pages/BlogAuthorsPostsPage/index.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/translations/blogTranslations.tsx
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bg/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/et/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/hu/theme-common.json
  packages/docusaurus-theme-translations/locales/id/theme-common.json
  packages/docusaurus-theme-translations/locales/is/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/nb/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/tk/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, pr: bug fix

#10441 feat(core): faster JS minimizer - `siteConfig.future.experimental_faster.swcJsMinimizer`
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/start/webpack.ts
  packages/docusaurus/src/faster.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/minification.ts
  packages/docusaurus/src/webpack/server.ts
  packages/docusaurus/src/webpack/utils.ts
  website/docs/api/docusaurus.config.js.mdx
  yarn.lock
Labels: CLA Signed, pr: new feature

#10442 fix(core): use serve-handler fork to remove annoying punycode warning
  .github/workflows/lint.yml
  admin/verdaccio.yaml
  packages/docusaurus/package.json
  yarn.lock
Labels: CLA Signed, pr: maintenance

#10448 refactor(core): Restore null-loader
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/utils.ts
  yarn.lock
Labels: CLA Signed, pr: maintenance

#10450 refactor(mdx-loader): refactor mdx-loader, expose loader creation utils
  packages/docusaurus-mdx-loader/src/createMDXLoader.ts
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-mdx-loader/src/utils.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus/src/server/plugins/__tests__/plugins.test.ts
  packages/docusaurus/src/server/plugins/plugins.ts
  packages/docusaurus/src/server/plugins/synthetic.ts
Labels: CLA Signed, pr: maintenance

#10454 chore: upgrade npm-to-yarn to v3
  packages/docusaurus-remark-plugin-npm2yarn/package.json
  yarn.lock
Labels: CLA Signed, pr: maintenance, Argos

#10440 fix(blog): apply baseUrl to relative image in blog authors
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/authorsMapFiles/authors.yml
  packages/docusaurus-plugin-content-blog/src/__tests__/authors.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/authorsMap.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/authors.ts
  packages/docusaurus-plugin-content-blog/src/authorsMap.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
Labels: CLA Signed, pr: bug fix, Argos

#10424 fix(blog): normalize inline authors socials
  packages/docusaurus-plugin-content-blog/src/__tests__/authors.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/authorsMap.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/authors.ts
  packages/docusaurus-plugin-content-blog/src/authorsSocials.ts
Labels: CLA Signed, pr: bug fix

#10457 refactor(mdx loader): read metadata from memory (loaded content) instead of fs
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/utils.ts
  packages/docusaurus-plugin-content-blog/src/contentHelpers.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/contentHelpers.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-pages/src/contentHelpers.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
Labels: CLA Signed, pr: performance, Argos
