Repository facebook/docusaurus, pull requests merged in 2024-01, with the labels that each got.

#9677 docs: fix remark-emoji name in 3.0.1 migration guide
  website/versioned_docs/version-3.0.1/migration/v3.mdx
Labels: CLA Signed, pr: documentation

#9685 docs: add Argos badge
  README.md
  website/docusaurus.config.ts
Labels: CLA Signed, pr: documentation

#9690 docs: update CLI command options
  website/docs/cli.mdx
Labels: CLA Signed, pr: documentation

#9693 docs: Updates the Algolia DocSearch eligibility description to match DocSearch page
  website/docs/search.mdx
Labels: CLA Signed, pr: documentation

#9695 docs: add guide to keep title of caution admonitions
  website/docs/migration/v3.mdx
Labels: CLA Signed, pr: documentation

#9528 feat(core): make broken link checker detect broken anchors - add `onBrokenAnchors` config
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-utils/src/__tests__/urlUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/urlUtils.ts
  packages/docusaurus/src/client/BrokenLinksContext.tsx
  packages/docusaurus/src/client/LinksCollector.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/useBrokenLinks.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/deps.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/brokenLinks.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  packages/docusaurus/src/webpack/aliases/__tests__/__snapshots__/index.test.ts.snap
  website/docs/advanced/routing.mdx
  website/docs/api/docusaurus.config.js.mdx
  website/docs/api/plugins/plugin-content-docs.mdx
  website/docs/cli.mdx
  website/docs/docusaurus-core.mdx
  website/docs/guides/docs/sidebar/autogenerated.mdx
  website/docs/guides/docs/versioning.mdx
  website/docs/i18n/i18n-tutorial.mdx
  website/docs/seo.mdx
  website/docs/using-plugins.mdx
  website/docusaurus.config.ts
  website/versioned_docs/version-2.x/advanced/routing.mdx
  website/versioned_docs/version-2.x/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-2.x/cli.mdx
  website/versioned_docs/version-2.x/deployment.mdx
  website/versioned_docs/version-2.x/guides/docs/sidebar/autogenerated.mdx
  website/versioned_docs/version-2.x/guides/docs/versioning.mdx
  website/versioned_docs/version-2.x/guides/markdown-features/markdown-features-react.mdx
  website/versioned_docs/version-2.x/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-2.x/seo.mdx
  website/versioned_docs/version-2.x/using-plugins.mdx
  website/versioned_docs/version-3.0.1/advanced/routing.mdx
  website/versioned_docs/version-3.0.1/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.0.1/cli.mdx
  website/versioned_docs/version-3.0.1/guides/docs/sidebar/autogenerated.mdx
  website/versioned_docs/version-3.0.1/guides/docs/versioning.mdx
  website/versioned_docs/version-3.0.1/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-3.0.1/seo.mdx
  website/versioned_docs/version-3.0.1/using-plugins.mdx
Labels: CLA Signed, pr: new feature, to backport, Argos

#9696 fix(create-docusaurus): fix init template code blocks, and little improvements
  packages/create-docusaurus/README.md
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/markdown-features.mdx
Labels: CLA Signed, pr: bug fix, to backport

#9697 docs: replace docLayoutComponent by new Docusaurus v3 options
  website/docs/api/plugins/plugin-content-docs.mdx
Labels: CLA Signed, pr: documentation

#9704 fix(theme): allow empty code blocks and live playgrounds
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeInline/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Code.tsx
  packages/docusaurus-theme-live-codeblock/src/theme-live-codeblock.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.tsx
  website/_dogfooding/_pages tests/code-block-tests.mdx
Labels: CLA Signed, pr: bug fix, to backport, Argos

#9707 chore: Docusaurus v3.1 examples
  examples/classic-typescript/docs/tutorial-basics/markdown-features.mdx
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/docs/tutorial-basics/markdown-features.mdx
  examples/classic/package.json
  examples/classic/yarn.lock
Labels: CLA Signed, pr: internal

#9713 chore: check MDX even by VS Code cspell extension
  .cspell.json
Labels: CLA Signed, pr: maintenance

#9727 fix(theme-common): fix missing code block MagicComments style in Visual Basic (.NET) 16
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  website/_dogfooding/_pages tests/code-block-tests.mdx
Labels: CLA Signed, pr: bug fix, to backport

#9470 polish(theme): MDX images should use async decoding
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Img/index.tsx
Labels: CLA Signed, pr: polish, to backport

#9759 docs: GitHub actions deployment should use fetch-depth: 0 + actions upgrades
  website/docs/deployment.mdx
  website/versioned_docs/version-3.1.0/deployment.mdx
Labels: CLA Signed, pr: documentation

#9692 docs: add admonition for incompatibility with `*` and `**` in Chinese and Japanese in MDX v2+
  website/docs/migration/v3.mdx
Labels: CLA Signed, pr: documentation

#9407 fix(core): conditionally include `hostname` parameter when using…
  packages/docusaurus/src/server/getHostPort.ts
Labels: CLA Signed, pr: bug fix, to backport

#9684 fix(mdx-loader): the table-of-contents should display toc/headings of imported MDX partials
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/partials/SomeComponent.js
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/partials/_partial1.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/partials/_partial2-nested.md
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/partials/_partial2.mdx
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/partials/_partial3-unused.mdx
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/partials/index.mdx
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__fixtures__/partials/partial-used-before-import.mdx
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/types.ts
  packages/docusaurus-mdx-loader/src/remark/toc/utils.ts
  website/_dogfooding/_blog tests/2021-08-21-blog-post-toc-tests.mdx
  website/_dogfooding/_docs tests/tests/toc-partials/_first-level-partial.mdx
  website/_dogfooding/_docs tests/tests/toc-partials/_partial.mdx
  website/_dogfooding/_docs tests/tests/toc-partials/_second-level-partial.mdx
  website/_dogfooding/_docs tests/tests/toc-partials/index.mdx
  website/_dogfooding/_docs tests/toc/toc-2-2.mdx
  website/_dogfooding/_docs tests/toc/toc-2-3.mdx
  website/_dogfooding/_docs tests/toc/toc-2-4.mdx
  website/_dogfooding/_docs tests/toc/toc-2-5.mdx
  website/_dogfooding/_docs tests/toc/toc-3-5.mdx
  website/_dogfooding/_docs tests/toc/toc-3-_.mdx
  website/_dogfooding/_docs tests/toc/toc-4-5.mdx
  website/_dogfooding/_docs tests/toc/toc-5-5.mdx
  website/_dogfooding/_docs tests/toc/toc-_-5.mdx
  website/_dogfooding/_docs tests/toc/toc-_-_.mdx
  website/_dogfooding/_pages tests/page-toc-tests.mdx
  website/community/3-contributing.mdx
  website/docusaurus.config.ts
  yarn.lock
Labels: CLA Signed, pr: new feature, to backport, Argos

#9783 fix(create-docusaurus): fix typo in init template sample docs
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-blog-post.md
Labels: CLA Signed, pr: bug fix, to backport

#9778 perf(core): optimize broken links checker
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
Labels: CLA Signed, pr: performance, to backport

#9776 fix(mdx-loader): allow spaces before `mdx-code-block` info string
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Labels: CLA Signed, pr: bug fix, to backport

#9784 docs: Note `showLastUpdateTime` requires complete checkout
  website/docs/api/plugins/plugin-content-docs.mdx
Labels: CLA Signed, pr: documentation

#9788 fix(core): links with target "_blank" should no be checked by the broken link checker
  packages/docusaurus/src/client/exports/Link.tsx
  website/_dogfooding/_pages tests/markdown-tests-mdx.mdx
Labels: CLA Signed, pr: bug fix, to backport

#9791 fix(core): broken links optimization behaves differently than non-optimized logic
  packages/docusaurus-types/src/routing.d.ts
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
Labels: CLA Signed, pr: bug fix, to backport

#9786 docs: fix documented path of swizzled component
  website/docs/search.mdx
Labels: CLA Signed, pr: documentation

#9797 chore: release Docusaurus 3.1.1 examples
  examples/classic-typescript/docs/tutorial-basics/create-a-blog-post.md
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/docs/tutorial-basics/create-a-blog-post.md
  examples/classic/package.json
  examples/classic/yarn.lock
Labels: CLA Signed, pr: internal
