Repository facebook/docusaurus, pull requests merged in 2025-05, with the labels that each got.

#11137 docs(deploy): remove `layer0` from deployment docs
  website/docs/deployment.mdx
Labels: CLA Signed, pr: documentation

#11154 fix: fix docs lint issue
  website/docs/deployment.mdx
Labels: CLA Signed, pr: ignore

#11153 fix(theme): restore former code block theme-common internal APIs
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Labels: CLA Signed, pr: bug fix

#11157 fix(create-docusaurus): Improve init template README, fix headings and remove $ in bash code blocks
  packages/create-docusaurus/templates/shared/README.md
Labels: CLA Signed, pr: bug fix

#11162 perf(core): optimize SSG collected data memory and worker thread communication
  packages/docusaurus-logger/src/perfLogger.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/client/serverHelmetUtils.tsx
  packages/docusaurus/src/common.d.ts
  packages/docusaurus/src/ssg/ssgExecutor.ts
  packages/docusaurus/src/ssg/ssgRenderer.ts
Labels: CLA Signed, pr: performance

#11163 perf(utils): implement git command queue
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/gitUtils.ts
  yarn.lock
Labels: CLA Signed, pr: performance

#11166 feat(core): expose opt-in env variable for SSG thread recycling
  packages/docusaurus/src/ssg/ssgEnv.ts
  packages/docusaurus/src/ssg/ssgExecutor.ts
Labels: CLA Signed, pr: performance

#11168 chore: add Node 24 to CI + fix deprecation warnings
  .github/workflows/argos.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-utils/src/urlUtils.ts
Labels: CLA Signed, pr: maintenance

#11176 perf(bundler): fine-tuning of Webpack/Rspack optimizations
  packages/docusaurus-bundler/src/currentBundler.ts
  packages/docusaurus-bundler/src/index.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/webpack/base.ts
  website/docusaurus.config.ts
  yarn.lock
Labels: CLA Signed, pr: performance, Argos

#11178 perf(core): disable Rspack `parallelCodeSplitting` temporarily
  .gitignore
  package.json
  packages/docusaurus-utils/src/lastUpdateUtils.ts
  packages/docusaurus/src/webpack/base.ts
  project-words.txt
  website/package.json
  website/profileSamply.sh
Labels: CLA Signed, pr: performance

#11179 fix(mdx-loader): remove opt-in for mdx dependency file
  packages/docusaurus-plugin-content-docs/src/index.ts
Labels: CLA Signed, pr: bug fix

#11180 docs(ideal-image): Add warning for pnpm 10+ and `sharp` install script
  website/docs/api/plugins/plugin-ideal-image.mdx
  website/versioned_docs/version-3.7.0/api/plugins/plugin-ideal-image.mdx
Labels: CLA Signed, pr: documentation

#11138 refactor(content-blog): replace `reading-time` with `Intl.Segmenter` API
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/readingTime.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/readingTime.ts
  website/_dogfooding/dogfooding.config.ts
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/blog.mdx
  yarn.lock
Labels: CLA Signed, pr: bug fix, Argos

#11181 docs: adjust the Docusaurus release process documentation to our new simpler process
  project-words.txt
  website/blog/releases/3.0/index.mdx
  website/community/4-canary.mdx
  website/community/5-release-process.mdx
  website/src/components/Versions.tsx
Labels: CLA Signed, pr: documentation

#11192 refactor: remove unnecessary undefined & use optional chain
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/helpers.js
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Labels: CLA Signed, pr: ignore

#11203 chore: Add missing v3.8 blog post mdx-code-block
  website/blog/releases/3.8/index.mdx
  website/src/css/custom.css
Labels: CLA Signed, pr: ignore

#11205 fix(core): fix `docusaurus start` error for macOS users with no Chromium-based browser
  packages/docusaurus/src/commands/utils/openBrowser/openBrowser.ts
Labels: CLA Signed, pr: bug fix

#11214 perf(website): optimize website i18n build time by removing useless git log calls
  website/_dogfooding/dogfooding.config.ts
  website/docusaurus.config.ts
Labels: CLA Signed, pr: ignore

#11217 fix: include Arc to supported Chromium Browsers
  packages/docusaurus/src/commands/utils/openBrowser/openBrowser.ts
Labels: CLA Signed, pr: bug fix
