Repository facebook/docusaurus, pull requests merged in 2025-07, with the labels that each got.

#11228 feat(docs): sidebar item `key` attribute - fix docs translations key conflicts
  packages/docusaurus-plugin-content-docs/src/__tests__/props.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/generator.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/generator.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/validation.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/types.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/validation.ts
  packages/docusaurus-plugin-content-docs/src/translations.ts
  website/_dogfooding/_docs tests/tests/Conflicts/_category_.json
  website/_dogfooding/_docs tests/tests/Conflicts/category-index-name/_category_.json
  website/_dogfooding/_docs tests/tests/Conflicts/category-index-name/alpha/_category_.json
  website/_dogfooding/_docs tests/tests/Conflicts/category-index-name/alpha/test/_category_.json
  website/_dogfooding/_docs tests/tests/Conflicts/category-index-name/alpha/test/test.md
  website/_dogfooding/_docs tests/tests/Conflicts/category-index-name/beta/_category_.json
  website/_dogfooding/_docs tests/tests/Conflicts/category-index-name/beta/test/_category_.json
  website/_dogfooding/_docs tests/tests/Conflicts/category-index-name/beta/test/test.md
  website/_dogfooding/_docs tests/tests/Conflicts/sidebar-label/doc1.mdx
  website/_dogfooding/_docs tests/tests/Conflicts/sidebar-label/doc2.mdx
  website/_dogfooding/docs-tests-sidebars.js
  website/docs/guides/docs/sidebar/index.mdx
  website/docs/guides/docs/sidebar/items.mdx
Labels: CLA Signed, pr: bug fix

#11307 test(docs): fix docs tests issues
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/versions/loadVersion.ts
Labels: CLA Signed, pr: maintenance

#11305 fix(translations): Add missing Ukrainian translations
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
Labels: CLA Signed, pr: translations

#11304 feat(core): add `i18n.localeConfigs.translate` + skip translation process if `i18n/<locale>` dir doesn't exist
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/loadVersion.test.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/version.test.ts
  packages/docusaurus-plugin-content-docs/src/versions/files.ts
  packages/docusaurus-plugin-content-docs/src/versions/version.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/types.ts
  packages/docusaurus-types/src/i18n.d.ts
  packages/docusaurus-utils/src/__tests__/i18nUtils.test.ts
  packages/docusaurus-utils/src/dataFileUtils.ts
  packages/docusaurus-utils/src/i18nUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownLinks.ts
  packages/docusaurus/src/commands/build/build.ts
  packages/docusaurus/src/server/__tests__/__fixtures__/custom-i18n-site/i18n/zh-Hans-custom/README.md
  packages/docusaurus/src/server/__tests__/__fixtures__/load-i18n-site/i18n/de/README.md
  packages/docusaurus/src/server/__tests__/__fixtures__/load-i18n-site/i18n/fr/README.md
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/plugins/__tests__/plugins.test.ts
  packages/docusaurus/src/server/plugins/plugins.ts
  packages/docusaurus/src/server/site.ts
  packages/docusaurus/src/webpack/client.ts
  website/docs/api/docusaurus.config.js.mdx
Labels: CLA Signed, pr: new feature, Argos

#11347 fix(core): Fix docusaurus start on macOS when exec throws a synchronous error
  packages/docusaurus/src/commands/utils/openBrowser/openBrowser.ts
  yarn.lock
Labels: CLA Signed, pr: bug fix

#11316 feat(core): Add `i18n.localeConfigs[locale].{url,baseUrl}` config options
  .eslintrc.js
  packages/docusaurus-plugin-pwa/src/registerSw.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/historyUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/useAlternatePageUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
  packages/docusaurus-theme-common/src/utils/useAlternatePageUtils.ts
  packages/docusaurus-types/src/i18n.d.ts
  packages/docusaurus-utils/src/__tests__/i18nUtils.test.ts
  packages/docusaurus-utils/src/i18nUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/commands/build/build.ts
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/commands/build/buildUtils.ts
  packages/docusaurus/src/commands/start/utils.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/__tests__/site.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/site.ts
  project-words.txt
  website/docs/api/docusaurus.config.js.mdx
  website/docs/i18n/i18n-tutorial.mdx
Labels: CLA Signed, pr: new feature, Argos
