Repository facebook/docusaurus, pull requests merged in 2025-08, with the labels that each got.

#11360 fix(theme): Add translate no to heading anchors and blog authors
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
Labels: CLA Signed, pr: bug fix

#11376 docs: adds link to latest accessibility stats and reports in Rocket Validator
  README.md
Labels: CLA Signed, pr: ignore

#11368 docs: remove stray character in plugin overview page
  website/docs/api/plugins/overview.mdx
Labels: CLA Signed, pr: ignore

#11383 fix(ssg): HTML minifier should preserve `<head>` for `og:image` crawlers
  packages/docusaurus-bundler/src/minifyHtml.ts
  packages/docusaurus-faster/package.json
  yarn.lock
Labels: CLA Signed, pr: bug fix, Argos

#11388 meta: add a section on AI-assisted PRs in CONTRIBUTING guide
  CONTRIBUTING.md
Labels: CLA Signed, pr: ignore
