Repository facebook/docusaurus, pull requests merged in 2025-06, with the labels that each got.

#11224 fix(website): ensure feedback widget renders with correct theme
  website/src/plugins/featureRequests/FeatureRequestsPage.tsx
Labels: CLA Signed, pr: ignore

#11230 refactor(docs): extract `loadVersion()` without changing the behavior
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/server-export.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/minimal-site/docs/hello.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__snapshots__/loadVersion.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/loadVersion.test.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/version.test.ts
  packages/docusaurus-plugin-content-docs/src/versions/files.ts
  packages/docusaurus-plugin-content-docs/src/versions/loadVersion.ts
  packages/docusaurus-plugin-content-docs/src/versions/version.ts
Labels: CLA Signed, pr: maintenance

#11248 chore(faster): upgrade Rspack
  packages/docusaurus-faster/package.json
  yarn.lock
Labels: CLA Signed, pr: maintenance

#11251 fix(docs): prevent docs ids conflicts within a version
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/docs/hello.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/frontMatter/deeply/doc.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/frontMatter/deeply/nested/whatever.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/frontMatter/doc.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/frontMatter/doc1.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/frontMatter/doc2.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/number-prefix/1-doc.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/number-prefix/2-doc.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/number-prefix/deeply/1-doc.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/number-prefix/deeply/nested/2-doc.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/number-prefix/deeply/nested/3-doc.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/number-prefix/distinct-frontMatter-id/1-doc.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/number-prefix/distinct-frontMatter-id/2-doc.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versioned_docs/version-with-id-conflicts/number-prefix/distinct-frontMatter-id/3-doc.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-broken-versions/versions.json
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__fixtures__/site-minimal/docs/hello.md
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/__snapshots__/loadVersion.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/loadVersion.test.ts
  packages/docusaurus-plugin-content-docs/src/versions/loadVersion.ts
  website/_dogfooding/_docs tests/tests/Conflicts/file-name/1-file-name.mdx
  website/_dogfooding/_docs tests/tests/Conflicts/file-name/2-file-name.mdx
  website/_dogfooding/_docs tests/tests/Conflicts/file-name/_category_.json
Labels: CLA Signed, pr: bug fix

#11262 docs: fix announcement bar css selector
  website/src/css/custom.css
Labels: CLA Signed, pr: ignore

#11280 fix(theme-common): Export FooterColumnItem type
  packages/docusaurus-theme-common/src/index.ts
Labels: CLA Signed, pr: bug fix

#11282 feat(core): add `siteConfig.markdown.emoji` config option to disable `remark-emoji`
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-types/src/markdown.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.mdx
Labels: CLA Signed, pr: new feature, Argos

#11287 chore(website): split changelog per version + adjust changelog plugin implementation
  .cspell.json
  CHANGELOG-v2.md
  CHANGELOG.md
  website/src/plugins/changelog/index.ts
  website/src/plugins/changelog/utils.ts
Labels: CLA Signed, pr: maintenance

#11289 fix(theme): Fix footnote ref scrolling behind the navbar when footnote back reference clicked
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/MDXComponents/A.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/A/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/A/styles.module.css
Labels: CLA Signed, pr: bug fix

#11290 chore: upgrade website to Rspack 1.4 + fix Rspack internal performance tracing
  .gitignore
  package.json
  packages/docusaurus-bundler/src/currentBundler.ts
  project-words.txt
  yarn.lock
Labels: pr: maintenance

#11294 feat(faster): Upgrade to Rspack 1.4
  package.json
  packages/docusaurus-faster/package.json
  packages/docusaurus/src/webpack/base.ts
  yarn.lock
Labels: CLA Signed, pr: new feature
