Repository facebook/docusaurus, pull requests merged in 2025-04, with the labels that each got.

#11046 fix(theme): Fix code block magic comments with CRLF line breaks bug
  packages/docusaurus-theme-common/src/utils/__tests__/__snapshots__/codeBlockUtils.test.ts.snap
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
Labels: CLA Signed, pr: bug fix

#11039 chore: use rspack 1.3.0
  packages/docusaurus-faster/package.json
  packages/docusaurus/src/webpack/base.ts
  yarn.lock
Labels: CLA Signed, pr: maintenance, Argos

#11053 fix(theme): navbar mobile sidebar should allow clicking dropdown parent link
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem/Desktop/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem/Mobile/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DefaultNavbarItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/Desktop/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/Mobile/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/Mobile/styles.module.css
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/index.tsx
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bg/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/et/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/hu/theme-common.json
  packages/docusaurus-theme-translations/locales/id/theme-common.json
  packages/docusaurus-theme-translations/locales/is/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/nb/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/tk/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Labels: CLA Signed, pr: bug fix, Argos

#11058 refactor(theme): refactor CodeBlock parseLines logic + use inline snapshots to ease review
  .eslintrc.js
  packages/docusaurus-plugin-content-blog/src/__tests__/authorsSocials.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/validation.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/__snapshots__/codeBlockUtils.test.ts.snap
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  project-words.txt
Labels: CLA Signed, pr: maintenance, Argos

#11062 refactor(theme): introduce CodeBlockContextProvider + split into smaller components
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/Button/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/CopyButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/CopyButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/WordWrapButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/WordWrapButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/Element.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/Token/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Title/index.tsx
  packages/docusaurus-theme-common/src/hooks/useCodeWordWrap.ts
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Labels: CLA Signed, pr: maintenance, Argos

#11065 chore: upgrade image-size deps to v2
  admin/scripts/resizeImage.js
  package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  website/src/data/__tests__/user.test.ts
  website/src/data/showcase/Seaography.png
  yarn.lock
Labels: CLA Signed, pr: maintenance, Argos

#11066 chore: upgrade mermaid, fix diagram labels bug
  packages/docusaurus-theme-mermaid/package.json
  yarn.lock
Labels: CLA Signed, pr: maintenance

#11067 feat(core): enable Rspack `parallelCodeSplitting`
  packages/docusaurus/src/webpack/base.ts
Labels: CLA Signed, pr: new feature, pr: performance, Argos

#11068 fix(blog): fix blog Atom feed item url / XSL bug
  packages/docusaurus-plugin-content-blog/assets/atom.xsl
Labels: CLA Signed, pr: bug fix

#11073 chore: upgrade Rspack 1.3.3
  packages/docusaurus-faster/package.json
  yarn.lock
Labels: CLA Signed, pr: maintenance

#11077 refactor(live-codeblock): refactor live code block theme components
  packages/docusaurus-mdx-loader/src/remark/mdx1Compat/codeCompatPlugin.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  packages/docusaurus-theme-live-codeblock/src/theme-live-codeblock.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/LiveCodeBlock/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Container/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Container/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Editor/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Editor/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Header/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Header/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Layout/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Preview/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Preview/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Provider/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.tsx
  packages/docusaurus-theme-live-codeblock/src/types.d.ts
Labels: CLA Signed, pr: maintenance, Argos

#11084 docs: remove ref to Docusaurus v2
  project-words.txt
  website/docs/blog.mdx
Labels: CLA Signed, pr: internal

#11088 feat(pages): Support `frontMatter.slug` like docs and blog plugins
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/hello/mdxPage.mdx
  packages/docusaurus-plugin-content-pages/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-plugin-content-pages/src/frontMatter.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  website/_dogfooding/_pages tests/index.mdx
  website/_dogfooding/_pages tests/unlisted.mdx
  website/docs/api/plugins/plugin-content-pages.mdx
Labels: CLA Signed, pr: new feature

#11090 feat(theme): make it possible to provide your own page title formatter
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/atom.xsl
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/ThemeProvider/TitleFormatter/index.tsx
  packages/docusaurus-theme-classic/src/theme/ThemeProvider/index.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/__tests__/generalUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/titleFormatterUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/generalUtils.ts
  packages/docusaurus-theme-common/src/utils/metadataUtils.tsx
  packages/docusaurus-theme-common/src/utils/titleFormatterUtils.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/theme-fallback/ThemeProvider/index.tsx
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  packages/docusaurus/src/webpack/aliases/__tests__/__snapshots__/index.test.ts.snap
  website/src/theme/ThemeProvider/TitleFormatter/index.tsx
Labels: CLA Signed, pr: new feature, Argos

#11116 test(blog): Add unit tests for calculating blog posts reading time
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/authors/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/authors/slorber-custom-permalink-localized/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/global-tag-permalink (en)/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/inline-tag/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/readingTime.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/readingTime.ts
Labels: CLA Signed, pr: maintenance
