Repository facebook/docusaurus, pull requests merged in 2025-02, with the labels that each got.

#10894 docs: Clarify how to enable math equations
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
Labels: CLA Signed, pr: internal

#10892 docs: Suggest `remark-cjk-friendly` in migration guide
  website/docs/migration/v3.mdx
  website/versioned_docs/version-3.7.0/migration/v3.mdx
Labels: CLA Signed

#10893 fix(theme-translations): Turkish exist language translate completed.
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
Labels: CLA Signed

#10902 docs(theme-live-codeblock): update versioned docs to include link to react-live
  website/versioned_docs/version-2.x/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.0.1/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.1.1/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.2.1/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.3.2/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.4.0/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.5.2/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.6.3/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.7.0/api/themes/theme-live-codeblock.mdx
Labels: CLA Signed, pr: internal

#10903 chore(plugin-debug): upgrade react-json-view-lite to v2.3.0 for react 19
  packages/docusaurus-plugin-debug/package.json
  yarn.lock
Labels: CLA Signed, pr: maintenance

#10909 fix(theme): apply docs `sidebar_class_name` in DocCard + better dogfooding
  argos/tests/screenshot.spec.ts
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  website/_dogfooding/_docs tests/tests/custom-props/_category_.json
  website/_dogfooding/_docs tests/tests/custom-props/doc-without-custom-props.mdx
  website/_dogfooding/_docs tests/tests/custom-props/index.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-with-sidebar-className.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-with-sidebar-custom-props.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-with-sidebar-label.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-without.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/index.mdx
  website/_dogfooding/dogfooding.css
Labels: CLA Signed, pr: bug fix, Argos

#10886 fix(theme): collapse doc sidebar category on label click if active
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  packages/docusaurus-theme-common/src/components/Details/index.tsx
Labels: CLA Signed, pr: bug fix

#10916 docs: move docs of `frontMatter.title_meta` from docs to blog plugin
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.6.3/api/plugins/plugin-content-blog.mdx
  website/versioned_docs/version-3.6.3/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.7.0/api/plugins/plugin-content-blog.mdx
  website/versioned_docs/version-3.7.0/api/plugins/plugin-content-docs.mdx
Labels: CLA Signed, pr: internal

#10888 fix(seo): docs breadcrumb structured data should use JSON-LD and filter unliked categories
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/client/index.ts
  packages/docusaurus-plugin-content-docs/src/client/structuredDataUtils.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/StructuredData/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
  packages/docusaurus-theme-common/package.json
Labels: CLA Signed, pr: bug fix

#10925 docs: updating showcase site link
  website/src/data/users.tsx
Labels: CLA Signed, pr: internal

#10929 fix(plugins): add missing `validateOptions` types
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  project-words.txt
  website/docusaurus.config.ts
  website/src/plugins/changelog/index.js
  website/src/plugins/changelog/index.ts
Labels: CLA Signed, pr: bug fix, Argos

#10934 fix(docs): fix mdx loader cache invalidation bug on versions changes
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/options.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
Labels: CLA Signed

#10928 docs: disable `plugin-debug` in production by default
  website/docs/api/plugins/plugin-debug.mdx
Labels: CLA Signed, pr: internal

#10941 chore(algolia): bump docsearch dependency to v3.9
  packages/docusaurus-theme-search-algolia/package.json
  yarn.lock
Labels: pr: maintenance, Argos

#10939 docs(showcase): Update datagit.ir showcase image, description, and tags
  website/src/data/showcase/datagit.png
  website/src/data/users.tsx
Labels: CLA Signed, pr: internal

#10931 feat(core): Docusaurus Faster - Rspack Persistent Cache
  .github/workflows/tests-e2e.yml
  packages/docusaurus-faster/package.json
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/commands/clear.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/ssg/ssgRenderer.ts
  packages/docusaurus/src/webpack/base.ts
  website/docs/api/docusaurus.config.js.mdx
  yarn.lock
Labels: CLA Signed, pr: new feature, Argos

#10942 misc(blog): Update Yangshun bio
  packages/create-docusaurus/templates/shared/blog/authors.yml
  website/blog/authors.yml
Labels: CLA Signed, pr: internal

#10945 feat(theme): add theme layout stable CSS classes
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Links/MultiColumn/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Layout/index.tsx
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
Labels: CLA Signed, pr: new feature

#10948 fix(theme-classic): fix ThemeClassName reference
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
Labels: CLA Signed

#10950 docs: typo in documentation files
  website/versioned_docs/version-2.x/migration/migration-manual.mdx
Labels: CLA Signed, pr: internal

#10952 docs: add missing code block language to README.md
  examples/README.md
  examples/classic-typescript/README.md
  examples/classic/README.md
  packages/create-docusaurus/templates/shared/README.md
  packages/docusaurus-theme-translations/README.md
  packages/lqip-loader/README.md
Labels: CLA Signed, pr: internal

#10954 fix(theme): fix `useColorMode().colorMode` leading to React hydration mismatches
  packages/docusaurus-theme-common/src/contexts/colorMode.tsx
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Labels: CLA Signed, pr: bug fix, Argos

#10705 fix(theme): only render secondaryMenu if it should be shown
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Layout/index.tsx
Labels: CLA Signed

#10358 refactor: replace unmaintained shelljs dependency by execa
  packages/create-docusaurus/package.json
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/__tests__/lastUpdateUtils.test.ts
  packages/docusaurus-utils/src/gitUtils.ts
  packages/docusaurus/bin/beforeCli.mjs
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/deploy.ts
  yarn.lock
Labels: CLA Signed, pr: maintenance, Argos

#10956 refactor: remove `react-dev-utils` (CRA) dependency, internalize code
  package.json
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/compiler.ts
  packages/docusaurus-bundler/src/legacy/formatWebpackMessages.js
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/serve.ts
  packages/docusaurus/src/commands/start/start.ts
  packages/docusaurus/src/commands/start/utils.ts
  packages/docusaurus/src/commands/start/webpack.ts
  packages/docusaurus/src/commands/utils/legacy/evalSourceMapMiddleware.js
  packages/docusaurus/src/commands/utils/openBrowser/openBrowser.ts
  packages/docusaurus/src/commands/utils/openBrowser/openChrome.applescript
  project-words.txt
  yarn.lock
Labels: CLA Signed, pr: maintenance, pr: performance

#10958 fix(create-docusaurus): fix CLI and remove shelljs escapeShellArg util
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-utils/src/__tests__/shellUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/shellUtils.ts
Labels: CLA Signed, pr: bug fix
