Repository facebook/docusaurus, pull requests merged in 2025-03, with the labels that each got.

#10966 chore: upgrade monorepo to TS 5.8
  .github/workflows/build-perf.yml
  package.json
  packages/docusaurus-cssnano-preset/src/index.ts
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
  packages/docusaurus-mdx-loader/src/remark/contentTitle/index.ts
  packages/docusaurus-mdx-loader/src/remark/details/index.ts
  packages/docusaurus-mdx-loader/src/remark/head/index.ts
  packages/docusaurus-mdx-loader/src/remark/headings/index.ts
  packages/docusaurus-mdx-loader/src/remark/mdx1Compat/codeCompatPlugin.ts
  packages/docusaurus-mdx-loader/src/remark/mermaid/index.ts
  packages/docusaurus-mdx-loader/src/remark/resolveMarkdownLinks/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/utils.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/index.ts
  packages/docusaurus-mdx-loader/src/remark/utils/index.ts
  packages/docusaurus-plugin-content-blog/src/remark/footnoteIDFixer.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
  packages/eslint-plugin/src/index.ts
  packages/stylelint-copyright/src/index.ts
  tsconfig.base.json
  yarn.lock
Labels: CLA Signed, pr: maintenance

#10969 chore: add `eslint-plugin-react-compiler`
  .eslintrc.js
  package.json
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/index.tsx
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus-theme-common/src/utils/scrollUtils.tsx
  packages/docusaurus-theme-common/src/utils/storageUtils.ts
  packages/docusaurus-theme-mermaid/src/client/index.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  yarn.lock
Labels: CLA Signed, pr: maintenance

#10953 feat(plugin-npm2yarn): Add Bun to default tabs conversions
  packages/docusaurus-remark-plugin-npm2yarn/README.md
  packages/docusaurus-remark-plugin-npm2yarn/example.png
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
Labels: CLA Signed, pr: new feature

#10981 docs: update external link to MDX reference
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Labels: CLA Signed, pr: internal

#10989 fix(theme): mobile drawer history blocker should be rendered conditionally (workaround)
  packages/docusaurus-theme-common/src/contexts/navbarMobileSidebar.tsx
  website/_dogfooding/_pages tests/history-tests.tsx
  website/_dogfooding/_pages tests/index.mdx
Labels: CLA Signed, pr: bug fix

#10999 fix(theme): CodeBlock should accept `title` of `ReactNode` type
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  website/_dogfooding/_pages tests/code-block-tests.mdx
Labels: CLA Signed, pr: bug fix

#10998 fix(module-type-aliases): pin react-helmet-async to @slorber/react-helmet-async@1.3.0
  packages/docusaurus-module-type-aliases/package.json
Labels: CLA Signed, pr: bug fix

#11004 fix(mdx-loader): refactor and fix heading to toc html value serialization
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/utils.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/utils.ts
  packages/docusaurus-mdx-loader/src/remark/utils/index.ts
Labels: CLA Signed, pr: bug fix

#11006 feat(core): Add bundler tracing/profiling
  .gitignore
  package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus/src/commands/start/start.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/plugins/BundlerCPUProfilerPlugin.ts
Labels: CLA Signed, pr: new feature

#11007 perf(core): Optimize `docusaurus start/serve`, fix `openBrowser()` perf issue on macOS
  packages/docusaurus/src/commands/utils/openBrowser/openBrowser.ts
Labels: CLA Signed, pr: performance

#11010 refactor(ideal-image-plugin): internalize legacy component code
  .cspell.json
  .eslintignore
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-ideal-image/src/deps.d.ts
  packages/docusaurus-plugin-ideal-image/src/plugin-ideal-image.d.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/LICENSE
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/README.md
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/__snapshots__/icon.js.snap
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/composeStyle.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/helpers.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/helpers.node.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/icon.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Download.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Loading.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Offline.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Warning.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/IdealImage/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/IdealImageWithDefaults/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Media/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/MediaWithDefaults/README.md
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/MediaWithDefaults/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/composeStyle.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/constants.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/helpers.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/icons.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/loaders.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/theme.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/theme.module.css
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/unfetch.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/index.tsx
  yarn.lock
Labels: CLA Signed, pr: maintenance, Argos

#11014 fix(ideal-image): Internalize `react-waypoint` dependency, fix React 19 compatibility
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/IdealImage/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/IdealImage/waypoint.tsx
  yarn.lock
Labels: CLA Signed, pr: bug fix

#11026 fix(ideal-image): fix waypoint initial scroll bug
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/IdealImage/waypoint.tsx
Labels: CLA Signed, pr: bug fix, Argos

#11030 fix(theme-translation): add missing Japanese translation for System Mode
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
Labels: CLA Signed, pr: bug fix

#11027 fix(cli): fix CLI write-translation bug
  packages/docusaurus-utils/src/__tests__/globUtils.test.ts
  packages/docusaurus-utils/src/globUtils.ts
Labels: CLA Signed, pr: bug fix

#11017 test(theme-common): Add tests for getLineNumbersStart
  packages/docusaurus-theme-common/src/utils/__tests__/__snapshots__/codeBlockUtils.test.ts.snap
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
Labels: CLA Signed, pr: internal
